@using Viettel.Models.QLVonDauTu
@model IEnumerable<VDTTongHopThongTinDuAnViewModel>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<script src="~/Scripts/jsNumber.js"></script>

@*<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label color-text-red">Báo cáo tổng hợp nguồn BTC cấp trong năm </label>
    </div>
</div>*@

<div class="tableFixHead">
    <table class="table table-bordered" id="baocaoTHThongTinDuAn">
        <thead>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th style="width:50px" rowspan="3">STT</th>
                <th style="min-width:300px" rowspan="2">Dự án - Đơn vị</th>
                <th style="width:100px"rowspan="2">Tiền tệ</th>
                <th colspan="3">Phê duyệt chủ trương đầu tư</th>
                <th colspan="3">Quyết định đầu tư</th>
                <th colspan="5">Kế hoạch vốn</th>
                <th colspan="3">Quyết toán</th>
            </tr>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th style="min-width:120px">Số quyết định</th>
                <th style="min-width:120px">Ngày duyệt</th>
                <th style="min-width:120px">Giá trị đầu tư</th>
                <th style="min-width:120px">Số quyết định</th>
                <th style="min-width:120px">Ngày duyệt</th>
                <th style="min-width:120px">Tổng mức đầu tư</th>
                <th style="min-width:120px">Vốn lũy kế năm trước</th>
                <th style="min-width:120px">Kế hoạch vốn năm nay</th>
                <th style="min-width:120px">Đã thanh toán năm nay</th>
                <th style="min-width:120px">Chưa thanh toán năm nay</th>
                <th style="min-width:120px">Lũy kế vốn năm nay</th>
                <th style="min-width:120px">Số quyết định</th>
                <th style="min-width:120px">Ngày duyệt</th>
                <th style="min-width:120px">Giá trị quyết toán</th>
            </tr>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th>(1)</th>
                <th>(2)</th>
                <th>(3)</th>
                <th>(4)</th>
                <th>(5)</th>
                <th>(6)</th>
                <th>(7)</th>
                <th>(8)</th>
                <th>(9)</th>
                <th>(10)</th>
                <th>(11)</th>
                <th>(12)</th>
                <th>(13)=(9)+(10)</th>
                <th>(14)</th>
                <th>(15)</th>
                <th>(16)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    break;
                }

                if (count > 0)
                {
                    <tr class="text-bold">
                        <td align="center">1</td>

                        <td align="left">Tổng số</td>

                        <td align="center"></td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_GiaTriDauTu">0</td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_TongMucDauTu">0</td>

                        <td align="right" class="tong_LuyKeVonNamTruoc">0</td>
                        <td align="right" class="tong_KeHoachVonNamNay">0</td>
                        <td align="right" class="tong_DaThanhToan">0</td>
                        <td align="right" class="tong_ChuaThanhToan">0</td>
                        <td align="right" class="tong_LuyKeVonNamNay">0</td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_GiaTriQuyetToan">0</td>
                    </tr>
                    <tr class="text-bold">
                        <td align="center">2</td>

                        <td align="left" id="id_donviquanly">Đơn vị</td>

                        <td align="center"></td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_GiaTriDauTu">0</td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_TongMucDauTu">0</td>

                        <td align="right" class="tong_LuyKeVonNamTruoc">0</td>
                        <td align="right" class="tong_KeHoachVonNamNay">0</td>
                        <td align="right" class="tong_DaThanhToan">0</td>
                        <td align="right" class="tong_ChuaThanhToan">0</td>
                        <td align="right" class="tong_LuyKeVonNamNay">0</td>

                        <td align="left"></td>

                        <td align="center"></td>

                        <td align="right" class="tong_GiaTriQuyetToan">0</td>
                    </tr>
                    
                    int index = 2;
                    foreach (var item in Model)
                    {
                        index++;
                        <tr>
                            <td align="center">@index</td>

                            <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;@item.sTenDuAn</td>

                            <td align="center">@item.sTienTe</td>

                            <td align="left">@item.sSoQuyetDinhCTDT</td>

                            <td align="center">@(item.dNgayQuyetDinhCTDT.HasValue ? item.dNgayQuyetDinhCTDT.Value.ToString("dd/MM/yyyy") : "")</td>

                            <td align="right" class="r_fGiaTriDauTu">@item.fGiaTriDauTu.Value.ToString("###,###")</td>

                            <td align="left">@item.sSoQuyetDinhQDDT</td>

                            <td align="center">@(item.dNgayQuyetDinhCTDT.HasValue ? item.dNgayQuyetDinhCTDT.Value.ToString("dd/MM/yyyy") : "")</td>

                            <td align="right" class="r_fTongMucDauTu">@item.fTongMucDauTu.Value.ToString("###,###")</td>

                            <td align="right" class="r_fLuyKeVonNamTruoc">@item.fLuyKeVonNamTruoc.Value.ToString("###,###")</td>
                            <td align="right" class="r_fKeHoachVonNamNay">@item.fKeHoachVonNamNay.Value.ToString("###,###")</td>
                            <td align="right" class="r_fDaThanhToan">@item.fDaThanhToan.Value.ToString("###,###")</td>
                            <td align="right" class="r_fChuaThanhToan">@item.fChuaThanhToan.Value.ToString("###,###")</td>
                            <td align="right" class="r_fLuyKeVonNamNay">@item.fLuyKeVonNamNay.Value.ToString("###,###")</td>

                            <td align="left">@item.sSoQuyetDinhQT</td>

                            <td align="center">@(@item.dNgayQuyetDinhQT.HasValue ? item.dNgayQuyetDinhQT.Value.ToString("dd/MM/yyyy") : "")</td>

                            <td align="right" class="r_fGiaTriQuyetToan">@item.fGiaTriQuyetToan.Value.ToString("###,###")</td>
                        </tr>

                    }
                    
                }
            }

        </tbody>
        @*<thead>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th rowspan="3">Mã số</th>
                <th rowspan="3">Loại</th>
                <th rowspan="3">Khoản</th>
                <th rowspan="3" style="min-width:410px">Nội dung</th>
                <th colspan="@(SoCotBoSung +4)">Dự toán năm được giao</th>
                <th colspan="@(SoCotDuToanDaGiao +4)">Dự toán năm đã giao cho đơn vị</th>
                <th rowspan="3">Còn lại</th>
            </tr>
            <tr>
                <th rowspan="2">Dự toán năm @ViewBag.iNamLamViec được giao đầu năm</th>
                <th rowspan="2">Năm @(ViewBag.iNamLamViec - 1) chuyển sang</th>
                <th colspan="@(SoCotBoSung +1)">Nhà nước bổ sung trong năm</th>
                <th rowspan="2">Tổng dự toán năm @ViewBag.iNamLamViec</th>
                <th rowspan="2">Dự toán năm @ViewBag.iNamLamViec được giao đầu năm</th>
                <th rowspan="2">Năm @(ViewBag.iNamLamViec - 1) chuyển sang</th>
                <th colspan="@(SoCotDuToanDaGiao +1)">Nhà nước bổ sung trong năm</th>
                <th rowspan="2">Tổng dự toán năm @ViewBag.iNamLamViec</th>
            </tr>


            <tr class="text-center" style="background-color: #06A199; color: white">
                <th>Cộng</th>
                @foreach (var item in listDotNhanBosung)
                {
                    <th>@item.dNgayQuyetDinh.ToString("dd/MM/yyyy")</th>
                }
                <th>Cộng</th>
                @foreach (var item in listDotDuToan)
                {
                    <th>@item.dNgayQuyetDinh.ToString("dd/MM/yyyy")</th>
                }
            </tr>
            <tr class="text-center" style="background-color: #06A199;color: white">
                <th>(1)</th>
                <th>(2)</th>
                <th>(3)</th>
                <th>(4)</th>
                <th>(5)</th>
                <th>(6)</th>
                <th>(7)@textSoCotCong</th>
                @foreach (var item in listDotNhanBosung)
                {
                    <th><span>(</span>@(item.SoCot)<span>)</span></th>
                }
                <th>(@(SoCotBoSung +8))= (5)+(6)+(7)</th>
                <th>(@(SoCotBoSung + 9))</th>
                <th>(@(SoCotBoSung + 10))</th>
                <th>(@(SoCotBoSung + 11))@textSoCotCongDaGiao</th>
                @foreach (var item in listDotDuToan)
                {
                    <th><span>(</span>@(item.SoCot)<span>)</span></th>
                }
                <th>@string.Format("({0})=({1})+({2})+({3})", SoCotBoSung + SoCotDuToanDaGiao + 12, SoCotBoSung + 9, SoCotBoSung + 10, SoCotBoSung + 11)</th>
                <th>@string.Format("({0})=({1})-({2})", SoCotBoSung + SoCotDuToanDaGiao + 13, SoCotBoSung + 8, SoCotBoSung + SoCotDuToanDaGiao + 12)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="isCha">
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-left">TỔNG</th>
                <th class="text-right">@objtinhTong.TongDauNam.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.TongChuyenSang.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.TongBoSung.ToString("###,###")</th>
                @foreach (var bs in listDotNhanBosung)
                {
                    <th class="@("tong"+bs.SoCot) text-right"></th>
                }
                <th class="text-right">@objtinhTong.TongDuToanAll.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongDauNam.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongChuyenSang.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongDuToan.ToString("###,###")</th>
                @foreach (var bs in listDotDuToan)
                {
                    <th class="@("tong"+bs.SoCot) text-right"></th>
                }
                <th class="text-right">@objtinhTong.DaGiaoTongDuToanAll.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.ConLai.ToString("###,###")</th>
            </tr>
            @foreach (var item in Model)
            {
                var chitiet = lstChiTietDotDuToanDotBoSung.Select("iID_Nguon = '" + item.iID_Nguon + "'")[0];
                <tr class="@item.bLaHangCha @("cha" +item.depth)">
                    <td align="center"> @item.sMaCTMT</td>

                    <td align="center">@item.sLoai</td>

                    <td align="center">@item.sKhoan</td>
                    <td align="left">@item.sNoiDung</td>
                    <td align="right">@item.dTDauNam.ToString("###,###")</td>
                    <td align="right">@item.dtChuyenSang.ToString("###,###")</td>
                    <td align="right">@item.NhaNuocBosung.ToString("###,###")</td>

                    @foreach (var a in listDotNhanBosung)
                    {
                        string sSoTien = string.IsNullOrEmpty(chitiet["c" + a.SoCot].ToString()) ? "" : decimal.Parse(chitiet["c" + a.SoCot].ToString()).ToString("###,###");
                        <td align="right" class="@a.SoCot">@sSoTien</td>
                    }
                    <td align="right">@item.TongDuToan.ToString("###,###")</td>
                    <td align="right">@item.dagiaoDauNam.ToString("###,###")</td>
                    <td align="right">@item.dagiaoChuyenSang.ToString("###,###")</td>
                    <td align="right">@item.dagiaoDuToan.ToString("###,###")</td>
                    @foreach (var a in listDotDuToan)
                    {
                        string sSoTien = string.IsNullOrEmpty(chitiet["c" + a.SoCot].ToString()) ? "" : decimal.Parse(chitiet["c" + a.SoCot].ToString()).ToString("###,###");
                        <td align="right" class="@a.SoCot">@sSoTien</td>
                    }
                    <td align="right">@item.dagiaoTongDuToan.ToString("###,###")</td>
                    <td align="right">@item.conLai.ToString("###,###")</td>
                </tr>
            }
        </tbody>*@
    </table>
</div>