@using Viettel.Models.QLVonDauTu
@model VDTThongTriViewModel
<div class="tooltip-header-search">
    <div class="col-sm-6" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách quản lý thông tri quyết toán (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="themMoi()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <div class="form-group text-right">
        @using (Html.BeginForm("XuatFile", "QLThongTriThanhToan", FormMethod.Post))
        {
            <button class="btn btn-primary" style="margin-right:10px;width:auto !important"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
        }
    </div>
</div>
<table class="table table-bordered" id="tblListVDTThongTri">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="13%">@Html.DropDownList("ddlDonViQuanLy", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "txtDonViQuanLy" })</th>
    <th width="18%"><input type="text" class="form-control" id="txtMaThongTri" autocomplete="off" /></th>
    <th width="15%">
        <div class='input-group date'>
            <input type='text' class="form-control" id="txtNgayTaoThongTri" placeholder="dd/MM/yyyy" />
            <span class="btn-default input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
        </div>
    </th>
    <th width="10%">  <input type="text" class="form-control" id="txtNamThucHien" autocomplete="off" /></th>
    <th width="10%"></th>
    <th width="15%"></th>
    <th><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="15%">Tên đơn vị</th>
    <th width="18%">Mã thông tri</th>
    <th width="15%">Ngày tạo</th>
    <th width="10%">Năm</th>
    <th width="10%">Trạng thái cán bộ</th>
    <th width="15%">Trạng thái kết nối</th>
    <th>Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (VDTThongTriModel item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@index</td>
                    <td align="left">@item.sTenDonVi</td>
                    <td align="left">@item.sMaThongTri</td>
                    <td align="center">@(item.dNgayThongTri.HasValue ? item.dNgayThongTri.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td align="center">@item.iNamThongTri</td>
                    <td align="center">Đã duyệt</td>
                    <td align="center">Chưa duyệt</td>
                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="xemChiTiet('@item.iID_ThongTriID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="sua('@item.iID_ThongTriID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="xoa('@item.iID_ThongTriID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });
    });

</script>

