@helper DataList(string name, IEnumerable<System.Web.Mvc.SelectListItem> selectList)
{
    @*<input list="@name" />*@

    <datalist id="@name">
        @foreach (var item in selectList)
        {
            <option value="@item.Text">@item.Value</option>
        }
    </datalist>
}

@helper Required()
{
    <span style="color:red">*</span>
}

@*@helper DataList(string name, IEnumerable<System.Web.Mvc.SelectListItem> selectList, string htmlAttribute, string list)
    {
        <input id="@name" name="@name" @htmlAttribute list="@list" />

        <datalist id="@list">
            @foreach (var item in selectList)
            {
                <option value="@item.Text">@item.Value</option>
            }
        </datalist>
    }*@
