@using Viettel.Models.QLVonDauTu;
@model ThongTinGoiThauViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">


<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                @*Thông tin nội dung*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtToTrinhSo">Đơn vị quản lý</label>
                            @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), "--Chọn--", new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayToTrinh">Chọn dự án</label>
                            @Helpers.Required()
                            <select name="iID_DuAnID" class="form-control required" id="iID_DuAnID">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Địa điểm: </label>
                            <label id="sDiaDiem"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label>Thời gian thực hiện: </label>
                            <label id="sKhoiCong"></label>
                            <label>-</label>
                            <label id="sKetThuc"></label>
                        </div>
                        <div class="col-sm-2">
                            <label>Tổng mức đầu tư: </label>
                            <label id="tongMucDauTu">----</label>
                        </div>
                    </div>
                </div>

                @*Thông tin gói thầu*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin gói thầu:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtThamDinhSo">Tên gói thầu</label>
                            @Helpers.Required()
                            <input type="text" id="sTenGoiThau" name="sTenGoiThau" class="form-control required" value="@Model.sTenGoiThau" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayThamDinh">HT chọn nhà thầu</label>
                            <input type="text" id="sHinhThucChonNhaThau" class="form-control" name="sHinhThucChonNhaThau" value="@Model.sHinhThucChonNhaThau" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtCoQuanThamDinh">PT đấu thầu</label>
                            <input type="text" id="sPhuongThucDauThau" class="form-control" name="sPhuongThucDauThau" value="@Model.sPhuongThucDauThau" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <div class="">
                                <label for="txtSoQuyetDinh">Thời gian chọn NT</label>
                            </div>
                            <div class="col-sm-5" style=" padding: 0 !important; margin: 0 !important;">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="dBatDauChonNhaThau" name="dBatDauChonNhaThau" value="@Model.dBatDauChonNhaThau" autocomplete="off" placeholder="dd/MM/yyyy"/>
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="center">_</label>
                            </div>
                            <div class="col-sm-5" style="padding: 0 !important; margin: 0 !important; ">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="dKetThucChonNhaThau" name="dKetThucChonNhaThau" value="@Model.dKetThucChonNhaThau" autocomplete="off" placeholder="dd/MM/yyyy" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">HT Hợp đồng</label>
                            <input type="text" id="sHinhThucHopDong" class="form-control col-sm-6" name="sHinhThucHopDong" value="@Model.sHinhThucChonNhaThau" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">Thời gian thực hiện(Ngày)</label>
                            <input type="text" id="iThoiGianThucHien" class="form-control col-sm-6" name="iThoiGianThucHien" value="@Model.iThoiGianThucHien" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">Ngày lập</label>
                            @Helpers.Required()
                            <div class='input-group date'>
                                <input type='text' class="form-control required" value="@Model.dNgayLap" id="dNgayLap" name="dNgayLap" autocomplete="off" placeholder="dd/MM/yyyy"/>
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Kết quả thầu*@
                <div class="form-group">
                    <h4 class="color-text-red">Kết quả thầu:</h4>
                    <hr class='color-background-red' />
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="txtCoQuanPheDuyet">Nhà thầu trúng thầu</label>
                            @Helpers.Required()
                            @Html.DropDownList("iID_NhaThauID", (SelectList)(ViewBag.ListNhaThau), "--Chọn--", new { @class = "form-control required", @id = "iID_NhaThauID" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Giá trúng thầu phê duyệt</label>
                            <input type="text" id="fTienTrungThau" class="form-control text-right" autocomplete="off" disabled />
                        </div>
                    </div>
                </div>
                @*Hạng mục chi phí*@
                <div class="form-group">
                    <h4 class="color-text-red">Hạng mục chi phí:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtCoQuanPheDuyet">Chi phí</label>
                            @Helpers.Required()
                            <select name="txtAddCpdtChiPhi" class="form-control" id="txtAddCpdtChiPhi" onchange="getTongMucDauTu()">
                                <option>--Chọn--</option>
                            </select>

                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Tổng mức đầu tư</label>
                            <div>
                                <label id="txtTongMucDauTuChiPhi"></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Giá trị gói thầu</label>
                            @Helpers.Required()
                            <input type="text" id="txtAddCpdtGiatriToTrinh" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" value="" />
                        </div>
                        <div class="col-sm-2">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                @*<input type="text" class="form-control">*@
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiChiPhiDauTu()">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="XoaThemMoiChiPhi()">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblChiPhiDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Chi phí</th>
                                        <th width="20%">Giá trị</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatritotrinh text-right"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Nguồn vốn đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label for="txtCoQuanPheDuyet">Nguồn vốn</label>
                            @Helpers.Required()
                            <select name="txtAddNvdtNguonVon" class="form-control" id="txtAddNvdtNguonVon" onchange="getTongMucDauTuNV()">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Tổng mức đầu tư</label>
                            <div>
                                <label id="txtTongMucDauTuNV"></label>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Giá trị</label>
                            @Helpers.Required()
                            <input type="text" id="txtGiaTriNguonVon" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" value="" />
                        </div>
                        <div class="col-sm-2">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiNguonVonDauTu()">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="XoaThemMoiNguonVon()">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblNguonVonDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tên nguồn vốn</th>
                                        <th width="20%">Giá trị</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatritotrinh text-right"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Hạng mục đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Hạng mục đầu tư:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtCoQuanPheDuyet">Hạng mục</label>
                            @Helpers.Required()
                            <select name="txtHangMucDauTu" class="form-control" id="txtHangMucDauTu" onchange="getTongMucDauTuHM()">
                                <option>--Chọn--</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Tổng mức đầu tư</label>
                            <div>
                                <label id="txtTongMucDauTuHM"></label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Giá trị gói thầu</label>
                            @Helpers.Required()
                            <input type="text" id="txtGiaTriHangMuc" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                        <div class="col-sm-2">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiHangMucDauTu()">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="XoaThemMoiHangMuc()">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblHangMucDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tên nguồn vốn</th>
                                        <th width="20%">Giá trị</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatritotrinh text-right"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="Huy()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" id="btnLuu" disabled onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
            </div>
        </div>
</div>


    <script src="~/Scripts/QLVonDauTu/GoiThau/jsGoiThau.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script src="~/Scripts/js/dropdowntree.js"></script>

    <style>
/*        .table-bordered tr, td {
            border: 1px solid
        }*/
        .create_thdt h4 {
            font-size: 17px;
        }

        .r_STT {
            text-align: center;
        }
        .table-bordered tbody {
            /*display: block;*/
            /*height: 150px;*/
            overflow: auto;
        }
    </style>



