@using Viettel.Models.QLVonDauTu;
@model ThongTinGoiThauViewModel
@{
    ViewBag.Title = "DieuChinh";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
    DuAnViewModel objDuAn = ViewBag.ThongTinDuAn;
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">


                @*Thông tin gói thầu*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin gói thầu:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtThamDinhSo">Tên gói thầu</label>
                            @Helpers.Required()
                            <input type="text" id="sTenGoiThau" name="sTenGoiThau" class="form-control" />
                            <input type="hidden" id="iID_GoiThauID" value="@Model.iID_GoiThauID" />
                            <input type="hidden" id="iID_GoiThauGocID" value="@Model.iID_GoiThauGocID" />
                            <input type="hidden" id="iID_DuAnID" value="@Model.iID_DuAnID" />
                            <input type="hidden" id="iID_NhaThauID" value="@Model.iID_NhaThauID" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">Thời gian thực hiện(Ngày)</label>
                            <input type="text" id="iThoiGianThucHien" class="form-control col-sm-6" name="iThoiGianThucHien" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtCoQuanThamDinh">PT đấu thầu</label>
                            <input type="text" id="sPhuongThucDauThau" class="form-control" name="sPhuongThucDauThau" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">Ngày lập</label>
                            @Helpers.Required()
                            <div class='input-group date'>

                                <input type='text' class="form-control" id="dNgayLapMoi" onchange="VeDanhSachChiPhi()" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <input type="text" hidden id="txtNgayLapCu" value="@Model.dNgayLap.GetValueOrDefault().ToString("dd/MM/yyyy")" />

                    @*Thông tin nội dung*@
                    <div class="form-group">
                        <h4 class="color-text-red">Thông tin nội dung:</h4>
                        <hr class="color-background-red" />
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Dự án:</label>
                                <div>
                                    <label class="label-item">@objDuAn.sMaDuAn - </label>
                                    <label class="label-item">@objDuAn.sTenDuAn</label>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label for="txtToTrinhSo">Đơn vị quản lý: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sTenDonvi</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="txtNgayToTrinh">Chủ đầu tư: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sTenDonvi</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNgayToTrinh">Nhóm quản lý: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sTenNhomQuanLy</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Sự cần thiết phải đầu tư: </label>
                                <label>@objDuAn.sSuCanThietDauTu</label>
                            </div>
                            <div class="col-sm-2">
                                <label>Mục tiêu đầu tư:</label>
                                <div>
                                    <label class="label-item">@objDuAn.sMucTieu</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label>Địa điểm thực hiện: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sDiaDiem</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label>Diện tích sử dụng đất: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sDienTichSuDungDat</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Nguồn gốc sử dụng đất: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sNguonGocSuDungDat</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Nội dung, quy mô đầu tư:</label>
                                <div>
                                    <label class="label-item">@objDuAn.sQuyMo</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label>Thời gian thực hiện: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sKhoiCong - @objDuAn.sKetThuc</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>Nhóm dự án: </label>
                                <div>
                                    <label class="label-item">@objDuAn.sTenNhomDuAn</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>Hình thức QLDA:</label>
                                <div>
                                    <label class="label-item">@objDuAn.sTenHinhThucQuanLy</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Hạng mục chi phí*@
                <div class="form-group">
                    <h4 class="color-text-red">Hạng mục chi phí:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <label for="txtCoQuanPheDuyet">Chi phí</label>
                                @Helpers.Required()
                                @Html.DropDownList("txtAddCpdtChiPhi", (SelectList)(ViewBag.ListChiPhi), "", new { @class = "form-control setDisable", @id = "txtAddCpdtChiPhi" })
                            </div>
                            <div class="col-sm-2">
                                <label for="txtNguoiKy">Giá trị trước điều chỉnh</label>
                                <input type="text" disabled id="txtValueBefore" class="form-control text-right" />
                            </div>
                            <div class="col-sm-2">
                                <label>Loại điều chỉnh</label>
                                <select class="form-control setDisable" id="selectDCChiPhi">
                                    <option value="-0"></option>
                                    <option value="-1">Điều chỉnh(-)</option>
                                    <option value="1">Bổ sung(+)</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label for="txtNguoiKy">Giá trị điều chỉnh</label>
                                <input type="text" id="txtAddCpdtGiatriToTrinh" class="form-control text-right setDisable" onchange="tinhGiaTriSauDieuChinh()" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                            </div>
                            <div class="col-sm-2">
                                <label for="txtNguoiKy">Giá trị sau điều chỉnh</label>
                                <input type="text" id="txtSauDieuChinh" class="form-control text-right setDisable" value="" />
                            </div>
                            <div class="col-sm-2">
                                <label for="btn">&nbsp;</label>
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-icon setDisable" type="button" onclick="ThemMoiChiPhiDauTu()">
                                            <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-danger btn-icon setDisable" type="button" onclick="XoaTextBoxChiPhiDauTu()">
                                            <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblChiPhiDauTu">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th width="40%" class="text-center">Chi phí</th>
                                        <th width="10%" class="text-center">Giá trị trước điều chỉnh</th>
                                        <th width="10%" class="text-center">Loại điều chỉnh</th>
                                        <th width="10%" class="text-center">Giá trị điều chỉnh</th>
                                        <th width="10%" class="text-center">Giá trị sau điều chỉnh</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="text-right">
                                            <label class="cpdt_tong_giatritotrinh"></label>
                                        </th>
                                        <th></th>
                                        <th class="text-right">
                                            <label class="tong_dieuchinh"></label>
                                        </th>
                                        <th class="text-right">
                                            <label class="tong_saudieuchinh"></label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Nguồn vốn đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">

                        <div class="col-sm-2">
                            <label for="txtCoQuanPheDuyet">Nguồn vốn</label>
                            @Helpers.Required()
                            @Html.DropDownList("txtAddNvdtNguonVon", (SelectList)(ViewBag.ListNguonVon), "", new { @class = "form-control setDisable", @id = "txtAddNvdtNguonVon" })
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị trước điều chỉnh</label>
                            <input type="text" disabled id="txtValueNVBefore" class="form-control text-right" value="" />
                        </div>
                        <div class="col-sm-2">
                            <label>Loại điều chỉnh</label>
                            <select class="form-control setDisable" id="selectDCNguonVon">
                                <option value="-0"></option>
                                <option value="-1">Điều chỉnh(-)</option>
                                <option value="1">Bổ sung(+)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị điều chỉnh</label>
                            <input type="text" id="txtGiaTriDCNguonVon" class="form-control text-right setDisable" onchange="tinhGiaTriSauDieuChinhNguonVon()" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị sau điều chỉnh</label>
                            <input type="text" id="txtSauDCNguonVon" class="form-control text-right setDisable" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                        <div class="col-sm-2">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon setDisable" type="button" onclick="ThemMoiNguonVonDauTu()">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon setDisable" type="button" onclick="XoaThemMoiNguonVon()">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblNguonVonDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="40%">Nguồn vốn</th>
                                        <th width="10%">Giá trị trước điều chỉnh</th>
                                        <th width="10%">Loại điều chỉnh</th>
                                        <th width="10%">Giá trị điều chỉnh</th>
                                        <th width="10%">Giá trị sau điều chỉnh</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="text-right">
                                            <label class="cpdt_tong_giatritotrinh "></label>
                                        </th>
                                        <th></th>
                                        <th class="text-right">
                                            <label class="tong_dieuchinh "></label>
                                        </th>
                                        <th class="text-right">
                                            <label class="tong_saudieuchinh "></label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Hạng mục đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Hạng mục đầu tư:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtCoQuanPheDuyet">Hạng mục</label>
                            @Helpers.Required()
                            @Html.DropDownList("txtHangMucDauTu", (SelectList)(ViewBag.ListHangMucDauTu), "", new { @class = "form-control setDisable", @id = "txtHangMucDauTu" })
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị trước điều chỉnh</label>
                            <input type="text" disabled id="txtGiaTriDCHangMuc" class="form-control text-right" />
                        </div>
                        <div class="col-sm-2">
                            <label>Loại điều chỉnh</label>
                            <select class="form-control setDisable" id="selectDCHangMuc">
                                <option value="-0"></option>
                                <option value="-1">Điều chỉnh(-)</option>
                                <option value="1">Bổ sung(+)</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị điều chỉnh</label>
                            <input type="text" id="txtDCHangMuc" class="form-control text-right setDisable" onchange="tinhGiaTriSauDieuChinhHangMuc()" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                        <div class="col-sm-2">
                            <label for="txtNguoiKy">Giá trị sau điều chỉnh</label>
                            <input type="text" id="txtSauDCHangMuc" class="form-control text-right setDisable" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                        <div class="col-sm-2">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-icon setDisable" type="button" onclick="ThemMoiHangMucDauTu()">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <button class="btn btn-danger btn-icon setDisable" type="button" onclick="XoaThemMoiHangMuc()">
                                        <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblHangMucDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="40%">Hạng mục</th>
                                        <th width="10%">Giá trị trước điều chỉnh</th>
                                        <th width="10%">Loại điều chỉnh</th>
                                        <th width="10%">Giá trị điều chỉnh</th>
                                        <th width="10%">Giá trị sau điều chỉnh</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="text-right">
                                            <label class="cpdt_tong_giatritotrinh "></label>
                                        </th>
                                        <th></th>
                                        <th class="text-right">
                                            <label class="tong_dieuchinh "></label>
                                        </th>
                                        <th class="text-right">
                                            <label class="tong_saudieuchinh "></label>
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Thông tin tài liệu đính kèm*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin tài liệu đính kèm:</h4>
                    <button class="btn btn-success pull-right" style="margin-top: -37px"><i class="fa fa-plus" aria-hidden="true"></i><span>Đính kèm</span></button>
                    <hr class='color-background-red' />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblThongTinTaiLieuDinhKem">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tài liệu</th>
                                        <th width="10%">Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" style="width: 100%" onclick="Huy()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" id="btnLuu" style="width: 100%" onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/QLVonDauTu/GoiThau/jsVDT_DieuChinhGoiThau.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script src="~/Scripts/js/dropdowntree.js"></script>

    <style>
/*        .table-bordered tr, td {
            border: 1px solid
        }*/

        .table-bordered tbody {
            /*display: block;*/
            /*height: 150px;*/
            overflow: auto;
        }

        .canAddRow, .canDeleteRow {
            display: none;
        }

        .dieuChinhTru {
            color: red
        }
    </style>



