@using Viettel.Domain.DomainModel;
@using Viettel.Models.QLVonDauTu;
@using VIETTEL.Common
@model ThongTinGoiThauViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
    DuAnViewModel objDuAn = ViewBag.ChiTietDuAn;
}
@{
    const string HT_1 = (string)Constants.HTChonNhaThauTypeName.HT_1;
    const string HT_2 = (string)Constants.HTChonNhaThauTypeName.HT_2;
    const string HT_3 = (string)Constants.HTChonNhaThauTypeName.HT_3;
    const string HT_4 = (string)Constants.HTChonNhaThauTypeName.HT_4;
    const string HT_5 = (string)Constants.HTChonNhaThauTypeName.HT_5;
    const string HT_6 = (string)Constants.HTChonNhaThauTypeName.HT_6;
    const string HT_7 = (string)Constants.HTChonNhaThauTypeName.HT_7;
    const string HT_8 = (string)Constants.HTChonNhaThauTypeName.HT_8;
    const string HT_9 = (string)Constants.HTChonNhaThauTypeName.HT_9;

    const string PT_1 = (string)Constants.PTDauThauTypeName.PT_1;
    const string PT_2 = (string)Constants.PTDauThauTypeName.PT_2;
    const string PT_3 = (string)Constants.PTDauThauTypeName.PT_3;
    const string PT_4 = (string)Constants.PTDauThauTypeName.PT_4;

    const string HD_1 = (string)Constants.HTHopDongTypeName.HD_1;
    const string HD_2 = (string)Constants.HTHopDongTypeName.HD_2;
    const string HD_3 = (string)Constants.HTHopDongTypeName.HD_3;
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">

                @*Thông tin dự án*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin dự án:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Đơn vị: </label>
                            <label class="label-item">@(objDuAn ==null? "": objDuAn.sTenDonvi)</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Dự án: </label>
                            <label class="label-item">@(objDuAn ==null? "": objDuAn.sTenDuAn)</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Địa điểm: </label>
                            <label class="label-item" id="sDiaDiem">@(objDuAn == null ? "" : objDuAn.sDiaDiem)</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Thời gian thực hiện: </label>
                            <label class="label-item" id="sKhoiCong">@(objDuAn == null ? "" :objDuAn.sKhoiCong)</label>
                            <label>-</label>
                            <label class="label-item" id="sKetThuc">@(objDuAn == null ? "" :objDuAn.sKetThuc)</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Tổng mức đầu tư: </label>
                            <label class="label-item" id="tongMucDauTu">@(objDuAn == null? "": objDuAn.fHanMucDauTu.GetValueOrDefault().ToString("###,###"))</label>
                        </div>
                    </div>
                </div>

                @*Thông tin gói thầu*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin gói thầu:</h4>
                    <hr class='color-background-red' />
                    <input type="hidden" value="@Model.sHinhThucChonNhaThau" id="ptChonNhaThauSelected" />
                    <input type="hidden" value="@Model.sHinhThucHopDong" id="htHopDongSelected" />
                    <input type="hidden" value="@Model.sPhuongThucDauThau" id="ptDauThauSelected" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtThamDinhSo">Số quyết định</label>
                            @Helpers.Required()
                            <input type="text" id="sSoQuyetDinh" name="sSoQuyetDinh" class="form-control" value="@Model.sSoQuyetDinh" />
                            <input type="hidden" id="iID_GoiThauID" value="@Model.iID_GoiThauID" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">Ngày quyết định</label>
                            @Helpers.Required()
                            <div class='input-group date'>
                                <input type='text' class="form-control" value="@Model.dNgayQuyetDinh.GetValueOrDefault().ToString("dd/MM/yyyy")" id="dNgayQuyetDinh" name="dNgayQuyetDinh" autocomplete="off" placeholder="dd/MM/yyyy" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                                <label for="txtThamDinhSo">Tên gói thầu</label>
                                @Helpers.Required()
                                <input type="text" id="sTenGoiThau" name="sTenGoiThau" class="form-control" value="@Model.sTenGoiThau" />
                            </div>
                        <div class="col-sm-3">
                            <label for="txtNgayThamDinh">HT chọn nhà thầu</label>
                            <input type="hidden" id="iID_HTChonNhaThau" value="@Model.sHinhThucChonNhaThau" />
                            <div id="HTChonNT">
                                <select class="form-control htChonNhaThau">
                                    <option value="@HT_1">Đấu thầu rộng rãi</option>
                                    <option value="@HT_2">Đấu thầu hạn chế</option>
                                    <option value="@HT_3">Chỉ định thầu</option>
                                    <option value="@HT_4">Chào hàng cạnh tranh</option>
                                    <option value="@HT_5">Mua sắm trực tiếp</option>
                                    <option value="@HT_6">Tự thực hiện</option>
                                    <option value="@HT_7">Lựa chọn NT</option>
                                    <option value="@HT_8">NĐT trong trường hợp đặc biệt</option>
                                    <option value="@HT_9">Tham gia thực hiện của cộng đồng</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtCoQuanThamDinh">PT đấu thầu</label>
                            <input type="hidden" id="iID_PTChonNhaThau" value="@Model.sPhuongThucDauThau" />
                            <div id="ptDauThau">
                                <select class="form-control ptChonNhaThau">
                                    <option value="@PT_1">1 giai đoạn 1 túi hồ sơ</option>
                                    <option value="@PT_2">1 giai đoạn 2 túi hồ sơ</option>
                                    <option value="@PT_3">2 giai đoạn 1 túi hồ sơ</option>
                                    <option value="@PT_4">2 giai đoạn 2 túi hồ sơ</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet">HT Hợp đồng</label>
                            @Helpers.Required()
                            <input type="hidden" id="iID_HTHopDong" value="@Model.sHinhThucHopDong" />
                            @*@Html.DropDownList("sHinhThucHopDong", (SelectList)(ViewBag.listHTHopDong), new { @class = "form-control requireInput", @id = "sHinhThucHopDong" })*@
                            <div id="htHopDong">
                                <select id='htHopDongSelect' class="form-control htHopDongSelect">
                                    <option value="@HD_1">Hợp đồng trọn gói</option>
                                    <option value="@HD_2">Hợp đồng theo đơn giá cố định</option>
                                    <option value="@HD_3">Hợp đồng theo đơn giá điều chỉnh</option>
                                </select>
                            </div>
                            @*<input type="text" id="sHinhThucHopDong" class="form-control col-sm-6" name="sHinhThucHopDong" value="@Model.sHinhThucChonNhaThau" />*@
                        </div>

                        <div class="col-sm-3">
                            <div class="">
                                <label for="txtSoQuyetDinh">Thời gian chọn NT</label>
                            </div>
                            <div class="col-sm-5" style=" padding: 0 !important; margin: 0 !important;">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="dBatDauChonNhaThau" name="dBatDauChonNhaThau" value="@ViewBag.dBatDauNhaThau" autocomplete="off" placeholder="dd/MM/yyyy" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="center">_</label>
                            </div>
                            <div class="col-sm-5" style="padding: 0 !important; margin: 0 !important; ">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="dKetThucChonNhaThau" name="dKetThucChonNhaThau" value="@ViewBag.dKetThucNhaThau" autocomplete="off" placeholder="dd/MM/yyyy" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @*Kết quả thầu*@
                <div class="form-group">
                    <h4 class="color-text-red">Kết quả thầu:</h4>
                    <hr class='color-background-red' />
                    <div class="row">
                        @*<div class="col-sm-3">
                                <label for="txtCoQuanPheDuyet">Nhà thầu trúng thầu</label>
                                @Helpers.Required()
                                @Html.DropDownList("iID_NhaThauID", (SelectList)(ViewBag.ListNhaThau), "--Chọn--", new { @class = "form-control", @id = "iID_NhaThauID" })
                            </div>*@
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Giá trúng thầu phê duyệt</label>
                            <input type="text" id="fTienTrungThau" disabled class="form-control text-right" value="@(Model.fTienTrungThau == null? "": Model.fTienTrungThau.Value.ToString("###,###"))" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nhà thầu hợp đồng</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            @*Thông tin hợp đồng*@
                            <div class="form-group">
                                @*<h4 class="color-text-red">Thông tin hợp đồng</h4>
                                    <hr class='color-background-red' />*@
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblDanhSachHopDong">
                                            <thead>
                                                <tr>
                                                    <th>Số hợp đồng</th>
                                                    <th>Ngày hợp đồng</th>
                                                    <th>Loại hợp đồng</th>
                                                    <th>Nhà thầu</th>
                                                    <th>Giá trị hợp đồng</th>
                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Thông tin chi tiết*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nguồn vốn, chi phí</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            @*nguồn vốn*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin nguồn vốn</h4>
                                <hr class='color-background-red' />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblDanhSachNguonVon">
                                            <thead>
                                                <tr>
                                                    <th>Nguồn vốn</th>
                                                    <th>Giá trị nguồn vốn</th>
                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            @*<tfoot>
                                                    <tr>
                                                        <th colspan="2">Tổng nguồn vốn</th>
                                                        <th class="rTongNguonVon" style="text-align: right"></th>
                                                        <th></th>
                                                    </tr>

                                                </tfoot>*@
                                        </table>
                                    </div>
                                </div>

                            </div>

                            @*Chi Phí*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin chi phí</h4>
                                <hr class='color-background-red' />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblChiPhiDauTu">
                                            <thead>
                                                <tr>
                                                    <th>Chi phí</th>
                                                    <th>Giá trị chi phí</th>
                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                    <th width="50px"></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*hạng mục*@
                        <div class="col-sm-6">
                            <h4 class="color-text-red">Thông tin hạng mục</h4>
                            <hr class='color-background-red' />
                            <br />
                            <div class="row">
                                <div class="col-sm-12" id="tblDanhSachHangMuc">
                                    <table class="table table-bordered" id="tblHangMucChinh">
                                        <thead>
                                            <tr>
                                                <th width="50px">STT</th>
                                                <th>Tên Hạng mục</th>
                                                <th>Giá trị hạng mục</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-default" style="width: 100%" onclick="Huy()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        <button class="btn btn-primary" id="btnLuu" style="width: 100%" onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/QLVonDauTu/GoiThau/jsVDT_EditGoiThau.js"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
<script src="~/Scripts/js/dropdowntree.js"></script>

<style>
    /*     .table-bordered tr, td {
                border: 1px solid
            }
    */
    .create_thdt h4 {
        font-size: 17px;
    }

    .r_STT {
        text-align: center;
    }

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }

    .canAddRow {
        display: none;
    }

    #tblDanhSachNguonVon, #tblChiPhiDauTu, #tblDanhSachHopDong {
        display: block;
        overflow: auto;
        max-height: 250px;
    }

    #tblHangMucChinh {
        display: block;
        overflow: auto;
        max-height: 750px;
    }

        #tblDanhSachNguonVon thead, #tblChiPhiDauTu thead, #tblDanhSachHopDong thead, #tblHangMucChinh thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #tblDanhSachNguonVon tr, #tblChiPhiDauTu tr, #tblHangMucChinh tr, #tblDanhSachHopDong tr {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
</style>

