@model ChungTuChiTietViewModel
@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";

    ViewBag.Title = "CẤP PHÁT - Chứng từ chi tiết";
}
<h3>@ViewBag.Title</h3>
<table class="table table-bordered">
    <tr>
        <td width="60px" class="bg-gray"><span>Số chứng từ:</span></td>
        <td width="100px"><strong class="text-danger">CP-@Model.Entity.iSoCapPhat</strong></td>
        <td width="60px" class="bg-gray"> <span>Ngày chứng từ:</span></td>
        <td width="60px"><strong>@Model.Entity.dNgayCapPhat.ToShortDateString()</strong></td>
        <td width="60px" class="bg-gray"><span>Đơn vị:</span></td>
        <td width="100px"><strong>@(Model.Entity.iID_MaDonVi ?? "Nhiều đơn vị")</strong></td>
    </tr>
    <tr>
        <td width="60px" class="bg-gray"><span>Cấp phát:</span></td>
        <td width="100px"><strong>@Model.Entity.sLoai</strong></td>
        <td width="60px" class="bg-gray"> <span>Loại cấp phát:</span></td>
        <td width="60px"><span>@Model.Entity.iID_MaTinhChatCapThu</span></td>
        <td width="60px" class="bg-gray"> <span></span></td>
        <td><span></span></td>
    </tr>
    <tr>
        <td width="60px" class="bg-gray"><span>Nội dung:</span></td>
        <td colspan="5"><span class="text-wrap">@Model.Entity.sNoiDung</span></td>
    </tr>
    <tr>
        <td width="60px" class="bg-gray"><span>LNS:</span></td>
        <td colspan="5"><span class="text-wrap">@Model.Entity.sDSLNS.ToList().Join(", ")</span></td>
    </tr>
</table>
@*<hr />*@
@Html.Partial("_sheet")
