@model SKTSheetViewModel
@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";

    ViewBag.Title = L("DuToanKT") + " năm " + PhienLamViec.iNamLamViec;   

}
<h2>@ViewBag.Title</h2>
<table class="table-info">
    <tr>
        @if (Model.ChungTuViewModel.iLoai == 1)
        {
            <td>@Html.LabelFor(x => Model.ChungTuViewModel.TenDonVi):</td>
        }
        else
        {
            <td><label>Ngành:</label></td>

        }
        <td width="250px"><span class="text-danger">@Model.ChungTuViewModel.TenDonVi</span></td>
        <td><label>Phòng ban đề nghị:</label></td>
        <td width="300px"><span class="text-danger">@Model.ChungTuViewModel.TenPhongBan</span></td>
        <td>@Html.LabelFor(x => Model.ChungTuViewModel.NgayChungTu):</td>
        <td width="100px"><span class="text-danger">@Model.ChungTuViewModel.NgayChungTu.ToString("dd/MM/yyyy")</span></td>
        <td>@Html.LabelFor(x => Model.ChungTuViewModel.NoiDung):</td>
        <td><span class="text-danger">@Model.ChungTuViewModel.NoiDung</span></td>
    </tr>
</table>
<hr />
@Html.Partial("_sheet")
