@using Viettel.Models.QLVonDauTu
@model VDT_KHV_KeHoachVonNam_DeXuat_ViewModel


<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="hidden" id="txt_DieuChinh">
                <input type="hidden" id="txt_TongHop">
                <input type="hidden" id="txt_bIsDetail">
                <input type="hidden" id="iID_KHVonNamDeXuatIDModal" value="@Model.iID_KeHoachVonNamDeXuatID">
                <input type="hidden" id="lst_iIDDuAnID" value="@ViewBag.lstDuAn" />
                <label for="txtDonViQuanLy">Đơn vị</label>
                @Helpers.Required()
                @Html.DropDownList("iID_DonViQuanLyIDModal", new SelectList(ViewBag.ListDonViQuanLy, "Value", "Text", Model.iID_DonViQuanLyID), new { @class = "form-control", @id = "iID_DonViQuanLyIDModal" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtSoKeHoachModal">Số kế hoạch</label>
                @Helpers.Required()
                <input type="text" id="txtSoKeHoachModal" name="txtSoKeHoachModal" class="form-control" value="@Model.sSoQuyetDinh" maxlength="100" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtNgayLapModal">Ngày lập</label>
                @Helpers.Required()
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.dNgayQuyetDinh != null ? Model.dNgayQuyetDinh.ToString("dd/MM/yyyy") : string.Empty)" id="dNgayQuyetDinhModal" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtNguonVonModal">Nguồn vốn</label>
                @Helpers.Required()
                @Html.DropDownList("iID_NguonVonIDModal", new SelectList(ViewBag.ListNguonVon, "Value", "Text", Model.iID_NguonVonID), new { @class = "form-control", @id = "iID_NguonVonIDModal" })
            </div>
            <div class="col-sm-6">
                <label for="txtNamKeHoachModal">Năm kế hoạch</label>
                @Helpers.Required()
                <input type="text" maxlength="4" name="txtNamKeHoachModal" class="form-control" id="txtNamKeHoachModal" value="@Model.iNamKeHoach" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtNguoiLapModal">Người lập</label>
                <input type="text" id="txtNguoiLapModal" name="txtNguoiLapModal" class="form-control" value="@Model.sNguoiLap" maxlength="100" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtTruongPhongModal">Trưởng phòng</label>
                <input type="text" id="txtTruongPhongModal" name="txtTruongPhongModal" class="form-control" value="@Model.sTruongPhong" maxlength="100" autocomplete="off" />
            </div>
        </div>
        @{
            if (ViewBag.IsTongHop)
            {
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                            <th>Số quyết định</th>
                            <th>Ngày lập</th>
                            <th>Năm kế hoạch</th>
                            <th>Nguồn vốn</th>
                            <th>Đơn vị</th>
                            <th>Thu hồi vốn ứng trước</th>
                            <th>Thanh toán</th>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in ViewBag.LstTongHop)
                                    {
                                        <tr>
                                            <td class="text-center">@item.sSoQuyetDinh</td>
                                            <td class="text-center">@(item.dNgayQuyetDinh != null ? item.dNgayQuyetDinh.ToString("dd/MM/yyyy") : string.Empty)</td>
                                            <td class="text-center">@(item.iNamKeHoach)</td>
                                            <td>@(item.sTenNguonVon)</td>
                                            <td>@(item.sTenDonVi)</td>
                                            <td class="text-right">@(item.fThuHoiVonUngTruoc != null ? item.fThuHoiVonUngTruoc.ToString("###,###") : "0")</td>
                                            <td class="text-right">@(item.fThanhToan != null ? item.fThanhToan.ToString("###,###") : "0")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                            <th></th>
                            <th>Mã dự án</th>
                            <th>Tên dự án</th>
                            <th>Loại dự án</th>
                            </thead>
                            <tbody id="tblDuAn">
                                @{
                                    foreach (var item in ViewBag.LstTongHop)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="@item.iID_DuAnID" onclick="SetState('@item.iID_DuAnID');" />
                                            </td>
                                            <td>@(item.sMaDuAn)</td>
                                            <td>@(item.sTenDuAn)</td>
                                            <td>@(item.sLoaiDuAn)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="Save()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        var isDieuChinh = $("#txt_DieuChinh").val();
        var iID_DonViID = $("#iID_DonViQuanLyIDModal").val();
        var iNamKeHoach = $("#txtNamKeHoachModal").val();
        var iID_NguonVonID = $("#iID_NguonVonIDModal").val();
        var isTongHop = $("#txt_TongHop").val();
        if (isDieuChinh == 'true') {
            $("#iID_DonViQuanLyIDModal").attr('disabled', 'disabled');
            $("#txtNguoiLapModal").attr('disabled', 'disabled');
            $("#txtTruongPhongModal").attr('disabled', 'disabled');
        }
        if (isTongHop == true) {
            $("#iID_NguonVonIDModal").attr('disabled', 'disabled');
            $("#txtNamKeHoachModal").attr('disabled', 'disabled');
        }
        $("#txtNamKeHoachModal").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        LoadDuAn(iID_DonViID, iNamKeHoach, iID_NguonVonID);
    });

    function LoadDuAn(iID_DonViID, iNamKeHoach, iID_NguonVonID) {
        $.ajax({
            type: "POST",
            dataType: "html",
            url: "/QLVonDauTu/KeHoachVonNamDeXuat/LoadDataDuAn",
            data: { iID_DonViID: iID_DonViID, iNamKeHoach: iNamKeHoach, iID_NguonVonID: iID_NguonVonID},
            success: function (data) {
                $("#tblDuAn").html(data);
                EventCheckbox();
                LoadDefaultDuAnChecked();
            }
        });
    }

    $("#iID_DonViQuanLyIDModal").change(function () {
        var iID_DonViID = $("#iID_DonViQuanLyIDModal").val();
        var iNamKeHoach = $("#txtNamKeHoachModal").val();
        var iID_NguonVonID = $("#iID_NguonVonIDModal").val();
        LoadDuAn(iID_DonViID, iNamKeHoach, iID_NguonVonID);
    });

    function EventCheckbox() {
        $("#tblDuAn [type=checkbox]").on("change", function () {
            lstDuAn = [];
            $.each($("#tblDuAn [type=checkbox]"), function (index, item) {
                if (item.checked) {
                    lstDuAn.push($(item).data('idduan'));
                }
            })
        })
    }

    function LoadDefaultDuAnChecked() {
        var lstIDDuAn = $("#lst_iIDDuAnID").val();
        if (lstIDDuAn != undefined && lstIDDuAn != "") {
            lstIDDuAn.split(",").forEach(function (item) {
                $("[data-idduan='" + item + "']").prop("checked", true);
            });
        }
    }
</script>