@using VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong
@model GiaiNganThanhToanPagingModel

@{
    ViewBag.Title = "Danh sách cấp phát - phê duyệt đề nghị thanh toán";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="urlExport" value="@Url.Action("XuatFile")" />

<!-- Modal in bao cao -->
<div class="modal fade configBaocao" id="configBaocao" tabindex="-1" role="dialog" aria-labelledby="configBaocao" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id=""></h3>
            </div>
            <div id="" style="overflow: hidden; padding: 0 20px 0 20px; max-height: 700px">
                @Html.Partial("PopupConfigBaoCaoPartial")
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsVDT_DanhSachCapPhatThanhToan.js"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

