@{
    ViewBag.Title = "Tạo mới đề nghị - phê duyệt thanh toán";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<style>
    .table-parent th {
        text-align: center;
        border-top: 2px solid #ddd;
    }

    .select2-selection__arrow b {
        display: none !important;
    }

    .select2-selection__rendered {
        text-align: center;
        padding: 0 !important;
    }
</style>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <input type="hidden" id="bIsEdit" value="0">
        <input type="hidden" id="drpNganhEdit">
        <input type="hidden" id="drpDuAnEdit">
        <input type="hidden" id="drpHopDongEdit">

        <div class="card">
            <div class="card-body create_thdt">
                <div class="form-group row">
                    @*left*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Thông tin chung</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="drpDonViQuanLy" class="">Đơn vị quản lý <span class="require">*</span></label>
                                @Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, new { @class = "form-control clearable" })
                            </div>
                            <div class="col-sm-6">
                                <label for="txtChuDauTu">Chủ đầu tư</label>
                                @Html.DropDownList("iID_ChuDauTuID", new SelectList(ViewBag.ListChuDauTu, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="drpDuAn" class="">Dự án <span class="require">*</span></label>
                                <select id="drpDuAn" class="form-control clearable"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtSoDeNghi" class="">Số đề nghị <span class="require">*</span></label>
                                <input type='text' class="form-control clearable" id="txtSoDeNghi" autocomplete="off" />
                            </div>
                            <div class="col-sm-4">
                                <label for="txtNgayDeNghi" class="">Ngày đề nghị <span class="require">*</span></label>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayDeNghi" autocomplete="off" placeholder="dd/MM/yyyy" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtSoCanCu" class="">Số c/cứ bảng xác định KLHT</label>
                                <input type='text' class="form-control clearable" id="txtSoCanCu" autocomplete="off" />
                            </div>
                            <div class="col-sm-4">
                                <label for="txtNgayCanCu" class="">Ngày căn cứ</label>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayCanCu" autocomplete="off" placeholder="dd/MM/yyyy" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtLuyKeGiaTriKLNghiemThu" class="">Lũy kế g/trị k/lượng nghiệm thu</label>
                                <input type='text' class="form-control clearable" id="txtLuyKeGiaTriKLNghiemThu" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-4">
                                <label for="drpLoaiThanhToan" class="">Loại thanh toán</label>
                                @Html.DropDownList("drpLoaiThanhToan", ViewBag.drpLoaiThanhToan as List<SelectListItem>, new { @class = "form-control clearable" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtTTtheohopdong">Thanh toán theo hợp đồng</label>
                                <input type="checkbox" id="bThanhToanTheoHopDong" name="bThanhToanTheoHopDong" class="form-control" style="width: 17%; margin-top: 0px !important; cursor:pointer; box-shadow: none" />
                            </div>
                        </div>

                        <div class="form-group row divDanhSachChiPhi">
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="tblDanhSachChiPhi">
                                    <thead>
                                        <tr>
                                            <th width="5%"></th>
                                            <th width="45%">Tên chi phí</th>
                                            <th width="25%" class="text-right">Giá trị QĐ đầu tư</th>
                                            <th class="text-right">Giá trị dự toán</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group row divThongTinHopDong" style="display: none">
                            <div class="col-sm-6">
                                <label for="drpHopDong" class="">Hợp đồng</label>
                                <select id="drpHopDong" class="form-control clearable"></select>
                            </div>
                        </div>
                        <div class="form-group row divThongTinHopDong" style="display: none">
                            <div class="col-sm-6">
                                <label for="txtGiaTriHopDong" class="">Giá trị hợp đồng</label>
                                <input type='text' class="form-control clearable" id="txtGiaTriHopDong" disabled />
                            </div>
                            <div class="col-sm-6">
                                <label for="drpNhaThau" class="">Nhà thầu</label>
                                <select id="drpNhaThau" class="form-control clearable"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtNguoiLap" class="">Người lập</label>
                                <input type='text' class="form-control clearable" id="txtNguoiLap" autocomplete="off" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNamKeHoach" class="">Năm kế hoạch <span class="require">*</span></label>
                                <input type='number' class="form-control clearable" id="txtNamKeHoach" value="@DateTime.Now.Year" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="drpNguonNganSach" class="">Nguồn vốn</label>
                                <select id="drpNguonNganSach" class="form-control clearable"></select>
                            </div>
                            <div class="col-sm-6">
                                <label for="drpCoQuanThanhToan" class="">Cơ quan thanh toán</label>
                                @Html.DropDownList("drpCoQuanThanhToan", ViewBag.drpCoQuanThanhToan as List<SelectListItem>, new { @class = "form-control clearable" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="tblDanhSachKHV">
                                    <thead>
                                        <tr>
                                            <th width="5%"></th>
                                            <th width="35%">Tên loại</th>
                                            <th width="20%">Số quyết định</th>
                                            <th width="20%">Ngày quyết định</th>
                                            <th>Vốn bố trí</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*right*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Thông tin thanh toán</h4>
                        <hr class='color-background-red' />
                        <label>Lũy kế thanh toán</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtluyKeTTTN" class="">Thanh toán KLHT vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTTTN" disabled />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtluyKeTTNN" class="">Thanh toán KLHT vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTTNN" disabled />
                            </div>
                        </div>
                        <label>Lũy kế tạm ứng chưa thu hồi (ứng trước)</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtluyKeTUUngTruocTN" class="">Vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTUUngTruocTN" disabled />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtluyKeTUUngTruocNN" class="">Vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTUUngTruocNN" disabled />
                            </div>
                        </div>
                        <label>Lũy kế tạm ứng chưa thu hồi (theo chế độ)</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtluyKeTUTN" class="">Vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTUTN" disabled />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtluyKeTUNN" class="">Vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtluyKeTUNN" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="txtNoiDung" class="">Nội dung</label>
                                <textarea id="txtNoiDung" name="txtNoiDung" class="form-control"></textarea>
                            </div>
                        </div>
                        <label>Số đề nghị tạm ứng, thanh toán KLHT</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtdntuVonTrongNuoc" class="">Vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtdntuVonTrongNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtdntuVonNgoaiNuoc" class="">Vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtdntuVonNgoaiNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                        </div>
                        <label>Số thu hồi tạm ứng (ứng trước)</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtthtuUngTruocVonTrongNuoc" class="">Vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtthtuUngTruocVonTrongNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtthtuUngTruocVonNgoaiNuoc" class="">Vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtthtuUngTruocVonNgoaiNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                        </div>
                        <label>Số thu hồi tạm ứng (theo chế độ)</label>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtthtuVonTrongNuoc" class="">Vốn trong nước</label>
                                <input type='text' class="form-control clearable" id="txtthtuVonTrongNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtthtuVonNgoaiNuoc" class="">Vốn ngoài nước</label>
                                <input type='text' class="form-control clearable" id="txtthtuVonNgoaiNuoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtthtuThueGTGT" class="">Thuế giá trị gia tăng</label>
                                <input type='text' class="form-control clearable" id="txtthtuThueGTGT" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtthtuTienBaoHanh" class="">Chuyển tiền bảo hành</label>
                                <input type='text' class="form-control clearable" id="txtthtuTienBaoHanh" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group div_ThongTinThanhToan" style="display: none">
                    <h4 class="color-text-red">Thông tin thanh toán:</h4>
                    <hr class='color-background-red' />

                    <div class="form-group row">
                        <div class="col-sm-6" id="divBtnAdd">
                            <div style=" margin-top: 25px; ">
                                <button class="btn btn-primary btn-icon" onclick="ThemMoiThanhToanChiTiet()"><i class="fa fa-plus" aria-hidden="true" style="margin:0px;"></i></button>
                                <span class="require text-italic">(Thêm dữ liệu xuống bảng chi tiết)</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblDanhSachThanhToanChiTiet">
                                <thead>
                                    <tr>
                                        <th width="3%" rowspan="2">STT</th>
                                        <th width="9%" rowspan="2">Loại thanh toán</th>
                                        <th width="10%" rowspan="2">Kế hoạch vốn</th>
                                        <th width="5%" rowspan="2">LNS</th>
                                        <th width="3%" rowspan="2">L</th>
                                        <th width="3%" rowspan="2">K</th>
                                        <th width="3%" rowspan="2">M</th>
                                        <th width="3%" rowspan="2">TM</th>
                                        <th width="3%" rowspan="2">TTM</th>
                                        <th width="3%" rowspan="2">NG</th>
                                        <th width="10%" rowspan="2">Nội dung</th>
                                        <th width="16%" colspan="2">Vốn trong nước</th>
                                        <th width="16%" colspan="2">Vốn ngoài nước</th>
                                        <th width="8%" rowspan="2">Tổng số</th>
                                        <th width="20%" rowspan="2">Ghi chú</th>
                                        <th rowspan="2">Hành động</th>
                                    </tr>
                                    <tr>
                                        <th>Giá trị đề nghị</th>
                                        <th>Giá trị phê duyệt</th>
                                        <th>Giá trị đề nghị</th>
                                        <th>Giá trị phê duyệt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="Insert()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsVDT_TaoMoiCapPhatThanhToan.js"></script>
    <script src="~/Scripts/sheet/jsNumber.js"></script>
}