@using Viettel.Models.QLNH
@model  ThongTriCapPhatCreateViewModel
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="modal-dialog" role="document" style="width:80%">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-bold text-left" id="">THÔNG TRI CẤP PHÁT</h3>
            <h4><b>Thông tri cấp phát kinh phí</b></h4>
        </div>
        <hr />
        <div id="contentmodalThongTriCapPhat" class="modal-body">
            <div class="thongtinchung">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="txtmathongtri" class=""> Mã thông tri </label>
                        <p>@Model.thongtri_capphat.sSoThongTri</p>
                    </div>
                    <div class="col-sm-2">
                        <label for="txtngaylap">Ngày lập</label>
                        <p>@(Model.thongtri_capphat.sNgayLap)</p>        
                    </div>
                    <div class="col-sm-2">
                        <label for="drpdonvi">Đơn vị</label>
                        <p>@Model.thongtri_capphat.sTenDonvi</p>
                    </div>
                    <div class="col-sm-2">
                        <label for="drpnam" class=""> Năm </label>
                       <p>@Model.thongtri_capphat.iNamThongTri</p>

                    </div>
                    <div class="col-sm-2">
                        <label for="drploaithongtri" class="">Loại thông tri </label>
                        <p>@Model.thongtri_capphat.sLoaiThongTri</p>
                    </div>
                    <div class="col-sm-2">
                        <label for="drploainoidung" class="">Loại nội dung </label>
                        <p>@Model.thongtri_capphat.sLoaiNoiDung</p>
                    </div>
                </div>
            </div>
            <div class="color-background-blue"></div>
            <div id="lstThanhToanThongTri">
                @*Danh sách phê duyệt thnh toán*@
                @Html.Partial("_tt_thongtri", Model.thanhtoan_thongtri);
            </div>


        </div>
        <div class="color-background-blue"></div>
        <div class="modal-footer">
            <div class="text-center">
                <button class="btn btn-default" id="" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
        LoadThongTinNam();
    })
</script>
