@using Viettel.Models.QLNH
@model  ThanhToan_ThongTriModelPaging
@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="lstPheDuyetThanhToan" style="margin-top: 30px">
    <h3>DANH SÁCH PHÊ DUYỆT THANH TOÁN</h3>
    <table class="table table-bordered scrolldown" id="tblListPheDuyetTT">
        <thead>
            <tr>
                <th width="2%"><input type="checkbox" id="icheckheader" onclick="checkAllDeNghiThanhToan()" /></th>
                <th width="5%">STT</th>
                <th width="15">Đơn vị</th>
                <th width="10%">Số đề nghị</th>
                <th width="10%">Ngày đề nghị</th>
                <th width="10%">Loại nội dung chi</th>
                <th width="15%">Loại đề nghị</th>
                <th width="10%">Trạng thái</th>
                <th width="15%" colspan="2">Số kinh phí chấp nhận phê duyệt thanh toán kỳ này</th>
                <th width="10%">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                    <td></td>
                    <td>1</td>
                    <td>001 - Cục tài chính</td>
                    <td>123/TB-KHNS</td>
                    <td>22/08/2022</td>
                    <td>Chi bằng ngoại tệ</td>
                    <td>Cấp kinh phí</td>
                    <td>1.000</td>
                    <td>23.500.000</td>
                    <td><a href="#" onclick="onModalChiTietDeNghi(1)">Chi tiết phê duyệt</a></td>
                </tr>*@
            @{
                foreach (var item in Model.thanhtoan_thongtri)
                {
                    <tr>
                        <td class="text-center" data-idthanhtoan="@item.iDeNghiThanhToan">
                            @{
                                var diasble = "";
                                if (item.isEnable == 1)
                                {
                                    diasble = "disabled";
                                }
                                if (item.iCheck == 1)
                                {
                                    <input type="checkbox" id="icheckitem" checked onclick="checkChonDeNghiThanhToan(this)" @diasble/>

                                }
                                else
                                {
                                    <input type="checkbox" id="icheckitem" onclick="checkChonDeNghiThanhToan(this)" @diasble/>
                                }
                            }
                        </td>
                        <td class="text-center">@item.STT</td>
                        <td>@item.sTenDonVi</td>
                        <td class="text-center">@item.sSoDeNghi</td>
                        <td class="text-center">@Html.Raw(item.dNgayDeNghi.HasValue ? item.dNgayDeNghi.Value.ToString("dd/MM/yyyy") : String.Empty)</td>
                        <td class="text-center">@item.sLoaiNoiDungChi</td>
                        <td class="text-center">@item.sLoaiDeNghi</td>
                        <td class="text-center">@item.sTrangThai</td>
                        <td class="text-right" id="ipheduyetusd">@item.sTongPheDuyetUSD</td>
                        <td class="text-right" id="ipheduyetvnd">@item.sTongPheDuyetVND</td>
                        <td class="text-center"><a href="#" onclick="onModalChiTietDeNghi('@item.iDeNghiThanhToan')">Chi tiết phê duyệt</a></td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="text-bold" colspan="8"> Tổng cộng</th>
                <th class="text-bold" id="itongpheduyetusd"></th>
                <th class="text-bold" id="itongpheduyetvnd"></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer"> @Html.BuildPagingButtons(Model._paging)</div>