@model SheetViewModel
@{
}
<form class="form-horizontal sheet-search" action="@Model.UrlGet" method="get" style="width:100%">
    <div>
        @Html.HiddenFor(x => Model.Id)
        @Html.HiddenFor(x => Model.Option)
        @if (Model.Table.ColumnsSearch.Count() > 0)
        {
            foreach (var item in Model.Table.ColumnsSearch)
            {
                var value = "";
                if (Model.Filters.ContainsKey(item.ColumnName))
                {
                    value = Model.Filters[item.ColumnName];
                }
                <input type="text" class="form-control text-@item.Align input-search" style="width:@(item.ColumnWidth-3)px;" title="@item.ColumnName" id="@item.ColumnName" name="@item.ColumnName" value="@value" autocomplete="off" />
            }
            <button style="display: none" class="btn btn-info" type="submit">@L("Buttons.Search")</button>
            <button style="display: none" id="btn-search-clear" class="btn btn-danger" type="button" title="@L("Buttons.SearchClear")"><span><i class="fa fa-eraser"></i></span></button>
        }

        <span class="pull-right text-muted">
            @if (Model.Table.IsReadonly)
            {
                <small style="margin-right:5px">Chỉ đọc</small>
            }
            else
            {
                foreach (var item in Model.AvaiableKeys)
                {
                    <strong>@item.Key:</strong>
                    <span style="margin-right:20px">@item.Value</span>
                }
            }
            @if (Model.Dvt > 0)
            {
                <span>|     Đvt: @Model.Dvt.ToStringDvt()</span>
            }
        </span>
    </div>
</form>
@using (Html.BeginScripts())
{
    <script>
        $(".sheet-search input").keydown(function (e) {
            //e.preventDefault();
            //alert(e.keyCode);
        });

        $("#btn-search-clear").click(function () {
            $(".sheet-search input.input-search").val("");
            $(".sheet-search input.input-search").filter(":visible:first").focus();
        });
    </script>
}
