@using Viettel.Models.QLVonDauTu
@model VDTPheDuyetVonUngNCTPagingModel
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách thông tin phê duyệt thanh toán vốn ứng (@Model._paging.TotalItems)</label>

    </div>
    <button class="btn btn-primary pull-right" onclick="BtnCreateDataClick()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="SearchDataReset()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered table-striped" id="tblListVDTPDVUNCT">
    <thead class="header-search">
    <th width="5%"></th>
    <th width="25%">
        <input type="text" class="form-control clearable" id="sSoDeNghi" autocomplete="off" />
    </th>
    <th width="20%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="dNgayDeNghiFrom" class="form-control" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="dNgayDeNghiTo" class="form-control" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="15%">
        @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), "--Tất cả--", new { @class = "form-control", @id = "iID_DonViQuanLyID" })
    </th>
    <th width="10%">
        
    </th>
    <th width="15%"></th>
    <th width="10%">
        <button class="btn btn-info" onclick="SearchData()"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
    </th>
    </thead>
    <thead>
    <th width="5%">STT</th>
    <th width="25%">Số phê duyệt</th>
    <th width="20%">Ngày lập</th>
    <th width="15%">Đơn vị quản lý</th>
    <th width="10%">Giá trị cấp ứng</th>
    <th width="15%">Giá trị thu hồi ứng ngoài chỉ tiêu</th>
    <th width="10%">Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = Model._paging.ItemForm;
            foreach (var item in Model.lstData)
            {
                <tr>
                    <td align="center">@index</td>

                    <td align="left">@item.sSoDeNghi</td>

                    <td align="center">@(item.dNgayDeNghi.HasValue ? item.dNgayDeNghi.Value.ToString("dd/MM/yyyy") : "")</td>

                    <td align="left">@item.sTenDonViQL</td>

                    <td align="right">
                        <span class="fGiaTriThanhToan">@item.fGiaTriThanhToan</span>
                    </td>
                    <td align="right">
                        <span class="fGiaTriThuHoiUngNgoaiChiTieu">@item.fGiaTriThuHoiUngNgoaiChiTieu</span>
                    </td>

                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail"><i class="fa fa-eye fa-lg" aria-hidden="true" onclick="ViewItemDetail('@item.iID_DeNghiThanhToanID')"></i></button>
                        <button class="btn-edit"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" onclick="GetItemDNTTU('@item.iID_DeNghiThanhToanID')"></i></button>
                        <button class="btn-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true" onclick="DeleteItemPDVUNCT('@item.iID_DeNghiThanhToanID')"></i></button>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
        });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        formatMoneyOfLstPDVUNCT();
    });

</script>