@using Viettel.Models.QLVonDauTu
@model VDTPheDuyetVonUngNgoaiCTViewModel
@{
    ViewBag.Title = "Nhập thông tin phê duyệt chủ trương đầu tư";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
    <link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">*@
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <input type="hidden" id="bIsEdit" value="0">
        <div class="card">
            <div class="card-body create_thdt">
                <input type="hidden" id="txtId" />
                <input type="hidden" id="txtParentId" />
                <input type="hidden" id="txtXauNoiMa" />
                <div class="header-create-update">
                    <span>
                        @Html.Raw("Xem chi tiết thông tin phê duyệt vốn ứng ngoài chỉ tiêu")
                    </span>
                </div>
                @*Thông tin nội dung*@
            <div class="form-group">
                <h4 class="color-text-red">Thông tin nội dung:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input type="hidden" id="iID_DeNghiThanhToanID" name="iID_DeNghiThanhToanID" value="@Model.iID_DeNghiThanhToanID">
                        <label class="control-label">Đơn vị quản lý</label>
                        <p>@Model.sTenDonViQuanLy</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Số phê duyệt</label>
                        <p>@Model.sSoDeNghi</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Ngày lập</label>
                        <p>@(Model.dNgayDeNghi.HasValue ? Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy") : "")</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Người lập</label>
                        <p>@Model.sNguoiLap</p>
                    </div>
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">Nhóm quản lý</label>
                        <p>@Model.sTenNhomQuanLy</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Ghi chú</label>
                        <p>@Html.Raw(Model.sGhiChu)</p>
                    </div>
                </div>

                @*Thông tin chi tiết*@
            <div class="form-group">
                <h4 class="color-text-red">Thông tin chi tiết:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">Tổng giá trị đề nghị</label>
                        <p id="fGiaTriThanhToan">@Model.fGiaTriThanhToan VNĐ</p>
                    </div>
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div id="ViewTable" style="overflow:scroll"></div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-back" onclick="CancelSaveData()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsVDT_QLPheDuyetVonUngNgoaiChiTieu.js" type="text/javascript"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script src="~/Scripts/js/dropdowntree.js"></script>
    <script>
        var tblDataGrid = [];

        $(document).ready(function () {
            $("#fGiaTriThanhToan").html(FormatNumber($("#fGiaTriThanhToan").html()));

            var iID_DeNghiThanhToanID = $("#iID_DeNghiThanhToanID").val();
            if (iID_DeNghiThanhToanID != '00000000-0000-0000-0000-000000000000') {
                GetDNTTUChiTietViewDetail();
            }
        });

    </script>
}
<style>
    /*.table-bordered tr, td {
        border: 1px solid
    }*/

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }
</style>