@using Viettel.Models.QLVonDauTu
@model List<BcquyetToanNienDoVonNamChiTietViewModel>
<table class="table table-bordered table-parent" style="margin-bottom: 0px">
    <thead>
        <tr>
            <th rowspan="3">STT</th>
            <th rowspan="3">Nội dung</th>
            <th rowspan="3">Địa điểm mở tài khoản</th>
            <th rowspan="3">Mã dự án đầu tư</th>
            <th rowspan="3">Tổng mức đầu tư(1)</th>
            <th colspan="2">Luỹ kế vốn đã thanh toán từ K/C đến hết niên độ năm trước năm quyết toán</th>
            <th rowspan="3">Số vốn tạm ứng theo chế độ chưa thu hồi của các năm trước nộp điều chỉnh giảm trong năm 20...</th>
            <th rowspan="3">Thanh toán KLHT của phần vốn tạm ứng theo chế độ từ KC đến hết niên độ năm trước năm 20...</th>
            <th colspan="6">Kế hoạch và thanh toán vốn đầu tư các năm trước được kéo dài thời gian thực hiện và thanh toán sang năm 20…</th>
            <th colspan="6">Kế hoạch và thanh toán vốn đầu tư năm 20...</th>
            <th rowspan="3">Tổng cộng vốn đã thanh toán KLHT quyết toán trong năm 20...(3)</th>
            <th rowspan="3">Luỹ kế số vốn tạm ứng theo chế độ chưa thu hồi đến hết năn quyết toán chuyển sang các năm sau quyết toán (4)</th>
            <th rowspan="3">Luỹ kế số vốn đã thanh toán từ K/C đến hết năm 20...(5)</th>
        </tr>
        <tr>
            <th rowspan="2">Tổng số</th>
            <th rowspan="2">Trong đó vốn tạm ứng theo chế độ chưa thu hồi(2)</th>
            <th rowspan="2">Kế hoạch vốn được kéo dài</th>
            <th colspan="3">Thanh toán</th>
            <th rowspan="2">Kế hoạch vốn được phép kéo dài sang năm sau (nếu có)</th>
            <th rowspan="2">Số vốn còn lại chưa thanh toán hủy bỏ (nếu có)</th>
            <th rowspan="2">Kế hoạch vốn đầu tư năm 20...</th>
            <th colspan="3">Thanh toán</th>
            <th rowspan="2">KH vốn được phép kéo dài sang năm sau (nếu có)</th>
            <th rowspan="2">Số vốn còn lại chưa thanh toán hủy bỏ (nếu có)</th>
        </tr>
        <tr>
            <th>Tổng số</th>
            <th>Thanh toán KLHT</th>
            <th>Vốn tạm ứng theo chế độ chưa thu hồi</th>
            <th>Tổng số</th>
            <th>Số vốn thanh toán KLHT</th>
            <th>Số vốn tạm ứng theo chế độ chưa thu hồi</th>
        </tr>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11 = 12+13</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15 = 10-11-14</th>
            <th>16</th>
            <th>17 = 18+19</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21 = 16-17-20</th>
            <th>22 = 9+12+18</th>
            <th>23 = 7-8-9+13+19</th>
            <th>24 = 6+11+17</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            { i = i + 1; }
            <tr>
                <td>@i</td>
                <td>@item.sTenDuAn </td>
                <td>@item.sDiaDiem</td>
                <td>@item.sMaDuAn</td>
                <td>@item.fTongMucDauTu</td>
                <td>@item.fLuyKeThanhToanNamTruoc</td>
                <td>@item.fTamUngTheoCheDoChuaThuHoiNamTruoc</td>
                <td><input type="text" data-iIdDuAn="@item.iID_DuAnID" class="fGiaTriTamUngDieuChinhGiam" value="@item.fGiaTriTamUngDieuChinhGiam"></td>
                <td>@item.fTamUngNamTruocThuHoiNamNay</td>
                <td>@item.fKHVNamTruocChuyenNamNay</td>
                <td>@item.fTongThanhToanVonKeoDaiNamNay</td>
                <td>@item.fTongThanhToanSuDungVonNamTruoc</td>
                <td>@item.fTamUngTheoCheDoChuaThuHoiKeoDaiNamNay</td>
                <td><input type="text" data-iIdDuAn="@item.iID_DuAnID" class="fGiaTriNamTruocChuyenNamSau" value="@item.fGiaTriNamTruocChuyenNamSau"></td>
                <td>@item.fVonConLaiHuyBoKeoDaiNamNay</td>
                <td>@item.fKHVNamNay</td>
                <td>@item.fTongKeHoachThanhToanVonNamNay</td>
                <td>@item.fTongThanhToanSuDungVonNamNay</td>
                <td>@item.fTamUngTheoCheDoChuaThuHoiNamNay</td>
                <td><input type="text" data-iIdDuAn="@item.iID_DuAnID" class="fGiaTriNamNayChuyenNamSau" value="@item.fGiaTriNamNayChuyenNamSau"></td>
                <td>@item.fVonConLaiHuyBoNamNay</td>
                <td>@item.fTongVonThanhToanNamNay</td>
                <td>@item.fLuyKeTamUngChuaThuHoiChuyenSangNam</td>
                <td>@item.fLuyKeConDaThanhToanHetNamNay</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(".fGiaTriTamUngDieuChinhGiam").change(function (e) {
            fnChangeGiaTriTamUngDieuChinhGiam();
        });
    });
    $(document).ready(function () {
        $(".fGiaTriNamTruocChuyenNamSau").change(function (e) {
            fnChangeGiaTriNamTruocChuyenNamSau();
        });
    });
    $(document).ready(function () {
        $(".fGiaTriNamNayChuyenNamSau").change(function (e) {
            fnChangeGiaTriNamNayChuyenNamSau();
        });
    });

    $(".fGiaTriTamUngDieuChinhGiam").trigger("change");
    $(".fGiaTriNamTruocChuyenNamSau").trigger("change");
    $(".fGiaTriNamNayChuyenNamSau").trigger("change");

    function fnChangeGiaTriTamUngDieuChinhGiam() {
        var item = this.attr("class");
    }

    function fnChangeGiaTriNamTruocChuyenNamSau() {
        var item = this.attr("class");
    }

    function fnChangeGiaTriNamNayChuyenNamSau() {
        var item = this.attr("class");
    }
</script>