@model rptNCSKT_TK05ViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Tổng hợp số liệu tăng/giảm ngành nghiệp vụ năm @PhienLamViec.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Chọn tờ</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @if (Model.PhongBanList == null || Model.PhongBanList.Count() <= 2)
                                {
                                    <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                    <input id="id_phongban" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                }
                                else
                                {
                                    @Html.DropDownList("id_phongban", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                                }
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="loaiBaoCao">
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tang" name="optradio" value="T" checked onclick="change()" />
                                    <label for="loaiBaoCao-tang">
                                        Số tăng (Bao gồm BV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tang-bv" name="optradio" value="T-bv" onclick="change()" />
                                    <label for="loaiBaoCao-tang-bv">
                                        Số tăng (Không gồm BV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-giam" name="optradio" value="G" onclick="change()" />
                                    <label for="loaiBaoCao-giam">
                                        Số giảm (Bao gồm BV)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-giam-bv" name="optradio" value="G-bv" onclick="change()" />
                                    <label for="loaiBaoCao-giam-bv">
                                        Số giảm (Không gồm BV)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngành:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("id_nganh", Model.NganhList, new { @class = "form-control" , onchange = "changeTo()" })
                            </div>
                        </div>
                    </form>                    
                </div>
                <div class="col-xs-6">
                    <div id="id_to" class="ls-box" data-check="first">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Report")">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change() {
        $("#id_nganh").empty();

        var id_phongban = $("#id_phongban").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();

        var url = '@Url.Action("Ds_Nganh")' +
                   "/?id_phongban=" + id_phongban +
                   "&loai=" + loaiBaoCao;

        console.log(url);
        jQuery.ajaxSetup({ cache: false });

        $.getJSON(url, function (data) {
            document.getElementById("id_nganh").innerHTML = data;
        });

        changeTo();
    }

    function changeTo() {
        var id_phongban = $("#id_phongban").val();
        var id_nganh = $("#id_nganh").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();

        if (id_nganh == null)
            id_nganh = "-1";

        var url = '@Url.Action("Ds_To")' +
                   "/?id_phongban=" + id_phongban +
                   "&id_nganh=" + id_nganh +
                   "&loai=" + loaiBaoCao;

        fillCheckboxList("id_to", "To", url);
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var id_phongban = $("#id_phongban").val();
        var id_nganh = $("#id_nganh").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();

        $("input:checkbox[check-group='To']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "/?ext=" + ext +
                    "&id_phongban=" + id_phongban +
                    "&loai=" + loaiBaoCao +
                    "&id_nganh=" + id_nganh +
                    "&to=" + item;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links, 100);
    });

</script>
