@model rptNCSKT_TK07ViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo B2 lập phương án phân bổ số kiểm tra ngân sách sử dụng năm @PhienLamViec.iNamLamViec (KT-ĐV)</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("id_phongban", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                            </div>                                 
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="loaiBaoCao">
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-chitiet" name="optradio" value="11" checked />
                                    <label for="loaiBaoCao-chitiet">
                                        Chi tiết đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop" name="optradio" value="12" />
                                    <label for="loaiBaoCao-tonghop">
                                        Tổng hợp BQL
                                    </label>
                                </div>
                                @*<div class="radio">
                                    <input type="radio" id="loaiBaoCao-chitiet2" name="optradio" value="21" checked />
                                    <label for="loaiBaoCao-chitiet2">
                                        Chi tiết đơn vị (Số kiểm tra 2020)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop2" name="optradio" value="22" />
                                    <label for="loaiBaoCao-tonghop2">
                                        Tổng hợp BQL (Số kiểm tra 2020)
                                    </label>
                                </div>*@
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="Id_DonVi" class="ls-box">                        
                    </div>
                </div>
            </div>            
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Reports", new {area="SKT", loai =2})">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();
    
    function change() {
        var id_phongban = $("#id_phongban").val();

        var url = '@Url.Action("Ds_DonVi")' + "/?"
            + "id_phongban=" + id_phongban;

        fillCheckboxList("Id_DonVi", "Id_DonVi", url);
    }

    $(".btn-print").click(function () {

        var links = [];

        var ext = $(this).data("ext");
        var id_phongban = $("#id_phongban").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();

        if (loaiBaoCao == "11" || loaiBaoCao == "21") {
            $("input:checkbox[check-group='Id_DonVi']").each(function () {
                if (this.checked) {
                    var item = this.value;
                    var url = unescape('@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&id_phongban=" + id_phongban +
                        "&id_donvi=" + item +
                        "&loai=" + loaiBaoCao
                        );
                    links.push(url);

                    console.log(url);
                }
            });

            openLinks(links);
        }
        else {
            var ctDV = 0;
            var yes = confirm("Đ/c có in số tổng hợp chi tiết đến đơn vị không?");
            if (yes)
                ctDV = 1;
            var id_donvi = getCheckedItems("Id_DonVi");
            var url = unescape('@Url.Action("Print")' +
                      "?ext=" + ext +
                      "&id_phongban=" + id_phongban +
                      "&loai=" + loaiBaoCao +
                      "&ctDV=" + ctDV +
                      "&id_donvi=" + id_donvi);

            openNewTab(url);
        }
        
    });

</script>
