@using Viettel.Models.QLNH
@model DMDonViTienTeViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh mục loại đơn vị tiền tệ (@Model._paging.TotalItems)</label>
    </div>

    <button class="btn btn-primary pull-right" style="margin-right:10px;" onclick="OpenModal();" data-toggle="modal" data-target="#modalTienTe"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage();"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered" id="tblListDonViTienTe">
    <thead class="header-search">
        <tr>
            <th width="3%"></th>
            <th width="10%"><input type="text" class="form-control gr_search" id="txtMaTienTeFilter" placeholder="Mã tiền tệ"/></th>
            <th width="20%"><input type="text" class="form-control gr_search" id="txtTenTienTeFilter" placeholder="Tên tiền tệ"/></th>
            <th width="55%"><input type="text" class="form-control gr_search" id="txtMotaFilter" placeholder="Mô tả"/></th>
            <th width="12%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="3%">STT</th>
            <th width="10%">Mã tiền tệ</th>
            <th width="20%">Tên tiền tệ</th>
            <th width="55%">Mô tả</th>
            <th width="12%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@(pageIndex + index)</td>
                    <td align="left">@Html.Raw(Html.Encode(item.sMaTienTe))</td>
                    <td align="left">@Html.Raw(Html.Encode(item.sTenTienTe))</td>
                    <td align="left">@Html.Raw(!string.IsNullOrEmpty(Html.Encode(item.sMoTaChiTiet)) ? Html.Encode(item.sMoTaChiTiet).Replace("\n", "<br/>") : string.Empty)</td>
                    <td align="center">
                        <button type="button" class="btn-detail" title="Xem chi tiết" onclick="OpenModalDetail('@item.ID')" data-toggle="modal" data-target="#modalTienTe"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" title="Sửa" onclick="OpenModal('@item.ID')" data-toggle="modal" data-target="#modalTienTe"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" title="Xóa" onclick="DeleteItem('@item.ID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tblListDonViTienTe .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                //Enter key pressed
                if (e.which == 13) {
                    ChangePage();
                }
            });
        });
    });
</script>