@using Viettel.Models.QLVonDauTu
@model KeHoachVonNamDuocDuyetViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách kế hoạch dự toán được giao (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <button class="btn btn-warning pull-right" style="margin-right: 10px;" onclick="ViewInBaoCao();"><i class="fa fa-print" aria-hidden="true"></i>Báo cáo</button>

</div>
<table class="table table-bordered" id="tblListKHVonNamDeXuat">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="10%"><input type="text" class="form-control gr_search" id="txtSoQuyetdinh" /></th>
    <th width="16%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhFrom" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhTo" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="5%"><input type="text" maxlength="4" class="form-control gr_search" id="txtNamKeHoach" autocomplete="off" /></th>
    <th width="12%">@Html.DropDownList("iID_NguonVonID", (SelectList)(ViewBag.ListNguonVon), "--Tất cả--", new { @class = "form-control", @id = "iID_NguonVonID" })</th>
    <th width="10%">@Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), "--Tất cả--", new { @class = "form-control", @id = "iID_DonViQuanLyID" })</th>
    <th width="7%"></th>
    <th width="7%"></th>
    <th width="8%"></th>
    <th width="10%"></th>
    <th><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="10%">Số quyết định</th>
    <th width="16%">Ngày lập</th>
    <th width="5%">Năm kế hoạch</th>
    <th width="12%">Nguồn vốn</th>
    <th width="10%">Đơn vị</th>
    <th width="7%">Rút dự toán tại KBNN</th>
    <th width="7%">Cấp bằng lệnh chi tiền</th>
    <th width="8%">Số lần điều chỉnh</th>
    <th width="10%">Điều chỉnh từ</th>
    <th></th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@(pageIndex + index)</td>

                    <td align="left" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.sSoQuyetDinh</td>

                    <td align="center" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="center" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.iNamKeHoach</td>

                    <td align="left" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.sTenNguonVon</td>

                    <td align="left" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.sTenDonVi</td>

                    <td align="right" class="sotien" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@(item.fCapPhatTaiKhoBac.HasValue ? item.fCapPhatTaiKhoBac.Value.ToString("###,###") : "0")</td>

                    <td align="right" class="sotien" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@(item.fCapPhatBangLenhChi.HasValue ? item.fCapPhatBangLenhChi.Value.ToString("###,###"): "0")</td>

                    <td align="center" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.SoLanDieuChinh</td>

                    <td align="center" onclick="ChiTietKeHoachVonNamDuocDuyet('@item.iID_KeHoachVonNam_DuocDuyetID')">@item.DieuChinhTu</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        @{
                            if (item.bActive.Value)
                            {
                                <button type="button" class="btn-detail" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID', '@item.iID_DonViQuanLyID', false, true)" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                                <button type="button" class="btn-detail" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID', '@item.iID_DonViQuanLyID', true)" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                                @*<button type="button" class="btn-edit" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID', '@item.iID_DonViQuanLyID', true)" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>*@
                                <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID')" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                                <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_KeHoachVonNam_DuocDuyetID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                                <button type="button" class="btn-file" onclick="OpenExport('@item.iID_KeHoachVonNam_DuocDuyetID')"><i class="fa fa-trash-o fa-file" aria-hidden="true"></i></button>
                            }
                            else
                            {
                                <button type="button" class="btn-detail" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID', '@item.iID_DonViQuanLyID', false, true)" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                                <button type="button" disabled style="color: gray !important" class="btn-edit" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID', '@item.iID_DonViQuanLyID', true)" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                                <button type="button" disabled style="color: gray !important" class="btn-edit" onclick="OpenModal('@item.iID_KeHoachVonNam_DuocDuyetID')" data-toggle="modal" data-target="#modalKHVonNamDeXuat"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                                <button type="button" disabled style="color: gray !important" class="btn-delete" onclick="DeleteItem('@item.iID_KeHoachVonNam_DuocDuyetID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                                <button type="button" class="btn-file" onclick="OpenExport('@item.iID_KeHoachVonNam_DuocDuyetID')"><i class="fa fa-trash-o fa-file" aria-hidden="true"></i></button>
                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tblListKHVonNamDeXuat .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });
        /*formatMoney();*/
    });

</script>