@using VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong
@model KeHoachVonNamDuocDuyetChiTietGridViewModel
@{
    ViewBag.Title = "Kế hoạch dự toán được giao chi tiết";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsKeHoachVonNamDuocDuyetChiTiet.js"></script>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <input type="hidden" id="iID_KHVN_DeXuatID" value="@Model.KHVonNamDuocDuyet.iID_KeHoachVonNamDeXuatID"/>
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tooltip-header-search">
                    <div class="col-sm-8" style="display:flex;padding-left:0px;">
                        <label class="control-label">Kế hoạch dự toán được giao chi tiết</label>
                        <label class="control-label" style="padding-left: 20px; color: #e17009;">Số kế hoạch: </label> &nbsp;&nbsp;
                        <p style="margin-top: 10px; font-size:14px" id="">@Model.KHVonNamDuocDuyet.sSoQuyetDinh</p>
                        <label class="control-label" style="padding-left:20px; color:#e17009;">Ngày lập: </label> &nbsp;&nbsp;
                        <p style="margin-top: 10px; font-size:14px" id="">
                            @Html.Raw(Model.KHVonNamDuocDuyet.dNgayQuyetDinh.HasValue ? Model.KHVonNamDuocDuyet.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)
                        </p>
                        <label class="control-label" style="padding-left: 20px; color: #e17009;">Đề xuất tổng hợp @Helpers.Required()</label> &nbsp;&nbsp;
                        @Html.DropDownList("iID_KeHoachVonNamDeXuatID", (SelectList)(ViewBag.LstVoucherAggregate), new { @class = "form-control width-200 mt-10", @id = "iID_KeHoachVonNamDeXuatIDTH" })
                    </div>
                    <div class="col-sm-4">
                        <p class="pull-right" style="margin-top: 10px; font-size:14px; padding-right: 20px;" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa tìm kiếm</p>
                        <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
                        <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Tìm kiếm</p>
                        <label class="control-label pull-right" style="padding-left:20px;">Ent: </label>
                        <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Lưu</p>
                        <label class="control-label pull-right">F10: </label>
                    </div>
                </div>
                @Html.Partial("_sheet", Model)
            </div>
        </div>
    </div>
</div>

<script>
        
</script>
