@using Viettel.Models.KeHoachChiTietBQP;
@using DomainModel;
@using System.Globalization;
@using Viettel.Domain.DomainModel;
@model NH_KHChiTietBQP_NVCViewModel
@{
    Layout = "";
}
<input type="hidden" value="@ViewBag.KHChiTietBQP" id="keHoachChiTietBQP" />
<input type="hidden" value="@Model.State" id="currentState" />

<div class="chao-banner1">
    <label>Thông tin chương trình</label>
</div>
<hr class="bg-gray" />
<div class="">
    <span>
        Kế hoạch giai đoạn - Năm:
        @if (Model.iLoai.HasValue)
        {
            if (Model.iLoai.Value == 1)
            {
                <span style="color: red">@Model.iGiaiDoanTu - @Model.iGiaiDoanDen</span>
            }
            else
            {
                <span style="color: red">@Model.iNamKeHoach</span>
            }
        }
    </span></br>
    <span>Kế hoạch tổng thể Thủ tướng Chính phủ phê duyệt: <span style="color: red">@Model.sSoKeHoachTTCP  - @(Model.dNgayKeHoachTTCP.HasValue ? Model.dNgayKeHoachTTCP.Value.ToString("dd/MM/yyyy") : "")</span></span></br>
    <span>Kế hoạch chi tiết Bộ Quốc phòng phê duyệt: <span style="color: red">@Model.sSoKeHoachBQP - @(Model.dNgayKeHoachBQP.HasValue ? Model.dNgayKeHoachBQP.Value.ToString("dd/MM/yyyy") : "")</span></span>
</div>
<table class="table table-bordered mt-4" id="tblDetailKHChiTietBQPList">
    @if (!Model.IsEdit)
    {
        <thead class="header-search">
            <tr>
                <th colspan="2"></th>
                <th width="10%">@Html.DropDownList("iID_BQuanLyID", (SelectList)(ViewBag.LookupPhongBan), new { @class = "form-control", @id = "iID_BQuanLyID" })</th>
                <th width="10%">@Html.DropDownList("iID_DonViID", (SelectList)(ViewBag.LookupDonVi), new { @class = "form-control", @id = "iID_DonViID" })</th>
                <th></th>
                <th width="10%"><button class="btn btn-info" onclick="OpenModalDetail('@Model.ID', 'DETAIL', true)"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
                <th width="10%"><button class="btn btn-info" onclick="" disabled><i class="fa fa-file-excel-o" aria-hidden="true"></i>Trích sao</button></th>
            </tr>
        </thead>
    }
    <thead>
        <tr>
            <th width="5%">STT</th>
            <th width="25%">Tên chương trình, nhiệm vụ chi</th>
            <th width="15%">B Quản lý</th>
            <th width="15%">Đơn vị</th>
            <th width="10%">Giá trị TTCP phê duyệt (USD)</th>
            <th width="10%">Giá trị BQP phê duyệt (USD)</th>
            <th width="10%">Giá trị BQP phê duyệt (VND)</th>
            @if (Model.IsEdit)
            {
                <th width="10%">Thao tác</th>
            }
        </tr>
    </thead>
    <tbody id="tbodyNhiemVuChi">
        @{
            if (Model.IsEdit)
            {
                foreach (NH_KHChiTietBQP_NVCModel item in Model.Items)
                {
                    <tr>
                        <td name="ID_NhiemVuChi" class="hidden">@item.ID</td>
                        <td align="left" name="sMaThuTu">@item.sMaThuTu</td>
                        <td><input type="text" id="sTenNhiemVuChi" class="form-control" value="@item.sTenNhiemVuChi" maxlength="255" autocomplete="off" @(item.bIsTTCP ? "disabled" : "") /></td>
                        <td align="left" name="sTenPhongBan">@Html.Raw(item.sTenPhongBan)</td>
                        <td class="hidden"><input id="iID_BQuanLyID" class="form-control" value="@item.iID_BQuanLyID" maxlength="255" autocomplete="off" /></td>
                        <td align="left">
                            @if (!item.bIsTTCP)
                            {
                                <select class="form-control" name="iID_DonViID">
                                    @foreach (var dv in (List<NS_DonVi>)ViewBag.LookupDonVi)
                                    {
                                        <option data-madonvi="@dv.iID_MaDonVi" value="@dv.iID_Ma" @(dv.iID_Ma == item.iID_DonViID ? "selected" : "")>@dv.sMoTa</option>
                                    }
                                </select>
                            }
                        </td>
                        <td align="right" name="fGiaTriTTCP_USD">@(item.fGiaTriTTCP_USD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriTTCP_USD.Value.ToString("0.00" + new string('#', 397), CultureInfo.InvariantCulture)) : string.Empty)</td>
                        <td>
                            <input type="text" 
                                   id="fGiaTriBQP_USD" class="form-control inputFromUSD" 
                                   value="@(item.fGiaTriBQP_USD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriBQP_USD.Value.ToString("0.00" + new string('#', 397), CultureInfo.InvariantCulture)) : string.Empty)" 
                                   maxlength="255" autocomplete="off" onblur="CalcTiGia('USD', this)" @(item.bIsHasChild ? "disabled" : ViewBag.IsVNDToUSD ? "disabled" : "")
                                   onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);"  />
                        </td>
                        <td>
                            <input type="text" id="fGiaTriBQP_VND" class="form-control inputFromVND"
                                   value="@(item.fGiaTriBQP_VND.HasValue ? CommonFunction.DinhDangSo(Math.Round(item.fGiaTriBQP_VND.Value).ToString(CultureInfo.InvariantCulture)) : string.Empty)" 
                                   maxlength="255" autocomplete="off" onblur="CalcTiGia('VND', this)" @(item.bIsHasChild ? "disabled" : !ViewBag.IsVNDToUSD ? "disabled" : "")
                                   onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </td>
                        <td class="hidden" name="bIsTTCP">@item.bIsTTCP.ToString()</td>
                        <td class="hidden" name="iID_KHTTTTCP_NhiemVuChiID">@(item.bIsTTCP ? item.ID : item.iID_KHTTTTCP_NhiemVuChiID)</td>
                        <td class="hidden" name="iID_ParentID">@(item.iID_ParentID)</td>
                        <td align="center">
                            @if (item.bIsAction)
                            {
                                <button type="button" class="btn-detail" onclick="AddRowKeHoachChiTiet(this)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                if (!item.bIsTTCP)
                                {
                                    <button type="button" class="@(item.bIsHasChild ? "btn-delete disabled" : "btn-delete")" onclick="RemoveRowKeHoachChiTiet(this)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                foreach (NH_KHChiTietBQP_NVCModel item in Model.Items)
                {
                    <tr>
                        <td name="ID_NhiemVuChi" class="hidden">@item.ID</td>
                        <td align="left" name="sMaThuTu">@item.sMaThuTu</td>
                        <td>@Html.Raw(item.sTenNhiemVuChi)</td>
                        <td align="left" name="sTenPhongBan">@Html.Raw(item.sTenPhongBan)</td>
                        <td class="hidden"><input id="iID_BQuanLyID" class="form-control" value="@item.iID_BQuanLyID" maxlength="255" autocomplete="off" /></td>
                        <td align="left">@Html.Raw(item.sTenDonVi)</td>
                        <td align="right" name="fGiaTriTTCP_USD">@(item.fGiaTriTTCP_USD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriTTCP_USD.Value.ToString("0.00" + new string('#', 397), CultureInfo.InvariantCulture)) : string.Empty)</td>
                        <td>@(item.fGiaTriBQP_USD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriBQP_USD.Value.ToString("0.00" + new string('#', 397), CultureInfo.InvariantCulture)) : string.Empty)</td>
                        <td>@(item.fGiaTriBQP_VND.HasValue ? CommonFunction.DinhDangSo(Math.Round(item.fGiaTriBQP_VND.Value).ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                        <td class="hidden" name="bIsTTCP">@item.bIsTTCP.ToString()</td>
                        <td class="hidden" name="iID_KHTTTTCP_NhiemVuChiID">@(item.bIsTTCP ? item.ID : item.iID_KHTTTTCP_NhiemVuChiID)</td>
                        <td class="hidden" name="iID_ParentID">@(item.iID_ParentID)</td>
                    </tr>
                }
            }

        }
    </tbody>
</table>

<div class="d-flex justify-content-center">
    <button class="btn btn-default mx-3" id="btnViewToList" onclick="ViewToList()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    @if (Model.IsEdit)
    {
        <button class="btn btn-primary mx-3" onclick="SaveDetail()" id="btnLuuModal"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    }
</div>