@model Viettel.Models.QLVonDauTu.NCNhuCauChi
@{
    ViewBag.Title = "Chi tiết kế hoạch chi quý";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<style>
    .table-parent th {
        text-align: center;
        border-top: 2px solid #ddd;
    }
</style>

<input type="hidden" id="iID_DonViQuanLyID" value="@Model.iID_DonViQuanLyID" />
<input type="hidden" id="iNamKeHoach" value="@Model.iNamKeHoach" />
<input type="hidden" id="iQuy" value="@Model.iQuy" />
<input type="hidden" id="iIDNguonVon" value="@Model.iID_NguonVonID" />
<input type="hidden" id="iID_NhuCauChiID" value="@Model.Id" />

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="form-group">
                    @*left*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Thông tin chung</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="drpDonViQuanLy" class="">Đơn vị quản lý</label>
                                <p>@Model.sDonViQuanLy</p>
                            </div>
                            <div class="col-sm-3">
                                <label for="txtSoDeNghi" class="">Số đề nghị</label>
                                <p>@Model.sSoDeNghi</p>
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNgayDeNghi" class="">Ngày đề nghị</label>
                                <p>@Model.sNgayDeNghi</p>
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNamKeHoach" class="">Năm kế hoạch</label>
                                <p>@Model.iNamKeHoach</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="drpQuy" class="">Quý</label>
                                <p>@Model.iQuy</p>
                            </div>
                            <div class="col-sm-3">
                                <label for="drpNguonNganSach" class="">Nguồn vốn</label>
                                <p>@Model.sNguonVon</p>
                            </div>
                            <div class="col-sm-5">
                                <label for="txtNguoiLap" class="">Người lập</label>
                                <p>@Model.sNguoiLap</p>
                            </div>
                        </div>
                    </div>
                    @*right*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Số kinh phí Cục Tài chính cấp</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtQuyTruocChuaGiaiNgan" class="">Quý trước chưa giải ngân</label>
                                <p id="txtQuyTruocChuaGiaiNgan"></p>
                            </div>
                            <div class="col-sm-6">
                                <label for="txtQuyNayDuocCap" class="">Quý này được cấp</label>
                                <p id="txtQuyNayDuocCap"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtKinhPhiThucHienGiaiNganQuyNay" class="">Kinh phí thực hiện giải ngân quý này</label>
                                <p id="txtKinhPhiThucHienGiaiNganQuyNay"></p>
                            </div>
                            <div class="col-sm-4">
                                <label for="txtSoKinhPhiChuaGiaiNganChuyenQuySau" class="">Số k/phí chưa giải ngân chuyển quý sau</label>
                                <p id="txtSoKinhPhiChuaGiaiNganChuyenQuySau"></p>
                            </div>
                            <div class="col-sm-4">
                                <label for="txtSoKinhPhiDeNghiCapQuyToi" class="">Số kinh phí đề nghị cấp quý tới</label>
                                <p id="txtSoKinhPhiDeNghiCapQuyToi"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="color-text-red">Quản lý hoạch chi Quý</h4>
                    <hr class='color-background-red' />

                    <div class="col-sm-12">
                        <table class="table table-bordered" id="tblDanhSachQLHoachChiQuy">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="5%">Loại thanh toán</th>
                                    <th rowspan="2" width="10%">Tên dự án</th>
                                    <th rowspan="2" width="7%">KHV năm (cả năm trước chuyển sang và bổ sung)</th>
                                    <th colspan="3">Lũy kế giải ngân đến hết quý trước</th>
                                    <th colspan="4">Số giải ngân quý 4 năm 2020</th>
                                    <th rowspan="2" width="7%">Số còn giải ngân năm</th>
                                    <th rowspan="2" width="7%">Nhu cầu chi Quý</th>
                                    <th rowspan="2">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th width="7%">Tổng số</th>
                                    <th width="7%">Thanh toán KLHT</th>
                                    <th width="7%">Tạm ứng theo chế độ</th>
                                    <th width="7%">Tổng số</th>
                                    <th width="7%">Thanh toán KLHT</th>
                                    <th width="7%">Thu hồi ứng</th>
                                    <th width="7%">Tạm ứng theo chế độ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-back" onclick="CancelSaveData()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay  lại</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsVDT_ChiTietNhuCauChiQuy.js"></script>
    <script src="~/Scripts/sheet/jsNumber.js"></script>
}