@model Viettel.Models.QLVonDauTu.NCNhuCauChi
@{
    ViewBag.Title = "Cập nhật kế hoạch nhu cầu chi quý";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<style>
    .table-parent th {
        text-align: center;
        border-top: 2px solid #ddd;
    }
</style>

<input type="hidden" id="iID_DonViQuanLyID" value="@Model.iID_DonViQuanLyID" />
<input type="hidden" id="iNamKeHoach" value="@Model.iNamKeHoach" />
<input type="hidden" id="iQuy" value="@Model.iQuy" />
<input type="hidden" id="iIDNguonVon" value="@Model.iID_NguonVonID" />
<input type="hidden" id="iID_NhuCauChiID" value="@Model.Id" />

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="form-group">
                    @*left*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Thông tin chung</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="drpDonViQuanLy" class="">Đơn vị quản lý <span class="require">*</span></label>
                                @Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-3">
                                <label for="txtSoDeNghi" class="">Số đề nghị <span class="require">*</span></label>
                                <input type='text' class="form-control clearable" id="txtSoDeNghi" value="@Model.sSoDeNghi" autocomplete="off" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNgayDeNghi" class="">Ngày đề nghị <span class="require">*</span></label>
                                <input type='text' class="form-control" id="txtNgayDeNghi" value="@Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy")" autocomplete="off" placeholder="dd/MM/yyyy" disabled />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNamKeHoach" class="">Năm kế hoạch <span class="require">*</span></label>
                                <input type='number' class="form-control clearable" id="txtNamKeHoach" value="@Model.iNamKeHoach" autocomplete="off" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="drpQuy" class="">Quý <span class="require">*</span></label>
                                @Html.DropDownList("drpQuy", ViewBag.drpQuy as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-3">
                                <label for="drpNguonNganSach" class="">Nguồn vốn</label>
                                @Html.DropDownList("drpNguonNganSach", ViewBag.drpNguonNganSach as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-5">
                                <label for="txtNguoiLap" class="">Người lập</label>
                                <input type='text' class="form-control clearable" id="txtNguoiLap" value="@Model.sNguoiLap" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    @*right*@
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Số kinh phí Cục Tài chính cấp</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtQuyTruocChuaGiaiNgan" class="">Quý trước chưa giải ngân</label>
                                <input type='text' class="form-control clearable" id="txtQuyTruocChuaGiaiNgan" disabled />
                            </div>
                            <div class="col-sm-6">
                                <label for="txtQuyNayDuocCap" class="">Quý này được cấp</label>
                                <input type='text' class="form-control clearable" id="txtQuyNayDuocCap" disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="txtKinhPhiThucHienGiaiNganQuyNay" class="">Kinh phí thực hiện giải ngân quý này</label>
                                <input type="text" class="form-control clearable" id="txtKinhPhiThucHienGiaiNganQuyNay" disabled />
                            </div>
                            <div class="col-sm-4">
                                <label for="txtSoKinhPhiChuaGiaiNganChuyenQuySau" class="">Số k/phí chưa giải ngân chuyển quý sau</label>
                                <input type='text' class="form-control clearable" id="txtSoKinhPhiChuaGiaiNganChuyenQuySau" disabled />
                            </div>
                            <div class="col-sm-4">
                                <label for="txtSoKinhPhiDeNghiCapQuyToi" class="">Số kinh phí đề nghị cấp quý tới</label>
                                <input type='text' class="form-control clearable" id="txtSoKinhPhiDeNghiCapQuyToi" disabled />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2">
                        <button class="btn btn-info" onclick="Loc()"><i class="fa fa-search" aria-hidden="true"></i>Lọc</button>
                        <button class="btn btn-danger" onclick="Xoa()">Xóa</button>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="color-text-red">Quản lý hoạch chi Quý</h4>
                    <hr class='color-background-red' />

                    <div class="col-sm-12">
                        <table class="table table-bordered" id="tblDanhSachQLHoachChiQuy">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="5%">Loại thanh toán</th>
                                    <th rowspan="2" width="10%">Tên dự án</th>
                                    <th rowspan="2" width="7%">KHV năm (cả năm trước chuyển sang và bổ sung)</th>
                                    <th colspan="3">Lũy kế giải ngân đến hết quý trước</th>
                                    <th colspan="4">Số giải ngân quý 4 năm 2020</th>
                                    <th rowspan="2" width="7%">Số còn giải ngân năm</th>
                                    <th rowspan="2" width="7%">Nhu cầu chi Quý</th>
                                    <th rowspan="2">Ghi chú</th>
                                </tr>
                                <tr>
                                    <th width="7%">Tổng số</th>
                                    <th width="7%">Thanh toán KLHT</th>
                                    <th width="7%">Tạm ứng theo chế độ</th>
                                    <th width="7%">Tổng số</th>
                                    <th width="7%">Thanh toán KLHT</th>
                                    <th width="7%">Thu hồi ứng</th>
                                    <th width="7%">Tạm ứng theo chế độ</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="Update()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsVDT_CapNhatKeHoachChiQuy.js"></script>
<script src="~/Scripts/sheet/jsNumber.js"></script>