@model DacThuChungTuEditViewModel
@{
    var isNew = Model.Id == Guid.Empty;
}
@Html.HiddenFor(x => x.Id)
@if (isNew)
{
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label-r">Phòng đề nghị</label>
            @Helpers.Required()
        </div>
        <div class="col-sm-4">
            <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
        </div>        
    </div>    
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label-r">Ngành</label>
            @Helpers.Required()
        </div>
        <div class="col-sm-4">
            @Html.DropDownListFor(x => x.Id_Nganh, Model.NganhList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Id_Nganh)
        </div>
    </div>
}
else
{
    <div class="col-sm-2">
        <label class="control-label-r">Phòng đề nghị</label>
        @Helpers.Required()
    </div>
    <div class="col-sm-4">
        <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control"/>
    </div>
    <div class="form-group">       
        <div class="col-sm-2">
            <label class="control-label-r">Ngành</label>
            @Helpers.Required()
        </div>
        <div class="col-sm-4">
            @Html.HiddenFor(x => x.Id_Nganh)
            @Html.TextBoxFor(x => x.TenNganh, new { @class = "form-control", @readonly = true })
        </div>
    </div>    
}
<div class="form-group">
    <div class="col-xs-4  col-sm-2">
        @Html.LabelFor(x => x.NoiDung, new { @class = "control-label-r" })
    </div>
    <div class="col-xs-8 col-sm-10">
        @Html.TextAreaFor(x => x.NoiDung, new { @class = "form-control" })
    </div>
</div>
@using (Html.BeginScripts())
{
    <script src="~/Scripts/js/js_report.js"></script>
}
