@model DacThuChungTuEditViewModel
@{
    ViewBag.Title = L("SKT.CreateDT");
    var v = string.Empty;
}
@section Styles{
    @*@Html.Partial("_StyleSheets.Editor")*@
}
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            @ViewBag.Title.ToUpper()
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Create", "DacThuChungTu", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationMessage("lock", new { @class = "editor-error" })

                @Html.Partial("_item", Model)

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <hr />
                        <button type="submit" class="btn btn-mvc btn-mvc-green">@L("Buttons.SaveData")</button>
                        <a href="@Url.Action("Index", "DacThuChungTu")" class="btn btn-mvc">@L("Buttons.Cancel")</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
}
@using (Html.BeginScripts())
{

}
