@model DacThuChungTuListViewModel
@{
    ViewBag.Title = L("SKT.ListDT");
}
<h2>@ViewBag.Title</h2>
<div class="button-bar">
    <a class="btn btn-mvc btn-mvc-green" href="@Url.Action("Create", "DacThuChungTu")">@L("Buttons.Create")</a>    
    <span class="text-muted">|</span>
    <span class="text-muted">|</span>
    <a class="btn btn-mvc btn-reload" title="@L("Buttons.Reload")"><i class="fa fa-refresh"></i></a>
</div>
@Html.Partial("_list", Model.Items)
@using (Html.BeginScripts())
{
    <script>
    </script>
}
