@using Viettel.Models.QLVonDauTu
@model KH5NDXPrintDataExportModel
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>


@*Thông tin nội dung*@
<div class="form-group">
    <h4 class="color-text-red">Thông tin báo cáo:</h4>
    <hr class='color-background-red' />
</div>
<div class="form-group row">
    <div class="col-sm-3">
        <div class="col-sm-12 form-group">
            <label for="txt_LoaiCongTrinh">Loại công trình</label>
            @Helpers.Required()
            @Html.DropDownList("iID_LoaiCongTrinhTH", (SelectList)(ViewBag.ListLoaiCongTrinh), new { @class = "form-control", @id = "iID_LoaiCongTrinhTH_DV" })
        </div>
            <div class="col-sm-6">
                <label for="txtGiaiDoanTu">Giai đoạn từ</label>
                @Helpers.Required()
                <input type="number" id="iGiaiDoanTu_DV" name="iGiaiDoanTu" class="form-control" value="@Model.iGiaiDoanTu" maxlength="50" />
            </div>
            <div class="col-sm-6">
                <label for="txtGiaiDoanDen">Giai đoạn đến</label>
                @Helpers.Required()
                <input type="number" id="iGiaiDoanDen_DV" name="iGiaiDoanDen" class="form-control" value="@Model.iGiaiDoanDen" maxlength="50" />
            </div>
            <div class="col-sm-6">
                <label for="txt_DonViTinh">Đơn vị tính</label>
                @Helpers.Required()
                @Html.DropDownList("ValueItem", (SelectList)(ViewBag.LstDonViTinh), new { @class = "form-control", @id = "ValueItem_DV" })
            </div>
    </div>
    <div class="col-sm-3 tableFixHead" id="">
        <table class="table table-bordered" id="tblListDMNguonNganSachTH">
            <thead>
            <th><input type="checkbox" name="cbAll_NguonVon" class="cbAll_NguonVon" /></th>
            <th width="90%">Nguồn vốn</th>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.lstDMNguonNganSach)
                    {
                        <tr style="cursor: pointer">
                            <td align="center"><input type="checkbox" name="cb_NguonVonModal" class="cb_NguonVonModal" value="@item.iID_MaNguonNganSach" /></td>
                            <td align="left">@item.sTen</td>
                        </tr>
                    }


}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3 tableFixHead" id="">
        @{
            <table class="table table-bordered" id="tblListDonViThucHienDuAn">
                <thead>
                <th><input type="checkbox" name="cbAll_DVQL" class="cbAll_DVQL" /></th>
                <th width="90%">Đơn vị</th>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.lstDonViQuanLy)
                        {
                            <tr style="cursor: pointer">
                                <td align="center"><input type="checkbox" name="cb_DVQL" class="cb_DVQL" value="@item.iID_MaDonVi" /></td>
                                <td align="left">@item.sTen</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>

</div>
<div class="form-group row">
    <div class="col-sm-9">
        <label for="txt_TieuDe123">Tiêu đề 1</label>
        <input type="text" required id="txt_TieuDe1_DV" name="txt_TieuDe1" class="form-control" value="KẾ HOẠCH ĐẦU TƯ TRUNG HẠN .... GIAI ĐOẠN ...." maxlength="500" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-9">
        <label for="txt_TieuDe2">Tiêu đề 2</label>
        <input type="text" required id="txt_TieuDe2_DV" name="txt_TieuDe2" class="form-control" value="@ViewBag.TitleHeader2" maxlength="500" />
    </div>
</div>
<div class="form-group row">
   <div class="col-sm-9">
        <label for="txt_TieuDe3">Tiêu đề 3</label>
        <input type="text" required id="txt_TieuDe3_DV" name="txt_TieuDe3" class="form-control" value="(Kèm theo Báo cáo số ...... ngày ... tháng ... năm ...)" maxlength="500" />
    </div>
</div>

<script>
    $(document).ready(function ($) {
        $("#iGiaiDoanTu_DV").change(function () {
            if (this.value != "") {
                $("#iGiaiDoanDen_DV").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen_DV").val("");
            }
        });

        var inputGiaiDoanTu = $('#iGiaiDoanTu_DV');
        inputGiaiDoanTu.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanTu = $("#iGiaiDoanTu_DV").val();
            if (iGiaiDoanTu != "") {
                $("#iGiaiDoanDen_DV").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen_DV").val("");
            }
        });

        var inputGiaiDoanDen = $('#iGiaiDoanDen_DV');
        inputGiaiDoanDen.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanDen = $("#iGiaiDoanDen_DV").val();
            if (iGiaiDoanDen != "") {
                $("#iGiaiDoanTu_DV").val(parseInt(this.value) - 4);
            } else {
                $("#iGiaiDoanTu_DV").val("");
            }
        });
    });

    function printBCDV() {
        console.log("txt_TieuDe1_DV", $("#txt_TieuDe123").val());
        var data = {};
        var strIdLoaiCongTrinhTH = "";
        if ($("#iID_LoaiCongTrinhTH_DV :selected").val() == GUID_EMPTY) {
            $("#iID_LoaiCongTrinhTH_DV option").each(function () {
                if (this.value != GUID_EMPTY) {
                    if (strIdLoaiCongTrinhTH == "") {
                        strIdLoaiCongTrinhTH += this.value;
                    } else {
                        strIdLoaiCongTrinhTH += "," + this.value;
                    }
                }
            });
            data.iID_LoaiCongTrinh = strIdLoaiCongTrinhTH;
        } else {
            data.iID_LoaiCongTrinh = $("#iID_LoaiCongTrinhTH_DV :selected").val();
        }
        
        data.sTenDonVi = $("#sTenDonVi_DV").text();
        data.iGiaiDoanTu = $("#iGiaiDoanTu_DV").val();
        data.iGiaiDoanDen = $("#iGiaiDoanDen_DV").val();
        data.txt_TieuDe1 = $("#txt_TieuDe1_DV").val();
        data.txt_TieuDe2 = $("#txt_TieuDe2_DV").val();
        data.txt_TieuDe3 = $("#txt_TieuDe3_DV").val();
        data.fDonViTinh = $("#ValueItem_DV").val();
        data.sDonViTinh = $("#ValueItem_DV option:selected").text();
        data.KeHoachTrungHan_DeXuat_Report
        console.log("data", data);
        var arrIdNguonVon = [];
        $("#tblListDMNguonNganSachTH input[type=checkbox]:checked").each(function () {
            var rowValue = $(this).val();
            if (rowValue != 'on') {
                arrIdNguonVon.push(rowValue);
            }
        });

        var arrIdDVQL = [];
        $("#tblListDonViThucHienDuAn input[type=checkbox]:checked").each(function () {
            var rowValue = $(this).val();
            if (rowValue != 'on') {
                arrIdDVQL.push(rowValue);
            }
        });

        if (!ValidateDataBCDV(data, arrIdNguonVon, arrIdDVQL)) {
            return false;
        }

        exportBCTheoDonVi(data, arrIdNguonVon, arrIdDVQL);
    }

    function ValidateDataBCDV(data, arrIdNguonVon, arrIdDVQL) {
        var Title = 'Lỗi in báo cáo theo đơn vị';
        var Messages = [];

        if (data.iID_LoaiCongTrinh == null || data.iID_LoaiCongTrinh == "") {
            Messages.push("Loại công trình chưa chọn !");
        }

        if (data.iGiaiDoanTu == null || data.iGiaiDoanTu == "") {
            Messages.push("Giai đoạn từ chưa nhập !");
        }

        if (data.iGiaiDoanDen == null || data.iGiaiDoanDen == "") {
            Messages.push("Giai đoạn đến chưa nhập !");
        }

        if (data.fDonViTinh == null) {
            Messages.push("Đơn vị tính chưa chọn !");
        }

        if (arrIdNguonVon.length == 0) {
            Messages.push("Nguồn vốn chưa chọn !");
        }

        if (arrIdDVQL.length == 0) {
            Messages.push("Đơn vị dự án chưa chọn !");
        }

        if (Messages != null && Messages != undefined && Messages.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Modal/OpenModal",
                data: { Title: Title, Messages: Messages, Category: ERROR },
                success: function (data) {
                    $("#divModalConfirm").html(data);
                }
            });
            return false;
        }

        return true;
    }
</script>
