@model VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong.KeHoach5NamDeXuatChiTietGridViewModel
@{
    var sheet = Model.Sheet;
}
<div class="tooltip-header-search">
    <div class="form-group">
        <div class="header-create-update">
            <span>
                @Html.Raw("Import kế hoạch trung hạn đề xuất")
            </span>
        </div>
        <div class="form-group row">
            <div class="row">
                <div class="col-sm-4">
                    <label for="txt_LoaiImport">Loại Import</label>
                    @Helpers.Required()
                    @Html.DropDownList("ValueItem", (SelectList)(ViewBag.LoaiChungTu), new { @class = "form-control", @id = "ValueItem" })
                </div>
                <div class="col-sm-4">
                    <label for="txtSoKeHoach">Số kế hoạch</label>
                    @Helpers.Required()
                    <input type="text" id="txtsSoQuyetDinh" class="form-control" value="@Model.KH5NamDeXuat.sSoQuyetDinh" maxlength="50" autocomplete="off" />
                </div>
                <div class="col-sm-4" id="dvVoucher">
                    <label for="txt_ChungTu">Chứng từ</label>
                    @Helpers.Required()
                    @Html.DropDownList("iID_KeHoach5Nam_DeXuatID", (SelectList)(ViewBag.ListChungTu), new { @class = "form-control", @id = "iID_KeHoach5Nam_DeXuatIDDx" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="hidden" id="txt_ID_KH5NamDeXuat" value="@Model.KH5NamDeXuat.iID_KeHoach5Nam_DeXuatID">
                    <label for="txt_DonViQuanLy">Đơn vị</label>
                    @Helpers.Required()
                    @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                </div>
                <div class="col-sm-3">
                    <label for="txtGiaiDoanTu">Giai đoạn từ</label>
                    @Helpers.Required()
                    <input type="number" id="iGiaiDoanTu" name="iGiaiDoanTu" class="form-control" value="@Model.KH5NamDeXuat.iGiaiDoanTu" maxlength="50" />
                </div>
                <div class="col-sm-3">
                    <label for="txtGiaiDoanDen">Giai đoạn đến</label>
                    @Helpers.Required()
                    <input type="number" id="iGiaiDoanDen" name="iGiaiDoanDen" class="form-control" value="@Model.KH5NamDeXuat.iGiaiDoanDen" maxlength="50" />
                </div>
                <div class="col-sm-3" id="dvLct">
                    <label for="txt_ChungTu">Loại công trình</label>
                    @Helpers.Required()
                    @Html.DropDownList("ValueItem", (SelectList)(ViewBag.LoaiCongTrinh), new { @class = "form-control", @id = "ValueItemCt" })
                </div>
            </div>
           
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="txt_DonViQuanLy">Chọn file excel</label>
                @Helpers.Required()
                <input type="file" id="FileUpload" name="FileUpload" />
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary pull-left" style="margin-right:10px;margin-top: 28px;width:115px !important;" onclick="loadDataExcel();"><i class="fa fa-database" aria-hidden="true"></i>Lấy dữ liệu</button>
                <button class="btn btn-info pull-left" style="margin-top: 28px;width:115px !important;" onclick="refreshImport();"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
            </div>
            <button class="btn btn-info pull-left" style="margin-right: 10px; margin-top: 28px; width: 150px !important;" onclick="downloadImpExp();"><i class="fa fa-database" aria-hidden="true"></i>Tải file import mẫu</button>
        </div>
    </div>
    <div class="col-sm-6" style="display:flex;padding-left:0px;">
        <label class="control-label">Kế hoạch trung hạn đề xuất chi tiết</label>
    </div>
    <div class="col-sm-6">
        <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Lưu</p>
        <label class="control-label pull-right" style="padding-left:20px;">F10: </label>
    </div>
</div>
<iframe id="sheetImport" name="iframe-sheet" class="iframe-sheet"></iframe>
<div class="">
    <div id="nhapform">
        <div id="form2">
            <div class="button-bar">
                <div class="text-center">
                    <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary btn-save" id="btnSave"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="hr-split" />
<div id="ajax-div">
</div>
@* Modal confirm *@
<div id="divModalConfirm">

</div>
@using (Html.BeginScripts())
{
<script type="text/javascript">
    $(document).ready(function () {
            var value = $("#ValueItem").val();
            if (value == "1") {
                document.getElementById('iID_DonViQuanLyID').removeAttribute("disabled");
                document.getElementById('iGiaiDoanTu').removeAttribute("disabled");
                document.getElementById('iGiaiDoanDen').removeAttribute("disabled");
                document.getElementById('ValueItemCt').removeAttribute("disabled");
                document.getElementById('iID_KeHoach5Nam_DeXuatIDDx').setAttribute("disabled", "disabled");
                document.getElementById('dvVoucher').style.visibility = 'collapse';
            }
            else {
                document.getElementById('iID_DonViQuanLyID').setAttribute("disabled", "disabled");
                document.getElementById('iGiaiDoanTu').setAttribute("disabled", "disabled");
                document.getElementById('iGiaiDoanDen').setAttribute("disabled", "disabled");
                document.getElementById('ValueItemCt').setAttribute("disabled", "disabled");
                document.getElementById('iID_KeHoach5Nam_DeXuatIDDx').removeAttribute("disabled");
                document.getElementById('dvVoucher').style.visibility = 'visible';
            }
        });

        $("#ValueItem").change(function () {
            var value = $("#ValueItem").val();
            if (value == "1") {
                document.getElementById('iID_DonViQuanLyID').removeAttribute("disabled");
                document.getElementById('iGiaiDoanTu').removeAttribute("disabled");
                document.getElementById('iGiaiDoanDen').removeAttribute("disabled");
                document.getElementById('ValueItemCt').removeAttribute("disabled");
                document.getElementById('iID_KeHoach5Nam_DeXuatIDDx').setAttribute("disabled", "disabled");
                document.getElementById('dvVoucher').style.visibility = 'collapse';
            }
            else {
                document.getElementById('iID_DonViQuanLyID').setAttribute("disabled", "disabled");
                $("#iID_DonViQuanLyID").html("<option value=''></option>");
                document.getElementById('iGiaiDoanTu').setAttribute("disabled", "disabled");
                document.getElementById('iGiaiDoanTu').setAttribute("value", "");
                document.getElementById('iGiaiDoanDen').setAttribute("disabled", "disabled");
                document.getElementById('iGiaiDoanDen').setAttribute("value", "");
                document.getElementById('ValueItemCt').setAttribute("disabled", "disabled");
                $("#ValueItemCt").html("<option value=''></option>");
                document.getElementById('iID_KeHoach5Nam_DeXuatIDDx').removeAttribute("disabled");
                document.getElementById('dvVoucher').style.visibility = 'visible';

                //duonglt thay đổi import điều chỉnh theo chứng từ được chọn
                $("#iID_KeHoach5Nam_DeXuatIDDx").change(function () {
                    if (this.value != "" && this.value != GUID_EMPTY) {
                        LayGiaTriThayDoiTheoChungTuDuocChon(this.value);
                    }
                });
            }
        });


        $(".btn-save").click(function () {
            //$("#sheetImport")[0].contentWindow.Bang_HamTruocKhiKetThuc();
            $("#sheetImport")[0].contentWindow.KH5NamDX_Import_BangDuLieu_Save();
        });

        loadFrame();

        function goBack() {
            window.location.href = "/QLVonDauTu/KeHoachTrungHanDeXuat/Index/";
        }

        function loadFrame(option) {
            var iGiaiDoanTu = $("#iGiaiDoanTu").val();
            var url = '@Url.Action("SheetFrameImport")'
                + "/?id=" + iGiaiDoanTu;
            console.log(url);
            $("#sheetImport").attr("src", url);
        }

        function loadModal(data) {
            $("#divModalConfirm").html(data);
        }

        function refreshImport() {
            $("#txtsSoQuyetDinh").val("");
            $("#FileUpload").val("");
            $("#iGiaiDoanTu").val('@Model.KH5NamDeXuat.iGiaiDoanTu');
            $("#iGiaiDoanDen").val('@Model.KH5NamDeXuat.iGiaiDoanDen');
            loadFrame();
        }

        function getInfoKH5NDX(data) {
            data.iID_KeHoach5Nam_DeXuatID = $("#txt_ID_KH5NamDeXuat").val();
            data.iID_DonViQuanLyID = $("#iID_DonViQuanLyID").val();
            data.sSoQuyetDinh = $("#txtsSoQuyetDinh").val();
            data.iGiaiDoanTu = $("#iGiaiDoanTu").val();
            data.iGiaiDoanDen = $("#iGiaiDoanDen").val();
            if ($("#ValueItem").val() == "2") {
                data.bIsGoc = "false";
            }
            else {
                data.bIsGoc = "true";
            }
            data.iLoai = $("#ValueItemCt").val();
            data.iID_ParentId = $("#iID_KeHoach5Nam_DeXuatIDDx").val();
        }

</script>
}
