@model VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong.KeHoach5NamDeXuatChiTietGridViewModel
@{
    var sheet = Model.Sheet;

}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        @*<label class="control-label">Danh mục nội dung chi @PhienLamViec.iNamLamViec</label>*@
        <label class="control-label">Kế hoạch trung hạn đề xuất chi tiết</label>
        <label class="control-label" style="padding-left:5em; color:#e17009;">Số kế hoạch: </label> &nbsp;&nbsp; <p style="margin-top: 10px; font-size:14px" id="">@Model.KH5NamDeXuat.sSoQuyetDinh</p>
        <label class="control-label" style="padding-left:20px; color:#e17009;">Ngày lập: </label> &nbsp;&nbsp; <p style="margin-top: 10px; font-size:14px" id="">
            @Html.Raw(Model.KH5NamDeXuat.dNgayQuyetDinh.HasValue ? Model.KH5NamDeXuat.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)
        </p>
        <label class="control-label" style="padding-left:20px; color:#e17009;">Giai đoạn: </label> &nbsp;&nbsp; <p style="margin-top: 10px; font-size:14px" id="">
            @Model.KH5NamDeXuat.iGiaiDoanTu - @Model.KH5NamDeXuat.iGiaiDoanDen
        </p>
    </div>
    @*@if (!Model.isTongHop)*@
    @if (Model.KH5NamDeXuat.sTongHop == null && Model.KH5NamDeXuat.iID_TongHopParent == null)
    {
        <div class="col-sm-4">
            <div class="row">
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Thêm chi tiết DA</p>
                <label class="control-label pull-right" style="padding-left:20px;">F3: </label>
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Thêm dự án</p>
                <label class="control-label pull-right" style="padding-left:20px;">F2: </label>
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Thêm nhóm DA</p>
                <label class="control-label pull-right">F1: </label>
            </div>
            <div class="row">
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa tìm kiếm</p>
                <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Tìm kiếm</p>
                <label class="control-label pull-right" style="padding-left:20px;">Ent: </label>
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Lưu</p>
                <label class="control-label pull-right" style="padding-left:20px;">F10: </label>
                <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa</p>
                <label class="control-label pull-right" style="padding-left:20px;">Delete: </label>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            @*<p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">Ent: </label>*@
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">Ent: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Lưu</p>
            <label class="control-label pull-right" style="padding-left:20px;">F10: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="fSoTienNhanTuBTC">&nbsp;&nbsp;Xóa</p>
            <label class="control-label pull-right" style="padding-left:20px;">Delete: </label>
        </div>
    }

</div>
<iframe id="sheet" name="iframe-sheet" class="iframe-sheet"></iframe>
<div class="">
    <div id="nhapform">
        <div id="form2">
            <div class="button-bar">
                <div class="text-center">

                    @*@if (!Model.isTongHop)
                    {
                        <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        <button class="btn btn-primary btn-save" id="btnSave"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                    }
                    else

                    {
                        <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
                    }*@

                    <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                     <button class="btn btn-primary btn-save" id="btnSave"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="hr-split" />
<div id="ajax-div">
</div>
@* Modal confirm *@
<div id="divModalConfirm">

</div>
@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(".btn-save").click(function () {
            //$("#sheet")[0].contentWindow.Bang_HamTruocKhiKetThuc();
            $("#sheet")[0].contentWindow.KH5NamDX_ChiTiet_BangDuLieu_Save();
            //alert("lưu dữ liệu thành công !");
/*            window.location.href = "/QLVonDauTu/KeHoachTrungHanDeXuat/Index/";*/
        });

        loadFrame();

        function goBack() {
            window.location.href = "/QLVonDauTu/KeHoachTrungHanDeXuat/Index/";
        }

        function loadFrame(option) {
            var url = '@Url.Action("SheetFrame")'
                + "/?id=" + '@Model.KH5NamDeXuat.iID_KeHoach5Nam_DeXuatID&isTongHop=@Model.isTongHop';
            console.log(url);
            $("#sheet").attr("src", url);
        }

        function loadModal(data) {
            $("#divModalConfirm").html(data);
        }
    </script>
}
