@using Viettel.Models.QLVonDauTu
@model KH5NDXPrintDataExportModel
@{
    ViewBag.Title = "In báo cáo";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="header-create-update">
                    <span>
                        @Html.Raw(ViewBag.TitleDx)
                    </span>
                    <input type="hidden" id="txtRptModified" value="@ViewBag.isModified"/>
                    <input type="hidden" id="txtRptCt" value="@ViewBag.isCt"/>
                </div>
                <ul class="nav nav-tabs" style="margin-top: 10px;">
                    <li class="active"><a data-toggle="tab" href="#bcTongHop">Báo cáo tổng hợp</a></li>
                    <li><a data-toggle="tab" href="#bcTheoDonVi">Báo cáo theo đơn vị</a></li>
                </ul>
            </div>

            <div class="card-body tab-content" style="padding-top: 0px !important;">
                <div id="bcTongHop" class="tab-pane fade in active">
                    @Html.Partial("_partialPrintBCTH", Model)
                </div>
                <div id="bcTheoDonVi" class="tab-pane fade in ">
                    @Html.Partial("_partialPrintBCDV", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-back" onclick="backViewKH5NDX()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
        <button class="btn btn-warning" onclick="printBaoCao();"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span>In báo cáo</span></button>
    </div>
</div>
@* Modal confirm *@
<div id="divModalConfirm">

</div>
@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsBaoCao_KH5NDX.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>

    <script>
        function printBaoCao() {
            var className = $('#bcTheoDonVi').attr('class');
            var arrClass = className.split(" ");
            var active = (arrClass.indexOf("active") > -1);
            console.log(active);
            if (active) {
                printBCDV();
            } else {
                printBCTH();
            }
        }
    </script>
}


