@using Viettel.Models.QLNguonNganSach
@using Viettel.Domain.DomainModel
@model NNSGiaoDuToanViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách giao dự toán cho đơn vị (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalGiaoDuToan"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <div class="form-group text-right">
        @using (Html.BeginForm("ExportData", "QLGiaoDuToanChoDV", FormMethod.Post))
        {
            <input type="text" name="sSoChungTu" value="" class="form-control" id="txt_sSoChungTuExcel" style="display:none" />
            <input type="text" name="sNoiDung" value="" class="form-control" id="txt_sNoiDungExcel" style="display:none" />
            <input type="text" name="sMaLoaiDuToan" value="" class="form-control" id="txt_sMaLoaiDuToanExcel" style="display:none" />
            <input type="text" name="sSoQuyetDinh" value="" class="form-control" id="txt_sSoQuyetDinhExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhTu" value="" class="form-control" id="txt_dNgayQuyetDinhTuExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhDen" value="" class="form-control" id="txt_dNgayQuyetDinhDenExcel" style="display:none" />
            <input type="text" name="sSoCongVan" value="" class="form-control" id="txt_sSoCongVanExcel" style="display:none" />
            <input type="text" name="dNgayCongVanTu" value="" class="form-control" id="txt_dNgayCongVanTuExcel" style="display:none" />
            <input type="text" name="dNgayCongVanDen" value="" class="form-control" id="txt_dNgayCongVanDenExcel" style="display:none" />
            <input type="text" name="sLoaiTep" value="EXCEL" class="form-control" style="display:none" />
            <button class="btn btn-primary" style="margin-right:10px;width:auto !important" onclick="Export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
            @*<button class="btn btn-info pull-right" style="margin-right:10px;width:auto !important" title="Xuất dữ liệu ra excel" type="submit" onclick="Export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>*@
        }
        @*@using (Html.BeginForm("ExportData", "QLGiaoDuToanChoDV", FormMethod.Post))
        {
            <input type="text" name="sSoChungTu" class="form-control clearable" id="txt_sSoChungTuExcel" style="display:none" />
            <input type="text" name="sNoiDung" class="form-control clearable" id="txt_sNoiDungExcel" style="display:none" />
            <input type="text" name="sMaLoaiDuToan" class="form-control clearable" id="txt_sMaLoaiDuToanExcel" style="display:none" />
            <input type="text" name="sSoQuyetDinh" class="form-control clearable" id="txt_sSoQuyetDinhExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhTu" class="form-control clearable" id="txt_dNgayQuyetDinhTuExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhDen" class="form-control clearable" id="txt_dNgayQuyetDinhDenExcel" style="display:none" />
            <input type="text" name="sSoCongVan" class="form-control clearable" id="txt_sSoCongVanExcel" style="display:none" />
            <input type="text" name="dNgayCongVanTu" class="form-control clearable" id="txt_dNgayCongVanTuExcel" style="display:none" />
            <input type="text" name="dNgayCongVanDen" class="form-control clearable" id="txt_dNgayCongVanDenExcel" style="display:none" />
            <input type="text" name="sLoaiTep" value="PDF" class="form-control clearable" style="display:none" />
            <button class="btn btn-info pull-right" style="margin-right:10px;width:auto !important" title="Xuất dữ liệu ra pdf" type="submit" onclick="Export()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        }*@
    </div>
</div>
<table class="table table-bordered" id="tblListNNSDuToan">
    <thead class="header-search">
    <th width="4%"></th>
    <th width="12%">@Html.DropDownList("cboLoaiDuToan", (SelectList)(ViewBag.ListLoaiDuToan), new { @class = "form-control", @id = "txtLoaiDuToan" })</th>
    <th width="7%"><input type="text" class="form-control clearable" id="txtSoChungTu" /></th>
    <th width="7%"><input type="text" class="form-control clearable" id="txt_SoQuyetDinh" /></th>
    <th width="15%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhFrom" autocomplete="off" class="form-control clearable" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhTo" autocomplete="off" class="form-control clearable" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="7%"><input type="text" class="form-control clearable" id="txt_SoCongvan" /></th>
    <th width="15%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="dNgayCongVanFrom" autocomplete="off" class="form-control clearable" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="dNgayCongVanTo" autocomplete="off" class="form-control clearable" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="18%"><input type="text" class="form-control clearable" id="txtNoiDung" /></th>
    <th width="8%"></th>
    <th width="7%"><button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="4%">STT</th>
    <th width="12%">Loại dự toán</th>
    <th width="7%">Số chứng từ</th>
    <th width="7%">Số quyết định</th>
    <th width="15%">Ngày quyết định</th>
    <th width="7%">Số công văn</th>
    <th width="15%">Ngày công văn</th>
    <th width="18%">Nội dung</th>
    <th width="8%">Số tiền</th>
    <th width="7%"></th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (NNS_DuToan item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@(pageIndex + index)</td>

                    <td align="left" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.sTenLoaiDuToan</td>

                    <td align="left" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.sSoChungTu</td>

                    <td align="left" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.sSoQuyetDinh</td>

                    <td align="center" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="left" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.sSoCongVan</td>

                    <td align="center" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@(item.dNgayCongVan.HasValue ? item.dNgayCongVan.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="left" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.sNoiDung</td>

                    <td align="right" class="sotien" onclick="UpdateChiTietDuToan('@item.iID_DuToan')">@item.rTongSoTien</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.iID_DuToan')" data-toggle="modal" data-target="#modalGiaoDuToan"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_DuToan')" data-toggle="modal" data-target="#modalGiaoDuToan"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_DuToan')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        formatMoney();
    });

</script>

