@using Viettel.Domain.DomainModel
@model NNS_DuToan

<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="hidden" id="txtIdDuToan" value="@Model.iID_DuToan">
                <label for="txtLoaiDuToanModal">Loại dự toán <span class="require">*</span></label>
                @Html.DropDownList("cboLoaiDuToanModal", new SelectList(ViewBag.ListLoaiDuToan, "Value", "Text", Model.sMaLoaiDuToan), new { @class = "form-control", @id = "txtLoaiDuToanModal" })
            </div>
            <div class="col-sm-6">
                <label for="txtNoiDungModal">Nội dung <span class="require">*</span></label>
                <textarea required id="txtNoiDungModal" class="form-control" maxlength="250" autocomplete="off">@Model.sNoiDung</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtSoChungTuModal">Số chứng từ</label>
                <input type="text" readonly id="txtSoChungTuModal" class="form-control" value="@Model.sSoChungTu" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtNgayChungTuModal">Ngày chứng từ</label>
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.dNgayChungTu.HasValue ? Model.dNgayChungTu.Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayChungTuModal" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtSoQuyetDinhModal">Số quyết định</label>
                <input type="text" required id="txtSoQuyetDinhModal" class="form-control" value="@Model.sSoQuyetDinh" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtNgayQuyetDinhModal">Ngày quyết định</label>
                <div class='input-group date'>
                    <input type='text' required class="form-control" value="@(Model.dNgayQuyetDinh.HasValue ? Model.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayQuyetDinhModal" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtSoCongVanModal">Số công văn <span class="require">*</span></label>
                <input type="text" required id="txtSoCongVanModal" class="form-control" value="@Model.sSoCongVan" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtNgayCongVanModal">Ngày công văn <span class="require">*</span></label>
                <div class='input-group date'>
                    <input type='text' required class="form-control" value="@(Model.dNgayCongVan.HasValue ? Model.dNgayCongVan.Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayCongVanModal" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-sm-6" id="formIdChungTuModal">
                <label for="txtChungTuModal">Đợt nhận</label>
                <select class="form-control" style="width: 100%" id="txtChungTuModal" name="chungTu">
                </select>
            </div>
            <div class="col-sm-6" id="formIdChungTuDotGomModal" hidden>
                <label for="txtChungTuDotGomModal">Chứng từ đợt gom</label>
                <select class="form-control" style="width: 100%" id="txtChungTuDotGomModal" name="chungTuDotGom[]" multiple="multiple">
                </select>
            </div>
        </div>*@
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="Save()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>
