@model VIETTEL.Areas.QLNguonNganSach.Models.NNSDuToanChiTietViewModel
@{
    var sheet = Model.Sheet;
}

<div class="tooltip-header-search">
    <div class="row">
        <div class="col-sm-12">
            <label class="control-label" style="color: #000000">Danh sách giao dự toán cho đơn vị</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5" style="display: flex">
            <label class="control-label" style="color:#e17009;">Tổng giao dự toán cho đơn vị: </label> &nbsp;&nbsp; <p style="margin-top: 10px; font-size:14px" id="fTongGiaoDuToan"></p>
        </div>
        <div class="col-sm-7">
            <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Xóa tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Tìm kiếm</p>
            <label class="control-label pull-right" style="padding-left:20px;">Enter: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="">&nbsp;&nbsp;Xóa</p>
            <label class="control-label pull-right" style="padding-left:20px;">Del: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="">&nbsp;&nbsp;Lưu</p>
            <label class="control-label pull-right" style="padding-left:20px;">F10: </label>
            <p class="pull-right" style="margin-top: 10px; font-size:14px" id="">&nbsp;&nbsp;Thêm dòng</p>
            <label class="control-label pull-right" style="padding-left:20px;">F2: </label>
            @{
                if (Model.Id_NhiemVu == null || Model.Id_NhiemVu == "")
                {
                    <button class="btn btn-primary" style="width:120px !important;float:right;margin-right:10px" id="btn-saoChepDuLieu" onclick="loadDuLieu('@Model.Id_DuToan')" title="Sao chép dự toán"><i class="fa fa-copy" aria-hidden="true"></i> <span>Sao chép</span></button>
                }
            }
        </div>
    </div>

</div>

<iframe id="sheet" name="iframe-sheet" class="iframe-sheet"></iframe>
<div class="">
    <div id="nhapform">
        <div id="form2">
            <div class="button-bar">
                <div class="text-center">
                    <button class="btn btn-default" onclick="goBack()"><i class="fa fa-ban" aria-hidden="true"></i><span>Quay lại</span></button>
                    <button class="btn btn-primary btn-save" id="btnSave"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="hr-split" />
<div id="ajax-div">
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(".btn-save").click(function () {
            //$("#sheet")[0].contentWindow.Bang_HamTruocKhiKetThuc();
            $("#sheet")[0].contentWindow.ChiTietDuToan_BangDuLieu_Save();
        });

        loadFrame(false);

    function goBack() {
        if ('@Model.Id_NhiemVu' != null && '@Model.Id_NhiemVu' != "" && '@Model.Id_NhiemVu' != undefined) {
            window.location.href = "/QLNguonNganSach/NNSDuToanNhiemVu?id=" + '@Model.Id_DuToan';
        } else {
            window.location.href = "/QLNguonNganSach/QLGiaoDuToanChoDV/Index";
        }
    }

    function loadFrame(isSaoChep = false) {
        var url = '@Url.Action("SheetFrame")'
            + "/?id=" + '@Model.Id_DuToan' + "_" + '@Model.Id_MaChungTu' + "_" + '@Model.Id_NhiemVu' + "_" + (isSaoChep == false ? 0 : 1) + "&isSaoChep=" + isSaoChep;
        $("#sheet").attr("src", url);
    }

    function loadDuLieu(id) {
        $("#btnShowConfirmSaoChep").click();
    }

    function loadModal(data) {
        $("#divModalConfirm").html(data);
    }
    </script>
}
