@using Viettel.Models.QLNguonNganSach
@model NNSGiaoDuToanViewModel
@{
    ViewBag.Title = "Quản lý giao dự toán cho đơn vị";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
@section Scripts{
    <script src="~/Scripts/QLNguonNganSach/QLGiaoDuToan/jsQLGiaoDuToanChoDV.js"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("NNSGiaoDuToanListView", "QLGiaoDuToanChoDV")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>

}

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="card-search">
                <div class="form-group header-card">
                    <label class="label-title-card">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="txtSoChungTu">Số chứng từ</label>
                            <input type="text" class="form-control clearable" id="txtSoChungTu" />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtNoiDung">Nội dung</label>
                            <input type="text" class="form-control clearable" id="txtNoiDung" />
                        </div>
                        <div class="col-sm-4">
                            <label for="txtLoaiDuToan">Loại dự toán</label>
                            @Html.DropDownList("cboLoaiDuToan", (SelectList)(ViewBag.ListLoaiDuToan), "--Tất cả--", new { @class = "form-control", @id = "txtLoaiDuToan" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

@* modal thêm mới *@

<!-- Modal -->
<div class="modal fade" id="modalGiaoDuToan" tabindex="-1" role="dialog" aria-labelledby="modalGiaoDuToanLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-left" id="modalGiaoDuToanLabel"></h3>
            </div>
            <div id="contentModalGiaoDuToan">

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>