@using VIETTEL.Areas.QLNguonNganSach.Models
@model QLPhanNguonNDChiPagingModel
<div class="tooltip-header-search">
    <label class="control-label">Phần nguồn BTC theo nội dung chi BQP (@Model._paging.TotalItems)</label>
    <input type="text" hidden value="@Model.iIdPhanNguon" id="iIdPhanNguon" />
    <label class="control-label pull-right">Phân nguồn năm @PhienLamViec.iNamLamViec</label>
</div>
<table class="table table-bordered table-striped" id="tblListNguonBTCCap">
    <thead>
    <th width="5%">STT</th>
    <th width="10%">Mã CTMT</th>
    <th width="10%">Loại</th>
    <th width="10%">Khoản</th>
    <th width="25%">Nội dung</th>
    <th width="10%">Số tiền BTC cấp</th>
    <th width="10%">Số tiền BTC đã phân</th>
    <th width="10%">Số tiền đã chi</th>
    <th width="10%">Còn lại</th>
    </thead>
    <tbody>
        @{
            int index = Model._paging.ItemForm;
            foreach (var item in Model.lstData)
            {
                if (item.alevel == 0)
                {
                    <tr style="cursor: pointer;" onclick="BtnViewPhanNguonBTCTheoNDChiClick('@item.iID_Nguon', '@item.iIdPhanNguon', '@item.rSoTienBTCCap', '@item.rSoTienConLai', '@item.sNoiDung')">
                        <td align="center">@index</td>

                        <td align="center">@item.sMaCTMT</td>

                        <td align="center">@item.sLoai</td>

                        <td align="center">@item.sKhoan</td>

                        <td align="left">@item.sNoiDung</td>

                        <td align="right">
                            <span class="rSoTienBTCCap">@item.rSoTienBTCCap</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienBTCDaPhan">@item.rSoTienBTCDaPhan</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienDaChi">@item.rSoTienDaChi</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienConLai">@item.rSoTienConLai</span>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td align="center">@index</td>

                        <td align="center">@item.sMaCTMT</td>

                        <td align="center">@item.sLoai</td>

                        <td align="center">@item.sKhoan</td>

                        <td align="left">@item.sNoiDung</td>

                        <td align="right">
                            <span class="rSoTienBTCCap">@item.rSoTienBTCCap</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienBTCDaPhan">@item.rSoTienBTCDaPhan</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienDaChi">@item.rSoTienDaChi</span>
                        </td>

                        <td align="right">
                            <span class="rSoTienConLai">@item.rSoTienConLai</span>
                        </td>
                    </tr>
                }
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)
<div class="form-group text-center">
    <button class="btn btn-back" onclick="CancelSaveData()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("tr").hover(function () {
        $(this).css("background-color", "#e7f8fe");
            }, function () {
            $(this).css("background-color", "");
        });

        formatMoneyOfBTCCap();
    });

</script>
