@using Viettel.Domain.DomainModel
@model NNS_PhanNguon
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                @if (Model.iID_PhanNguon == new Guid())
                {
                    @Html.Raw("Thêm mới phân nguồn BTC theo nội dung chi BQP")
                }
                else
                {
                    @Html.Raw("Cập nhật thông tin " + @Model.sSoChungTu)
                }

                <hr>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="hidden" id="txt_ID_PhanNguon" value="@Model.iID_PhanNguon">
                    <label for="txt_NoiDung">Nội dung <span class="require">*</span></label>
                    <textarea id="txt_NoiDung" required class="form-control" maxlength="250">@Html.Raw(Model.sNoiDung)</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="txt_SoChungTu">Số chứng từ <span class="require">*</span></label>
                    <input type="text" required readonly id="txt_SoChungTu" class="form-control" value="@Model.sSoChungTu" maxlength="50" />
                </div>
                <div class="col-sm-6">
                    <label for="txt_NgayChungTu">Ngày chứng từ <span class="require">*</span></label>
                    <div class="input-group date">
                        <input type="text" required id="d_NgayChungTu" class="form-control" placeholder="dd/MM/yyyy" value="@(Model.dNgayChungTu.HasValue ? Model.dNgayChungTu.Value.ToString("dd/MM/yyyy") : "")" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="txt_SoQuyetDinh">Số quyết định</label>
                    <input type="text" required id="txt_SoQuyetDinh" class="form-control" value="@Model.sSoQuyetDinh" maxlength="50" />
                </div>
                <div class="col-sm-6">
                    <label for="txt_NgayQuyetDinh">Ngày quyết định</label>
                    <div class="input-group date">
                        <input type="text" required id="d_NgayQuyetDinh" class="form-control" placeholder="dd/MM/yyyy" value="@(Model.dNgayQuyetDinh.HasValue ? Model.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : "")" />
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                <button class="btn btn-primary" onclick="SaveData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/NguonNS/jsNguonNS_PhanNguon.js"></script>
}