@using VIETTEL.Areas.QLNguonNganSach.Models
@model QLPhanNguonNDChiPagingModel
@{
    ViewBag.Title = "Danh mục nguồn BTC cấp";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-body" id="lstDataView">
            @Html.Partial("_partialListDMNguonBTCCap", Model)
        </div>
    </div>
</div>


@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/NguonNS/jsNguonNS_PhanNguon_NDChi.js"></script>
}
<script type="text/javascript">
    var _paging = {};
    var sUrlListView = "";
    $(document).ready(function () {
        sUrlListView = '@Url.Action("TimKiemDMNguonBTCCap", "QLPhanNguonBTCTheoNDChiBQP")';
        _paging.CurrentPage = @Model._paging.CurrentPage ;
        _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
    });
</script>
