@using Viettel.Domain.DomainModel
@model VDT_KHV_KeHoach5Nam

<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="hidden" id="txt_DieuChinh">
                <input type="hidden" id="txt_ID_KH5NamDuocDuyet" value="@Model.iID_KeHoach5NamID">
                <label for="txt_DonViQuanLy">Đơn vị</label>
                @Helpers.Required()
                @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
            </div>
            <div class="col-sm-6">
                <label for="txt_DonViQuanLy">Loại dự án</label>
                @Helpers.Required()
                @Html.DropDownList("iLoai", (SelectList)(ViewBag.ListVoucherTypes), new { @class = "form-control", @id = "iLoai" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtSoKeHoach">Số kế hoạch</label>
                @Helpers.Required()
                <input type="text" id="txtsSoQuyetDinh" class="form-control" value="@Model.sSoQuyetDinh" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtNgayLap">Ngày lập</label>
                @Helpers.Required()
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.dNgayQuyetDinh.HasValue ? Model.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)" id="dNgayQuyetDinh" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtGiaiDoanTu">Giai đoạn từ</label>
                @Helpers.Required()
            <input type="number" id="iGiaiDoanTu" name="iGiaiDoanTu" class="form-control" value="@Model.iGiaiDoanTu" maxlength="50" />
            </div>
            <div class="col-sm-6">
                <label for="txtGiaiDoanDen">Giai đoạn đến</label>
                @Helpers.Required()
            <input type="number" id="iGiaiDoanDen" name="iGiaiDoanDen" class="form-control" value="@Model.iGiaiDoanDen" maxlength="50" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label for="txt_MoTaChiTiet">Mô tả chi tiết</label>
                <textarea id="MoTaChiTiet" name="MoTaChiTiet" class="form-control">@Html.Raw(Model.sMoTaChiTiet)</textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="Save()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        var inputGiaiDoanTu = $('#iGiaiDoanTu');
        inputGiaiDoanTu.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanTu = $("#iGiaiDoanTu").val();
            if (iGiaiDoanTu != "") {
                $("#iGiaiDoanDen").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen").val("");
            }
        });

        var inputGiaiDoanDen = $('#iGiaiDoanDen');
        inputGiaiDoanDen.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanDen = $("#iGiaiDoanDen").val();
            if (iGiaiDoanDen != "") {
                $("#iGiaiDoanTu").val(parseInt(this.value) - 4);
            } else {
                $("#iGiaiDoanTu").val("");
            }
        });

        if ($("#txt_ID_KH5NamDuocDuyet").val() != GUID_EMPTY && $("#txt_ID_KH5NamDuocDuyet").val() != '') {
            document.getElementById('iID_DonViQuanLyID').setAttribute("disabled", "disabled");
            document.getElementById('iGiaiDoanTu').setAttribute("disabled", "disabled");
            document.getElementById('iGiaiDoanDen').setAttribute("disabled", "disabled");
            document.getElementById('iLoai').setAttribute("disabled", "disabled");
        }
        else {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var MM = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = dd + '/' + MM + '/' + yyyy;
            $("#dNgayQuyetDinh").val(today);

            document.getElementById('iID_DonViQuanLyID').removeAttribute("disabled");
            document.getElementById('iGiaiDoanTu').removeAttribute("disabled");
            document.getElementById('iGiaiDoanDen').removeAttribute("disabled");
            document.getElementById('iLoai').removeAttribute("disabled");
        }
    });
</script>