@using Viettel.Models.QLVonDauTu
@model KH5NDDPrintDataExportModel
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
</style>

@*Thông tin nội dung*@
<div class="form-group">
    <h4 class="color-text-red">Thông tin báo cáo:</h4>
    <hr class='color-background-red' />
</div>

<div class="form-group row">
    <div class="col-sm-4">
        <div class="col-sm-12 form-group">
            <label for="txt_LoaiCongTrinh">Chọn nguồn vốn</label>
            @Helpers.Required()
            @Html.DropDownList("iID_MaNguonNganSach", (SelectList)(ViewBag.ListNguonNganSach), new { @class = "form-control", @id = "iID_MaNguonNganSach_DV" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_LoaiCongTrinh">Loại công trình</label>
            @Helpers.Required()
            @Html.DropDownList("iID_LoaiCongTrinh", (SelectList)(ViewBag.ListLoaiCongTrinh), new { @class = "form-control", @id = "iID_LoaiCongTrinh_DV" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_DonViTinh">Đơn vị tính</label>
            @Helpers.Required()
            @Html.DropDownList("ValueItem", (SelectList)(ViewBag.LstDonViTinh), new { @class = "form-control", @id = "ValueItem_DV" })
        </div>
        <div class="col-sm-6">
            <label for="txtGiaiDoanTu">Giai đoạn từ</label>
            @Helpers.Required()
            <input type="number" id="iGiaiDoanTu" name="iGiaiDoanTu" class="form-control" value="@Model.iGiaiDoanTu" maxlength="50" />
        </div>
        <div class="col-sm-6">
            <label for="txtGiaiDoanDen">Giai đoạn đến</label>
            @Helpers.Required()
            <input type="number" id="iGiaiDoanDen" name="iGiaiDoanDen" class="form-control" value="@Model.iGiaiDoanDen" maxlength="50" />
        </div>
    </div>
    <div class="col-sm-4">
        <table class="table table-bordered" id="tblListDonViThucHienDuAnDd">
            <thead>
            <th><input type="checkbox" name="cbAll_DVTHDA" class="cbAll_DVTHDA" /></th>
            <th width="90%">Đơn vị thực hiện dự án</th>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.lstDonViThucHienDuAn)
                    {
                        <tr style="cursor: pointer">
                            <td align="center"><input type="checkbox" name="cb_DVTHDA" class="cb_DVTHDA" value="@item.iID_MaDonVi" /></td>
                            <td align="left">@item.sTenDonVi</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe1">Tiêu đề 1</label>
            <input type="text" required id="txt_TieuDe1_DV" name="txt_TieuDe1" class="form-control" value="KẾ HOẠCH ĐẦU TƯ TRUNG HẠN .... GIAI ĐOẠN ...." maxlength="500" />
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe2">Tiêu đề 2</label>
            <input type="text" required id="txt_TieuDe2_DV" name="txt_TieuDe2" class="form-control" value="@ViewBag.TieuDe2" maxlength="500" />
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe3">Tiêu đề 3</label>
            <input type="text" required id="txt_TieuDe3_DV" name="txt_TieuDe3" class="form-control" value="(Kèm theo Báo cáo số ...... ngày ... tháng ... năm ...)" maxlength="500" />
        </div>
    </div>
</div>

<script>
    var GUID_EMPTY = '00000000-0000-0000-0000-000000000000';
    $(document).ready(function ($) {
        $("#iGiaiDoanTu").change(function () {
            if (this.value != "") {
                $("#iGiaiDoanDen").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen").val("");
            }
        });

        var inputGiaiDoanTu = $('#iGiaiDoanTu');
        inputGiaiDoanTu.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanTu = $("#iGiaiDoanTu").val();
            if (iGiaiDoanTu != "") {
                $("#iGiaiDoanDen").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen").val("");
            }
        });

        var inputGiaiDoanDen = $('#iGiaiDoanDen');
        inputGiaiDoanDen.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanDen = $("#iGiaiDoanDen").val();
            if (iGiaiDoanDen != "") {
                $("#iGiaiDoanTu").val(parseInt(this.value) - 4);
            } else {
                $("#iGiaiDoanTu").val("");
            }
        });
    });

    function printBCDV() {
        var data = {};
        var strIdLoaiCongTrinhTH = "";
        if ($("#iID_LoaiCongTrinh_DV :selected").val() == GUID_EMPTY) {
            $("#iID_LoaiCongTrinh_DV option").each(function () {
                if (this.value != GUID_EMPTY) {
                    if (strIdLoaiCongTrinhTH == "") {
                        strIdLoaiCongTrinhTH += this.value;
                    } else {
                        strIdLoaiCongTrinhTH += "," + this.value;
                    }
                }
            });
            data.iID_LoaiCongTrinh = strIdLoaiCongTrinhTH;
        } else {
            data.iID_LoaiCongTrinh = $("#iID_LoaiCongTrinh :selected").val();
        }

        data.iGiaiDoanTu = $("#iGiaiDoanTu").val();
        data.iGiaiDoanDen = $("#iGiaiDoanDen").val();
        data.txt_TieuDe1 = $("#txt_TieuDe1_DV").val();
        data.txt_TieuDe2 = $("#txt_TieuDe2_DV").val();
        data.txt_TieuDe3 = $("#txt_TieuDe3_DV").val();
        data.fDonViTinh = $("#ValueItem_DV").val();
        data.sDonViTinh = $("#ValueItem_DV option:selected").text();
        data.iID_NguonVonID = $("#iID_MaNguonNganSach_DV").val();
        data.sTenNguonVon = $("#iID_MaNguonNganSach_DV option:selected").text();

        var arrIdDVQL = [];
        $("#tblListDonViThucHienDuAnDd input[type=checkbox]:checked").each(function () {
            var rowValue = $(this).val();
            if (rowValue != 'on') {
                arrIdDVQL.push(rowValue);
            }
        });

        if (!ValidateDataBCDV(data, arrIdDVQL)) {
            return false;
        }

        exportBCTheoDonVi(data, arrIdDVQL);
    }

    function ValidateDataBCDV(data, arrIdNguonVon, arrIdDVQL) {
        var Title = 'Lỗi in báo cáo tổng hợp';
        var Messages = [];

        if (data.iID_LoaiCongTrinh == null || data.iID_LoaiCongTrinh == "") {
            Messages.push("Loại công trình chưa chọn !");
        }

        if (data.iGiaiDoanTu == null || data.iGiaiDoanTu == "") {
            Messages.push("Giai đoạn từ chưa nhập !");
        }

        if (data.iGiaiDoanDen == null || data.iGiaiDoanDen == "") {
            Messages.push("Giai đoạn đến chưa nhập !");
        }

        if (data.fDonViTinh == null) {
            Messages.push("Đơn vị tính chưa chọn !");
        }

        if (data.iID_NguonVonID == null) {
            Messages.push("Nguồn vốn chưa chọn !");
        }

        if (Messages != null && Messages != undefined && Messages.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Modal/OpenModal",
                data: { Title: Title, Messages: Messages, Category: ERROR },
                success: function (data) {
                    $("#divModalConfirm").html(data);
                }
            });
            return false;
        }

        return true;
    }
</script>