@using Viettel.Models.QLVonDauTu
@model VDTPheDuyetDuAnViewModel
<div class="tooltip-header-search">
    <div class="col-sm-6" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách phê duyệt dự án (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary" style="float:right" onclick="themMoi()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered" id="tblListVDTPheDuyetDuAn">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="13%">
        <input type="text" class="form-control" id="txtSoQuyetDinh" autocomplete="off" />
    </th>
    <th width="18%">
        <div style="display:flex">
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayQuyetDinhFrom" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayQuyetDinhTo" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="20%">
        <input type="text" class="form-control" id="txtDuAn" autocomplete="off" />
    </th>
    <th width="20%">
        @Html.DropDownList("ddlDonViQuanLy", (SelectList)(ViewBag.ListDonViQuanLy), "--Tất cả--", new { @class = "form-control", @id = "txtDonViQuanLy" })
    </th>
    <th width="10%"></th>
    <th width="5%"></th>
    <th>
        <button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
    </th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="13%">Số quyết định</th>
    <th width="18%">Ngày quyết định</th>
    <th width="20%">Dự án</th>
    <th width="20%">Đơn vị</th>
    <th width="10%">Tổng mức đầu tư phê duyệt</th>
    <th width="5%">Lần điều chỉnh</th>
    <th>Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (VDTQuyetDinhDauTuViewModel item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@index</td>
                    <td align="left">@item.sSoQuyetDinh</td>
                    <td align="center">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td align="left">@item.sTenDuAn</td>
                    <td align="center">@item.sTenDonVi</td>
                    <td align="right" class="sotien">@item.fTongMucDauTuPheDuyet</td>
                    <td align="center">@string.Format("({0})", item.iSoLanDieuChinh)</td>
                    <td align="center" class="col-sm-12">
                        @if (item.bActive.HasValue && item.bActive.Value)
                        {
                            <button type="button" class="btn-detail" onclick="dieuChinh('@item.iID_QDDauTuID')"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                        }

                        <button type="button" class="btn-detail" onclick="xemChiTiet('@item.iID_QDDauTuID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        @if (item.bActive.HasValue && item.bActive.Value)
                        {
                            <button type="button" class="btn-edit" onclick="sua('@item.iID_ParentID', '@item.iID_QDDauTuID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-delete" onclick="xoa('@item.iID_QDDauTuID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $('#tblListVDTPheDuyetDuAn tr').each(function () {
            var soTien = $(this).find(".sotien").text();
            if (soTien) {
                soTien = FormatNumber(soTien);
                $(this).find(".sotien").text(soTien);
            }
        });
    });

</script>

