@using Viettel.Domain.DomainModel
@model DM_ChuDauTu

<div class="modal-body">
    <input type="hidden" id="iID_ChuDauTuModal" value="@Model.ID">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtMaChuDauTu">Mã chủ đầu tư</label>
                @Helpers.Required()
                <input type="text" id="txtsMaChuDauTu" class="form-control" value="@Model.sId_CDT" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtTenChuDauTu">Tên chủ đầu tư</label>
                @Helpers.Required()
                <input type="text" id="txtsTenChuDauTu" class="form-control" value="@Model.sTenCDT" maxlength="500" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtKyHieuChuDauTu">Ký hiệu</label>
                <input type="text" id="txtsKyHieuChuDauTu" class="form-control" value="@Model.sKyHieu" maxlength="20" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtMoTaChuDauTu">Mô tả</label>
                <textarea id="txtsMoTaChuDauTu" name="txtsMoTaChuDauTu" class="form-control" autocomplete="off">@Html.Raw(Model.sMoTa)</textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtLoaiChuDauTu">Loại</label>
                <input type="text" id="txtsLoaiChuDauTu" class="form-control" value="@Model.sLoai" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtChuDauTuCha">Chủ đầu tư cha</label>
                @Html.DropDownList("iID_ChuDauTuChaIDModal", new SelectList(ViewBag.ListChuDauTuCha, "Value", "Text", Model.Id_Parent), new { @class = "form-control", @id = "iID_ChuDauTuChaIDModal" })
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="Save()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>