@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model VDT_ThongTriPagingModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}

<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách thông tri (@Model._paging.TotalItems)</label>

    </div>
    <button class="btn btn-primary pull-right" onclick="ViewCreate()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <div class="form-group text-right">
        @using (Html.BeginForm("ExportData", "VDT_ThongTri", FormMethod.Post))
        {
            <input type="text" name="iID_DonViQuanLy" class="form-control clearable" id="txt_iIDonViQuanLyExcel" style="display:none" />
            <input type="text" name="sMaThongTri" class="form-control clearable" id="txt_sMaThongTriExcel" style="display:none" />
            <input type="text" name="dNgayTaoThongTri" class="form-control clearable" id="txt_dNgayTaoThongTriExcel" style="display:none" />
            <input type="text" name="iNamThucHien" class="form-control clearable" id="txt_iNamThucHienExcel" style="display:none" />
            <input type="text" name="sNguoiLap" class="form-control clearable" id="txt_sNguoiLapExcel" style="display:none" />
            <input type="text" name="sTruongPhong" class="form-control clearable" id="txt_sTruongPhongExcel" style="display:none" />
            <input type="text" name="sThuTruongDonVi" class="form-control clearable" id="txt_sThuTruongDonViExcel" style="display:none" />
            <button style="margin-right:10px" class="btn btn-info" title="Xuất dữ liệu ra excel" type="submit"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất Excel</button>
        }
    </div>
</div>
<table class="table table-bordered" id="lstDataView">
    <thead class="header-search">
        <tr>
            <th width="5%" style="text-align:center"></th>
            <th width="12%" style="text-align:center">@Html.DropDownList("cboDonViQuanLy", (SelectList)(ViewBag.ListDonVi), "--Tất cả--", new { @class = "form-control", @id = "txt_DonViQuanLySearch" })</th>
            <th width="10%" style="text-align:center"></th>
            <th width="12%" style="text-align:center"></th>
            <th width="9%" style="text-align:center"><input type="text" class="form-control clearable" id="txt_MaThongTriSearch" /></th>
            <th width="9%" style="text-align:center">
                <div style="display: flex">
                    <div class='input-group date'>
                        <input type='text' required class="form-control" id="txt_NgayTaoThongTriSearch" autocomplete="off" placeholder="dd/MM/yyyy" />
                        <span class="btn-default input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </th>
            <th width="8%" style="text-align:center"><input type="text" class="form-control clearable" id="txt_NamThucHienSearch" /></th>
            <th width="9%" style="text-align:center"><input type="text" class="form-control clearable" id="txt_NgayLapSearch" /></th>
            <th width="9%" style="text-align:center"><input type="text" class="form-control clearable" id="txt_TruongPhongBanTaiChinhSearch" /></th>
            <th width="9%" style="text-align:center"><input type="text" class="form-control clearable" id="txt_ThuTruongDonViSearch" /></th>
            <th width="8%" style="text-align:center"><button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="5%" style="text-align:center">STT</th>
            <th width="12%" style="text-align:center">Tên đơn vị</th>
            <th width="10%" style="text-align:center">Nguồn vốn</th>
            <th width="12%" style="text-align:center">Loại công trình</th>
            <th width="9%" style="text-align:center">Mã thông tri</th>
            <th width="9%" style="text-align:center">Ngày tạo</th>
            <th width="8%" style="text-align:center">Năm</th>
            <th width="9%" style="text-align:center">Người lập</th>
            <th width="9%" style="text-align:center">Trưởng phòng</th>
            <th width="9%" style="text-align:center">Thủ trưởng</th>
            <th width="8%"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var item in Model.lstData)
            {
                <tr style="cursor: pointer;">
                    <td align="center">@(pageIndex + index)</td>

                    <td align="left">@item.TenDonVi</td>

                    <td align="left">@item.TenNguonVon</td>

                    <td align="left">@item.sTenLoaiCongTrinh</td>

                    <td align="left">@item.sMaThongTri</td>

                    <td align="center">@item.dNgayThongTri.Value.ToString("dd/MM/yyyy")</td>

                    <td align="center">@item.iNamThongTri</td>

                    <td align="left">@item.sNguoiLap</td>

                    <td align="left">@item.sTruongPhong</td>

                    <td align="left">@item.sThuTruongDonVi</td>

                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="ViewDetail('@item.iID_ThongTriID')">  <i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="ViewUpdate('@item.iID_ThongTriID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_ThongTriID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

