@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model VDT_ThongTriPagingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="card-search">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="txt_DonViQuanLySearch">Loại dự toán</label>
                            @Html.DropDownList("cboDonViQuanLy", (SelectList)(ViewBag.ListDonVi), "--Tất cả--", new { @class = "form-control", @id = "txt_DonViQuanLySearch" })
                        </div>
                        <div class="col-sm-6">
                            <label for="txt_MaThongTriSearch">Mã thông tri</label>
                            <input type="text" class="form-control clearable" id="txt_MaThongTriSearch" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="txt_NgayTaoThongTriSearch">Ngày tạo thông tri</label>
                            <div class='input-group date'>
                                <input type='text' required class="form-control" id="txt_NgayTaoThongTriSearch" autocomplete="off" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="txt_NamThucHienSearch">Năm thực hiện</label>
                            <input type="text" class="form-control clearable" id="txt_NamThucHienSearch" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="txt_NgayLapSearch">Người lập</label>
                            <input type="text" class="form-control clearable" id="txt_NgayLapSearch" />
                        </div>
                        <div class="col-sm-6">
                            <label for="txt_TruongPhongBanTaiChinhSearch">Trưởng phòng (Ban) tài chính</label>
                            <input type="text" class="form-control clearable" id="txt_TruongPhongBanTaiChinhSearch" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label for="txt_ThuTruongDonViSearch">Thủ trưởng đơn vị</label>
                            <input type="text" class="form-control clearable" id="txt_ThuTruongDonViSearch" />
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>

                    <div class="form-group text-right">
                        @using (Html.BeginForm("ExportData", "VDT_ThongTri", FormMethod.Post))
                        {
                            <input type="text" name="iID_DonViQuanLy" class="form-control clearable" id="txt_iIDonViQuanLyExcel" style="display:none" />
                            <input type="text" name="sMaThongTri" class="form-control clearable" id="txt_sMaThongTriExcel" style="display:none" />
                            <input type="text" name="dNgayTaoThongTri" class="form-control clearable" id="txt_dNgayTaoThongTriExcel" style="display:none" />
                            <input type="text" name="iNamThucHien" class="form-control clearable" id="txt_iNamThucHienExcel" style="display:none" />
                            <input type="text" name="sNguoiLap" class="form-control clearable" id="txt_sNguoiLapExcel" style="display:none" />
                            <input type="text" name="sTruongPhong" class="form-control clearable" id="txt_sTruongPhongExcel" style="display:none" />
                            <input type="text" name="sThuTruongDonVi" class="form-control clearable" id="txt_sThuTruongDonViExcel" style="display:none" />
                            <button class="btn btn-info" title="Xuất dữ liệu ra excel" type="submit"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        }
                    </div>

                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>
<div id="divModalConfirm">
</div>

<script>
    var GUID_EMPTY = '00000000-0000-0000-0000-000000000000';
    var CONFIRM = 0;
    var ERROR = 1;

     var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("GetListView", "VDT_ThongTri")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });

    function ResetChangePage(iCurrentPage = 1) {
        debugger
        var iID_DonViQuanLy = "";
        var sMaThongTri = "";
        var dNgayTaoThongTri = "";
        var iNamThucHien = "";
        var sNguoiLap = "";
        var sTruongPhong = "";
        var sThuTruongDonVi = "";

        $("#txt_DonViQuanLySearch").val("");
        $("#txt_MaThongTriSearch").val("");
        $("#txt_NgayTaoThongTriSearch").val("");
        $("#txt_NamThucHienSearch").val("");
        $("#txt_NgayLapSearch").val("");
        $("#txt_TruongPhongBanTaiChinhSearch").val("");
        $("#txt_ThuTruongDonViSearch").val("");

        GetListData(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi, iCurrentPage);
        SetValueFormExportExcel(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi);
    }

    function SetValueFormExportExcel(iID_DonViQuanLy,sMaThongTri,dNgayTaoThongTri,iNamThucHien,sNguoiLap,sTruongPhong,sThuTruongDonVi) {
        $("#txt_iIDonViQuanLyExcel").val(iID_DonViQuanLy);
        $("#txt_sMaThongTriExcel").val(sMaThongTri);
        $("#txt_dNgayTaoThongTriExcel").val(dNgayTaoThongTri);
        $("#txt_iNamThucHienExcel").val(iNamThucHien);
        $("#txt_sNguoiLapExcel").val(sNguoiLap);
        $("#txt_sTruongPhongExcel").val(sTruongPhong);
        $("#txt_sThuTruongDonViExcel").val(sThuTruongDonVi);
    }

    function ChangePage(iCurrentPage = 1) {
        debugger
        var iID_DonViQuanLy = $("#txt_DonViQuanLySearch").val();
        var sMaThongTri = $("#txt_MaThongTriSearch").val();
        var dNgayTaoThongTri = $("#txt_NgayTaoThongTriSearch").val();
        var iNamThucHien = $("#txt_NamThucHienSearch").val();
        var sNguoiLap = $("#txt_NgayLapSearch").val();
        var sTruongPhong = $("#txt_TruongPhongBanTaiChinhSearch").val();
        var sThuTruongDonVi = $("#txt_ThuTruongDonViSearch").val();

        GetListData(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi, iCurrentPage);
        SetValueFormExportExcel(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi);
    }

    function GetListData(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi, iCurrentPage) {
        _paging.CurrentPage = iCurrentPage;
        $.ajax({
            type: "POST",
            dataType: "html",
            url: sUrlListView,
            data: { _paging: _paging, iID_DonViQuanLy: iID_DonViQuanLy, sMaThongTri: sMaThongTri, dNgayTaoThongTri: dNgayTaoThongTri, iNamThucHien: iNamThucHien, sNguoiLap: sNguoiLap, sTruongPhong: sTruongPhong, sThuTruongDonVi: sThuTruongDonVi },
            success: function (data) {
                debugger
                $("#lstDataView").html(data);
                $("#txt_DonViQuanLySearch").val(iID_DonViQuanLy);
                $("#txt_MaThongTriSearch").val(sMaThongTri);
                $("#txt_NgayTaoThongTriSearch").val(dNgayTaoThongTri);
                $("#txt_NamThucHienSearch").val(iNamThucHien);
                $("#txt_NgayLapSearch").val(sNguoiLap);
                $("#txt_TruongPhongBanTaiChinhSearch").val(sTruongPhong);
                $("#txt_ThuTruongDonViSearch").val(sThuTruongDonVi);

                SetValueFormExportExcel(iID_DonViQuanLy, sMaThongTri, dNgayTaoThongTri, iNamThucHien, sNguoiLap, sTruongPhong, sThuTruongDonVi);
            }
        });
    }

    function ViewCreate() {
        window.location.href = "/QLVonDauTu/VDT_ThongTri/Create";
    }

    function ViewUpdate(id) {
        window.location.href = "/QLVonDauTu/VDT_ThongTri/Update/" + id;
    }

    function ViewDetail(id) {
        window.location.href = "/QLVonDauTu/VDT_ThongTri/Detail/" + id;
    }

    function DeleteItem(id) {
        var Title = 'Xác nhận xóa giao dự toán cho đơn vị';
        var Messages = [];
        Messages.push('Bạn có chắc chắn muốn xóa?');
        var FunctionName = "Delete('" + id + "')";
        $.ajax({
            type: "POST",
            url: "/Modal/OpenModal",
            data: { Title: Title, Messages: Messages, Category: CONFIRM, FunctionName: FunctionName },
            success: function (data) {
                $("#divModalConfirm").html(data);
            }
        });
    }

    function Delete(id) {
        $.ajax({
            type: "POST",
            url: "/QLVonDauTu/VDT_ThongTri/Delete",
            data: { id: id },
            success: function (r) {
                if (r.status == true) {
                    ChangePage();
                }
            }
        });
    }
</script>
