@using Viettel.Models.QLVonDauTu
@model List<VDTKHLCNhaThauChungTuViewModel>

@foreach(var item in Model)
{
<tr>
    <td class="width-50"><input type="radio" checked="@(!item.id.Equals(Guid.Empty))" value="@item.id" class="form-check-input" name="rd_ChungTu"></td>
    <td>@item.sSoQuyetDinh</td>
    <td class="text-center">@item.sNgayQuyetDinh</td>
    <td>@item.sTenDonVi</td>
    <td class="text-right">@item.sGiaTriPheDuyet</td>
</tr>
}

<script>
    $(document).ready(function () {
        $('#tblDanhSachDuToan tr').each(function () {
            var soTien = $(this).find(".sotien").text();
            if (soTien) {
                soTien = FormatNumber(soTien);
                $(this).find(".sotien").text(soTien);
            }
        });
    });

</script>