@using Viettel.Models.QLVonDauTu
@model VDTKHLuaChonNhaThauViewModel
@{
    ViewBag.Title = "Điều chỉnh kế hoạch lựa chọn nhà thầu";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<input type="hidden" id="iID_DuAnID" value="@Model.iID_DuAnID" />
<input type="hidden" id="iID_KHLuaChonNTID" value="@Model.Id" />
<input type="hidden" id="iID_LCNhaThauGocID" value="@Model.iID_LCNhaThauGocID" />
<input type="hidden" id="iID_DonViQuanLyID" value="@Model.iID_DonViQuanLyID" />
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                @*Thông tin nội dung*@
                <div class="header-create-update">
                    <span>
                        @Html.Raw("Điều chỉnh kế hoạch lựa chọn nhà thầu")
                    </span>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="sSoQuyetDinh">Số quyết định</label>
                            @Helpers.Required()
                            <input type="text" id="sSoQuyetDinh" class="form-control requireInput" value="@Model.sSoQuyetDinh" name="sSoQuyetDinh" maxlength="100" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="dNgayQuyetDinh">Ngày quyết định</label>
                            @Helpers.Required()
                            <div class='input-group date'>
                                <input type='text' class="form-control requireInput" value="@Model.sNgayQuyetDinh" id="dNgayQuyetDinh" name="dNgayQuyetDinh" autocomplete="off" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txt_DonViQuanLy">Đơn vị<span class="require"></span></label>
                            <input type="text" disabled id="sTenDonViQuanLy" class="form-control" value="@Model.sTenDonViQuanLy" name="sTenDonViQuanLy" />
                            @*@Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID", @disabled = "disabled" })*@
                        </div>
                        <div class="col-sm-3">
                            <label for="txtDuAn">Dự án</label>
                            <input type="text" disabled id="sTenDuAn" class="form-control" value="@Model.sTenDuAn" name="sTenDuAn" />
                            @*@Helpers.Required()
                            <select name="iID_DuAnID" class="form-control requireInput" id="iID_DuAnID" disabled>
                                <option>--Chọn--</option>
                            </select>*@
                        </div>
                        <div class="col-sm-3">
                            <label for="txtChuDauTu">Chủ đầu tư</label>
                            <input type="text" disabled id="sTenChuDauTu" class="form-control" value="@Model.sTenChuDauTu" name="sTenChuDauTu" />
                            @*@Html.DropDownList("iID_ChuDauTuID", (SelectList)(ViewBag.ListChuDauTu), new { @class = "form-control", @id = "iID_ChuDauTuID", @disabled = "disabled" })*@
                        </div>
                        <div class="col-sm-2">
                            <label for="fTongMucDauTuPheDuyet">TMĐT phê duyệt</label>
                            <input type="text" disabled id="fTongMucDauTuPheDuyet" class="form-control" name="fTongMucDauTuPheDuyet" value="" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="txtsMoTa">Mô tả</label>
                        <textarea id="sMoTa" name="sMoTa" class="form-control">@Html.Raw(Model.sMoTa)</textarea>
                    </div>
                </div>

                @*Danh sách dự toán*@
                <div class="form-group row">
                    @*left*@
                    <div class="col-sm-8">
                        <div class="form-group">
                            <h4 class="color-text-red">Danh sách dự toán</h4>
                            <hr class='color-background-red' />
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblDanhSachDuToan">
                                        <thead>
                                            <tr>
                                                <th width="3%">STT</th>
                                                <th width="50%">Số quyết định</th>
                                                <th width="10%">Ngày quyết định</th>
                                                <th width="20%">Đơn vị</th>
                                                <th>Tổng giá trị phê duyệt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        @*<tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th>Tổng cộng</th>
                                                    <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_nguonvon"></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="color-text-red">Danh sách gói thầu</h4>
                            <hr class='color-background-red' />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="btn">&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiGoiThau()">
                                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                            </button>
                                            <span class="require text-italic">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblDanhSachGoiThau">
                                        <thead>
                                            <tr>
                                                <th width="3%">STT</th>
                                                <th width="20%">Tên gói thầu</th>
                                                <th width="10%">Giá gói thầu</th>
                                                <th width="15%">Hình thức chọn nhà thầu</th>
                                                <th width="15%">Phước thức lựa chọn nhà thầu</th>
                                                <th width="15%">Loại hợp đồng</th>
                                                <th width="10%">Thời gian thực hiện (số ngày)</th>
                                                <th width="10%">Gói thầu gốc</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        @*<tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2">Tổng cộng</th>
                                                    <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_chiphi"></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>*@

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*right*@
                    <div class="col-sm-4">
                        <div class="form-group">
                            <h4 class="color-text-red">Nguồn vốn, chi phí</h4>
                            <hr class='color-background-red' />
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblDanhSachNguonVon">
                                        <thead>
                                            <tr>
                                                <th width="70%">Nguồn vốn</th>
                                                <th width="30%">Giá trị phê duyệt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="tblDanhSachChiPhi">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="70%">Chi phí</th>
                                                <th width="30%">Giá trị phê duyệt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm" z-index="99999">

</div>

<!-- Modal thong tin chi tiet goi thau -->
<div class="modal fade" id="modalChiTietGoiThau" tabindex="-1" role="dialog" aria-labelledby="modalChiTietGoiThau" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center">Thông tin chi tiết gói thầu</h3>
                <input type="hidden" id="iID_GoiThauID" />
            </div>
            <div class="modal-content" id="contentModalChiTietGoiThau" style="overflow: auto; padding: 0 20px 0 20px; max-height: 700px">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h4 class="color-text-red">Thông tin nguồn vốn</h4>
                            <hr class='color-background-red' />
                            <br />
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblDanhSachNguonVonModal">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" name="cbAll_NguonVon" class="cbAll_NguonVon" /></th>
                                                <th width="55%">Nguồn vốn</th>
                                                <th width="20%">Giá trị gói thầu</th>
                                                <th width="20%">Giá trị phê duyệt</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2">Tổng nguồn vốn</th>
                                                <th class="rTongNguonVon" style="text-align: right"></th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Còn lại</th>
                                                <th class="rConLai" style="text-align: right"></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <h4 class="color-text-red">Thông tin chi phí</h4>
                            <hr class='color-background-red' />
                            <br />
                            <div class="row">
                                <div class="col-sm-12" id="tblDanhSachChiPhiModal">
                                    <table class="table table-bordered" id="tblChiPhiDauTu">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="cbAll_ChiPhi" /></th>
                                                <th width="45%">Chi phí</th>
                                                <th width="20%">Giá trị gói thầu</th>
                                                <th width="20%">Giá trị phê duyệt</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="color-text-red">Thông tin hạng mục</h4>
                        <hr class='color-background-red' />
                        <br />
                        <div class="row">
                            <div class="col-sm-12" id="tblDanhSachHangMuc">
                                <table class="table table-bordered" id="tblHangMucChinh">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="cbAll_HangMuc" /></th>
                                            <th width="10%">STT</th>
                                            <th width="70%">Tên Hạng mục</th>
                                            <th width="15%">Giá trị phê duyệt</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="LuuChiTietGoiThau()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLVonDauTu/ThongTinDuAn/KHLCNhaThau/jsVDT_DieuChinh_KHLuaChonNhaThau.js"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>

<style>
    .create_thdt h4 {
        font-size: 17px;
    }

    .r_STT {
        text-align: center;
    }

    .table-bordered tbody {
        overflow: auto;
    }
</style>


