@model ChuKyCopyViewModel
@{
    ViewBag.Title = L("NS.ChuKy.Edit");
}
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <i class="fa fa-edit"></i>
            @ViewBag.Title.ToUpper()
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Copy", "ChuKy", FormMethod.Post, new { area = "", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label-r">Tên phân hệ:</label>
                        @Helpers.Required()
                    </div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => Model.PhanHe, (SelectList)ViewBag.PhanHeList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label-r">Sao chép chữ ký của tài khoản:</label>
                        @Helpers.Required()
                    </div>
                    <div class="col-sm-8">
                        @*@Html.DropDownListFor(x => Model.iID_MaPhanHe, (SelectList)ViewBag.PhanHeList, new { @class = "form-control" })*@
                        @Html.TextBoxFor(x => Model.UsernameCopy, new { @class = "form-control" })
                        <span class="text-muted">Nhập tên tài khoản người dùng đ/c muốn sao chép chữ ký</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <hr />
                        <button type="submit" class="btn btn-mvc btn-mvc-green">@L("Buttons.SaveChanges")</button>
                        <button type="button" class="btn btn-mvc">@L("Buttons.Close")</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@using (Html.BeginScripts())
{

}
