@model IEnumerable<Viettel.Domain.DomainModel.NS_DanhMuc_BaoCao_ChuKy>
@{
    //Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = L("NS.ChuKy.List");
}
<h2>@ViewBag.Title</h2>
@Html.AntiForgeryToken()
@using (Html.BeginForm("Index", "ChuKy", FormMethod.Get, new { area = "", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label-r">Tên phân hệ:</label>
            @Helpers.Required()
        </div>
        <div class="col-sm-4">
            @Html.DropDownList("phanhe", (SelectList)ViewBag.PhanHeList, new { @class = "form-control" })
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-mvc btn-mvc-green">@L("Buttons.Search")</button>
            <a class="btn btn-mvc btn-mvc-green" id="btnCopy">Sao chép chữ ký</a>
            <a class="btn btn-mvc" id="btn_delete">Xoá chữ ký</a>
        </div>
    </div>
}
<table class="table table-bordered">
    <thead>
    <th width="60px" align="center">#</th>
    <th width="360">Tên báo cáo</th>
    <th width="120px">Tên controller</th>
    <th>Phân hệ</th>
    <th>Chức năng</th>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                var color = i % 2 == 0 ? "" : "#f1f1f1";

                <tr style="background-color: @color">
                    <td align="center">@(i + 1)</td>
                    <td>
                        @item.sTenBaoCao
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { c = item.sController})" style="font-size: 15px;">@item.sController</a>
                    </td>
                    <td>@item.iID_MaPhanHe</td>
                    <td>
                        <div>
                            <a href="@Url.Action("Edit", new { c = item.sController})" class="btn btn-mvc btnEdit"><i class="fa fa-edit"></i>Sửa chữ ký</a>
                            <a data-id="@item.iID_MaBaoCao_ChuKy" class="btn btn-mvc btn_delete"><i class="fa fa-delete"></i>Xóa</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@using (Html.BeginScripts())
{
    <script>
        $(".btnClose").click(function () {
            window.close();
            opener.window.focus();
        });


        $(".btn_delete").click(function () {
            swal({
                title: 'Xóa chữ ký?',
                text: 'Bạn muốn xóa cấu hình chữ ký!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý xóa!',
                cancelButtonText: 'Hủy',
            }).then((r) => {

                if (r.value) {

                    var id = $(this).data("id");
                    deleteChungTu(id);
                }

            });
        });

        function deleteChungTu(id) {
            var url = '@Url.Action("delete")';
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id,
                    __RequestVerificationToken: token,
                },
                success: function (data) {

                    JSON.stringify(data);

                    if (data.success) {
                        swal({
                            title: 'Đã xóa!',
                            text: 'Chữ ký báo cáo đã được xóa thành công.',
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal(
                        'Xóa bị lỗi!',
                        data.msg,
                        'error');
                    }
                },
            });
        }

        // delete by phanhe
        $("#btn_delete").click(function () {

            var id = $("#phanhe").val();
            var text = id == "-1" ? "Tất cả các phân hệ" : $("#phanhe option:selected").text();

            swal({
                title: 'Xóa chữ ký?',
                text: 'Bạn muốn xóa cấu hình chữ ký  của phân hệ: ' + text + '?',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý xóa!',
                cancelButtonText: 'Hủy',
            }).then((r) => {

                if (r.value) {

                    deleteChuKyByPhanhe(id);
                }

            });
        });

        function deleteChuKyByPhanhe(id) {
            var url = '@Url.Action("DeletePhanHe")';
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id,
                        __RequestVerificationToken: token,
                },
                success: function (data) {

                    JSON.stringify(data);

                    if (data.success) {
                        swal({
                            title: 'Đã xóa!',
                            text: 'Chữ ký báo cáo theo phân hệ đã được xóa thành công.',
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal(
                        'Xóa bị lỗi!',
                        data.msg,
                        'error');
                    }
                },
            });
        }


        // copy chu ky
        $("#btnCopy").click(function () {
            var url = '@Url.Action("copy")' + "/?phanhe=" + $("#phanhe").val();
            window.location.href = url;
        });
    </script>
}
