@using VIETTEL.Common
@using Viettel.Models.QLVonDauTu
@model KhoiTaoThongTinDuAnChiTietViewModel

@{
    const byte KHO_BAC = (byte)Constants.CoQuanThanhToan.Type.KHO_BAC;
    const byte CQTC = (byte)Constants.CoQuanThanhToan.Type.CQTC;
}
<style>
    table tbody td {
        padding: 6px 3px !important;
    }
</style>

<div class="tooltip-header-search">
    <input type="hidden" id="iID_KhoiTaoID" value="@Model.iID_KhoiTaoID" />
    <input type="hidden" id="iID_MaDonVi" value="@Model.sMaDonVi" />
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách chi tiết khởi tạo thông tin dự án</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="AddRowChiTiet('@Model.iID_KhoiTaoID', '@Model.sMaDonVi')"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    @*<button class="btn btn-default pull-right" style="margin-right:10px; color:black !important" onclick="ImportKhoiTaoTTDA();"><i class="fa fa-upload" aria-hidden="true"></i>Import</button>*@
</div>
<table class="table table-bordered" id="tblListChiTietKhoiTaoTTDA" style="table-layout: fixed">
    <thead>
        <tr>
            <th rowspan="2" style="width:45px">STT</th>
            <th rowspan="2" style="width: 160px">Dự án</th>
            <th rowspan="2" style="width: 160px">Nguồn vốn</th>
            <th rowspan="2" style="width:160px">Cơ quan thanh toán</th>
            <th colspan="4">Thuộc kế hoạch vốn năm</th>
            <th colspan="5">Thuộc kế hoạch vốn ứng</th>
            <th rowspan="2" style="width:45px"></th>
        </tr>
        <tr>
            <th>Vốn bố trí hết năm trước</th>
            <th>Lũy kế vốn đã thanh toán từ khởi công đến hết năm trước</th>
            <th>Trong đó vốn tạm ứng theo chế độ chưa thu hồi</th>
            <th>Kế hoạch vốn kéo dài sang năm</th>
            <th>Vốn bố trí hết năm trước</th>
            <th>Lũy kế vốn đã thanh toán từ khởi công đến hết năm trước</th>
            <th>Trong đó vốn tạm ứng theo chế độ chưa thu hồi</th>
            <th>Kế hoạch ứng trước kéo dài sang năm</th>
            <th>Kế hoạch ứng trước chưa thu hồi</th>
        </tr>
    </thead>
    <tbody id="bodyChiTietKTTTDA">
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                string selectedNull = "";
                string selectedKhoBac = "";
                string selectedCQTC = "";
                if(item.iCoQuanThanhToan == null)
                {
                    selectedNull = "selected";
                }
                else if(item.iCoQuanThanhToan == KHO_BAC)
                {
                    selectedKhoBac = "selected";
                }
                else if(item.iCoQuanThanhToan == CQTC)
                {
                    selectedCQTC = "selected";
                }
                <tr style="cursor: pointer" data-id="@item.iID_KhoiTao_ChiTietID"  data-nguonvonid="@item.iID_NguonVonID" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')">
                    <input type="hidden" class="iID" value="@item.iID_KhoiTao_ChiTietID" />
                    <td align="center">@(index)</td>

                    <td align="center">
                        @Html.DropDownList("iID_DuAn_" + item.STT, new SelectList(ViewBag.ListDuAn, "Value", "Text", item.iID_DuAnID), new { @class = "form-control duan", @id = "iID_DuAn_" + item.STT })
                    </td>

                    <td align="center">
                        <select class="form-control cbxNguonVon"></select>
                    </td>

                    <td align="center">
                        <select class="form-control coquantt">
                            <option @selectedNull value="">--Chọn--</option>
                            <option @selectedKhoBac value="@KHO_BAC">Kho bạc</option>
                            <option @selectedCQTC value="@CQTC">Cơ quan tài chính BQP</option>
                        </select>
                    </td>

                    <td align="center"><input class="cs-input-ctktda vn-botrihetnamtruoc sotien" type="text" value="@item.fKHVN_VonBoTriHetNamTruoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')"/></td>

                    <td align="center"><input class="cs-input-ctktda fGiaTriLuyKeDaTTTN_VN vn-luykevondatt sotien" type="text" value="@item.fKHVN_LKVonDaThanhToanTuKhoiCongDenHetNamTruoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')" readonly/></td>

                    <td align="center"><input class="cs-input-ctktda fGiaTriTrongDoVTU_VN vn-trongdovontamung sotien" type="text" value="@item.fKHVN_TrongDoVonTamUngTheoCheDoChuaThuHoi" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')" readonly/></td>

                    <td align="center"><input class="cs-input-ctktda vn-kehoachvonkeodai sotien" type="text" value="@item.fKHVN_KeHoachVonKeoDaiSangNam" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')"/></td>

                    <td align="center"><input class="cs-input-ctktda ut-botrihetnamtruoc sotien" type="text" value="@item.fKHUT_VonBoTriHetNamTruoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')"/></td>

                    <td align="center"><input class="cs-input-ctktda fGiaTriLuyKeDaTTTN_VU ut-luykevondatt sotien" type="text" value="@item.fKHUT_LKVonDaThanhToanTuKhoiCongDenHetNamTruoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')" readonly/></td>

                    <td align="center"><input class="cs-input-ctktda fGiaTriTrongDoVTU_VU ut-trongdovontamung sotien" type="text" value="@item.fKHUT_TrongDoVonTamUngTheoCheDoChuaThuHoi" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')" readonly/></td>

                    <td align="center"><input class="cs-input-ctktda ut-kehoachungtruoc sotien" type="text" value="@item.fKHUT_KeHoachUngTruocKeoDaiSangNam" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')"/></td>

                    <td align="center"><input class="cs-input-ctktda ut-ungtruocchuathuhoi sotien" type="text" value="@item.fKHUT_KeHoachUngTruocChuaThuHoi" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" ondblclick="AddChiTietThanhToan('@item.iID_KhoiTao_ChiTietID', '@item.iID_DuAnID')"/></td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-delete" onclick="RemoveRowChiTiet(@item.STT, '@Model.iID_KhoiTaoID', '@Model.sMaDonVi')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@*<button type="button" id="btnShowConfirmModal" data-toggle="modal" data-target="#confirmModal"></button>*@

@Html.BuildPagingButtons(Model._paging)

<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todModeleiID_KhoiTaoIDlelyBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });
        ReloadNguonVon();
        $("#tblListChiTietKhoiTaoTTDA tbody").find("tr").each(function (item) {
            $(this).find(".duan").change();
        });

    });
</script>

