@using Viettel.Models.QLVonDauTu
@model KhoiTaoThongTinDuAnViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách khởi tạo thông tin dự án (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalKhoiTaoTTDA"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    @*<button class="btn btn-info pull-right" style="margin-right:10px; margin-top: 3px !important" onclick="ResetSearchData()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>*@
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    @*<button class="btn btn-info pull-right" style="margin-right:10px; color:black !important" onclick="OpenModal(null, 'false', 'true');" data-toggle="modal" data-target="#modalKhoiTaoTTDA"><i class="fa fa-save" aria-hidden="true"></i>Tổng hợp</button>*@
    @*<button class="btn btn-default pull-right" style="margin-right:10px; color:black !important" onclick="ImportKhoiTaoTTDA();"><i class="fa fa-upload" aria-hidden="true"></i>Import</button>*@
</div>
<table class="table table-bordered" id="tblListKhoiTaoTTDA">
    <thead class="header-search">
    <th width="10%"></th>
    <th width="10%"><input type="text" class="form-control gr_search" id="txtNamKhoiTao" maxlength="4" autocomplete="off" /></th>
    <th width="35%"><input type="text" class="form-control gr_search" id="txtDonViQL" autocomplete="off" /></th>
    <th width="20%">
        @*<input type="hidden" id="iID_MaDonViNS" value="@ViewBag.iID_MaDonViNS" />
        @Html.DropDownList("cboDonViNS", (SelectList)(ViewBag.ListDonViNS), "--Chọn đơn vị Mappping--", new { @class = "form-control", @id = "cboDonViNS" })
        <select class="form-control" style="width: 100%" id="cboDonViNS" name="cboDonViNS"></select>*@
    </th>
    <th width="25%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="10%">STT</th>
    <th width="10%">Năm khởi tạo</th>
    <th width="35%">Đơn vị quản lý</th>
    <th width="20%">Ngày khởi tạo</th>
    <th width="25%"></th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">

                    <td align="center" onclick="ChiTietKhoiTaoTTDA('@item.iID_KhoiTaoID', '@item.iID_MaDonVi')">@(pageIndex + index)</td>

                    <td align="center" onclick="ChiTietKhoiTaoTTDA('@item.iID_KhoiTaoID', '@item.iID_MaDonVi')">@item.iNamKhoiTao</td>

                    <td align="left" onclick="ChiTietKhoiTaoTTDA('@item.iID_KhoiTaoID', '@item.iID_MaDonVi')">@item.sTenDonVi</td>

                    <td align="center" onclick="ChiTietKhoiTaoTTDA('@item.iID_KhoiTaoID', '@item.iID_MaDonVi')">@(item.dNgayKhoiTao != null ? item.dNgayKhoiTao.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.iID_KhoiTaoID')" data-toggle="modal" data-target="#modalKhoiTaoTTDA"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_KhoiTaoID')" data-toggle="modal" data-target="#modalKhoiTaoTTDA"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_KhoiTaoID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@*<button type="button" id="btnShowConfirmModal" data-toggle="modal" data-target="#confirmModal"></button>*@

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tblListKhoiTaoTTDA .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });

        $("#txtNamKhoiTao").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });
</script>