@model rptQuyetToanNam_PheDuyetViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo số phê duyệt thực hiện ngân sách năm @PhienLamViec.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phòng ban:</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Năm ngân sách:</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("iID_MaNamNganSach", Model.NamNganSachList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Nguồn ngân sách:</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("iID_MaNguonNganSach", Model.NguonNganSachList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Loại báo cáo:</label>
                            <div class="col-sm-9" id="loaiBaoCao">
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-1" checked="checked" value="1" />
                                    <label for="loaiBaoCao-1">
                                        QT1.2a. Tổng hợp đến LNS
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-2" name="loaiBaoCao" value="2" />
                                    <label for="loaiBaoCao-2">
                                        QT1.2b. Tổng hợp đến khối đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-9" name="loaiBaoCao" value="9" />
                                    <label for="loaiBaoCao-9">
                                        QT1.2c. Tổng hợp đến đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-3" name="loaiBaoCao" value="3" />
                                    <label for="loaiBaoCao-3">
                                        QT1.1. Số phê duyệt - Tổng hợp khối đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-30" name="loaiBaoCao" value="30" />
                                    <label for="loaiBaoCao-30">
                                        QT1.1. Số phê duyệt - Tổng hợp khối đơn vị - Đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-99" name="loaiBaoCao" value="99" />
                                    <label for="loaiBaoCao-99">
                                        QT1.1a. Số phê duyệt - Đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-98" name="loaiBaoCao" value="98" />
                                    <label for="loaiBaoCao-98">
                                        QT1.1b. Chi tiết đơn vị theo Phòng ban
                                    </label>
                                </div>
                                @if (User.Identity.Name.StartsWith("trolyphongban"))
                                {
                                    <div class="radio">
                                        <input type="radio" id="loaiBaoCao-100" name="loaiBaoCao" value="100" />
                                        <label for="loaiBaoCao-100">
                                            Tổng hợp quyết toán
                                        </label>
                                    </div>
                                }                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Mẫu báo cáo:</label>
                            <div class="col-sm-9" id="mauBaoCao">
                                <div class="radio">
                                    <input type="radio" name="mauBaoCao" id="mauBaoCao-tonghop" checked="checked" value="1" />
                                    <label for="mauBaoCao-tonghop">
                                        Phụ lục
                                    </label>
                                </div>
                                @*<div class="radio">
                                        <input type="radio" id="mauBaoCao-phuluc" name="mauBaoCao" value="2" />
                                        <label for="mauBaoCao-phuluc">
                                            Trình ký
                                        </label>
                                    </div>*@
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" data-check="first-only">
                        @*@Html.Partial("_CheckboxList", new ChecklistModel("iID_MaDonVi", Model.DonViList))*@
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "QuyetToan_Report")">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change() {

        var iID_MaNamNganSach = $("#iID_MaNamNganSach").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();

        var url = '@Url.Action("Ds_DonVi")' +
                "/?iID_MaPhongBan=" + iID_MaPhongBan +
                "&iID_MaNamNganSach=" + iID_MaNamNganSach;

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    $(".btn-print").click(function () {

        var links = [];

        var ext = $(this).data("ext");
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        var mauBaoCao = $("#mauBaoCao input[type='radio']:checked").val();
        var iID_MaNamNganSach = $("#iID_MaNamNganSach").val();
        var iID_MaNguonNganSach = $("#iID_MaNguonNganSach").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        var iID_MaDonVi = getCheckedItems("DonVi");


        if (loaiBaoCao == 99 || loaiBaoCao == 98) {
            $("input:checkbox[check-group='DonVi']").each(function () {
                if (this.checked) {
                    var item = this.value;
                    var url = unescape('@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&r=140" +
                        "&iID_MaDonVi=" + item +
                        "&iID_MaNamNganSach=" + iID_MaNamNganSach +
                        "&iID_MaNguonNganSach=" + iID_MaNguonNganSach +
                        "&iID_MaPhongBan=" + iID_MaPhongBan +
                        "&loaiBaoCao=" + loaiBaoCao +
                        "&mauBaoCao=" + mauBaoCao);

                    links.push(url);

                    console.log(url);
                }
            });

            openLinks(links);
        }
        else {
            var url = unescape('@Url.Action("Print")' +
                       "?ext=" + ext +
                       "&r=160" +
                       "&iID_MaDonVi=" + iID_MaDonVi +
                       "&iID_MaNamNganSach=" + iID_MaNamNganSach +
                       "&iID_MaNguonNganSach=" + iID_MaNguonNganSach +
                       "&iID_MaPhongBan=" + iID_MaPhongBan +
                       "&loaiBaoCao=" + loaiBaoCao +
                       "&mauBaoCao=" + mauBaoCao);
            openTab(url);
        }



    });

</script>
