@model rptQuyetToan_TongHop_NamQuyViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo tổng hợp tình hình quyết toán ngân sách năm @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
                <div class="col-xs-4">
                    <h6><strong class="text-uppercase">Chọn tờ:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @*@Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeQuy()" })*@
                                <input type="text" id="iID_MaPhongBan" readonly value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Chọn quý:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iThang_Quy", Model.QuyList, new { @class = "form-control", onchange = "changeQuy()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Năm ngân sách:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaNamNganSach", Model.NamNganSachList, new { @class = "form-control", onchange = "changeQuy()" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-4">
                    <div id="iID_MaDonVi" class="ls-box" data-check="first-only">
                        @Html.Partial("_CheckboxList", new ChecklistModel("DonVi", Model.DonViList))
                    </div>
                </div>
                <div class="col-xs-4">
                    <div id="toSo" class="ls-box" data-check="first-only">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "QuyetToan_Report")">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeQuy() {
        //var iID_MaDot = $("#iThang_Quy").val();
        //fillNganh(iID_MaDot);
    }

    function checkItem(group, value, checkbox) {
        if (group == "DonVi") {

            var donvis = getCheckedItems("DonVi");
            fillTo(donvis);
        }
    }

    function fillTo(donvis) {
        var url = '@Url.Action("Ds_To")' + "/?donvis=" + donvis;
        fillCheckboxList("toSo", "To", url);
    }



    $(".btn-print").click(function () {

        var links = [];

        var ext = $(this).data("ext");
        var iThang_Quy = $("#iThang_Quy").val();
        var iID_MaNamNganSach = $("#iID_MaNamNganSach").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        var iID_MaDonVi = getCheckedItems("DonVi")

        $("input:checkbox[check-group='To']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = unescape('@Url.Action("Print")' +
                    "?ext=" + ext +
                    "&r=180" +
                    "&iID_MaDonVi=" + iID_MaDonVi +
                    "&iThang_Quy=" + iThang_Quy +
                    "&iID_MaNamNganSach=" + iID_MaNamNganSach +
                    "&iID_MaPhongBan=" + iID_MaPhongBan +
                    "&toSo=" + item
                    );

                links.push(url);

                console.log(url);
            }
        });

        openLinks(links);

    });

</script>
