@model IEnumerable<ChungTuDetailsViewModel>
@Html.AntiForgeryToken()
<table class="table table-bordered">
    <thead>
        <tr style="background:#06A199;color:whitesmoke">
            <th style="width:40px;text-align:center">#</th>
            <th style="width:100px;text-align:center">Số CT</th>
            @if (ViewBag.Loai == 1 || ViewBag.Loai == 3 || ViewBag.Loai == 4)
            {
                <th style="width:260px;text-align:center">Đơn vị</th>
            }
            else
            {
                <th style="width:260px;text-align:center">Ngành</th>
            }
            <th style="width:100px;text-align:center">Lần nhập thứ</th>
            <th style="width:260px;text-align:center">Phòng ban quản lý</th>
            <th style="width:120px;text-align:center">Ngày chứng từ</th>
            <th style="width:auto;text-align:center">Nội dung</th>
            <th style="width:100px;text-align:center">Người tạo</th>
            <th style="width:130px;text-align:center">Thời gian tạo</th>
            <th style="width:150px;text-align:center"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            var url = Url.Action("Index", "ChungTuChiTiet", new { area = "SKT", item.Id });
            if (ViewBag.Loai == 5 || ViewBag.Loai == 6)
            {
                url = Url.Action("Index", "NganhChungTuChiTiet", new { area = "SKT", item.Id });
            }
            var bg = (i % 2) == 0 ? "" : "background-color: #F8F8F8";


            <tr style="@bg">
                <td>@(i + 1)</td>
                <td style="text-align: center">
                    <a class="link-nounderline text-danger" href="@url">
                        @string.Format("{0}-{1}", "SKT", item.SoChungTu.GetValueOrDefault().ToString("00#"))
                    </a>
                </td>
                <td>
                    <a class="link-nounderline text-danger" href="@url">
                        <strong>@item.TenDonVi</strong>
                    </a>
                </td>
                <td style="text-align: center">
                    @item.iLan
                </td>
                <td style="text-align: center">
                    @item.TenPhongBanDich
                </td>
                <td style="text-align: center">
                    @item.NgayChungTu.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a class="link-nounderline text-danger" href="@url">
                        @item.NoiDung
                    </a>
                </td>
                <td>@item.UserCreator</td>
                <td>@item.DateCreated.GetValueOrDefault().ToString("dd/MM/yyyy HH:mm")</td>
                <td class="text-center">
                    @if (PhienLamViec.userRole == (int)UserRoleType.TroLyTongHop)
                    {
                        if (item.B_Locked)
                        {
                            <a class="btn btn-mvc btn-mvc-small btn_openid" data-id="@item.Id" title="@L("DTKT.Open.ChungTu")"><i class="fa fa-lock"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-mvc btn-mvc-small btn_lockid" data-id="@item.Id" title="@L("DTKT.Lock.ChungTu")"><i class="fa fa-unlock"></i></a>
                        }

                    }
                    <a class="btn btn-mvc btn-mvc-small" title="@L("Button.Edit")" href="@Url.Action("Edit", "ChungTu", new { item.Id })"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-mvc btn-mvc-small btn_delete" data-id="@item.Id" title="@L("Button.Delete")"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr style="background:#06A199;color:whitesmoke">   
            <th style="text-align:center" colspan="10">Tổng cộng @Model.Count() đơn vị (ngành)</th>       
        </tr>
    </tfoot>
</table>
@using (Html.BeginScripts())
{
    <script>

        $(".btn_delete").click(function () {
            swal({
                title: 'Xóa chứng từ?',
                text: 'Bạn muốn xóa chứng từ!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý xóa!',
                cancelButtonText: 'Hủy',
            }).then((r) => {

                if (r.value) {

                    var id = $(this).data("id");
                    deleteChungTu(id);
                }

            });
        });
        $(".btn_lockid").click(function () {
            swal({
                title: 'Khóa chứng từ?',
                text: 'Bạn muốn khóa chứng từ!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý khóa!',
                cancelButtonText: 'Hủy',
            }).then((r) => {
                if (r.value) {
                    var id = $(this).data("id");
                    lockChungTu(id);
                }

            });
        });
        $(".btn_openid").click(function () {
            swal({
                title: 'Mở chứng từ?',
                text: 'Bạn muốn mở khóa chứng từ!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý mở!',
                cancelButtonText: 'Hủy',
            }).then((r) => {

                if (r.value) {
                    var id = $(this).data("id");
                    openChungTu(id);
                }

            });
        });

        function deleteChungTu(id) {
            var url = '@Url.Action("delete", "chungtu")';
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id,
                    __RequestVerificationToken: token,
                },
                success: function (data) {

                    JSON.stringify(data);

                    if (data.success) {
                        swal({
                            title: 'Đã xóa!',
                            text: 'Chứng từ đã được xóa thành công.',
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal(
                        'Xóa bị lỗi!',
                        data.msg,
                        'error');
                    }
                },
            });


        }

        function lockChungTu(id) {
            var url = '@Url.Action("openorlock", "chungtu")';
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id,
                    __RequestVerificationToken: token,
                },
                success: function (data) {

                    JSON.stringify(data);

                    if (data.success) {
                        swal({
                            title: 'Đã khóa!',
                            text: 'Chứng từ đã được khóa thành công.',
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal(
                        'Khóa bị lỗi!',
                        data.msg,
                        'error');
                    }
                },
            });


        }
        function openChungTu(id) {
            var url = '@Url.Action("openorlock", "chungtu")';
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    id,
                        __RequestVerificationToken: token,
                    },
                        success: function (data) {

                            JSON.stringify(data);

                            if (data.success) {
                                swal({
                                    title: 'Đã Mở!',
                                    text: 'Chứng từ đã được mở khóa thành công.',
                                    type: 'success',
                                    timer: 1500
                                }).then((r) => {
                                    location.reload();
                                });
                            }
                            else {
                                swal(
                                'Mở khóa bị lỗi!',
                                data.msg,
                                'error');
                            }
                        },
            });


        }

    </script>
}
