@model ChungTuListViewModel
@{
    if (Model.Loai == 1)
    {
        ViewBag.Title = L("DuToanKT.ListDonVi");
    }
    else if (Model.Loai == 2)
    {
        ViewBag.Title = L("DuToanKT.ListNganh");
    }
    else if (Model.Loai == 3)
    {
        ViewBag.Title = "Danh sách chứng từ tăng giảm nghiệp vụ dự toán kiểm tra - Theo đơn vị";
    }
    else if (Model.Loai == 4)
    {
        ViewBag.Title = "Danh sách chứng từ tăng giảm tự chủ bệnh viện - Theo đơn vị";
    }
}
<h2 style="display:contents">@ViewBag.Title</h2>
<div class="button-bar">
    <a class="btn btn-mvc btn-mvc-green" href="@Url.Action("Create", "ChungTu", new { Model.Loai })">@L("Buttons.Create")</a>
    <div class="btn-group">
        <button class="btn btn-mvc dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-test">
            @L("Buttons.Sort")   <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            @foreach (var item in Model.OrderBys)
            {
                <li>
                    <a href="@Url.Action("Index", "ChungTu", new { loai = Model.Loai, orderby = item.Value })">@L(item.Text)</a>
                </li>
            }
        </ul>        
    </div>
    <div class="btn-group">
        <button class="btn btn-mvc dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-test">
            @L("NS.DonVi")   <span class="caret"></span>
        </button>        
        <ul class="dropdown-menu" role="menu">
            @foreach (var item in Model.Dvis)
            {
                <li>
                    <a href="@Url.Action("Index", "ChungTu", new { loai = Model.Loai, search = item.Value })" class="text-uppercase">@item.Text</a>
                </li>
            }
        </ul>
    </div>
    <span class="text-muted">|</span>
    <span class="text-muted">|</span>
    <a class="btn btn-mvc btn-reload" title="@L("Buttons.Reload")"><i class="fa fa-refresh"></i></a>
    @if (PhienLamViec.userRole == (int)UserRoleType.TroLyTongHop) { 
        <span class="text-muted">|</span>
        <span class="text-muted">|</span>
        <a class="btn btn-mvc btn-mvc-green btn-edit-id" title="@L("DTKT.Lock.ChungTu.Desc")"><i class="fa fa-lock"></i>  @L("DTKT.Lock.ChungTu")</a>
    }    
    @if (PhienLamViec.userRole == (int)UserRoleType.TroLyTongHop && PhienLamViec.iID_MaPhongBan == "07")
    {
        <span class="text-muted">|</span>
        <span class="text-muted">|</span>
        <a class="btn btn-mvc btn-mvc-green btn-edit-id-convert"><i class="fa fa-copy"></i> Chuyển số liệu</a>
    }
</div>
<div id="editor-id" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-modal" data-dissmiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Khóa số liệu theo đơn vị</h3>
            </div>
            <div class="modal-body">
                <div id="editor-host-id">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mvc btn-mvc-green btn-save">@L("Buttons.SaveChanges")</button>
                <button type="button" class="btn btn-mvc btn-close-modal" data-dissmiss="modal">@L("Buttons.Close")</button>
            </div>
        </div>
    </div>
</div>
<div id="chuyen-id" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-close-modal" data-dissmiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Khóa số liệu theo đơn vị</h3>
            </div>
            <div class="modal-body">
                <div id="chuyen-host-id">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mvc btn-mvc-green btn-save">@L("Buttons.SaveChanges")</button>
                <button type="button" class="btn btn-mvc btn-close-modal" data-dissmiss="modal">@L("Buttons.Close")</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_list", Model.Items)
@*@if (Model.PagingInfo.TotalItems > 15)
{
    <div style="background:#06A199;color:whitesmoke;width:100%">
        <div class="btn-group pull-left">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, loai = Model.Loai }))
        </div>
    </div>
}*@
@using (Html.BeginScripts())
{
    <script>
        $(".btn-edit-id").click(function () {
            var id = $(this).data("id");
            var url = '@Url.Action("LockOrOpen")';

            $.get(url, function (data) {
                $("#editor-host-id").html(data);
                $("#editor-id").modal();
            });
        });
        $(".btn-edit-id-convert").click(function () {
            var id = $(this).data("id");
            var url = '@Url.Action("ChuyenT")';

            $.get(url, function (data) {
                $("#chuyen-host-id").html(data);
                $("#chuyen-id").modal();
            });
        });

        $("#editor-id .btn-save").click(function () {
            var json = {
                nam : @PhienLamViec.iNamLamViec,
                id_lock : $("#id_lock").val(),
                iloais: getCheckedItems("iLoai"),
                donvis: getCheckedItems("DonVi"),
            }

            var form = $('#editor-id form')[0];
            var url = $(form).attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: json,
                success: function (r) {
                    if (r.success) {
                        swal({
                            title: r.title,
                            text: r.text,
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal({
                            title: r.title,
                            text: r.text,
                            type: 'danger',
                        });
                    }
                }
            });
        });
        $("#chuyen-id .btn-save").click(function () {
            var json = {
                id_donvi : $("#id_donvi").val(),
            }
            var form = $('#chuyen-id form')[0];
            var url = $(form).attr('action');
            alert(url);
            $.ajax({
                type: "POST",
                url: url,
                data: json,
                success: function (r) {
                    if (r.success) {
                        swal({
                            title: r.title,
                            text: r.text,
                            type: 'success',
                            timer: 1500
                        }).then((r) => {
                            location.reload();
                        });
                    }
                    else {
                        swal({
                            title: r.title,
                            text: r.text,
                            type: 'danger',
                        });
                    }
                }
            });
        });
        function changeLock() {
            var id_lock = $("#id_lock").val();
            if (id_lock == -1){
                clearAll(0);
            } else{
                clearAll(1);
                var urlLoai = '@Url.Action("Ds_Lock")' + "/?"
                        + "nam=" + '@PhienLamViec.iNamLamViec'
                        + "&id_lock=" + $("#id_lock").val()
                        + "&phongban=" + '@PhienLamViec.iID_MaPhongBan';

                fillCheckboxList("iloais", "iLoai", urlLoai);
            }
        }
        function checkItem(group, value, checkbox) {
            if (group == "iLoai") {
                var values = getCheckedItems(group);
                //check values if empty then clear phongban, user, donvi and lan checkbox
                if (values == ""){
                    clearAll(1);
                } else {
                    fillDonVi(values);
                }
                console.log(values);
            }
        }
        // Fill donvi list to checkbox
        function fillDonVi(iloais) {
            var iloais = getCheckedItems("iLoai");
            var phongban = '@PhienLamViec.iID_MaPhongBan';

            var url = '@Url.Action("Ds_Lock")' + "/?"
                        + "nam=" + '@PhienLamViec.iNamLamViec'
                        + "&id_lock=" + $("#id_lock").val()
                        + "&group=" + "iLoai"
                        + "&iloais=" + iloais
                        + "&phongban=" + phongban;
            fillCheckboxList("donvis", "DonVi", url)
        }
        // Clear checkbox list by id of checkbox
        function clearAll(int) {
            switch(int){
                case 0:
                    $('#iloais div').empty();
                    $('#donvis div').empty();
                    break;
                default:
                    $('#donvis div').empty();
                    break;
            }

        }
    </script>
}
