@model rptNC_DonViViewModel
@{
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo dự toán nhu cầu ngân sách năm @PhienLamViec.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeQuy()" })
                                @*<input type="text" id="iID_MaPhongBan" readonly value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />*@
                                @*<input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="loaiBaoCao">
                                @*<div class="radio">
                                        <input type="radio" id="loaiBaoCao-tonghop" name="optradio" checked="checked" value="tonghop-00" />
                                        <label for="loaiBaoCao-tonghop">
                                            Tổng hợp BQL - Ngành 00
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" id="loaiBaoCao-tonghop-nganh" name="optradio" value="tonghop-ng" />
                                        <label for="loaiBaoCao-tonghop-nganh">
                                            Tổng hợp BQL - Ngành nghiệp vụ
                                        </label>
                                    </div>*@
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop-nganh" checked="checked" name="optradio" value="tonghop-all" />
                                    <label for="loaiBaoCao-tonghop-nganh">
                                        Tổng hợp BQL - Tất cả
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop-donvi" name="optradio" value="tonghop-donvi" />
                                    <label for="loaiBaoCao-tonghop-donvi">
                                        Tổng hợp BQL - Đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop-donvi-A4" name="optradio" value="tonghop-donvi-a4" />
                                    <label for="loaiBaoCao-tonghop-donvi-A4">
                                        Tổng hợp BQL - Đơn vị (Chi bằng tiền - A4)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-chitiet" name="optradio" value="chitiet" />
                                    <label for="loaiBaoCao-chitiet">
                                        Chi tiết đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-trinhky" name="optradio" value="trinhky" />
                                    <label for="loaiBaoCao-trinhky">
                                        Chi tiết đơn vị - Trình ký
                                    </label>
                                </div>

                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-phuluc" name="optradio" value="phuluc" />
                                    <label for="loaiBaoCao-phuluc">
                                        Chi tiết đơn vị - Phụ lục
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" data-check="first-only">
                        @Html.Partial("_CheckboxList", new ChecklistModel("DonVi", Model.DonViList))
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Reports", new { loai =3})">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    $(".btn-print").click(function () {

        var links = [];

        var ext = $(this).data("ext");
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        var id_phongban = $("#iID_MaPhongBan").val();

        if (loaiBaoCao == "chitiet" || loaiBaoCao == "trinhky") {


            $("input:checkbox[check-group='DonVi']").each(function () {
                if (this.checked) {
                    var item = this.value;
                    var url = unescape('@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&loaiBaoCao=" + loaiBaoCao +
                        "&id_phongban=" + id_phongban +
                        "&id_donvi=" + item);

                    links.push(url);

                    console.log(url);
                }
            });

            openLinks(links);
        }
        else {

            var id_donvi = getCheckedItems("DonVi");
            var url = unescape('@Url.Action("Print")' +
                      "?ext=" + ext +
                      "&loaiBaoCao=" + loaiBaoCao +
                      "&id_phongban=" + id_phongban +
                      "&id_donvi=" + id_donvi);

            openNewTab(url);

        }

    });

</script>
