@using VIETTEL.Areas.DanhMuc.Models
@model DMNoiDungChiPagingModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}

<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách danh mục nội dung chi (@Model._paging.TotalItems)</label>

    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalDanhMucNoiDungChi"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <th width="5%">STT</th>
    <th width="10%">Mã nội dung chi</th>
    <th width="20%">Tên nội dung chi</th>
    <th width="45%">Ghi chú</th>
    <th width="10%">Mã nội dung chi cha</th>
    <th width="10%"></th>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var item in Model.lstData)
            {
                <tr>
                    <td align="center">@(pageIndex + index)</td>

                    <td align="center">@item.sMaNoiDungChi</td>

                    <td align="left">@item.sTenNoiDungChi</td>

                    <td align="left">@item.sGhiChu</td>

                    <td align="center">@item.sMaNoiDungChiCha</td>

                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.iID_NoiDungChi')" data-toggle="modal" data-target="#modalDanhMucNoiDungChi"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_NoiDungChi')" data-toggle="modal" data-target="#modalDanhMucNoiDungChi"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_NoiDungChi')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>

                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)