@using Viettel.Domain.DomainModel
@model DM_NoiDungChi
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                Chi tiết @Model.sTenNoiDungChi
                <hr>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row detail-item">
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Mã nội dung chi</label>
                        <p><b>@Html.Raw(Model.sMaNoiDungChi)</b></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Tên nội dung chi</label>
                        <p><b>@Html.Raw(Model.sTenNoiDungChi)</b></p>
                    </div>
                </div>

                <div class="row detail-item">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Ghi chú</label>
                        <p><b>@Html.Raw(Model.sGhiChu)</b></p>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-back" onclick="CancelSaveData()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/DanhMuc/jsDMNoiDungChi.js"></script>
}