@using Viettel.Domain.DomainModel
@model DM_NoiDungChi
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                @if (Model.iID_NoiDungChi == new Guid())
                {
                    @Html.Raw("Thêm mới thông tin nội dung chi")
                }
                else
                {
                    @Html.Raw("Cập nhật thông tin " + @Model.sTenNoiDungChi)
                }

                <hr>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="hidden" id="txt_ID_NoiDungChi" value="@Model.iID_NoiDungChi">
                <label for="txt_MaNoiDungChi">Mã nội dung chi <span class="require">*</span></label>
                <input type="text" required id="txt_MaNoiDungChi" class="form-control" value="@Model.sMaNoiDungChi" maxlength="50" />
            </div>
            <div class="form-group">
                <label for="txt_TenNoiDungChi">Tên nội dung chi <span class="require">*</span></label>
                <input type="text" required id="txt_TenNoiDungChi" class="form-control" value="@Model.sTenNoiDungChi" maxlength="500" />
            </div>
            <div class="form-group">
                <label for="txt_GhiChu">Ghi chú</label>
                <textarea id="txt_GhiChu" class="form-control">@Html.Raw(Model.sGhiChu)</textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                <button class="btn btn-primary" onclick="SaveData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/DanhMuc/jsDMNoiDungChi.js"></script>
}