@model Viettel.Models.QLVonDauTu.VDT_DA_TT_HopDong_ViewModel
@using VIETTEL.Common
@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@{
    const byte HOP_DONG_GIAO_VIEC = (byte)Constants.LOAI_HOP_DONG.HOP_DONG_GIAO_VIEC;
    const byte HOP_DONG_KINH_TE = (byte)Constants.LOAI_HOP_DONG.HOP_DONG_KINH_TE;
    const byte THONG_TIN_CHUNG = 0;
    const byte QD_BO_SUNG = 1;
}
<style>
    #tblDanhSachGoiThau, #tblDanhSachPhuLucChiPhi {
        display: block;
        overflow: auto;
        max-height: 360px;
    }

    #tblDanhSachPhuLucHangMuc {
        display: block;
        overflow: auto;
        max-height: 900px;
    }

        #tblDanhSachGoiThau thead, #tblDanhSachPhuLucChiPhi thead, #tblDanhSachPhuLucHangMuc thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="main">
    <input type="hidden" id="iIDHopDongId" value="@Model.iID_HopDongID" />
    <input type="hidden" id="iIDPhanLoaiId" value="@Model.iID_LoaiHopDongID" />
    <input type="hidden" id="iIDNhaThauId" value="@Model.iID_NhaThauThucHienID" />
    <input type="hidden" id="iIDGoiThauId" value="@Model.iID_GoiThauID" />
    <div class="panel-list-item col-sm-12">
        <div class="card" id="dieuChinh">
            <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#thongTinChung" onclick="ChangeTab(@THONG_TIN_CHUNG)">Thông tin chung</a></li>
                    <li><a data-toggle="tab" href="#qDBoSung" onclick="ChangeTab(@QD_BO_SUNG)">Quyết định bổ sung</a></li>
                </ul>
            </div>

            <div class="card-body tab-content" id="lstDataView">
                <div id="thongTinChung" class="tab-pane fade in active">
                    @*@Html.Partial("_listThongTinChung", Model)*@
                </div>
                <div id="qDBoSung" class="tab-pane fade in active">
                    @*@Html.Partial("_listQDBoSung", Model)*@
                </div>
            </div>
        </div>
        <div class="card" id="khongDieuChinh">
            <div class="card-body create_thdt">
                @*Thông tin hợp đồng*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin hợp đồng:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="sSoHopDong">Số hợp đồng</label>
                            <p class="label-sua">@Html.Raw(Model.sSoHopDong)</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="dNgayHopDong">Ngày lập</label>
                            <p class="label-sua">@Html.Raw(Model.dNgayHopDong.ToString("dd/MM/yyyy"))</p>
                        </div>

                        <div class="col-sm-3">
                            <label for="dKhoiCongDuKien">Ngày khởi công dự kiến</label>
                            <p class="label-sua">@(Model.dKhoiCongDuKien.HasValue ? Model.dKhoiCongDuKien.Value.ToString("dd/MM/yyyy") : "")</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="dKetThucDuKien">Ngày kết thúc dự kiến</label>
                            <p class="label-sua">@(Model.dKetThucDuKien.HasValue ? Model.dKetThucDuKien.Value.ToString("dd/MM/yyyy") : "")</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="iThoiGianThucHien">TG thực hiện (ngày)</label>
                            <p class="label-sua" class="sotien">@Html.Raw(Model.iThoiGianThucHien)</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtDonViQuanLy">Phân loại</label>
                            <p class="label-sua">@Html.Raw(Model.sTenLoaiHopDong)</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="sHinhThucHopDong">HT hợp đồng</label>
                            <p class="label-sua">@Html.Raw(Model.sHinhThucHopDong)</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="fGiaTriHopDong">Giá trị hợp đồng</label>
                            <p class="label-sua" class="sotien">@Html.Raw(Model.fTienHopDong.GetValueOrDefault().ToString("###,###"))</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtTenNhaThau">Nhà thầu thực hiện</label>
                            <p class="label-sua">@Html.Raw(Model.sTenNhaThau)</p>
                        </div>
                    </div>
                </div>

                @*Thông tin dự án*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin dự án:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="txtDuAn">Dự án</label>
                            <p class="label-sua">@Html.Raw(Model.sMaDuAn + " - " + Model.sTenDuAn)</p>
                        </div>
                        <div class="col-sm-6">
                            <label for="txtDonViQL">Đơn vị</label>
                            <p class="label-sua">@Html.Raw(Model.sTenDonViQL)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="sDiaDiem">Địa điểm</label>
                            <p class="label-sua">@Html.Raw(Model.sDiaDiem)</p>
                        </div>
                        <div class="col-sm-6">
                            <label for="fTongMucDauTu">Tổng mức đầu tư</label>
                            <p class="label-sua" class="sotien">@Html.Raw(Model.fTongMucDauTu.ToString("N0"))</p>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            @*Thông tin gói thầu*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin gói thầu</h4>
                                <hr class='color-background-red' />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblDanhSachGoiThau">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th class="min-width-150">Gói thầu</th>
                                                    <th class="min-width-200">Nhà thầu</th>
                                                    <th class="min-width-150">Giá trị được duyệt</th>
                                                    <th class="min-width-150">Giá trị</th>
                                                    <th class="min-width-150">Giá trị trúng thầu</th>
                                                    <th class="min-width-150">Giá trị còn lại</th>
                                                    <th class="min-width-150">Thao tác</th>
                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*Thông tin phụ lục - chi phí*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin phụ lục - chi phí</h4>
                                <hr class='color-background-red' />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblDanhSachPhuLucChiPhi">
                                            <thead>
                                                <tr>
                                                    <th width="5%"></th>
                                                    <th width="10%">Chi phí</th>
                                                    <th width="15%">Giá trị được duyệt</th>
                                                    <th width="15%">Giá trị còn lại</th>
                                                    <th width="15%"></th>
                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @*Thông tin phụ lục - hạng mục*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin phụ lục - hạng mục</h4>
                                <hr class='color-background-red' />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblDanhSachPhuLucHangMuc">
                                            <thead>
                                                <tr>
                                                    <th width="5%"></th>
                                                    <th width="10%">Stt</th>
                                                    <th width="15%">Tên hạng mục</th>
                                                    <th width="15%">Giá trị được duyệt</th>
                                                    <th width="15%">Giá trị còn lại</th>

                                                    @*<th width="20%">Giá trị phê duyệt</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group text-center">
                <input type="hidden" id="txtHopDongId" value="@Model.iID_HopDongID" />
                <input type="hidden" id="txtDuAnId" value="@Model.iID_DuAnID" />
                <input type="hidden" id="txtCurrentGoiThauSelected" />
                <input type="hidden" id="txtIdGoiThauNhaThau" />
                <input type="hidden" id="txtIsGoc" value="@Model.bIsGoc.ToString()" />
                <button class="btn btn-back" onclick="Cancel()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/QLVonDauTu/ThongTinDuAn/jsChiTietThongTinHopDong.js"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
