@using Viettel.Models.QLNH
@using Viettel.Domain.DomainModel
@using Viettel.Models.Shared
@using DomainModel
@using System.Globalization;
@model NHDAThongTinDuAnViewModel

<div class="modal-body">
    <input type="hidden" id="hidDuAnID" value="@Model.ThongTinDuAnDetail.ID" />
    <div class="">
        <div class="chao-banner1">
            <label>Thông tin căn cứ:</label>
        </div>
        <hr class="bg-gray" />
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="slbKHTongTheBQP">Sổ kế hoạch chi tiết BQP</label>
                @Helpers.Required()
                <select id="slbKHTongTheBQP" name="slbKHTongTheBQP" class="form-control" onchange="ChangeBQPSelect();">
                    @if (ViewBag.ListBQP != null)
                    {
                        foreach (var bqp in (List<LookupDto<Guid, string>>)ViewBag.ListBQP)
                        {
                            <option value="@bqp.Id">@Html.Raw(bqp.DisplayName)</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <label for="slbBQuanLy">B Quản Lý</label>

                <select id="slbBQuanLy" name="slbBQuanLy" class="form-control">
                    @if (ViewBag.ListPhongBan != null)
                    {
                        foreach (var donvi in (List<NS_PhongBan>)ViewBag.ListPhongBan)
                        {
                            <option value="@donvi.iID_MaPhongBan" @(Model.ThongTinDuAnDetail.iID_BQuanLyID == donvi.iID_MaPhongBan ? "selected" : string.Empty)>@Html.Raw(donvi.sTen)</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <label for="slbDonVi">Đơn vị</label>
                @Helpers.Required()
                <select id="slbDonVi" name="slbDonVi" class="form-control">
                    @if (ViewBag.ListDonVi != null)
                    {
                        foreach (var donvi in (List<NS_DonVi>)ViewBag.ListDonVi.Items)
                        {
                            <option value="@donvi.iID_Ma" @(Model.ThongTinDuAnDetail.iID_DonViID == donvi.iID_Ma ? "selected" : string.Empty) data-madonvi="@donvi.iID_MaDonVi">@Html.Raw(donvi.sMoTa)</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <div id="divTenDuAn">
                    <label for="slbChuongTrinh">Tên chương trình</label>
                    @Helpers.Required()
                    @Html.DropDownList("slbChuongTrinh", (SelectList)ViewBag.ListChuongTrinh, new { @class = "form-control", @id = "slbChuongTrinh", @onchange = "ChangeChuongTrinhSelect()" })
                </div>
            </div>
        </div>
        <hr /><hr />
        <div class="chao-banner1">
            <label>Thông tin dự án :</label>
        </div>
        <hr class="bg-gray" />
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="txtMaDuAn">Mã dự án</label>
                @Helpers.Required()
                <div>
                   <div><input type="text" id="txtMaDuAn" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sMaDuAn)" maxlength="300" autocomplete="off" /></div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="txtTenDuAn">Tên dự án</label>
                @Helpers.Required()
                <div><input type="text" id="txtTenDuAn" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sTenDuAn)" maxlength="300" autocomplete="off" /></div>
            </div>
            <div class="col-sm-3">
                <label for="txtSoChuTruongDauTu ">Số chủ trương đầu tư</label>
                <div><input type="text" id="txtSoChuTruongDauTu" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sSoChuTruongDauTu)" maxlength="300" autocomplete="off" /></div>
            </div>

            <div class="col-sm-3">
                <label for="txtNgayBanHanhCTDT ">Ngày ban hành chủ trương đầu tư</label>
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.ThongTinDuAnDetail.dNgayChuTruongDauTu.HasValue ? Model.ThongTinDuAnDetail.dNgayChuTruongDauTu.Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayBanHanhCTDT" autocomplete="off" />

                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="txtSoQuyetDinhDauTu ">Sổ quyết định đầu tư</label>
                @Helpers.Required()
                <div><input type="text" id="txtSoQuyetDinhDauTu" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sSoQuyetDinhDauTu)" maxlength="300" autocomplete="off" /></div>
            </div>
            <div class="col-sm-3">
                <label for="txtNgayBanHanhQuyetDinhDauTu ">Ngày ban hành Quyết định đầu tư</label>
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.ThongTinDuAnDetail.dNgayQuyetDinhDauTu .HasValue ? Model.ThongTinDuAnDetail.dNgayQuyetDinhDauTu .Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayBanHanhQuyetDinhDauTu" autocomplete="off" />

                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="txtSoDuToanTu ">Số Dự toán</label>
                <div><input type="text" id="txtSoDuToanTu" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sSoDuToan)" maxlength="300" autocomplete="off" /></div>
            </div>
            <div class="col-sm-3">
                <label for="txtNgayBanHanhDuToan ">Ngày ban hành Dự toán</label>
                <div class='input-group date'>
                    <input type='text' class="form-control" value="@(Model.ThongTinDuAnDetail.dNgayDuToan.HasValue ? Model.ThongTinDuAnDetail.dNgayDuToan.Value.ToString("dd/MM/yyyy") : string.Empty)" id="txtNgayBanHanhDuToan" autocomplete="off" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="slbChuDauTu">Chủ đầu tư</label>
                @*@Helpers.Required()*@

                <select id="slbChuDauTu" name="slbChuDauTu" class="form-control">
                    @if (ViewBag.ListChuDauTu != null)
                    {
                        foreach (var donvi in (List<DM_ChuDauTu>)ViewBag.ListChuDauTu)
                        {
                            <option value="@donvi.ID" @(Model.ThongTinDuAnDetail.iID_ChuDauTuID == donvi.ID ? "selected" : string.Empty)>@Html.Raw(donvi.sTenCDT)</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <label for="slbPhanCapPheDuyet">Phân cấp phê duyệt</label>
                <select id="slbPhanCapPheDuyet" name="slbPhanCapPheDuyet" class="form-control">
                    @if (ViewBag.ListDanhMucPCPD != null)
                    {
                        foreach (var danhMuc in (List<NH_DM_PhanCapPheDuyet>)ViewBag.ListDanhMucPCPD)
                        {
                            <option value="@danhMuc.ID" @(Model.ThongTinDuAnDetail.iID_CapPheDuyetID == danhMuc.ID ? "selected" : string.Empty)>@Html.Raw(danhMuc.sTen)</option>
                        }
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <label for="txtThoiGianThucHienTu ">Thời gian thực hiện từ</label>
                <div><input type="text" id="txtThoiGianThucHienTu" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sKhoiCong)" onkeydown="ValidateNumberKeyDown(event);" autocomplete="off" /></div>

            </div>
            <div class="col-sm-3">
                <label for="txtThoiGianThucHienDen ">Thời gian thực hiện đến</label>

                <div><input type="text" id="txtThoiGianThucHienDen" class="form-control" value="@Html.Raw(Model.ThongTinDuAnDetail.sKetThuc)" onkeydown="ValidateNumberKeyDown(event);" autocomplete="off" /></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-3">
                <label for="slbTiGia">Tỉ giá</label>
                @Helpers.Required()
                <select id="slbTiGia" name="slbTiGia" class="form-control" onchange="ChangeTiGiaSelect();">
                    @if (ViewBag.ListTiGia != null)
                    {
                        foreach (var tigia in (List<NH_DM_TiGia>)ViewBag.ListTiGia)
                        {
                            <option value="@tigia.ID" @(Model.ThongTinDuAnDetail.iID_TiGiaID == tigia.ID ? "selected" : string.Empty)>@Html.Raw(tigia.sTenTiGia)</option>
                        }
                    }
                </select>
                <hr />
                <div id="tienTeQuyDoiID" class="text-italic h5">
                    @if (ViewBag.HtmlTienTe != null)
                    {
                        @ViewBag.HtmlTiente
                    }
                </div>
            </div>
            <div class="col-sm-3">
                <label for="slbMaNgoaiTeKhac">Mã ngoại tệ khác</label>
                <div>
                    @Html.DropDownList("slbMaNgoaiTeKhac", (SelectList)(ViewBag.ListTiGiaChiTiet), new { @class = "form-control", @id = "slbMaNgoaiTeKhac", @onchange = "ChangeNgoaiTeKhacSelect()" })
                </div>
            </div>
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-3">&nbsp;</div>
        </div>

    </div>
    <hr /><hr />
    <div class="chao-banner1">
        <label>Giá trị dự án:</label>
    </div>
    <hr class="bg-gray" />
    <div class="form-group row">
        <div class="col-sm-3">
            <label for="txtHopDongUSD">Tổng mức đầu tư (USD)</label>
            <div>
                <input type="text" id="txtHopDongUSD" class="form-control"
                       value="@CommonFunction.DinhDangSo((Model.ThongTinDuAnDetail.fGiaTriUSD.HasValue ? Model.ThongTinDuAnDetail.fGiaTriUSD.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)"
                       autocomplete="off"
                       onkeyup="ValidateNumberKeyUp(this);"
                       onkeypress="return ValidateNumberKeyPress(this, event);"
                       onblur="ChangeGiaTien(this);" />
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtHopDongVND">Tổng mức đầu tư (VND)</label>
            <div>
                <input type="text" id="txtHopDongVND" class="form-control"
                       value="@CommonFunction.DinhDangSo((Model.ThongTinDuAnDetail.fGiaTriVND.HasValue ? Math.Round(Model.ThongTinDuAnDetail.fGiaTriVND.Value).ToString(CultureInfo.InvariantCulture) : string.Empty), 0)"
                       autocomplete="off"
                       onkeyup="ValidateNumberKeyUp(this);"
                       onkeypress="return ValidateNumberKeyPress(this, event);"
                       onblur="ChangeGiaTien(this);" />
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtHopDongEUR">Tổng mức đầu tư (EUR)</label>
            <div>
                <input type="text" id="txtHopDongEUR" class="form-control"
                       value="@CommonFunction.DinhDangSo((Model.ThongTinDuAnDetail.fGiaTriEUR.HasValue ? Model.ThongTinDuAnDetail.fGiaTriEUR.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)"
                       autocomplete="off"
                       onkeyup="ValidateNumberKeyUp(this);"
                       onkeypress="return ValidateNumberKeyPress(this, event);"
                       onblur="ChangeGiaTien(this);" />
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtHopDongNgoaiTeKhac">Tổng mức đầu tư(ngoại tệ khác) @*(<label id="iDTenNgoaiTeKhac">Ngoại tệ khác</label>)*@</label>
            <div>
                <input type="text" id="txtHopDongNgoaiTeKhac" class="form-control"
                       value="@CommonFunction.DinhDangSo((Model.ThongTinDuAnDetail.fGiaTriNgoaiTeKhac.HasValue ? Model.ThongTinDuAnDetail.fGiaTriNgoaiTeKhac.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)"
                       autocomplete="off"
                       onkeyup="ValidateNumberKeyUp(this);"
                       onkeypress="return ValidateNumberKeyPress(this, event);"
                       onblur="ChangeGiaTien(this);" />
            </div>
        </div>
    </div>
    <hr /><hr />
    <div class="chao-banner1">

        <div>
            <label>Thông tin Chi phí:</label>
            <hr class="bg-gray" />
            <hr class='color-background-black' />
            <button class="btn btn-primary pull-right" style="margin-right:10px;" onclick="Themdong();" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <table class="table table-bordered" id="tbListChiphi">
                <thead>
                <th width="2%" style="white-space: nowrap">STT</th>
                <th width="7%" style="Blue-space: nowrap">
                    <select id="slbTenChiPhi" name="slbTenChiPhi" class="form-control">
                        @if (ViewBag.ListChiPhi != null)
                        {
                            foreach (var donvi in (List<NH_DM_ChiPhi>)ViewBag.ListChiPhi)
                            {
                                <option value="@donvi.ID">@Html.Raw(donvi.sTenChiPhi)</option>
                            }
                        }
                    </select>
                </th>
                <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(USD)</th>
                <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(VND)</th>
                <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(EUR)</th>
                <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(RUP)</th>
                <th width="7%" style="white-space: nowrap">Thao tác</th>
                </thead>

                <tbody>
                    @{ int index = 0;
                        index++;
                        <tr style="cursor: pointer">
                            <td align="center">@index </td>

                            <td align="left"> <input type="text" id="txtsTenChiPhi" name="name" class="form-control" value="" /></td>

                            <td align="left"> <input type="text" id="txtsTenTaiSan" name="name" class="form-control" value="" /></td>

                            <td align="left"> <input type="text" id="txtfSoLuong" name="name" class="form-control" value="" /></td>

                            <td align="left"> <input type="text" id="txtsDonViTinh" name="name" class="form-control" value="" /></td>

                            <td align="left"> <input type="text" id="txtfNguyenGia" name="name" class="form-control" value="" /></td>

                            <td align="center"><button class="btn btn-delete" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-default" id="btnHuyModal" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
            <button class="btn btn-primary" onclick="Save()" id="btnLuuModal"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
        </div>
    </div>

