@using Viettel.Models.QLVonDauTu
@model VDTQLPheDuyetQuyetToanModel
@{
    ViewBag.Title = "Nhập thông tin phê duyệt chủ trương đầu tư";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<script>
    var arrChiPhiTemp = [];
    var arrNguonVonTemp = [];
</script>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="header-create-update">
                    <span>
                        @if (Model.quyetToan.iID_QuyetToanID == new Guid())
                        {
                            @Html.Raw("Thêm mới phê duyệt quyết toán dự án")
                        }
                        else
                        {
                            @Html.Raw("Cập nhật thông tin phê duyệt quyết toán")
                        }
                    </span>
                </div>
                @*Thông tin phê duyệt*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin phê duyệt:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="hidden" id="iID_QuyetToanID" name="iID_QuyetToanID" value="@Model.quyetToan.iID_QuyetToanID">
                            <label for="txt_sSoQuyetDinh">Số quyết định <span class="require">*</span></label>
                            <input type="text" required id="sSoQuyetDinh" name="sSoQuyetDinh" class="form-control" value="@Model.quyetToan.sSoQuyetDinh" maxlength="100" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txt_NgayLap">Ngày phê duyệt <span class="require">*</span></label>
                            @if (Model.quyetToan.iID_QuyetToanID == new Guid())
                            {
                                <div class='input-group date'>
                                    <input type="text" id="dNgayQuyetDinh" name="dNgayQuyetDinh" class="form-control" placeholder="dd/MM/yyyy" value="" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <input type="text" id="dNgayQuyetDinh" name="dNgayQuyetDinh" disabled class="form-control" placeholder="dd/MM/yyyy" value="@(Model.quyetToan.dNgayQuyetDinh.HasValue ? Model.quyetToan.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : "")" />
                            }
                        </div>
                        <div class="col-sm-3">
                            <label for="txt_sCoQuanPheDuyet">Cơ quan phê duyệt</label>
                            <input type="text" id="sCoQuanPheDuyet" name="sCoQuanPheDuyet" class="form-control" value="@Model.quyetToan.sCoQuanPheDuyet" maxlength="100" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txt_sNguoiKy">Người ký</label>
                            <input type="text" id="sNguoiKy" name="sNguoiKy" class="form-control" value="@Model.quyetToan.sNguoiKy" />
                        </div>
                    </div>
                </div>
                @*Thông tin nội dung*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                    @if (Model.quyetToan.iID_QuyetToanID == new Guid())
                    {
                        <div class="col-sm-3">
                            <label for="txt_DonViQuanLy">Đơn vị quản lý <span class="require">*</span></label>
                            @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtDuAn">Nội dung</label>
                            @Helpers.Required()
                            <select id="iID_DuAnID" class="form-control clearable"></select>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-3">
                            <input type="hidden" id="iID_DonViQuanLyID" name="iID_DonViQuanLyID" value="@Model.quyetToan.iID_DonViQuanLyID">
                            <label class="control-label">Đơn vị quản lý</label>
                            <p id="sTenDonViQuanLy">@Model.quyetToan.sTenDonViQuanLy</p>
                        </div>
                        <div class="col-sm-3">
                            <input type="hidden" id="iID_DuAnID" name="iID_DuAnID" value="@Model.quyetToan.iID_DuAnID">
                            <label class="control-label">Dự án</label>
                            <p id="sTenDuAn">@Model.quyetToan.sTenDuAn</p>
                        </div>
                    }
                    @*<div class="row">
                <div class="col-sm-3">
                    <label for="txt_DonViQuanLy">Đơn vị quản lý <span class="require">*</span></label>
                    @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                </div>
                <div class="col-sm-4">
                    <label for="txtDuAn">Nội dung</label>
                    @Helpers.Required()
                    <select id="iID_DuAnID" class="form-control clearable"></select>
                </div>
            </div>*@
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">Địa điểm</label>
                        <p id="sDiaDiem">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Thời gian thực hiện</label>
                        <p id="sThoiGianTH">--- - ---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Tổng mức đầu tư</label>
                        <p id="fTongMucDauTuPheDuyet">---</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">Kế hoạch ứng</label>
                        <p id="fGiaTriUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Vốn ứng đã cấp</label>
                        <p id="fLKSoVonDaTamUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Vốn ứng đã thu hồi</label>
                        <p id="fLKThuHoiUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Giá trị còn phải thu hồi</label>
                        <p id="fConPhaiThuHoi">---</p>
                    </div>
                </div>

                @*Chi phí đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Chi phí đầu tư:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtAddCpdtChiPhi">Chi phí <span class="require">*</span></label>
                            @Html.DropDownList("iID_ChiPhiID", (SelectList)(ViewBag.ListChiPhi), new { @class = "form-control", @id = "iID_ChiPhiID" })
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">GT dự toán</label>
                            <p id="fGiaTriDuToan">---</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtAddCpdtGiaTriQuyetToan">GT quyết toán <span class="require">*</span></label>
                            <input type="text" id="txtAddCpdtGiaTriQuyetToan" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" value="" />
                        </div>
                        <div class="col-sm-3">
                            <label for="btn">&nbsp;</label>
                            <br />
                            <div class="input-group pull-right">
                                @*<input type="text" class="form-control">*@
                                <div class="input-group-append">
                                    <span class="require text-italic mr-10">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiChiPhiDauTu()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="XoaThemMoiChiPhi()">
                                        <span class="fa fa-refresh fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblChiPhiDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tên chi phí</th>
                                        <th width="25%">Giá trị quyết toán</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 0;
                                        foreach (var item in Model.listQuyetToanChiPhi)
                                        {
                                            index++;
                                            <tr style='cursor: pointer;'>
                                                <td align="center" class='r_STT'>@index</td>

                                                <td><input type='hidden' class='r_iID_ChiPhi' value='@item.iID_ChiPhiID' />@item.sTenChiPhi</td>

                                                <td class='r_GiaTriPheDuyet' align='right'>@item.fTienPheDuyet.ToString("###,###")</td>

                                                <td align='center'>
                                                    <button class='btn-edit btn-icon' type='button' onclick='SuaDong(this, TBL_CHI_PHI_DAU_TU)'>
                                                        <i class='fa fa-pencil-square-o fa-lg' aria-hidden='true'></i>
                                                    </button>
                                                    <button class='btn-delete btn-icon' type='button' onclick='XoaDong(this, TBL_CHI_PHI_DAU_TU)'>
                                                        <i class='fa fa-trash-o fa-lg' aria-hidden='true'></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_chiphi"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            @{
                                foreach (var item in Model.listQuyetToanChiPhi)
                                {
                                    <script>
                                        arrChiPhiTemp.push({
                                            iID_ChiPhiID: '@item.iID_ChiPhiID',
                                            fTienPheDuyet: @item.fTienPheDuyet
                                        })
                                    </script>
                                }
                            }
                        </div>
                    </div>
                </div>

                @*Nguồn vốn đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtAddNvdtNguonVon">Nguồn vốn <span class="require">*</span></label>
                            @Html.DropDownList("iID_MaNguonNganSach", (SelectList)(ViewBag.ListNguonVon), new { @class = "form-control", @id = "iID_MaNguonNganSach" })
                            @*@Html.DropDownList("txtAddNvdtNguonVon", (SelectList)(ViewBag.ListNguonVon), "", new { @class = "form-control", @id = "txtAddNvdtNguonVon" })*@
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">GT dự toán</label>
                            <p id="fGiaTriDuToanNguonVon">---</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtAddNvdtGiaTriQuyetToan">Giá trị quyết toán</label>
                            <input type="text" id="txtAddNvdtGiaTriQuyetToan" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" value="" />
                        </div>
                        <div class="col-sm-3">
                            <label for="btn">&nbsp;</label>
                            <br />
                            <div class="input-group pull-right">
                                <div class="input-group-append">
                                    <span class="require text-italic mr-10">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiNguonVonDauTu()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" onclick="XoaThemMoiNguonVon()">
                                        <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblNguonVonDauTu">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tên nguồn vốn</th>
                                        <th width="25%">Giá trị quyết toán</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int indexNV = 0;
                                        foreach (var item in Model.listQuyetToanNguonVon)
                                        {
                                            indexNV++;
                                            <tr style='cursor: pointer;'>
                                                <td align="center" class='r_STT'>@indexNV</td>

                                                <td><input type='hidden' class='r_iID_NguonVon' value='@item.iID_NguonVonID' />@item.sTen</td>

                                                <td class='r_GiaTriPheDuyet' align='right'>@item.fTienPheDuyet.ToString("###,###")</td>

                                                <td align='center'>
                                                    <button class='btn-edit btn-icon' type='button' onclick='SuaDong(this, TBL_NGUON_VON_DAU_TU)'>
                                                        <i class='fa fa-pencil-square-o fa-lg' aria-hidden='true'></i>
                                                    </button>
                                                    <button class='btn-delete btn-icon' type='button' onclick='XoaDong(this, TBL_NGUON_VON_DAU_TU)'>
                                                        <i class='fa fa-trash-o fa-lg' aria-hidden='true'></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_nguonvon"></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            @{
                                foreach (var item in Model.listQuyetToanNguonVon)
                                {
                                    <script>
                                        arrNguonVonTemp.push({
                                            iID_NguonVonID: @item.iID_NguonVonID,
                                            fTienPheDuyet: @item.fTienPheDuyet
                                        })
                                    </script>
                                }
                            }
                        </div>
                    </div>
                </div>

                @*Nội dung quyết toán*@
                <div class="form-group">
                    <h4 class="color-text-red">Nội dung quyết toán:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="control-label">GT dự toán</label>
                            <p id="fTongGiaTriPhanBo">---</p>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">GT quyết toán</label>
                            <p id="tongGiaTriPheDuyet">---</p>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">GT chênh lệch</label>
                            <p id="fTongGiaTriChenhLech">---</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNoiDung">Nội dung</label>
                            <textarea id="sNoiDung" name="sNoiDung" class="form-control">@Html.Raw(Model.quyetToan.sNoiDung)</textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12" id="lstDataView">
                            @Html.Partial("_partialListNoiDungQuyetToan", Model)
                        </div>
                    </div>
                </div>

                @*Thông tin tài liệu đính kèm*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="color-text-red">Thông tin tài liệu đính kèm</h4>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group pull-right">
                                <div class="input-group-append">
                                    <span class="require text-italic mr-10">(Thêm đính kèm)</span>
                                    <button class="btn btn-primary btn-icon" type="button">
                                        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="color-background-red" />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblThongTinTaiLieuDinhKem">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="60%">Tài liệu</th>
                                        <th width="25%">Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

<script src="~/Scripts/QLVonDauTu/QuyetToan/jsVDT_TaoMoi_QLPheDuyetQuyetToan.js" type="text/javascript"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
<script src="~/Scripts/js/dropdowntree.js"></script>
<script>
    $(document).ready(function () {
        var iID_QuyetToanID = $("#iID_QuyetToanID").val();
        if (iID_QuyetToanID != GUID_EMPTY) {
            $("#iID_DuAnID").trigger("change");

            SetArrsData();
        }

    });

</script>

<style>
 /*   .table-bordered tr, td {
        border: 1px solid
    }*/

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }
</style>