@using Viettel.Models.QLVonDauTu
@model VDTQLPheDuyetQuyetToanModel
@{
    ViewBag.Title = "Nhập thông tin phê duyệt chủ trương đầu tư";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<script>
    var arrChiPhiTemp = [];
    var arrNguonVonTemp = [];
</script>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="header-create-update">
                    <span>
                        @Html.Raw("Xem chi tiết thông tin phê duyệt quyết toán")
                    </span>
                </div>
                @*Thông tin phê duyệt*@
            <div class="form-group">
                <h4 class="color-text-red">Thông tin quyết toán:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input type="hidden" id="iID_QuyetToanID" name="iID_QuyetToanID" value="@Model.quyetToan.iID_QuyetToanID">
                        <label class="control-label">Số quyết định</label>
                        <p>@Model.quyetToan.sSoQuyetDinh</p>
                    </div>
                    <div class="col-sm-3">
                        <input type="hidden" id="dNgayQuyetDinh" name="dNgayQuyetDinh" value="@Model.quyetToan.dNgayQuyetDinh">
                        <label class="control-label">Ngày phê duyệt</label>
                        <p>@(Model.quyetToan.dNgayQuyetDinh.HasValue ? Model.quyetToan.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : "")</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Cơ quan phê duyệt</label>
                        <p>@Model.quyetToan.sCoQuanPheDuyet</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Người ký</label>
                        <p>@Model.quyetToan.sNguoiKy</p>
                    </div>
                </div>
            </div>
                @*Thông tin nội dung*@
            <div class="form-group">
                <h4 class="color-text-red">Thông tin nội dung:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="hidden" id="iID_DonViQuanLyID" name="iID_DonViQuanLyID" value="@Model.quyetToan.iID_DonViQuanLyID">
                        <label class="control-label">Đơn vị quản lý</label>
                        <p id="sTenDonViQuanLy">@Model.quyetToan.sTenDonViQuanLy</p>
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" id="iID_DuAnID" name="iID_DuAnID" value="@Model.quyetToan.iID_DuAnID">
                        <label class="control-label">Dự án</label>
                        <p id="sTenDuAn">@Model.quyetToan.sTenDuAn</p>
                    </div>
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label class="control-label">Địa điểm</label>
                        <p id="sDiaDiem">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Thời gian thực hiện</label>
                        <p id="sThoiGianTH">--- - ---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Tổng mức đầu tư</label>
                        <p id="fTongMucDauTuPheDuyet">---</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">Kế hoạch ứng</label>
                        <p id="fGiaTriUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Vốn ứng đã cấp</label>
                        <p id="fLKSoVonDaTamUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Vốn ứng đã thu hồi</label>
                        <p id="fLKThuHoiUng">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Giá trị còn phải thu hồi</label>
                        <p id="fConPhaiThuHoi">---</p>
                    </div>
                </div>

                @*Chi phí đầu tư*@
            <div class="form-group">
                <h4 class="color-text-red">Chi phí đầu tư:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="tblChiPhiDauTu">
                            <thead>
                                <tr>
                                    <th width="5%">STT</th>
                                    <th width="60%">Tên chi phí</th>
                                    <th width="35%">Giá trị quyết toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 0;
                                    foreach (var item in Model.listQuyetToanChiPhi)
                                    {
                                        index++;
                                        <tr style='cursor: pointer;'>
                                            <td align="center" class='r_STT'>@index</td>

                                            <td><input type='hidden' class='r_iID_ChiPhi' value='@item.iID_ChiPhiID' />@item.sTenChiPhi</td>

                                            <td class='r_GiaTriPheDuyet' align='right'>@item.fTienPheDuyet.ToString("###,###")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Tổng cộng</th>
                                    <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_chiphi"></th>
                                </tr>
                            </tfoot>
                        </table>
                        @{
                            foreach (var item in Model.listQuyetToanChiPhi)
                            {
                                <script>
                                        arrChiPhiTemp.push({
                                            iID_ChiPhiID: '@item.iID_ChiPhiID',
                                            fTienPheDuyet: @item.fTienPheDuyet
                                        })
                                </script>
                            }
                        }
                    </div>
                </div>
            </div>

                @*Nguồn vốn đầu tư*@
            <div class="form-group">
                <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="tblNguonVonDauTu">
                            <thead>
                                <tr>
                                    <th width="5%">STT</th>
                                    <th width="60%">Tên nguồn vốn</th>
                                    <th width="35%">Giá trị quyết toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int indexNV = 0;
                                    foreach (var item in Model.listQuyetToanNguonVon)
                                    {
                                        indexNV++;
                                        <tr style='cursor: pointer;'>
                                            <td align="center" class='r_STT'>@indexNV</td>

                                            <td><input type='hidden' class='r_iID_NguonVon' value='@item.iID_NguonVonID' />@item.sTen</td>

                                            <td class='r_GiaTriPheDuyet' align='right'>@item.fTienPheDuyet.ToString("###,###")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Tổng cộng</th>
                                    <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_nguonvon"></th>
                                </tr>
                            </tfoot>
                        </table>
                        @{
                            foreach (var item in Model.listQuyetToanNguonVon)
                            {
                                <script>
                                        arrNguonVonTemp.push({
                                            iID_NguonVonID: @item.iID_NguonVonID,
                                            fTienPheDuyet: @item.fTienPheDuyet
                                        })
                                </script>
                            }
                        }
                    </div>
                </div>
            </div>

                @*Nội dung quyết toán*@
            <div class="form-group">
                <h4 class="color-text-red">Nội dung quyết toán:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label">GT dự toán</label>
                        <p id="fTongGiaTriPhanBo">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">GT quyết toán</label>
                        <p id="tongGiaTriPheDuyet">---</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">GT chênh lệch</label>
                        <p id="fTongGiaTriChenhLech">---</pid>
                    </div>
                    <div class="col-sm-3">
                        <label for="txtNoiDung">Nội dung</label>
                        <p>@Html.Raw(Model.quyetToan.sNoiDung)</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12" id="lstDataView">
                        @Html.Partial("_partialListNoiDungQuyetToan", Model)
                    </div>
                </div>
            </div>

                @*Thông tin tài liệu đính kèm*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="color-text-red">Thông tin tài liệu đính kèm:</h4>
                        </div>
                    </div>
                    <hr class="color-background-red" />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblThongTinTaiLieuDinhKem">
                                <thead>
                                    <tr>
                                        <th width="5%">STT</th>
                                        <th width="60%">Tài liệu</th>
                                        <th width="25%">Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

<script src="~/Scripts/QLVonDauTu/QuyetToan/jsVDT_TaoMoi_QLPheDuyetQuyetToan.js" type="text/javascript"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
<script src="~/Scripts/js/dropdowntree.js"></script>
<script>
    $(document).ready(function () {
        var iID_QuyetToanID = $("#iID_QuyetToanID").val();
        if (iID_QuyetToanID != GUID_EMPTY) {
            $("#iID_DuAnID").trigger("change");

            SetArrsData();
        }

    });

</script>

<style>

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }
</style>