@using Viettel.Domain.DomainModel
@using Viettel.Models.QLVonDauTu
@model VDT_DM_LoaiCongTrinh

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                Chi tiết @Model.sTenLoaiCongTrinh
                <hr>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="row detail-item">
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Mã Loại công trình</label>
                        <p><b>@Html.Raw(Model.sMaLoaiCongTrinh)</b></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Tên loại công trình</label>
                        <p><b>@Html.Raw(Model.sTenLoaiCongTrinh)</b></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Tên viết tắt</label>
                        <p><b>@Html.Raw(Model.sTenVietTat)</b></p>
                    </div>
                </div>

                <div class="row detail-item">
                    <div class="col-sm-4 form-group">
                        <label class="control-label">Thứ tự</label>
                        <p><b>@Html.Raw(Model.iThuTu)</b></p>
                    </div>
                </div>

                <div class="row detail-item">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Mô tả</label>
                        <p><b>@Html.Raw(string.IsNullOrEmpty(Model.sMoTa)?"---": Model.sMoTa)</b></p>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-back" onclick="CancelSaveData()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/QLVonDauTu/DanhMuc/jsVDTDMLoaiCongTrinh.js"></script>
}


