@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Mapping chi tiết mục lục dự toán kiểm tra năm " + PhienLamViec.iNamLamViec;
}
<h2>@ViewBag.Title</h2>
<table class="table-info">
    <tr>
        <td><label>Ký hiệu:</label></td>
        <td width="250px"><span class="text-danger">@Model.NhuCauViewModel.KyHieu</span></td>
        <td><label>Ngành:</label></td>
        <td width="250px"><span class="text-danger">@Model.NhuCauViewModel.Nganh</span></td>
        <td><label>Nội dung:</label></td>
        <td><span class="text-danger">@Model.NhuCauViewModel.MoTa</span></td>        
    </tr>
</table>
@Html.Partial("_sheet")