@using Viettel.Models.QLVonDauTu
@model KeHoach5NamModel
<div class="tooltip-header-search">
    <div class="col-sm-6" style="display: flex; padding-left: 0px;"><label class="control-label">Danh sách thông tin kế hoạch 5 năm</label></div>
    <button class="btn btn-primary" style="float: right" onclick="themMoi()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
</div>
<table class="table table-bordered" id="tblListVDTChuTruongDauTu">
    <thead class="header-search">
        <tr>
            <th width="3%"></th>
            <th width="10%">
                <input type="text" class="form-control" id="txtSoQuyetDinh" autocomplete="off" />
            </th>
            <th width="16%">
                <div style="display:flex">
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="txtNgayQuyetDinhFrom" autocomplete="off" placeholder="dd/MM/yyyy" />
                        <span class="btn-default input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span style="margin: 8px 5px 0px 5px;">-</span>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="txtNgayQuyetDinhTo" autocomplete="off"  placeholder="dd/MM/yyyy" />
                        <span class="btn-default input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </th>
            <th width="12%">
                <div style="display: flex">
                    <input type='text' style="width: 50%" class="form-control col-sm-2" value="" id="txtGiaiDoanTu" autocomplete="off" />
                    <span style="margin: 8px 5px 0px 5px;">-</span>
                    <input type='text' style="width: 50%" class="form-control col-sm-2" value="" id="txtGiaiDoanDen" autocomplete="off" />
                </div>
            </th>
            <th width="20%"></th>
            <th width="13%"></th>
            <th width="10%">@Html.DropDownList("ddlDonViQuanLy", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "txtDonViQuanLy" })</th>
            <th width="5%"></th>
            <th width="10%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="3%">STT</th>
            <th width="10%">Số kế hoạch</th>
            <th width="16%">Ngày lập</th>
            <th width="12%">Giai đoạn</th>
            <th width="20%">Nguồn vốn</th>
            <th width="13%">Loại ngân sách</th>
            <th width="10%">Đơn vị quản lý</th>
            <th width="5%">Điều chỉnh</th>
            <th width="10%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@index</td>
                    <td align="left">@item.sSoQuyetDinh</td>
                    <td align="center">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td align="left">@(item.iGiaiDoanTu + "-" + item.iGiaiDoanDen)</td>
                    <td align="left">@item.sTenNguonVon</td>
                    <td align="left">@item.sTenLoaiNganSach</td>
                    <td align="left">@item.sTenDonvi</td>
                    <td align="center">@("(" + item.soLanDC + ")") </td>
                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="dieuChinh('@item.iID_KeHoach5NamID')"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-detail" onclick="xemChiTiet('@item.iID_KeHoach5NamID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="sua('@item.iID_KeHoach5NamID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="xoa('@item.iID_KeHoach5NamID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
        @Html.BuildPagingButtons(Model._paging)

        <script type="text/javascript">
            $(document).ready(function () {
                $('.date')
                    .datepicker({
                        todayBtn: "linked",
                        keyboardNavigation: false,
                        forceParse: false,
                        autoclose: true,
                        language: 'vi',
                        todayHighlight: true,
                    });
                $("tr").hover(function () {
                    $(this).css("background-color", "#e7f8fe");
                }, function () {
                    $(this).css("background-color", "");
                });

                $('#tblListVDTChuTruongDauTu tr').each(function () {
                    var soTien = $(this).find(".sotien").text();
                    if (soTien) {
                        soTien = FormatNumber(soTien);
                        $(this).find(".sotien").text(soTien);
                    }
                });
            });

        </script>


