@using Viettel.Models.QLVonDauTu
@model KeHoach5NamModel
@{
    ViewBag.Title = "Danh sách kế hoạch 5 năm";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="card-body">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12" style="padding: 0">
                        <div class="col-sm-2">
                            <label for="txtSoQuyetDinh">Số kế hoạch</label>
                            <input type="text" class="form-control" id="txtSoQuyetDinh" autocomplete="off" />
                        </div>

                        <div class="col-sm-4">
                            <label for="txtNgayQuyetDinh">Ngày quyết định</label>
                            <div style="display:flex">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayQuyetDinhFrom" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <span style="margin: 8px 5px 0px 5px;">-</span>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayQuyetDinhTo" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="txtTongMucDauTu">Giai đoạn từ</label>
                            <div style="display: flex">
                                <input type='text' style="width: 50%" class="form-control col-sm-2" value="" id="txtGiaiDoanTu" autocomplete="off" />
                                <span style="margin: 8px 5px 0px 5px;">-</span>
                                <input type='text' style="width: 50%" class="form-control col-sm-2" value="" id="txtGiaiDoanDen" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtDonViQuanLy">Đơn vị quản lý</label>
                            @Html.DropDownList("ddlDonViQuanLy", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "txtDonViQuanLy" })
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsQLKeHoach5Nam_list.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("TimKiem", "KeHoach5Nam")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

