@using Viettel.Models.QLVonDauTu
@model VDTKeHoachVonNamDuocDuyetExport
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
            z-index: 1;
        }
</style>
@*Thông tin nội dung*@

<div class="form-group">
    <h4 class="color-text-red">Thông tin báo cáo:</h4>
    <hr class='color-background-red' />
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <div class="col-sm-12 form-group">
            <label for="txt_DonViQuanLy">Đơn vị</label>
            @Helpers.Required()
            @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txtGiaiDoanTu">Năm kế hoạch</label>
            @Helpers.Required()
            <input type="number" id="iNamKeHoach" name="iGiaiDoanTu" class="form-control" value="@Model.iNamLamViec" maxlength="50" />
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_KeHoach5NamDeXuat">Chọn chứng từ</label>
            @Helpers.Required()
            @Html.DropDownList("ValueItem", (SelectList)(ViewBag.lstLoaiChungTu), new { @class = "form-control", @id = "ValueItemLoaiChungTu" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_LoaiCongTrinh">Loại công trình</label>
            @Helpers.Required()
            @Html.DropDownList("iID_LoaiCongTrinh", (SelectList)(ViewBag.lstLoaiCongTrinh), new { @class = "form-control", @id = "iID_LoaiCongTrinh" })
        </div>

    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 form-group">
            <label for="txtNguonVon">Nguồn vốn</label>
            @Helpers.Required()
            @Html.DropDownList("iID_MaNguonNganSach", (SelectList)(ViewBag.LstNguonVon), new { @class = "form-control nguonvon", @id = "iID_MaNguonNganSach" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_DonViTinh">Đơn vị tính</label>
            @Helpers.Required()
            @Html.DropDownList("ValueItem", (SelectList)(ViewBag.LstDonViTinh), new { @class = "form-control", @id = "ValueItem" })
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe1">Tiêu đề 1</label>
            <input type="text" required id="txt_TieuDe1" name="txt_TieuDe1" class="form-control" value="KẾ HOẠCH ĐẦU TƯ VỐN NĂM ...." maxlength="500" />
        </div>
        <div class="col-sm-12 form-group">
            <label for="txt_TieuDe2">Tiêu đề 2</label>
            <input type="text" required id="txt_TieuDe2" name="txt_TieuDe2" class="form-control" value="(Kèm theo Báo cáo số ...... ngày ... tháng ... năm ...)" maxlength="500" />
        </div>
    </div>

</div>
</div>



