@using Viettel.Models.QLNH
@model DanhmucNgoaiHoi_LoaiHopDongModelPaging

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh mục loại hợp đồng (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" style="margin-right:10px;" onclick="OpenModal()" data-toggle="modal" data-target="#modalLoaiHopDong"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered" id="tbListLoaiHopDong">
    <thead class="header-search">
        <tr>
            <th width="3%"></th>
            <th width="20%"><input type="text" class="form-control gr_search" id="txtMaLoaiHopDong" placeholder="Mã loại hợp đồng" /></th>
            <th width="20%"><input type="text" class="form-control gr_search" id="txtTenVietTat" placeholder=" Tên viết tắt" /></th>
            <th width="20%"><input type="text" class="form-control gr_search" id="txtTenLoaiHopDong" placeholder="Tên loại hợp đồng" /></th>
            <th width="22%"><input type="text" class="form-control gr_search" id="txtMoTa" placeholder="Mô tả" /></th>
            <th width="15%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="3%">STT</th>
            <th width="20%">Mã loại hợp đồng</th>
            <th width="20%">Tên viết tắt</th>
            <th width="20%">Tên loại hợp đồng</th>
            <th width="22%">Mô tả</th>
            <th width="15%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@(pageIndex + index)</td>
                    <td align="left">@Html.Raw(Html.Encode(item.sMaLoaiHopDong))</td>
                    <td align="left">@Html.Raw(Html.Encode(item.sTenVietTat))</td>
                    <td align="left">@Html.Raw(Html.Encode(item.sTenLoaiHopDong))</td>
                    <td align="left">@Html.Raw(!string.IsNullOrEmpty(Html.Encode(item.sMoTa)) ? Html.Encode(item.sMoTa).Replace("\n", "<br/>") : string.Empty)</td>
                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.ID')" data-toggle="modal" data-target="#modalLoaiHopDong"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.ID')" data-toggle="modal" data-target="#modalLoaiHopDong"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="Delete('@item.ID')"data-toggle="modal" data-target="#modalLoaiHopDong"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tbListLoaiHopDong .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });
    });

</script>

