@using Viettel.Domain.DomainModel
@model NH_DM_LoaiHopDong

<div class="modal-body">
    <input type="hidden" id="iID_LoaiHopDongModal" value="@Model.ID">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtsMaLoaiHopDong">Mã loại hợp đồng</label>
                @Helpers.Required()
                <input type="text" id="txtsMaLoaiHopDong" class="form-control" value="@Html.Raw(Html.Encode(Model.sMaLoaiHopDong))" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtsTenVietTat">Tên viết tắt</label>
                <input type="text" id="txtsTenVietTat" class="form-control" value="@Html.Raw(Html.Encode(Model.sTenVietTat))" maxlength="100" autocomplete="off" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtsTenLoaiHopDong">Tên loại hợp đồng</label>
                @Helpers.Required()
                <input type="text" id="txtsTenLoaiHopDong" class="form-control" value="@Html.Raw(Html.Encode(Model.sTenLoaiHopDong))" maxlength="300" autocomplete="off" />
            </div>
            <div class="col-sm-12">
                <label for="txtsMoTa">Mô tả</label>
                <textarea id="txtsMoTa" name="txtsMotaTyGia" style="height: 80px" class="form-control" autocomplete="off">@Html.Raw(Html.Encode(Model.sMoTa))</textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="Save()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>