@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model QuyetToanNienDoTroLyPagingModel

<div class="tooltip-header-search">
    <div class="col-sm-6" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách kế hoạch vốn năm (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="BtnInsertDataClick()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
</div>
<table class="table table-bordered table-striped">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="15%"></th>
    <th width="15%">
        <div style="display:flex">
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayLapFrom" autocomplete="off" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayLapTo" autocomplete="off" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="5%"><input type="text" class="form-control clearable" id="txtNamKeHoach" autocomplete="off" /></th>
    <th width="10%">@Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, new { @class = "form-control clearable" })</th>
    <th width="10%"> @Html.DropDownList("drpNguonNganSach", ViewBag.drpNguonVon as List<SelectListItem>, new { @class = "form-control clearable" })</th>
    <th width="10%"></th>
    <th width="12%"></th>
    <th width="12%"></th>
    <th width="6%" class="text-center">
        <button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
    </th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="15%">Số đề nghị</th>
    <th width="15%">Ngày đề nghị</th>
    <th width="5%">Năm kế hoạch</th>
    <th width="10%">Đơn vị đề nghị</th>
    <th width="10%">Tên nguồn vốn</th>
    <th width="10%">Tên loại nguồn vốn</th>
    <th width="12%">Giá trị quyết toán năm trước</th>
    <th width="12%">Giá trị quyết toán năm nay</th>
    <th width="6%"> Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = Model._paging.ItemForm;
            foreach (var item in Model.lstData)
            {

                <tr>
                    <td align="center">@index</td>
                    <td align="left">@item.sSoDeNghi</td>
                    <td align="center">@item.dNgayDeNghi.Value.ToString("dd/MM/yyyy")</td>
                    <td align="center">@item.iNamKeHoach</td>
                    <td align="left">@item.sTenDonVi</td>
                    <td align="left">@item.sTenLoaiNguonVon</td>
                    <td align="left">@item.sTenLoaiNguonVon</td>
                    <td align="right">@item.sGiaTriQuyetToanNamTruoc</td>
                    <td align="right">@item.sGiaTriQuyetToanNamNay</td>

                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="ViewDetailList('@item.iID_DeNghiQuyetToanNienDoID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="GetItemDataList('@item.iID_DeNghiQuyetToanNienDoID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItemList('@item.iID_DeNghiQuyetToanNienDoID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>

                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)


<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true
            });
    })
</script>