@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model QuyetToanNienDoTroLyPagingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="card-search">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            <label for="drpDonViQuanLy" class="label-item">Đơn vị</label>
                            @Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, new { @class = "form-control clearable" })
                        </div>
                        <div class="col-sm-3">
                            <label for="drpNguonNganSach" class="label-item">Nguồn vốn</label>
                            @Html.DropDownList("drpNguonNganSach", ViewBag.drpNguonVon as List<SelectListItem>, new { @class = "form-control clearable" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNamKeHoach" class="label-item">Ngày quyết toán</label>
                            <div style="display:flex">
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayLapFrom" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <span style="margin: 8px 5px 0px 5px;">-</span>
                                <div class='input-group date'>
                                    <input type='text' class="form-control" id="txtNgayLapTo" />
                                    <span class="btn-default input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="drpDonViQuanLy" class="label-item">Năm kế hoạch</label>
                            <input type="text" class="form-control clearable" id="txtNamKeHoach" />
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/QLVonDauTu/QuyetToan/jsQuyetToanNienDoTroLy.js"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}
