@using Viettel.Domain.DomainModel
@model VDT_QT_DeNghiQuyetToanNienDo_TroLy
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}


@section Styles{
    <link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
    <script src="~/Scripts/js/dropdowntree.js"></script>
}

<style>
    .table-parent th {
        text-align: center;
        border-top: 2px solid #ddd;
    }
</style>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <input type="hidden" id="iID_DeNghiQuyetToanNienDoID" value="@Model.iID_DeNghiQuyetToanNienDoID">
        <input type="hidden" id="drpDonViQuanLyEdit" value="@Model.iID_DonViDeNghiID">
        <input type="hidden" id="drpNguonNganSachEdit" value="@Model.iID_NguonVonID">
        <input type="hidden" id="drpLoaiNganSachEdit" value="@Model.iID_LoaiNguonVonID" />

        <input type="hidden" id="txtSoPheDuyetEdit" value="@Model.sSoDeNghi">
        <input type="hidden" id="txtNgayPheDuyetEdit" value="@Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy")">
        <input type="hidden" id="txtNguoiLapEdit" value="@Model.sNguoiDeNghi">

        <input type="hidden" id="drpNganhEdit">
        <input type="hidden" id="drpDuAnEdit">

        <div class="card">
            <div class="card-body create_thdt">

                <div class="form-group">
                    <div class="">
                        <label class="color-text-red"><h4> Thông tin quyết toán:</h4></label>
                        <div class="pull-right">
                            <button class="btn btn-success show-edit-off" onclick="EditThongTinChung_On()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Sửa</span></button>
                            <button class="btn btn-primary show-edit-on" onclick="SaveThongTinChung()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                            <button class="btn btn-default show-edit-on" onclick="CancelSaveThongTinChung()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        </div>
                    </div>
                    <hr class="color-background-red">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="drpDonViQuanLy" class="">Đơn vị quản lý <span class="require">*</span></label>
                            @Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNamKeHoach" class="">Năm kế hoạch <span class="require">*</span></label>
                            <input type='number' class="form-control clearable" id="txtNamKeHoach" value="@DateTime.Now.Year" disabled="disabled" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtSoPheDuyet" class="">Số văn bản <span class="require">*</span></label>
                            <input type='text' class="form-control clearable" id="txtSoPheDuyet" disabled="disabled" value="@Model.sSoDeNghi" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtNgayPheDuyet" class="">Ngày đề nghị <span class="require">*</span></label>
                            <div class='input-group date'>
                                <input type='text' class="form-control" id="txtNgayPheDuyet" disabled="disabled" value="@Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy")" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiLap" class="">Người đề nghị</label>
                            <input type='text' class="form-control clearable" id="txtNguoiLap" disabled="disabled" value="@Model.sNguoiDeNghi" />
                        </div>
                        <div class="col-sm-3">
                            <label for="drpNguonNganSach" class="">Nguồn vốn <span class="require">*</span></label>
                            @Html.DropDownList("drpNguonNganSach", ViewBag.drpNguonVon as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-3">
                            <label for="drpLoaiNganSach" class="">Loại nguồn vốn<span class="require">*</span></label>
                            @Html.DropDownList("drpLoaiNganSach", ViewBag.drpLoaiNganSach as List<SelectListItem>, new { @class = "form-control clearable", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <button class="btn btn-info" onclick="btnLaySoLieu_Click()"><i class="fa fa-search" aria-hidden="true"></i><span>Lấy số liệu</span></button>
                            <span class="require text-italic">(Lấy dữ liệu chỉ tiêu, thanh toán của năm xuống bảng chi tiết)</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="">
                        <label class="color-text-red"><h4> Thông tin chi tiết:</h4></label>
                        <div class="pull-right">
                            <button class="btn btn-success show-edit-detail-off" onclick="EditThongTinChiTiet_On()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Sửa</span></button>
                            <button class="btn btn-primary show-edit-detail-on" onclick="SaveThongTinChiTiet()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                            <button class="btn btn-default show-edit-detail-on" onclick="CancelSaveThongChiTiet()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        </div>
                    </div>
                    <hr class="color-background-red">

                    <div id="pnlThongTinChiTiet" style="display:none;">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="txtLoaiCongTrinh" class="">Loại công trình <span class="require">*</span></label>
                                <input type="text" id="txtLoaiCongTrinh" class="form-control clearable">
                                <input type="hidden" id="drpLoaicongTrinh">
                            </div>
                            <div class="col-sm-6">
                                <label for="drpNganh" class="">Mục - Tiểu mục - Tiết mục - Ngành<span class="require">*</span></label>
                                <select id="drpNganh" class="form-control clearable"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="drpDuAn" class="">Dự án <span class="require">*</span></label>
                                <select id="drpDuAn" class="form-control clearable"></select>

                                <input type="hidden" id="txtTongMucDauTuPheDuyet">
                            </div>
                            <div style=" margin-top: 25px; ">
                                <button class="btn btn-detail btn-icon"><i class="fa fa-plus" aria-hidden="true" style="margin:0px;"></i></button>
                                <span class="require text-italic">(Thêm mới dự án không có chỉ tiêu đầu năm để quyết toán)</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="txtNganHang" class="">Chỉ tiêu năm trước chuyển đã cấp (VNĐ)</label>
                                <input type='text' id="txtChiTieuNganSachNam" class="form-control clearable currently" disabled="disabled" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtGoiThau" class="">Cấp phát vốn năm trước</label>
                                <input type='text' id="txtCapPhatVonNamTruoc" class="form-control clearable currently" disabled="disabled" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNganHang" class="">Chỉ tiêu ngân sách năm (VNĐ)</label>
                                <input type='text' class="form-control clearable currently" id="txtChiTieuNganSachNamNay" disabled="disabled" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtGoiThau" class="">Cấp phát vốn năm nay</label>
                                <input type='text' class="form-control clearable currently" id="txtCapPhatVonNamNay" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label for="txtNhaThau" class="">Đơn vị đề nghị quyết toán năm trước</label>
                                <input type='text' id="txtDonViDeNghiCapPhatVonNamTruoc" class="form-control clearable currently" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtThanhToanTrongNam" class="">Trợ lý đề nghị quyết toán năm trước</label>
                                <input type='text' id="txtTroLyDeNghiCapPhatVonNamTruoc" class="form-control clearable currently" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtNhaThau" class="">Đơn vị đề nghị quyết toán năm nay <span class="require">*</span></label>
                                <input type='text' id="txtDonViDeNghiCapPhatVonNamNay" class="form-control clearable currently" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtTamUng" class="">Trợ lý đề nghị quyết toán năm nay <span class="require">*</span></label>
                                <input type='text' class="form-control clearable currently" id="txtTroLyDeNghiCapPhatVonNamNay" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button class="btn btn-delete btn-icon" onclick="ClearDataDetail()"><i class="fa fa-refresh" aria-hidden="true" style="margin:0px;"></i></button>
                                <button class="btn btn-detail btn-icon" onclick="InsertItemToGridView()"><i class="fa fa-plus" aria-hidden="true" style="margin:0px;"></i></button>
                                <span class="require text-italic">(Thêm dữ liệu xuống bảng chi tiết)</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-area">
                    <div id="ViewTable" style="overflow:scroll; height:300px;"></div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/QuyetToan/jsQuyetToanNienDoTroLy.js"></script>
    <script>
        var tblDataGrid = [];
        var maxId = 3;
        var dataExclude = [1, 2, 3];

        $(document).ready(function () {
            GetDropdownLoaiCongTrinh();

            CreateDefaultTable();

            $("#drpLoaiNganSach").change(function (e) {
                $("#drpNganh").empty();
                $("#drpDuAn").empty();
                GetDataDropdownNganh();
            });

            $("#drpNganh").change(function (e) {
                GetDataDropdownDuAn();
            });

            $("#drpDuAn").change(function (e) {
                GetDetailDuAn();
            });

            $(".currently").on("change", function () {
                if ($(this).val() == null) {
                    $(this).val(0);
                } else {
                    if ($.isNumeric($(this).val())) {
                        var sNumber = Number($(this).val()).toLocaleString('vi-VN');
                        $(this).val(sNumber);
                    }
                    else {
                        $(this).val(0);
                    }
                }
            });

            $("#drpDonViQuanLy").val($("#drpDonViQuanLyEdit").val());
            $("#drpNguonNganSach").val($("#drpNguonNganSachEdit").val());
            GetDataDropdownLoaiNganSach(true);

            EditThongTinChung_Off();
            EditThongTinChiTiet_Off();
            GetQuyetToanNienDoChiTiet()
        });


        $("#drpLoaiNganSach").trigger("change");
        $("#drpNganh").trigger("change");
        $("#drpDuAn").trigger("change");

        function GetItemData(id) {
            var item = $.map(tblDataGrid, function (n) { return n.iId == id ? n : null })[0];
            $("#drpNganhOld").val(item.iID_NganhID);
            $("#drpDuAnOld").val(item.iID_DuAnID);

            $("#txtTongMucDauTuPheDuyet").val(item.fTongMucDauTuPheDuyet);
            $("#txtChiTieuNganSachNam").val(item.fChiTieuNganSachNam);
            $("#txtCapPhatVonNamTruoc").val(item.fCapPhatVonNamTruoc);
            $("#txtDonViDeNghiCapPhatVonNamTruoc").val(item.fDonViDeNghiCapPhatVonNamTruoc);
            $("#txtTroLyDeNghiCapPhatVonNamTruoc").val(item.fTroLyDeNghiCapPhatVonNamTruoc);
            $("#txtChiTieuNganSachNamNay").val(item.fChiTieuNganSachNamNay);
            $("#txtCapPhatVonNamNay").val(item.fCapPhatVonNamNay);
            $("#txtDonViDeNghiCapPhatVonNamNay").val(item.fDonViDeNghiCapPhatVonNamNay);
            $("#txtTroLyDeNghiCapPhatVonNamNay").val(item.fTroLyDeNghiCapPhatVonNamNay);
            trLoaiCongTrinh.setSelection([item.iId_LoaiCongTrinh]);

            tblDataGrid = $.map(tblDataGrid, function (n) { return n.iID_DuAnID == item.iID_DuAnID && n.iID_NganhID == item.iID_NganhID ? null : n });

            tblDataGrid.push(item);
            RenderGridViewInsert(tblDataGrid);
            GetDataDropdownNganh(true);
        }

        function DeleteItem(id) {
            tblDataGrid = $.map(tblDataGrid, function (n) { return n.iId != id ? n : null });
            RenderGridViewInsert(tblDataGrid);
        }

    </script>
}



