@using Viettel.Models.QLVonDauTu
@model VDTQuanLyDuAnInfoModel
<div class="card-body">
    @if (Model.dataQDDT.iID_QDDauTuID == new Guid())
    {
        <div class="form-group row" style="font-size: 16px !important;">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span style="font-size: 16px !important;">Phê duyệt dự án chưa có. Thêm mới </span><a href="@Url.Action("TaoMoi", "QLPheDuyetDuAn", new { })" target="_blank" style="font-size: 16px !important;">tại đây</a>
        </div>
    }
    else
    {
        @*Thông tin quyet dinh dau tu*@
        <div class="form-group">
            <h4 class="color-text-red">Thông tin nội dung:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label">Số tờ trình</label>
                    <p>@Model.dataQDDT.sSoToTrinh</p>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Số thẩm định</label>
                    <p>@Model.dataQDDT.sSoThamDinh</p>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Số quyết định</label>
                    <p>@Model.dataQDDT.sSoQuyetDinh</p>
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Ngày quyết định</label>
                    <p>@(Model.dataQDDT.dNgayQuyetDinh.HasValue ? Model.dataQDDT.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : "")</p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="control-label">Cơ quan phê duyệt</label>
                <p>@Model.dataQDDT.sCoQuanPheDuyet</p>
            </div>
            <div class="col-sm-2">
                <label class="control-label">Người ký</label>
                <p>@Model.dataQDDT.sNguoiKy</p>
            </div>
            <div class="col-sm-2">
                <label class="control-label">TMĐT ban đầu</label>
                <p>@(Model.dataQDDT.fTongMucDauTuPheDuyet.HasValue ? Model.dataQDDT.fTongMucDauTuPheDuyet.Value.ToString("###,###") : string.Empty) (VNĐ)</p>
            </div>
            <div class="col-sm-2">
                <label class="control-label">TMĐT cuối cùng</label>
                <p>@(Model.dataQDDT.fTongMucDauTuPheDuyetCuoi.HasValue ? Model.dataQDDT.fTongMucDauTuPheDuyetCuoi.Value.ToString("###,###") : string.Empty) (VNĐ)</p>
            </div>
        </div>
                @*Thông tin quyết định phê duyệt đầu tư*@
        <div class="form-group">
            <h4 class="color-text-red">Danh sách quyết định phê duyệt đầu tư:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblQDDTChiPhiDauTu">
                        <thead>
                            <tr>
                                <th width="20%">Số quyết định</th>
                                <th width="15%">Ngày quyết định</th>
                                <th width="25%">Dự án</th>
                                <th width="20%">Giá trị phê duyệt</th>
                                <th width="20%">Loại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.listDSTKTC)
                                {
                                    <tr style="cursor: pointer;">

                                        <td align="center">@item.sSoQuyetDinh</td>

                                        <td align="right">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : "")</td>

                                        <td align="right">@Model.dataDuAn.sTenDuAn</td>

                                        <td align="right">@item.fTongDuToanPheDuyet</td>

                                        <td align="right">@(item.bIsGoc == true ? "Gốc" : "Điều chỉnh")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*Thông tin chi phí đầu tư*@
        <div class="form-group">
            <h4 class="color-text-red">Chi phí đầu tư:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblQDDTChiPhiDauTu">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="55%">Chi phí</th>
                                <th width="20%">Giá trị ban đầu</th>
                                <th width="20%">Giá trị phê duyệt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 0;
                                foreach (var item in Model.listQDDTChiPhi)
                                {
                                    index++;
                                    <tr style="cursor: pointer;">
                                        <td align="center">@index</td>

                                        <td align="left">@item.sTenChiPhi</td>

                                        <td align="right" class="r_GiaTriToTrinh">@item.fGiaTriBanDau</td>

                                        <td align="right" class="r_GiaTriPheDuyet">@item.fGiaTriPheDuyet</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @*Thông tin nguồn vốn đầu tư*@
        <div class="form-group">
            <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblQDDTNguonVonDauTu">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="55%">Tên nguồn vốn</th>
                                <th width="20%">Giá trị ban đầu</th>
                                <th width="20%">Giá trị phê duyệt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int indexNV = 0;
                                foreach (var item in Model.listQDDTNguonVon)
                                {
                                    indexNV++;
                                    <tr style="cursor: pointer;">
                                        <td align="center">@indexNV</td>

                                        <td align="left">@item.sTenNguonGocVon</td>

                                        <td align="right" class="r_GiaTriToTrinh">@item.fGiaTriBanDau</td>

                                        <td align="right" class="r_GiaTriPheDuyet">@item.fGiaTriPheDuyet</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Tổng cộng</th>
                                <th class="cpdt_tong_giatritotrinh text-right"></th>
                                <th class="cpdt_tong_giatripheduyet text-right"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        @*Thông tin hạng mục đầu tư*@
        <div class="form-group">
            <h4 class="color-text-red">Hạng mục đầu tư:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblQDDTHangMucDauTu">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="55%">Tên hạng mục</th>
                                <th width="20%">Giá trị ban đầu</th>
                                <th width="20%">Giá trị phê duyệt</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int indexHM = 0;
                                foreach (var item in Model.listQDDTHangMuc)
                                {
                                    indexHM++;
                                    <tr style="cursor: pointer;">
                                        <td align="center">@indexHM</td>

                                        <td align="left">@item.sTenHangMuc</td>

                                        <td align="right" class="r_GiaTriToTrinh">@item.fGiaTriBanDau</td>

                                        <td align="right" class="r_GiaTriPheDuyet">@item.fGiaTriPheDuyet</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Tổng cộng</th>
                                <th class="cpdt_tong_giatritotrinh text-right"></th>
                                <th class="cpdt_tong_giatripheduyet text-right"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        @*Thông tin tài liệu*@
        <div class="form-group">
            <h4 class="color-text-red">Thông tin tài liệu:</h4>
            <hr class='color-background-red' />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblNguonVonDauTu">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="75%">Tài liệu</th>
                                <th width="20%">Download</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

