@using Viettel.Models.QLVonDauTu
@model VDTDuAnPagingModel
@{
    ViewBag.Title = "Quản lý dự án";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="header-create-update">
                <span>
                    @Html.Raw("Danh sách dự án")
                </span>
            </div>
            <div class="card-body">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3">
                            <label for="txtTenDuAn" class="label-item">Tên dự án</label>
                            <input type="text" class="form-control clearable" id="txtTenDuAn" />
                        </div>
                        <div class="col-sm-3">
                            <div class="col-sm-6">
                                <label for="tThoiGianThucHienTuNam" class="label-item">Thời gian từ năm:</label>
                                <input type="text" class="form-control clearable" id="tThoiGianThucHienTuNam" />
                            </div>
                            <div class="col-sm-6">
                                <label for="tThoiGianThucHienDenNam" class="label-item">Đến năm:</label>
                                <input type="text" class="form-control clearable" id="tThoiGianThucHienDenNam" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtDonViQuanLy" class="label-item">Đơn vị quản lý</label>
                            @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), "", new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                        </div>
                        <div class="col-sm-2">
                            <label for="txtChuDauTu" class="label-item">Chủ đầu tư</label>
                            @Html.DropDownList("iID_ChuDauTuID", (SelectList)(ViewBag.ListChuDauTu), "", new { @class = "form-control", @id = "iID_ChuDauTuID" })
                        </div>
                        <div class="col-sm-2">
                            <label for="txtLoaiCongTrinh" class="label-item">Loại công trình</label>
                            <input type="hidden" id="hid_iID_LoaiCongTrinhID">
                            <input type="text" id="iID_LoaiCongTrinhID" name="iID_LoaiCongTrinhID" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-info" onclick="SearchData()" style="margin-top:20px; margin-bottom:0px;"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body">
                @*<div class="header-create-update">
                    <span>
                        @Html.Raw("Danh sách thông tin dự án")
                    </span>
                </div>*@
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#duAnchuaThucHien" onclick="TabSearchData(1)">Danh sách dự án chưa thực hiện</a></li>
                    <li><a data-toggle="tab" href="#duAnchuaThucHien" onclick="TabSearchData(2)">Danh sách dự án đang thực hiện</a></li>
                    <li><a data-toggle="tab" href="#duAnchuaThucHien" onclick="TabSearchData(3)">Danh sách dự án kết thúc</a></li>
                    <button class="btn btn-primary pull-right" onclick="BtnCreateDataClick()" style="margin-top: 3px !important"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
                    <button class="btn btn-info pull-right" style="margin-right:10px; margin-top: 3px !important" onclick="ResetSearchData()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
                </ul>
            </div>

            <div class="card-body tab-content" id="lstDataView">
                <div id="duAnchuaThucHien" class="tab-pane fade in active">
                    @Html.Partial("_partialListDuAnChuaThucHien", Model)
                </div>

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/ThongTinDuAn/jsVDT_DanhSach_QLDuAn.js" type="text/javascript"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script src="~/Scripts/js/dropdowntree.js"></script>
    <script>
        var _paging = {};
        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("TimKiemDuAn", "QLDuAn")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;

            //$.ajax({
            //    url: "/QLVonDauTu/ChuTruongDauTu/FillDropdown",
            //    type: "POST",
            //    data: "",
            //    dataType: "json",
            //    cache: false,
            //    success: function (data) {
            //        trLoaiCongTrinh = $('#iID_LoaiCongTrinhID').comboTree({
            //            source: data,
            //            isMultiple: false,
            //            cascadeSelect: false,
            //            collapse: true,
            //            selectableLastNode: false
            //        });
            //        trLoaiCongTrinh.onChange(function () {
            //            $('#hid_iID_LoaiCongTrinhID').val(trLoaiCongTrinh.getSelectedIds());
            //            console.log(trLoaiCongTrinh.getSelectedIds());
            //        });
            //    },
            //    error: function (data) {

            //    }
            //})
        });

    </script>
}


