@using Viettel.Models.CPNH
@model CPNHNhuCauChiQuy_Model
<input type="hidden" id="iID_NhuCauChiQuyModalTongHop" value="@Model.ID">
<input type="hidden" id="txtDxModified" />
<input type="hidden" id="txtDxAggregate" />
<input type="hidden" id="txtDetail" />
<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtsMaTyGia">Số đề nghị</label>
                @Helpers.Required()
                <input type="text" id="txtSodenghiAddTongHop" class="form-control" value="@Model.sSoDeNghi" maxlength="50" autocomplete="off" />
            </div>
            <div class="col-sm-6">
                <label for="txtsTenTyGia">Ngày đề nghị</label>
                <div class='input-group date'>
                    <input type="text" id="txtNgaydenghiAddTongHop" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        @{
            if (ViewBag.LstTongHop.Count > 0)
            {
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="txtsMaTienTeGoc">Năm</label>
                        <input type="text" id="txtnamAddTongHop" class="form-control" value="@ViewBag.LstTongHop[0].iNamKeHoach" maxlength="500" disabled autocomplete="off" />
                    </div>
                    <div class="col-sm-6">
                        <label for="txtsMotaTyGia">Quý</label>
                        <input type="text" id="iQuyListAddTongHop" class="form-control" value="@ViewBag.LstTongHop[0].iQuy" maxlength="500" disabled autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="txtsMaTienTeGoc">B quản lý</label>
                        <input type="text" id="iBQuanlyAddTongHop" class="form-control" value="@ViewBag.LstTongHop[0].BPhongBan" maxlength="500" disabled autocomplete="off" />
                    </div>
                </div>
            }

        }


        @{
            if (ViewBag.IsAggregate)
            {
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                            <th>STT</th>
                            <th>Số kế hoạch</th>
                            <th>Ngày kế hoạch</th>
                            <th>Đơn vị</th>
                            <th>Chi ngoại tệ (USD)</th>
                            <th>Chi ngoại tệ (VND)</th>
                            <th>Chi trong nước (VND)</th>
                            <th>Chi trong nước (USD)</th>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in ViewBag.LstTongHop)
                                    {
                                        <tr>
                                            <td align="center">@item.STT</td>
                                            <td>@item.sSoDeNghi</td>
                                            <td align="center">@item.dNgayDeNghiStr</td>
                                            <td>@item.BQuanLy</td>
                                            <td>@item.fTongChiNgoaiTeUSD</td>
                                            <td>@item.fTongChiNgoaiTeVND</td>
                                            <td>@item.fTongChiTrongNuocVND</td>
                                            <td>@item.fTongChiTrongNuocUSD</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="SaveGeneral()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>

<script>
    @*$(document).ready(function ($) {
        $("#iGiaiDoanTu").change(function () {
            if (this.value != "") {
                $("#iGiaiDoanDen").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen").val("");
            }
        });

        var inputGiaiDoanTu = $('#iGiaiDoanTu');
        inputGiaiDoanTu.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanTu = $("#iGiaiDoanTu").val();
            if (iGiaiDoanTu != "") {
                $("#iGiaiDoanDen").val(parseInt(this.value) + 4);
            } else {
                $("#iGiaiDoanDen").val("");
            }
        });

        var inputGiaiDoanDen = $('#iGiaiDoanDen');
        inputGiaiDoanDen.on('keyup', function () {
            var key = event.keyCode || event.charCode;
            var iGiaiDoanDen = $("#iGiaiDoanDen").val();
            if (iGiaiDoanDen != "") {
                $("#iGiaiDoanTu").val(parseInt(this.value) - 4);
            } else {
                $("#iGiaiDoanTu").val("");
            }
        });

        var iLoai = $("#iLoai").val();
        var iDonViQuanLy = $("#iID_DonViQuanLyID").val();
        var modelAggreate = '@ViewBag.IsAggregate';
        var isAggrate = (modelAggreate == 'True');
        if (!isAggrate) {
                    if (iLoai == '2' && iDonViQuanLy != '') {
                    OpenModalCt('@Model.iID_DonViQuanLyID', '@Model.iID_KeHoach5Nam_DeXuatID');
                    }
                    else {
                                $("#modalDuAnDeXuat").html('');
                    }
        }



        $("#iLoai").change(function () {
                var iLoai = $("#iLoai").val();
                var iDonViQuanLy = $("#iID_DonViQuanLyID").val();
                if (iLoai == '2' && iDonViQuanLy != '') {
                    OpenModalCt(iDonViQuanLy, '@Model.iID_KeHoach5Nam_DeXuatID');
                }
                else {
                    $("#modalDuAnDeXuat").html('');
                }
        });

        $("#iID_DonViQuanLyID").change(function () {
            var modelAggreate = '@ViewBag.IsAggregate';
            var isAggrate = (modelAggreate == 'True');
            if (!isAggrate) {
                var iLoai = $("#iLoai").val();
                var iDonViQuanLy = $("#iID_DonViQuanLyID").val();
                if (iLoai == '2' && iDonViQuanLy != '') {
                    OpenModalCt(iDonViQuanLy, '@Model.iID_KeHoach5Nam_DeXuatID');
                }
                else {
                    $("#modalDuAnDeXuat").html('');
                }
            }

        });

        if ($("#txt_ID_KH5NamDeXuat").val() != GUID_EMPTY && $("#txt_ID_KH5NamDeXuat").val() != '') {
            document.getElementById('iID_DonViQuanLyID').setAttribute("disabled", "disabled");
            document.getElementById('iGiaiDoanTu').setAttribute("disabled", "disabled");
            document.getElementById('iGiaiDoanDen').setAttribute("disabled", "disabled");
            document.getElementById('iLoai').setAttribute("disabled", "disabled");
        }
        else {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var MM = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            today = dd + '/' + MM + '/' + yyyy;
            $("#dNgayQuyetDinh").val(today);

            var modelAggreate = '@ViewBag.IsAggregate';
            var isAggrate = (modelAggreate == 'True');
            if (isAggrate) {
                document.getElementById('iID_DonViQuanLyID').setAttribute("enable", "enable");
                document.getElementById('iGiaiDoanTu').setAttribute("disabled", "disabled");
                document.getElementById('iGiaiDoanDen').setAttribute("disabled", "disabled");
                document.getElementById('iLoai').setAttribute("disabled", "disabled");
            }
            else {
                document.getElementById('iID_DonViQuanLyID').removeAttribute("disabled");
                document.getElementById('iGiaiDoanTu').removeAttribute("disabled");
                document.getElementById('iGiaiDoanDen').removeAttribute("disabled");
                document.getElementById('iLoai').removeAttribute("disabled");
            }
        }
    });*@
</script>