@using Viettel.Models.CPNH
@model CPNHNhuCauChiQuy_Model
<input type="hidden" id="iID_NhuCauChiQuyID" value="@Model.ID">
<input type="hidden" id="iloai" value="@ViewBag.iloai">
<div class="modal-body">
    @{
        if (ViewBag.iloai == "1")
        {
            <h4> Theo QĐ 435 Mẫu số 02 KHKP-NH</h4>
        }
        else
        {
            <h4> Theo HĐ 2501 Mẫu số 01/NCKP-QNH</h4>
        }
    }
    <div>

    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="txtsMaTienTeGoc">Kính gửi</label>
            @Helpers.Required()
            @Html.DropDownList("iID_BQuanLyID", (SelectList)(ViewBag.ListBQuanLy), new { @class = "form-control", @id = "iBQuanlyKinhGui" })
        </div>
        <div class="col-sm-6">
            <label for="txtsMaTienTeGoc">Đơn vị gửi</label>
            @Helpers.Required()
            @Html.DropDownList("iID_BQuanLyID", (SelectList)(ViewBag.ListBQuanLy), new { @class = "form-control", @id = "iBQuanlyDonvi" })
        </div>
        <div class="col-sm-6">
            <label for="txtsMaTienTeGoc">Chọn quý</label>
            @Helpers.Required()
            @Html.DropDownList("iQuy", (SelectList)(ViewBag.ListQuyTypes), new { @class = "form-control", @id = "iQuyListBaoCao" })
        </div>
        <div class="col-sm-6">
            <label for="txtsMaTienTeGoc">Năm</label>
            @Helpers.Required()
            <input type="number" class="form-control clearable gr_search" id="txtnamBaoCao" />
        </div>
        @{
            if (@ViewBag.iloai == "2")
            {
                <div class="col-sm-6">
                    <label for="txtsMaTienTeGoc">Đơn vị tính USD</label>
                    @Html.DropDownList("iDVTinh", (SelectList)(ViewBag.ListDVTinh), new { @class = "form-control", @id = "iUSD" })
                </div>
                <div class="col-sm-6">
                    <label for="txtsMaTienTeGoc">Đơn vị tính VNĐ</label>
                    @Html.DropDownList("iDVTinh", (SelectList)(ViewBag.ListDVTinh), new { @class = "form-control", @id = "iVND" })
                </div>
            }
        }
    </div>
    <div class="modal-footer">
        <div style="text-align : center">
            <a class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</a>
            <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf">Xuất file PDF</a>
            <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls">Xuất file Excel</a>
            <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")

<script>
    $(".btn-print").click(function () {
        var links = [];
        var ext = $(this).data("ext");
        var iBQuanlyKinhGui = $("#iBQuanlyKinhGui").val();
        var iBQuanlyDonvi = $("#iBQuanlyDonvi").val();
        var iQuyList = $("#iQuyListBaoCao").val();
        var nam = $("#txtnamBaoCao").val();
        var iloai = $("#iloai").val();
        var iUSD = $("#iUSD").val();
        var iVND = $("#iVND").val();
        //var dvt = $("#dvt").val();
        var Title = 'Lỗi thêm mới/chỉnh sửa nhu cầu chi quý';
        var Messages = [];

        if (iBQuanlyKinhGui == null || iBQuanlyKinhGui == GUID_EMPTY) {
            Messages.push("Chưa chọn đơn vị kính gửi !");
        }
        if (iBQuanlyDonvi == null || iBQuanlyDonvi == GUID_EMPTY) {
            Messages.push("Chưa chọn đơn vị gửi !");
        }
        if (nam == null || nam == "" || nam == "0") {
            Messages.push("Chưa chọn năm !");
        }
        if (iQuyList == null || iQuyList == "0" || iQuyList == "") {
            Messages.push("Chưa chọn quý!");
        }

        if (Messages != null && Messages != undefined && Messages.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Modal/OpenModal",
                data: { Title: Title, Messages: Messages, Category: ERROR },
                success: function (data) {
                    $("#divModalConfirm").html(data);
                }
            });
            return false;
        }
        var url = $("#urlExport").val() +
            "?ext=" + ext +
            "&dvt=1000&iGui=" + iBQuanlyKinhGui + "&iloai=" + iloai + "&iDonvi=" + iBQuanlyDonvi + "&iQuy=" + iQuyList + "&iNam=" + nam + "&iUSD=" + iUSD + "&iVND=" + iVND;

        url = unescape(url);
        links.push(url);

        openLinks(links);
    });
</script>