@using Viettel.Models.CPNH
@model CPNHNhuCauChiQuy_Model
<input type="hidden" id="iID_NhuCauChiQuyModal" value="@Model.ID">
<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtsMaTyGia">Số đề nghị</label>
                <p>@Html.Raw(Model.sSoDeNghi)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtsTenTyGia">Ngày đề nghị</label>
                <p>@Html.Raw(Model.dNgayDeNghiStr)</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtsMaTienTeGoc">B quản lý</label>
                <p>@Html.Raw(Model.BPhongBan)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtsMotaTyGia">Đơn vị</label>
                <p>@Html.Raw(Model.BQuanLy)</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtDiaChi">Năm</label>
                <p>Năm @Html.Raw(Model.iNamKeHoach)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtDonViTHDACha">Quý</label>
                <p>Quý @Html.Raw(Model.iQuy)</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtDiaChi">Tỷ giá</label>
                <p>@Html.Raw(Model.sTenTiGia)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtDonViTHDACha">Mã ngoại tệ khác</label>
                <p>@Html.Raw(Model.sMaNgoaiTeKhac)</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
        <button class="btn btn-primary" onclick="xem()"><i class="fa fa-download" aria-hidden="true"></i><span>Xem chi tiết</span></button>
    </div>
</div>