@using Viettel.Models.QLVonDauTu
@model VdtKhvuDXChiTietModel
@{
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
    ViewBag.Title = "Chi tiết kế hoạch vốn ứng đề xuất";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="header-create-update">
                    <span>
                        @ViewBag.Title
                    </span>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txt_DonViQuanLy">Đơn vị</label>
                            <p>@Model.sTenDonVi</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="sSoDeNghi">Số kế hoạch</label>
                            <p>@Model.sSoDeNghi</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="dNgayDeNghi">Ngày đề nghị</label>
                            <p>@Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="iNamKeHoach">Năm kế hoạch</label>
                            <p>@Model.iNamKeHoach</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="iId_NguonVon">Nguồn vốn</label>
                            <p>@Model.sTenNguonVon</p>
                        </div>
                    </div>
                </div>

                @if (Model.listChungTuChild != null && Model.listChungTuChild.Count > 0)
                {
                    <div id="div_DanhSachChungTu">
                        <br />
                        <div class="form-group">
                            <h4 class="color-text-red">Danh sách chứng từ:</h4>
                            <hr class='color-background-red' />
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <table class="table table-bordered" id="tblDanhSachChungTu">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">Số kế hoạch</th>
                                                        <th width="10%">Ngày đề nghị</th>
                                                        <th width="10%">Năm kế hoạch</th>
                                                        <th width="25%">Nguồn vốn</th>
                                                        <th width="28%">Đơn vị</th>
                                                        <th>Kế hoạch vốn ứng đề xuất</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.listChungTuChild)
                                                    {
                                                        <tr>
                                                            <td>@item.sSoDeNghi</td>
                                                            <td class="text-center">@item.sNgayDeNghi</td>
                                                            <td class="text-center">@item.iNamKeHoach</td>
                                                            <td>@item.sTenNguonVon</td>
                                                            <td>@item.sTenDonVi</td>
                                                            <td class="text-right">@item.sSumGiaTriDeNghi</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="form-group row">
                    <div class="col-sm-12">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblChiTietDuAn">
                                        <thead>
                                            <tr>
                                                <th width="10%">Mã dự án</th>
                                                <th width="25%">Tên dự án</th>
                                                <th width="15%" class="text-right">Tổng mức đầu tư</th>
                                                <th width="15%" class="text-right">Giá trị đề nghị</th>
                                                <th width="25%">Ghi chú</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ViewTable">
                                            @foreach (var item in Model.listKhvuChiTiet)
                                            {
                                                <tr>
                                                    <td>@item.sMaDuAn</td>
                                                    <td>@item.sTenDuAn</td>
                                                    <td class="text-right">@item.sTongMucDauTu</td>
                                                    <td class="text-right">@item.sGiaTriDeNghi</td>
                                                    <td>@item.sGhiChu</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered" id="SumTable" style="margin-top: -24px !important">
                                        <tfoot>
                                            <tr>
                                                <th width="10%"></th>
                                                <th width="25%">Tổng cộng</th>
                                                <th width="15%" class="text-right" id="fTongMucDauTu">@Model.sSumTongMucDauTu</th>
                                                <th width="15%" class="text-right" id="fTongThanhToan">@Model.sSumGiaTriDeNghi</th>
                                                <th width="25%"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group text-center">
                        <button class="btn btn-back" onclick="location.href='@Url.Action("Index", "KeHoachVonUngDeXuat")'"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

