@using Viettel.Models.QLVonDauTu
@model VdtKhvuDXChiTietModel
@{
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
    <link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <input type="hidden" id="sTongHop" value="@ViewBag.lstIdTongHop" />
                <input type="hidden" id="Id" value="@Model.Id">
                <input type="hidden" id="sMaDonVi" value="@Model.iID_MaDonViQuanLy" />

                <div class="header-create-update">
                    <span>
                        @ViewBag.Title
                    </span>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="hidden" id="iID_KeHoachUngID" name="iID_KeHoachUngID" value="@Model.Id">
                            <label for="txt_DonViQuanLy">Đơn vị <span class="require">*</span></label>
                            <select id="iID_DonViQuanLyID" class="form-control"></select>
                        </div>
                        <div class="col-sm-3">
                            <label for="sSoDeNghi">Số kế hoạch <span class="require">*</span></label>
                            <input type="text" required id="sSoDeNghi" name="sSoDeNghi" class="form-control" value="@Model.sSoDeNghi" maxlength="100" />
                        </div>
                        <div class="col-sm-3">
                            <label for="dNgayDeNghi">Ngày đề nghị <span class="require">*</span></label>
                            <div class='input-group date'>
                                <input type="text" id="dNgayDeNghi" name="dNgayDeNghi" class="form-control" placeholder="dd/MM/yyyy" value="@Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy")" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="iNamKeHoach">Năm kế hoạch <span class="require">*</span></label>
                            <input type="number" required id="iNamKeHoach" name="iNamKeHoach" class="form-control" value="@Model.iNamKeHoach" maxlength="100" />
                        </div>
                        <div class="col-sm-3">
                            <label for="iId_NguonVon">Nguồn vốn <span class="require">*</span></label>
                            @Html.DropDownList("iId_NguonVon", new SelectList(ViewBag.LstNguonVon, "Value", "Text", Model.iID_NguonVonID), new { @class = "form-control", @id = "iId_NguonVon" })
                        </div>
                    </div>
                </div>

                <div id="div_DanhSachChungTu" style="display: none">
                    <br />
                    <div class="form-group">
                        <h4 class="color-text-red">Danh sách chứng từ:</h4>
                        <hr class='color-background-red' />
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <table class="table table-bordered" id="tblDanhSachChungTu">
                                            <thead>
                                                <tr>
                                                    <th width="10%">Số kế hoạch</th>
                                                    <th width="10%">Ngày đề nghị</th>
                                                    <th width="10%">Năm kế hoạch</th>
                                                    <th width="25%">Nguồn vốn</th>
                                                    <th width="28%">Đơn vị</th>
                                                    <th>Kế hoạch vốn ứng đề xuất</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.listChungTuChild != null && Model.listChungTuChild.Count > 0)
                                                {
                                                    foreach (var item in Model.listChungTuChild)
                                                    {
                                                        <tr>
                                                            <td>@item.sSoDeNghi</td>
                                                            <td class="text-center">@item.sNgayDeNghi</td>
                                                            <td class="text-center">@item.iNamKeHoach</td>
                                                            <td>@item.sTenNguonVon</td>
                                                            <td>@item.sTenDonVi</td>
                                                            <td class="text-right">@item.sSumGiaTriDeNghi</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin chi tiết:</h4>
                    <hr class='color-background-red' />
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered" id="tblLstDuAn">
                                        <thead>
                                            <tr>
                                                <th width="5%"></thwidth></th>
                                                <th width="20%">Mã dự án</th>
                                                <th width="40%">Tên dự án</th>
                                                <th width="35%" class="text-right">Tổng mức đầu tư</th>

                                            </tr>
                                        </thead>
                                        <tbody id="ViewTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group text-center">
                        <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        <button id="btnSave" class="btn btn-primary" onclick="Insert()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divModalConfirm">

</div>
<script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/KeHoachVonUngDeXuat/jsVDTQLKeHoachVonUngDeXuat.js" type="text/javascript"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
<script src="~/Scripts/js/dropdowntree.js"></script>

@section Scripts{
    <script>
        var guidEmpty = "00000000-0000-0000-0000-000000000000";
        var objDeXuat = {};
        var lstDetail = [];
        var fTongMucDauTu = 0;
        var fTongGiaTriUng = 0;
        var bIsTongHop = false;
        var lstIdTongHop = [];

        $(document).ready(function () {
            var iId = $("#Id").val();
            var sIdTongHop = $("#sTongHop").val();
            if (sIdTongHop != "") {
                bIsTongHop = true;
                lstIdTongHop = sIdTongHop.split('|');
                $("#div_DanhSachChungTu").show();
            }
            GetDonViQuanLy();
            if (!bIsTongHop) {
                $("#dNgayDeNghi").change(function () {
                    GetDataDropDownDuAn();
                });
                GetDataDetail();
            } else {
                if (iId == guidEmpty) {
                    GetDataDetailByChungTuTongHopCreate();
                } else {
                    GetDataDetail();
                }
                $("#iNamKeHoach").attr('disabled', true);
                $("#iId_NguonVon").attr('disabled', true);
            }
        });
    </script>
}
