@using VIETTEL.Areas.QLVonDauTu.Model.NganSachQuocPhong
@using System.Globalization; 
@model VDTKHVPhanBoVonPagingModel

<div class="tooltip-header-search mt-10 ml-10">
    <div class="col-sm-6" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách kế hoạch vốn năm (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right mr-10" onclick="BtnInsertDataClick()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
</div>
<table class="table table-bordered table-striped">
    <thead class="header-search">
    <th width="2%"></th>
    <th width="10%"> 
        <input type="text" class="form-control clearable" id="txtSoKeHoach"  autocomplete="off" />
    </th>
    <th width="15%">
        <div style="display:flex">
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayLapFrom" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtNgayLapTo" placeholder="dd/MM/yyyy" autocomplete="off" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="8%">
        <input type="text" class="form-control clearable" id="txtNamKeHoach"  autocomplete="off"/>
    </th>
    <th width="10%"></th>
    <th width="10%"></th>
    <th width="5%">
        @Html.DropDownList("drpDonViQuanLy", ViewBag.drpDonViQuanLy as List<SelectListItem>, "--Tất cả--", new { @class = "form-control clearable" })
    </th>
    <th width="10%"></th>
    <th width="10%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="6%">
        <button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
    </th>
    </thead>

    <thead>
    <th width="2%">STT</th>
    <th width="10%">Số quyết định</th>
    <th width="15%">Ngày lập</th>
    <th width="5%">Năm kế hoạch</th>
    <th width="10%">Nguồn vốn</th>
    <th width="10%">Loại nguồn vốn</th>
    <th width="8%">Đơn vị quản lý</th>
    <th width="10%">Chỉ tiêu đầu năm</th>
    <th width="10%">Chỉ tiêu bổ xung/điều chỉnh </th>
    <th width="5%">Trạng thái cán bộ</th>
    <th width="5%">Trạng thái kết nối</th>
    <th width="5%">Điều chỉnh</th>
    <th width="6%">Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = Model._paging.ItemForm;
            foreach (var item in Model.lstData)
            {
                var fChiTieuDauNam = (item.fGiaTrPhanBo ?? 0 * item.fTiGiaDonVi ?? 1 * item.fTiGia ?? 1);
                var fBoXung = (item.fBoXung ?? 0).ToString("##,#", CultureInfo.GetCultureInfo("vi-VN"));
                var iDieuChinh = item.iDieuChinh ?? 0;
                <tr>
                    <td align="center">@index</td>
                    <td align="left">@item.sSoQuyetDinh</td>
                    <td align="center">
                        @(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)
                    </td>
                    <td align="center">@item.iNamKeHoach</td>
                    <td align="left">@item.sNguonVon</td>
                    <td align="left">@item.sLoaiNganSach</td>
                    <td align="left">@item.sDonViQuanLy</td>
                    <td align="right">@fChiTieuDauNam.ToString("##,#", CultureInfo.GetCultureInfo("vi-VN"))</td>
                    @if (item.fBoXung.HasValue && item.fBoXung.Value < 0)
                    {
                        <td align="right"><span class="require">@Math.Abs(item.fBoXung.Value)</span></td>
                    }
                    else
                    {
                        <td align="right">@fBoXung</td>
                    }
                    @if (item.bIsCanBoDuyet.HasValue && item.bIsCanBoDuyet.Value)
                    {
                        <td align="center">Đã duyệt</td>
                    }
                    else
                    {
                        <td align="center">Chưa duyệt</td>
                    }
                    @if (item.bIsDuyet.HasValue && item.bIsDuyet.Value)
                    {
                        <td align="center">Đã duyệt</td>
                    }
                    else
                    {
                        <td align="center">Chưa duyệt</td>
                    }
                    <td align="center">(@iDieuChinh)</td>


                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="ViewDetailList('@item.iID_PhanBoVonID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="ChinhSuaDataList('@item.iID_PhanBoVonID')"><i class="fa fa-wrench fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="GetItemDataList('@item.iID_PhanBoVonID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItemList('@item.iID_PhanBoVonID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>

                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)
<br />

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
    })
</script>