@using Viettel.Models.QLNH
@using DomainModel
@using System.Globalization;
@model NH_KHTongTheTTCPViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Kế hoạch tổng thể Thủ tướng Chính phủ phê duyệt (@Model._paging.TotalItems)</label>
    </div>
    
</div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <button class="btn btn-primary pull-right" onclick="OpenModal(null, 'CREATE');" data-toggle="modal" data-target="#modalKHTTCP"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
        <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    </div>
</div>

<table class="table table-bordered" id="tbListKHTTCP">
    <thead class="header-search">
        <tr>
            <th width="5%"></th>
            <th width="5%">
                <input type="text" class="form-control event-filter" id="txtFromDateFitler" autocomplete="off" />
            </th>
            <th width="5%">
                <input type="text" class="form-control event-filter" id="txtToDateFitler" autocomplete="off" />
            </th>
            <th width="10%">
                <input type="text" class="form-control event-filter" id="txtSoKeHoachFilter" name="txtSoKeHoachFilter" autocomplete="off" />
            </th>
            <th width="10%">
                <div class='input-group date'>
                    <input type='text' class="form-control event-filter" id="txtNgayBanHanhFilter" autocomplete="off" placeholder="dd/MM/yyyy" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </th>
            <th width="50%" colspan="4"></th>
            <th width="15%"><button class="btn btn-info" onclick="GetListData()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th width="5%">STT</th>
            <th width="10%" colspan="2">Năm</th>
            <th width="10%">Số kế hoạch</th>
            <th width="10%">Ngày ban hành</th>
            <th width="15%">Mô tả</th>
            <th width="15%">Tổng giá trị phê duyệt (USD)</th>
            <th width="10%">Lần điều chỉnh</th>
            <th width="10%">Điều chỉnh từ</th>
            <th width="15%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (NH_KHTongTheTTCPModel item in Model.Items)
            {
                index++;
                <tr>
                    <td align="center">@(pageIndex + index)</td>
                    <td align="left" colspan="2">@Html.Raw(item.sNam)</td>
                    <td align="left">@Html.Raw(item.sSoKeHoach)</td>
                    <td align="center">@(item.dNgayKeHoach.HasValue ? item.dNgayKeHoach.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td align="left">@Html.Raw(item.sMoTaChiTiet)</td>
                    <td align="right">@(item.fTongGiaTri.HasValue ? CommonFunction.DinhDangSo(item.fTongGiaTri.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                    <td align="center">(@Html.Raw(item.iLanDieuChinh))</td>
                    @if (item.iID_ParentAdjustID.HasValue)
                    {
                        <td align="left" class="text-underline text-primary" role="button" onclick="OpenModalDetail('@item.iID_ParentAdjustID', 'DETAIL')">@Html.Raw(item.sDieuChinhTu)</td>
                    }
                    else
                    {
                        <td align="left">@Html.Raw(item.sDieuChinhTu)</td>
                    }
                    <td align="center">
                        @if (item.bIsActive)
                        {
                            <button type="button" class="btn-detail" onclick="OpenModal('@item.ID', 'ADJUST')" data-toggle="modal" data-target="#modalKHTTCP"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                        }
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.ID', 'DETAIL')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        @if (item.bIsActive)
                        {
                            <button type="button" class="btn-edit" onclick="OpenModal('@item.ID', 'UPDATE')" data-toggle="modal" data-target="#modalKHTTCP"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-delete" onclick="ConfirmDelete('@item.ID', '@item.sNam', '@item.sSoKeHoach')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
            });

        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        // Check enter filter
        $('.event-filter').on('keypress', function (e) {
            if (e.which === 13) {
                GetListData();
            }
        });

        // regex number
        $("#txtFromDateFitler, #txtToDateFitler").on('keyup', function () {
            $(this).val(RegexNumber($(this)));
        });
    });
</script>


