@using Viettel.Domain.DomainModel
@model DotNhanPagingViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách đợt nhận (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalDotNhan"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <div class="form-group text-right">
        @using (Html.BeginForm("ExportData", "QLDotNhan", FormMethod.Post))
        {
            <input type="text" name="sMaLoaiDuToan" class="form-control clearable" id="txt_sMaLoaiDuToanExcel" style="display:none" />
            <input type="text" name="sSoChungTu" class="form-control clearable" id="txt_sSoChungTuExcel" style="display:none" />
            <input type="text" name="sSoQuyetDinh" class="form-control clearable" id="txt_sSoQuyetDinhExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhTu" class="form-control clearable" id="txt_dNgayQuyetDinhTuExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhDen" class="form-control clearable" id="txt_dNgayQuyetDinhDenExcel" style="display:none" />
            <input type="text" name="sNoiDung" class="form-control clearable" id="txt_sNoiDungExcel" style="display:none" />
            <input type="text" name="sLoaiTep" value="EXCEL" class="form-control clearable" style="display:none" />
            <button class="btn btn-primary" style="margin-right:10px;width:auto !important" onclick="Export()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
        }
        @*@using (Html.BeginForm("ExportData", "QLDotNhan", FormMethod.Post))
        {
            <input type="text" name="sMaLoaiDuToan" class="form-control clearable" id="txt_sMaLoaiDuToanExcel" style="display:none" />
            <input type="text" name="sSoChungTu" class="form-control clearable" id="txt_sSoChungTuExcel" style="display:none" />
            <input type="text" name="sSoQuyetDinh" class="form-control clearable" id="txt_sSoQuyetDinhExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhTu" class="form-control clearable" id="txt_dNgayQuyetDinhTuExcel" style="display:none" />
            <input type="text" name="dNgayQuyetDinhDen" class="form-control clearable" id="txt_dNgayQuyetDinhDenExcel" style="display:none" />
            <input type="text" name="sNoiDung" class="form-control clearable" id="txt_sNoiDungExcel" style="display:none" />
            <input type="text" name="sLoaiTep" value="PDF" class="form-control clearable" style="display:none" />
            <button class="btn btn-info pull-right" style="margin-right:10px;width:auto !important" title="Xuất dữ liệu ra pdf" type="submit" onclick="Export()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        }*@
    </div>
</div>
<table class="table table-bordered" id="tblListNNSDotNhan">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="15%">@Html.DropDownList("TenLoaiDuToan", (SelectList)(ViewBag.ListLoaiDuToan), new { @class = "form-control", @id = "selectLoaiDuToan" })</th>
    <th width="10%"><input type="text" class="form-control gr_search" id="txt_SoChungtu" /></th>
    <th width="10%"><input type="text" class="form-control gr_search" id="txt_SoQuyetdinh" /></th>
    <th width="18%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhFrom" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="dNgayQuyetDinhTo" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="25%"><input type="text" class="form-control gr_search" id="txt_Noidung" /></th>
    <th width="10%"></th>
    <th width="10%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="15%">Loại dự toán</th>
    <th width="10%">Số chứng từ</th>
    <th width="10%">Số quyết định</th>
    <th width="10%">Ngày quyết định</th>
    <th width="25%">Nội dung</th>
    <th width="10%">Số tiền</th>
    <th width="10%"></th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@(pageIndex + index)</td>

                    <td align="left" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@item.sTenLoaiDuToan</td>

                    <td align="center" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@item.sSoChungTu</td>

                    <td align="left" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@item.sSoQuyetDinh</td>

                    <td align="center" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="left" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@item.sNoiDung</td>

                    <td align="right" class="sotien" onclick="UpdateChiTietDotNhan('@item.iID_DotNhan')">@item.SoTien.ToString("###,###")</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.iID_DotNhan')" data-toggle="modal" data-target="#modalDotNhan"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_DotNhan')" data-toggle="modal" data-target="#modalDotNhan"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_DotNhan')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@*<button type="button" id="btnShowConfirmModal" data-toggle="modal" data-target="#confirmModal"></button>*@

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tblListNNSDotNhan .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });
        /*formatMoney();*/
    });

</script>

