@using Viettel.Models.QLNH.QuyetToan
@using Viettel.Domain.DomainModel
@model QuyetToan_QuyetToanNienDoModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div id="QuyetToanNienDo">
    <div class="tooltip-header-search">
        <div class="col-sm-4 col-md-4 col-lg-4" style="display:flex;padding-left:0px;">
            <label class="control-label">Quyết toán niên độ (@Model._paging.TotalItems)</label>
        </div>
    </div>
</div>
<div id="QuyetToanNienDoTongHop" style="display:none">
    <div class="tooltip-header-search">
        <div class="col-sm-4 col-md-4 col-lg-4" style="display:flex;padding-left:0px;">
            <label class="control-label">Quyết toán niên độ tổng hợp (<span id="txtSobannghi"></span>)</label>
        </div>
    </div>
</div>
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <input id='dxChungTu' type="radio" value="0" name="groupVoucher" onclick="ChangeVoucher()" checked="checked">
        <label for="dxChungTu" style="margin-right: 1rem; margin-left: 1rem;">Quyết toán niên độ</label>
        <input id="dxChungTuTongHop" type="radio" value="1" name="groupVoucher" onclick="ChangeVoucher()">
        <label for="dxChungTuTongHop" style="margin-right: 1rem; margin-left: 1rem;">Quyết toán niên độ tổng hợp</label>
    </div>
    <div class="col-sm-4" style="display:flex ;justify-content:end">
        <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="InBaoCaoModal()">In báo cáo</button>
        <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="TongHopModal()">Tổng hợp</button>
        <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
        <button class="btn btn-primary pull-right" style="margin-right:10px;" onclick="OpenModal()" data-toggle="modal" data-target="#modalQTNienDo"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    </div>
</div>
<table class="table table-bordered" id="tbListQuyetToanNienDo">
    <thead>
        <tr class="header-search">
            <th width="5%"></th>
            <th width="5%"></th>
            <th width="17%"><input type="text" placeholder='Số đề nghị' class="form-control gr_search" id="txtSoDeNghiFillter" /></th>
            <th width="18%">
                <div class='input-group date'>
                    <input type="text" id="txtNgayDeNghiFillter" autocomplete="off" class="form-control gr_search" placeholder="dd/MM/yyyy" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </th>
            <th width="10%">
                <select id="slbNamKeHoachFillter" name="slbNamKeHoachFillter" class="form-control">
                    @if (ViewBag.ListNamKeHoach != null)
                    {
                        foreach (var namKeHoach in (List<Dropdown_QuyetToanNienDo>)ViewBag.ListNamKeHoach)
                        {
                            <option value="@namKeHoach.Value">@Html.Raw(Html.Encode(namKeHoach.Label))</option>
                        }
                    }
                </select>
            </th>
            <th width="20%">
                <select id="iDonViFillter" name="iDonVi" class="form-control">
                    @if (ViewBag.ListDonVi != null)
                    {
                        foreach (var donvi in (List<NS_DonVi>)ViewBag.ListDonVi)
                        {
                            <option value="@donvi.iID_Ma" data-madonvi="@donvi.iID_MaDonVi">@Html.Raw(Html.Encode(donvi.iID_MaDonVi) + '-' + Html.Encode(donvi.sTen))</option>
                        }
                    }
                </select>
            </th>
            <th width="25%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
        <tr>
            <th width="5%"></th>
            <th width="5%">STT</th>
            <th width="17%">Số đề nghị</th>
            <th width="18%">Ngày đề nghị</th>
            <th width="10%">Năm kế hoạch</th>
            <th width="20%">Đơn vị</th>
            <th width="25%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer" class="row-select">
                    <td align="center"><input type='checkbox' name='cbQuyetToan' id="cbQuyetToan" data-id="@item.ID" data-islock="@item.bIsKhoa"></td>
                    <td align="center">@(pageIndex + index)</td>
                    <td align="center">@Html.Raw(Html.Encode(item.sSoDeNghi))</td>
                    <td align="center">@(item.dNgayDeNghi.HasValue ? item.dNgayDeNghi.Value.ToString("dd/MM/yyyy") : string.Empty)</td>
                    <td align="center" data-getname="iNamKeHoach" data-getvalue="@item.iNamKeHoach">@Html.Raw(Html.Encode(item.iNamKeHoach))</td>
                    <td align="center">@Html.Raw(Html.Encode(item.sTenDonVi))</td>
                    <td align="center" data-gettonghop="iID_TongHopID" data-gettonghopvalue="@item.iID_TongHopID" hidden></td>
                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        @if (item.bIsKhoa)
                        {
                            <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.ID')" data-toggle="modal" data-target="#modalQTNienDo"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-edit" onclick="LockItem('@item.ID', '@item.sSoDeNghi', '@item.bIsKhoa', '@item.iID_TongHopID')"><i class="fa fa-unlock fa-lg" aria-hidden="true"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn-edit" onclick="LockItem('@item.ID', '@item.sSoDeNghi', '@item.bIsKhoa', '@item.iID_TongHopID')"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.ID')" data-toggle="modal" data-target="#modalQTNienDo"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-edit" onclick="OpenModal('@item.ID')" data-toggle="modal" data-target="#modalQTNienDo"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-delete" onclick="Xoa('@item.ID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="ViewTable">

</div>

<div id="Padding">
    @Html.BuildPagingButtons(Model._paging)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tbListQuyetToanNienDo .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {
                    ChangePage();
                }
            });
        });
    });

</script>


