@using Viettel.Models.QLNH.QuyetToan
@model NH_QT_QuyetToanNienDoData

<div class="modal-body">
    <div>
        <div class="chao-banner1">
            <label>Thông tin chung:</label>
        </div>
        <hr class="bg-gray" />
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Số đề nghị</label>
                <div>@Html.Raw(Model.sSoDeNghi)</div>
            </div>
            <div class="col-sm-4">
                <label>Ngày đề nghị</label>
                <div>@(Model.dNgayDeNghi.HasValue ? Model.dNgayDeNghi.Value.ToString("dd/MM/yyyy") : string.Empty)</div>
            </div>
            <div class="col-sm-4">
                <label>Năm kế hoạch</label>
                <div>@Html.Raw(Model.iNamKeHoach)</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Đơn vị</label>
                <div>@(Model.sTenDonVi)</div>
            </div>
            <div class="col-sm-4">
                <label>Tỉ giá</label>
                <div>@(Model.sTenTiGia)</div>
            </div>
            <div class="col-sm-4">
                <label>Mô tả</label>
                <div>@(Model.sMoTa )</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
        <button class="btn btn-primary" onclick="onDetail('@Model.ID')" id="btnDetailModal"><i class="fa fa-download" aria-hidden="true"></i><span>Chi tiết</span></button>
    </div>
</div>

