@using Viettel.Models.QLVonDauTu
@model VDTPheDuyetTKTCVaTDTViewModel
<table class="table table-bordered" id="tblListTKTCTDT">
    <thead class="header-search">
    <th width="5%"></th>
    <th width="10%"><input type="text" class="form-control clearable" id="txtSoQuyetDinh" /></th>
    <th width="15%">
        <div style="display:flex">
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtTuNgayPheDuyet" autocomplete="off" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type='text' class="form-control" id="txtDenNgayPheDuyet" autocomplete="off" placeholder="dd/MM/yyyy" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="25%"><input type="text" class="form-control clearable" id="txtDuAn" /></th>
    <th width="14%"></th>
    <th width="8%">@Html.DropDownList("cboDonViQL", (SelectList)(ViewBag.ListDonViQL), new { @class = "form-control", @id = "txtDonViQL" })</th>
    <th width="8%"></th>
    <th width="5%"></th>
    <th width="10%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="5%">STT</th>
    <th width="10%">Số quyết định</th>
    <th width="15%">Ngày quyết định</th>
    <th width="25%">Dự án</th>
    <th width="14%">Dự Toán</th>
    <th width="8%">Đơn vị</th>
    <th width="8%">Giá trị phê duyệt</th>
    <th width="5%">Điều chỉnh</th>
    <th width="10%">Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (VDT_DA_DuToan_ViewModel item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@index</td>

                    <td align="left">@item.sSoQuyetDinh</td>

                    <td align="left">@(item.dNgayQuyetDinh.HasValue ? item.dNgayQuyetDinh.Value.ToString("dd/MM/yyyy") : string.Empty)</td>

                    <td align="left">@item.sTenDuAn</td>

                    <td align="left">@item.sTenDuToan</td>

                    <td align="left">@item.sTenDonViQL</td>

                    <td align="right" class="sotien">@item.dGiaTriDuToanSauDieuChinh</td>

                    <td align="center">(@item.iTongSoDieuChinh)</td>

                    <td align="center" class="col-sm-12">
                        @if (item.bActive == false)
                        {
                            <button type="button" class="btn-detail" onclick="xemChiTiet('@item.iID_DuToanID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn-detail" onclick="DieuChinh('@item.iID_DuToanID')"><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-detail" onclick="DetailItem('@item.iID_DuToanID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-edit" onclick="sua('@item.iID_ParentID', '@item.iID_DuToanID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_DuToanID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        formatMoney();
    });

</script>


