@using VIETTEL.Common
@model Viettel.Models.QLVonDauTu.VDT_DA_DuToan_ViewModel
@{
    ViewBag.Title = "Xem chi tiết thông tin phê duyệt TKTC&TDT";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@{
    string fTongMucDauTu = Model.fTongMucDauTu == 0 ? "" : Model.fTongMucDauTu.ToString();
    const byte LA_TONG_DU_TOAN = (byte)Constants.LOAI_QUYET_DINH.TONG_DU_TOAN;
    const byte LA_DU_TOAN = (byte)Constants.LOAI_QUYET_DINH.DU_TOAN;
    string selectedTongDuToan = Model.bLaTongDuToan == true ? "selected" : "";
    string selectedDuToan = Model.bLaTongDuToan == false ? "selected" : "";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
<style>
    #tblNguonVonDauTu, #tblChiPhiDauTu {
        display: block;
        overflow: auto;
        max-height: 320px;
    }

    #tblHangMucCSS {
        display: block;
        overflow: auto;
        max-height: 600px;
    }

        #tblNguonVonDauTu thead, #tblChiPhiDauTu thead, #tblHangMucCSS thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #tblNguonVonDauTu tfoot, #tblChiPhiDauTu tfoot, #tblHangMucCSS tfoot {
            position: sticky;
            bottom: 0;
            z-index: 1;
        }

        #tblNguonVonDauTu tr, #tblChiPhiDauTu tr, #tblHangMucCSS tr {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
</style>
<div class="main">
    <input type="hidden" id="iIdDuToanId" value="@Model.iID_DuToanID">
    <input type="hidden" id="iIdDuToanGocID" value="@Model.iID_DuToanGocID">
    <input type="hidden" id="sMaDonVi" value="@Model.sMaDonViQuanLy">
    <input type="hidden" id="iIdDuAnId" value="@Model.iID_DuAnID">
    <input type="hidden" id="bIsDieuChinh" value="@Html.Raw(ViewBag.bIsDieuChinh)">
    <input type="hidden" id="IIdQDDauTuID" value="@Model.iID_QDDauTuID">

    <div class="panel-list-item">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="header-create-update">
                    <span>
                        @Html.Raw("Thông tin chi tiết  phê duyệt TKTC và tổng dự toán")
                    </span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">
                            @*Thông tin phê duyệt*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin phê duyệt:</h4>
                                <hr class='color-background-red' />
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="sSoQuyetDinh">Số quyết định</label>
                                        <p>@Model.sSoQuyetDinh</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="dNgayQuyetDinh">Ngày phê duyệt</label>
                                        <p>@Model.sNgayQuyetDinh</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="sMoTa">Mô tả chi tiết</label>
                                        <p>@Html.Raw(Model.sMoTa)</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="txtLoaiQuyetDinh">Loại quyết định</label>
                                        <p>@Model.sLoaiQuyetDinh</p>
                                    </div>

                                    <div class="col-sm-6" id="divTenDuToan" style="display:none;">
                                        <label for="sTenDuToan">Tên dự toán</label>
                                        <p>@Model.sTenDuToan</p>
                                    </div>
                                </div>
                            </div>

                            @*Thông tin nội dung:*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin nội dung:</h4>
                                <hr class='color-background-red' />
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="txtDonViQuanLy">Đơn vị</label>
                                        <p>@Model.sTenDonViQL</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="txtDuAn">Dự án</label>
                                        <p>@Model.sTenDuAn</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="txtThoiGianThucHien">Thời gian thực hiện</label>
                                        <p>@Model.sKhoiCong - @Model.sKetThuc</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label for="sDiaDiem">Địa điểm thực hiện</label>
                                        <p>@Model.sDiaDiem</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="fTongMucDauTu">Tổng mức PDDA</label>
                                        <p>@Model.fTongMucDauTu</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="fTongMucDauTu">Tổng mức đầu tư TKTC TDT</label>
                                        <p>@Model.fTongDuToanPheDuyet</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            @*Nguồn vốn đầu tư*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin nguồn vốn:</h4>
                                <hr class='color-background-red' />
                                <div class="form-group row">
                                    <input type="hidden" id="txtIDNguonVon" class="form-control" value="" />
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblNguonVonDauTu">
                                            <thead>
                                                <tr>
                                                    <th width="50px">STT</th>
                                                    <th>Tên nguồn vốn</th>
                                                    <th>Giá trị phê duyệt dự án</th>
                                                    @if (ViewBag.bIsDieuChinh == true)
                                                    {
                                                        <th>Giá trị trước điều chỉnh</th>
                                                        <th>Giá trị sau điều chỉnh</th>
                                                    }
                                                    else
                                                    {
                                                        <th>Giá trị phê duyệt TKTC TDT</th>
                                                    }
                                                    <th width="100px">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody id="grdNguonVon"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th width="50px"></th>
                                                    <th class="text-bold">Còn lại</th>
                                                    <th></th>
                                                    <th id="tonggiatriconlainguonvon" class="text-right text-bold"></th>
                                                    <th width="100px"></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @*Chi phí đầu tư*@
                            <div class="form-group">
                                <h4 class="color-text-red">Thông tin chi phí:</h4>
                                <input type="hidden" id="txtIDChiPhi" class="form-control" value="" />
                                <hr class='color-background-red' />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tblChiPhiDauTu">
                                            <thead>
                                                <tr>
                                                    <th>Tên chi phí</th>
                                                    <th>Giá trị phê duyệt dự án</th>
                                                    @if (ViewBag.bIsDieuChinh == true)
                                                    {
                                                        <th>Giá trị trước điều chỉnh</th>
                                                        <th>Giá trị sau điều chỉnh</th>
                                                    }
                                                    else
                                                    {
                                                        <th>Giá trị phê duyệt TKTC TDT</th>
                                                    }
                                                    <th width="200px">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody id="grdChiPhi">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Thông tin tài liệu đính kèm:*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-11">
                            <h4 class="color-text-red">Thông tin tài liệu đính kèm:</h4>
                        </div>
                    </div>
                    <hr class='color-background-red' />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblThongTinTaiLieuDinhKem">
                                <thead>
                                    <tr>
                                        <th width="5%">STT</th>
                                        <th width="75%">Tài liệu</th>
                                        <th width="15%">Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" style="width: 100%" onclick="Cancel()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="listDetailChiPhi">
    <div id="modal-listdetailchiphi" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:1500px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    @*Phân theo hạng mục chính*@
                    <div class="form-group">
                        <h4 class="color-text-red">DANH SÁCH HẠNG MỤC: </h4>
                        <div class="input-group">
                            Chi phí : <span id="txtTenChiPhi"></span>
                        </div>
                        <hr class='color-background-red' />
                        <input type="hidden" id="txtIdHangMuc" class="form-control" value="" />
                        <input type="hidden" id="txtGiaTriChiPhi" class="form-control" value="" />
                        <input type="hidden" id="txtIdChiPhiHangMuc" class="form-control" value="" />

                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="tblHangMucCSS">
                                    <thead>
                                        <tr>
                                            <th width="50px">STT</th>
                                            <th>Tên hạng mục</th>
                                            <th>Loại công trình</th>
                                            <th>Giá trị phê duyệt dự án</th>
                                            @if (ViewBag.bIsDieuChinh == true)
                                            {
                                                <th>Giá trị trước điều chỉnh</th>
                                                <th>Giá trị sau điều chỉnh</th>
                                            }
                                            else
                                            {
                                                <th>Giá trị phê duyệt TKTC</th>
                                            }
                                            <th>Chênh lệch</th>
                                            <th width="100px">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblHangMucChinh"></tbody>
                                    <tfoot>
                                        <tr>
                                            <th width="50px"></th>
                                            <th colspan="2">Tổng</th>
                                            <th class="fTongGiaTriPD text-right"></th>
                                            @if (ViewBag.bIsDieuChinh == true)
                                            {
                                                <th class="cpdt_tong_giatripheduyetduan" style='text-align:right'></th>
                                                <th class="cpdt_tong_giatripheduyet text-right" style='text-align:right' id="conlaihangmucpheduyet"></th>
                                            }
                                            else
                                            {
                                                <th class="fTongGiaTriPDTKTC cpdt_tong_giatripheduyet text-right" id="conlaihangmucpheduyet"></th>
                                            }
                                            <th class="fTongChenhLech cpdt_tong_giatrichenhlech text-right"></th>
                                            <th width="100px"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="HideModalChiTietChiPhi()">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divModalMessage">

    </div>
</div>

<div id="divModalConfirm">

</div>

<script src="~/Scripts/QLVonDauTu/ThongTinDuAn/TKTCVaTDT/jsDetailQLPheDuyetTTKCVaTDT.js"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>

<style>
    /* .table-bordered tr, td {
        border: 1px solid
    }*/
    .create_thdt h4 {
        font-size: 17px;
    }

    .r_STT {
        text-align: center;
    }

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }

    .parent-row {
        font-weight: bold;
    }
</style>