@model rptNCSKT_TH03ViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo tổng hợp số kiểm tra năm @PhienLamViec.NamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container"> 
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @if (Model.PhongBanList == null || Model.PhongBanList.Count() <= 2)
                                {
                                    <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                    <input id="id_phongban" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                }
                                else
                                {

                                    @Html.DropDownList("id_phongban", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đơn vị:</label>
                            <div class="col-sm-8">                                
                                @Html.DropDownList("id_donvi", Model.DonViList, new { @class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Chuyên ngành:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("nganh", Model.NganhList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div id="loaiBaoCao" class="col-sm-8">
                                @*<div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="1" id="loaiBaoCao-1" checked />
                                    <label for="loaiBaoCao-1">Tổng hợp số BQL đề nghị</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="11" id="loaiBaoCao-2" />
                                    <label for="loaiBaoCao-2">Tổng hợp số BQL đề nghị (Không bao gồm khối bệnh viện)</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="12" id="loaiBaoCao-3" />
                                    <label for="loaiBaoCao-3">Tăng/Giảm số BQL</label>
                                </div>*@
                                @*<div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="2" id="loaiBaoCao-4" />
                                    <label for="loaiBaoCao-4">Tổng hợp số B2 đề nghị</label>
                                </div>*@
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="21" id="loaiBaoCao-5" checked/>
                                    <label for="loaiBaoCao-5">Tổng hợp số B2 đề nghị (Không bao gồm khối bệnh viện)</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" value="22" id="loaiBaoCao-6" />
                                    <label for="loaiBaoCao-6">Tăng/Giảm số B2</label>
                                </div>
                            </div>
                        </div>                                            
                    </form>
                </div>                
            </div>          
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Reports" , new {area="SKT", loai=4})">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    change();

    function change() {
        var phongban = $("#id_phongban").val();

        var url = '@Url.Action("Ds_DonVi")' +
                   "/?phongban=" + phongban;

        console.log(url);
        $("#id_donvi").empty();
        $.getJSON(url, function (data) {
            $("#id_donvi").append(data);
        });
    }

    $(".btn-print").click(function () {        
        var links = [];
        var nganh = $("#nganh").val();
        var donvi = $("#id_donvi").val();
        var phongban = $("#id_phongban").val();
        var loaiBC = $("#loaiBaoCao input[type='radio']:checked").val();
        var loai = 2;
        var yes = confirm("Đ/c có in số tổng hợp chi tiết đến đơn vị không?");
        if (yes)
            loai = 1;

        var ext = $(this).data("ext");

        var url = unescape('@Url.Action("Print")' +
                    "?ext=" + ext +
                    "&nganh=" + nganh +
                    "&phongban=" + phongban +
                    "&loai=" + loai +
                    "&loaiBC=" + loaiBC +
                    "&donvi=" + donvi);

        openNewTab(url);

    });

</script>
