@model rptDuToanBS_BVTCViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Phụ lục dự toán bổ sung theo đơn vị năm @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đợt bổ sung NS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaDot", Model.DotList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "fillDonVi()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Tên phụ lục:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("tenPhuLuc", Model.TieuDe, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Quyết định:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("quyetDinh", Model.QuyetDinh, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("ghiChu", Model.GhiChu, new { @class = "form-control" })
                                <hr />
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                        @Html.Partial("_ui_dvt")

                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" style="max-height:553px" data-check="first-only"></div>
                </div>               
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToanBS_Report" )">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeDot() {       

        var iID_MaDot = $("#iID_MaDot").val();
        if (iID_MaDot == "-1")
            return;
        $("#iID_DonVi").empty();
        fillPhongBan(iID_MaDot);
    }

    function fillPhongBan(iID_MaDot) {
        var url = '@Url.Action("Ds_PhongBan")' + "/?"
                    + "iID_MaDot=" + iID_MaDot;
        jQuery.ajaxSetup({ cache: false });

        $.getJSON(url, function (data) {
            document.getElementById("iID_MaPhongBan").innerHTML = data;
        });
        fillDonVi();
    }

    function fillDonVi() {
        var url = '@Url.Action("Ds_DonVi")' +
                   "/?iID_MaDot=" + $("#iID_MaDot").val() +
                   "&iID_MaPhongBan=" + $("#iID_MaPhongBan").val();

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var ghichu = $("#ghiChu").val();

        $("input:checkbox[check-group='DonVi']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "?ext=" + ext +
                    "&r=" + $("#rowheight").val() +
                    "&dvt=" + $("#dvt").val() +
                    "&iID_MaDot=" + $("#iID_MaDot").val() +
                    "&dNgay=" + $("#iID_MaDot option:selected").text().substring(0, 10) +
                    "&iID_MaPhongBan=" + $("#iID_MaPhongBan").val() +
                    "&iID_MaDonVi=" + item +
                    "&tenPhuLuc=" + $("#tenPhuLuc").val() +
                    "&quyetDinh=" + $("#quyetDinh").val() +
                    "&ghiChu=" + ghichu;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
