@model rptDuToanBS_ChiTieuNganSachViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Phụ lục dự toán bổ sung theo đơn vị năm @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đợt bổ sung NS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaDot", Model.DotList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @if (Model.PhongBanList.Count() > 1)
                                {
                                    @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeDot()" })
                                }
                                else
                                {
                                    <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                    <input id="iID_MaPhongBan" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                    @*@Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeDot()" })*@
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Tên phụ lục:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("tenPhuLuc", Model.TieuDe, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Quyết định:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("quyetDinh", Model.QuyetDinh, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                <textarea id="ghiChu" class="form-control" readonly onchange="updateGhiChu($(this).val())"></textarea>
                                <span id="ghiChu_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="loaiBaoCao">
                                @if (PhienLamViec.iID_MaPhongBan == "10")
                                {
                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-104" value="104" checked />
                                        <label for="loaiBaoCao-104">
                                            B10 - Phụ lục NSBĐ (104)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-2070" value="2070" />
                                        <label for="loaiBaoCao-2070">
                                            B10 - Phụ lục NSNN  (Tự chi)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-207" value="207" />
                                        <label for="loaiBaoCao-207">
                                            B10 - Phụ lục NSNN (Tự chi + phân cấp)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-2" value="2" />
                                        <label for="loaiBaoCao-2">
                                            B10 - Phụ lục phân cấp
                                            <span class="help">(2 cột, dọc)</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-3" value="3" />
                                        <label for="loaiBaoCao-3">
                                            B10 - Phụ lục tự chi
                                            <span class="help">(2 cột, dọc)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-1" value="1" />
                                        <label for="loaiBaoCao-1">
                                            B10 - Phụ lục tổng hợp (Tự chi + phân cấp)
                                            <span class="help">(2 cột, dọc)</span>
                                        </label>
                                    </div>
                                }
                                else
                                {
                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-7" checked="checked" value="7" />
                                        <label for="loaiBaoCao-7">
                                            B07 - Phụ lục quyết định
                                            <br />
                                            <span class="help">(2 cột, giấy dọc, gồm cả phân cấp)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-104" value="104" checked />
                                        <label for="loaiBaoCao-104">
                                            B07 - Phụ lục NSBĐ (104)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-2070" value="2070" />
                                        <label for="loaiBaoCao-2070">
                                            B07 - Phụ lục NSNN  (Tự chi)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <input type="radio" name="loaiBaoCao" id="loaiBaoCao-207" value="207" />
                                        <label for="loaiBaoCao-207">
                                            B07 - Phụ lục NSNN (Tự chi + phân cấp)
                                            <span class="help">(7 cột, ngang)</span>
                                        </label>
                                    </div>

                                }
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                        @Html.Partial("_ui_dvt")

                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" style="max-height:553px" data-check="first-only"></div>
                </div>
                @* <div class="col-xs-4">
                        <div id="sLNS" class="ls-box"></div>
                    </div>*@
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToanBS_Report" )">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //$("input[type='checkbox'], input[type='radio']").iCheck({
    //    checkboxClass: 'icheckbox_square',
    //    radioClass: 'iradio_square'
    //});

    //$(document).ready(function () {
    //    $('input').iCheck({
    //        increaseArea: '20%', // optional
    //        checkboxClass: 'icheckbox_square',
    //        radioClass: 'iradio_square'
    //    });
    //});

    function changeDot() {

        // clear
        $("#iID_DonVi").empty();
        //$("#sLNS").empty();

        var iID_MaDot = $("#iID_MaDot").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        if (iID_MaDot == "-1")
            return;

        fillDonVi(iID_MaDot, iID_MaPhongBan);
    }


    function fillDonVi(iID_MaDot, iID_MaPhongBan) {
        var url = '@Url.Action("Ds_DonVi")' +
                   "/?iID_MaDot=" + iID_MaDot +
                   "&iID_MaPhongBan=" + iID_MaPhongBan;

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    function checkItem(group, value, self) {
        if (group == "DonVi") {

            var checked = $(self).is(":checked");
            var text = $(self).data("text");

            fillGhiChu(value, checked, text);          
        }
    }

    function fillGhiChu(donvi, checked, text) {
        _currentDonVi = donvi;

        $("#ghiChu_Hint").text('(' + text + ')');
        $("#ghiChu").empty();
        var iID_MaDot = $("#iID_MaDot").val();
        if (donvi == null || donvi.length == 0 || !checked) {
            $("#ghiChu").prop("readonly", true);
        }
        else {
            $("#ghiChu").removeAttr('readonly');
            var url = '@Url.Action("ghichu")' +
                    "/?id_donvi=" + donvi +
                    "&iID_MaDot=" + iID_MaDot;

            $.getJSON(url, function (data) {
                $("#ghiChu").val(data);
            });
        }
    }

    function updateGhiChu(ghiChu) {
        var iID_MaDot = $("#iID_MaDot").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ghichu_update")',
            data: {
                id_donvi: _currentDonVi,
                iID_MaDot: iID_MaDot,
                GhiChu: ghiChu
            },
            success: function (data) {
            },
        });
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        var ghichu = $("#ghiChu").val();
        var coGhiChu = '0';
        if (ghichu != '') {
            coGhiChu = '1';
        }

        $("input:checkbox[check-group='DonVi']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "?ext=" + ext +
                    "&r=" + $("#rowheight").val() +
                    "&dvt=" + $("#dvt").val() +
                    "&loaiBaoCao=" + loaiBaoCao +
                    "&iID_MaDot=" + $("#iID_MaDot").val() +
                    "&dNgay=" + $("#iID_MaDot option:selected").text().substring(0, 10) +
                    "&iID_MaPhongBan=" + $("#iID_MaPhongBan").val() +
                    "&iID_MaDonVi=" + item +
                    "&tenPhuLuc=" + $("#tenPhuLuc").val() +
                    "&quyetDinh=" + $("#quyetDinh").val() +
                    "&ghiChu=" + coGhiChu;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
