@model rptDuToanBS_TongHopDotViewModel
@{

}

<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">DTBS - Tổng hợp dự toán ngân sách bảo đảm theo đợt gom năm @PhienLamViec.iNamLamViec</span>
    </div>
    <div class="panel-body">

        <div class="container">

            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Chọn tờ:</strong></h6>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đợt bổ sung NS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaDot", Model.DotList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaTo" class="ls-box" data-check="first-only"></div>
                </div>
            </div>

            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i>In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToanBS_Report")">Hủy</a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function changeDot() {
        var iID_MaDot = $("#iID_MaDot").val();
        fillTo(iID_MaDot);
    }

    function fillTo(iID_MaDot) {
        var url = '@Url.Action("Ds_ToIn")' + "/?"
                    + "iID_MaDot=" + iID_MaDot;

        fillCheckboxList("iID_MaTo", "To", url);
    }

    $(".btn-print").click(function () {
        var links = [];

        var ext = $(this).data("ext");
        var iID_MaDot = $("#iID_MaDot").val();

        $("input:checkbox[check-group='To']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "/?ext=" + ext +
                    "&iID_MaDot=" + iID_MaDot +
                    "&to=" + item;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
