@model rptDuToanBS_ChiTieuNganSachViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Biểu trình ký và phụ lục dự toán bổ sung năm @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị</strong></h6>
                </div>
                @*  <div class="col-xs-4">
                        <h6><strong class="text-uppercase">LNS</strong></h6>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Kiểu in:</label>
                            <div class="col-sm-8" id="sLNS">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sLNS" checked="checked" value="104" />
                                        Ngân sách bảo đảm (7 cột - giấy ngang)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sLNS" value="1" />
                                        Ngân sách nhà nước, ns khác (2 cột - giấy dọc)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="sLNS" value="1" />
                                        Ngân sách nhà nước, ns khác (4 cột - giấy ngang)
                                    </label>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đợt bổ sung NS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaDot", Model.DotList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @*<input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />*@
                                @*<input id="iID_MaPhongBan" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />*@
                                @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Tên phụ lục:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("tenPhuLuc", Model.TieuDe, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Quyết định:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("quyetDinh", Model.QuyetDinh, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("ghiChu", Model.GhiChu, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="trinhky">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="trinhky" checked="checked" value="0" />
                                        Phụ lục quyết định
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="trinhky" value="1" />
                                        Trình ký
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" data-check="first-only"></div>
                </div>
                @* <div class="col-xs-4">
                        <div id="sLNS" class="ls-box"></div>
                    </div>*@
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToanBS_Report" )">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeDot() {

        // clear
        $("#iID_DonVi").empty();
        //$("#sLNS").empty();

        var iID_MaDot = $("#iID_MaDot").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        if (iID_MaDot == "-1")
            return;

        fillDonVi(iID_MaDot, iID_MaPhongBan);
    }


    function fillDonVi(iID_MaDot, iID_MaPhongBan) {
        var url = '@Url.Action("Ds_DonVi")' +
                   "/?iID_MaDot=" + iID_MaDot +
                   "&iID_MaPhongBan=" + iID_MaPhongBan;

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    @* function fillLNS() {
            // lay ds don vi duoc chon
            var url = '<%=Url.Action("Ds_LNS")%>' +
                        "/?iID_MaDot=" + $("#iID_MaDot").val() +
                        "&iID_MaPhongBan=" + $("#iID_MaPhongBan").val() +
                        "&iID_MaDonVi=" + getCheckedItems("DonVi");

            console.log(url);

            $.getJSON(url, function (data) {
                document.getElementById("sLNS").innerHTML = data;
                checkFirstItem("LNS");
            });
        }

        function checkItem(item) {
            var group = $(item).data("group");
            if (group == "DonVi") {
                fillLNS();
            }
        }

        function changeListAll(group) {
            if (group == "DonVi") {
                fillLNS();
            }
        }*@

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var trinhky = $("#trinhky input[type='radio']:checked").val();
        var ghichu = $("#ghiChu").val();
        var sLNS = $("#sLNS input[type='radio']:checked").val();


        $("input:checkbox[check-group='DonVi']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print", "rptDuToanBS_ChiTieuNganSach")' +
                    "?ext=" + ext +
                    "&r=" + 160 +
                    "&trinhky=" + trinhky +
                    "&sLNS=" + sLNS +
                    "&iID_MaDot=" + $("#iID_MaDot").val() +
                    "&dNgay=" + $("#iID_MaDot option:selected").text().substring(0, 10) +
                    "&iID_MaPhongBan=" + $("#iID_MaPhongBan").val() +
                    "&iID_MaDonVi=" + item +
                    "&tenPhuLuc=" + $("#tenPhuLuc").val() +
                    "&quyetDinh=" + $("#quyetDinh").val() +
                    "&ghiChu=" + ghichu;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
