@using Viettel.Models.QLVonDauTu
@model VDTQLKhoiTaoDuAnPagingModel

<div class="tooltip-header-search">
    <div class="col-sm-6" style="display: flex; padding-left: 0px;">
        <label class="control-label">Danh sách khởi tạo thông tin dự án chuyển tiếp (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="BtnInsertDataClick()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <div class="form-group text-right">
        @using (Html.BeginForm("XuatFile", "QLKhoiTaoThongTinDuAnChuyenTiep", FormMethod.Post))
        {
            <button class="btn btn-primary" style="margin-right:10px;width:auto !important"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
        }
    </div>
</div>
<table class="table table-bordered">
    <thead class="header-search">
    <th width="2%"></th>
    <th width="5%"><input type="text" class="form-control clearable" id="txtiNamKhoiTao" autocomplete="off" /></th>
    <th width="20%"><input type="text" class="form-control clearable" id="txtsTenDuAn" autocomplete="off" /></th>
    <th width="10%"></th>
    <th width="9%"></th>
    <th width="9%"></th>
    <th width="9%"></th>
    <th width="9%"></th>
    <th width="9%"></th>
    <th width="9%"></th>
    <th width=""><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="2%">STT</th>
    <th width="5%">Năm khởi tạo</th>
    <th width="20%">Tên dự án</th>
    <th width="10%">Đơn vị quản lý</th>
    <th width="9%">Tổng mức đầu tư</th>
    <th width="9%">KH vốn bố trí hết năm trước</th>
    <th width="9%">Lũy kế thanh toán KLHT</th>
    <th width="9%">Lũy kế thanh toán tạm ứng</th>
    <th width="9%">Vốn thanh toán KLHT(qua KB)</th>
    <th width="9%">T/Ư theo chế độ chưa thu hồi(qua KB)</th>
    <th width="">Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = Model._paging.ItemForm;
            foreach (var item in Model.lstData)
            {
                <tr>
                    <td align="center">@index</td>
                    <td align="center">@item.iNamKhoiTao</td>
                    <td align="left">@item.sTenDuAn</td>
                    <td align="left">@item.sTenDonVi</td>
                    <td align="right" class="sotien">@item.fTongMucDauTuPheDuyet</td>
                    <td align="right" class="sotien">@item.fKHVonHetNamTruoc</td>
                    <td align="right" class="sotien">@item.fLuyKeThanhToanKLHT</td>
                    <td align="right" class="sotien">@item.fLuyKeThanhToanTamUng</td>
                    <td align="right" class="sotien">@item.fThanhToanQuaKB</td>
                    <td align="right" class="sotien">@item.fTamUngQuaKB</td>
                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="ViewDetailList('@item.iID_KhoiTaoID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="GetItemDataList('@item.iID_KhoiTaoID')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });
    });

</script>