@using Viettel.Models.QLVonDauTu
@model VDTQLKhoiTaoDuAnViewModel
@{
    ViewBag.Title = "Sửa thông tin khởi tạo dự án";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<style>
    .table-parent th {
        text-align: center;
        border-top: 2px solid #ddd;
    }
</style>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <input type="hidden" id="iID_KhoiTaoID" value="@Model.iID_KhoiTaoID">
        <input type="hidden" id="iID_QDDauTuID" value="@Model.iID_QDDauTuID">
        <input type="hidden" id="iID_DuToanID" value="@Model.iID_DuToanID">
        <input type="hidden" id="arrChiTiet" value="@Json.Encode(Model.lstKTChiTiet)" />
        <input type="hidden" id="arrChiTietNhaThau" value="@Json.Encode(Model.lstKTChiTietNhaThau)" />
        <div class="card">
            <div class="card-body create_thdt">
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin chung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="txtiNamKhoiTao" class="">Năm khởi tạo <span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtiNamKhoiTao" value="2019" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="form-group" id="divThongTinDuAn">
                    <h4 class="color-text-red">Thông tin dự án:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtBIsDuAnCu">Dự án đã nhập trên phần mềm</label>
                            <input type="checkbox" id="bIsDuAnCu" name="bIsDuAnCu" class="form-control" disabled style="width: 7%; margin-top: 0px !important; cursor:pointer" checked="@Model.bIsDuAnCu" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6" id="textboxDuAn">
                            <label for="txt_TenDuAn">Tên dự án <span class="require">*</span></label>
                            <input type="text" required id="sTenDuAn" name="sTenDuAn" class="form-control" value="@Model.sTenDuAn" />
                        </div>

                        <div class="col-sm-6" id="dropDuAn" hidden>
                            <label for="drpDuAn" class="">Tên dự án <span class="require">*</span></label>
                            @Html.DropDownListFor(model => model.iID_DuAnID, (SelectList)ViewBag.ListDuAn, "--Chọn--", new { @class = "form-control clearable", @disabled = "disabled" })
                        </div>

                        <div class="col-sm-3">
                            <label for="txt_MaDuAn">Mã dự án <span class="require">*</span></label>
                            <input type="text" required id="sMaDuAn" name="sMaDuAn" class="form-control" value="@Model.sMaDuAn" maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtChuDauTu">Chủ đầu tư</label>
                            @Html.DropDownListFor(model => model.iID_ChuDauTuID, (SelectList)(ViewBag.ListChuDauTu), new { @class = "form-control", @id = "iID_ChuDauTuID" })
                        </div>
                        <div class="col-sm-3">
                            <label for="txtLoaiCongTrinh">Loại công trình <span class="require">*</span></label>
                            <input type="text" id="txtLoaiCongTrinh" name="txtLoaiCongTrinh" class="form-control" value="" autocomplete="off" />
                            <input type="hidden" id="drpLoaicongTrinh" name="drpLoaicongTrinh" value="@Model.iID_LoaiCongTrinhID">
                        </div>
                        <div class="col-sm-3">
                            <label for="txtPhanCapPheDuyet">Phân cấp phê duyệt <span class="require">*</span></label>
                            @Html.DropDownListFor(model => model.iID_CapPheDuyetID, new SelectList(ViewBag.ListPhanCapPheDuyet, "Value", "Text"), new { @class = "form-control", @id = "iID_CapPheDuyetID" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <input type="hidden" id="iID_DuAnID" name="iID_DuAnID" value="">
                            <label for="txt_DonViQuanLy">Đơn vị quản lý <span class="require">*</span></label>
                            @Html.DropDownListFor(model => model.iID_DonViQuanLyID, (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "iID_DonViQuanLyID" })
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row" style="display: flex">
                                <div class="col-sm-6">
                                    <label for="txtThoiGianThucHienTuNam" style="white-space: nowrap;">Thời gian thực hiện:</label>
                                    <input type="number" id="sKhoiCong" name="sKhoiCong" class="form-control" value="@Model.sKhoiCong" maxlength="4" autocomplete="off" />
                                </div>
                                <span style="margin: 32px 0px 0px 0px">-</span>
                                <div class="col-sm-6">
                                    <label for="txtThoiGianThucHienDenNam">&nbsp;</label>
                                    <input type="number" id="sKetThuc" name="sKetThuc" class="form-control" value="@Model.sKetThuc" maxlength="4" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtSoQuyetDinhCTDT">Số QĐĐT <span class="require">*</span></label>
                            <input type="text" id="sSoQDDT" name="sSoQDDT" class="form-control" value="@Model.sSoQDDT" maxlength="300" />
                        </div>
                        <div class="col-sm-2">
                            <label for="dNgayPheDuyet">Ngày duyệt QĐĐT <span class="require">*</span></label>
                            <div class='input-group date'>
                                <input type="text" id="dNgayPheDuyetQDDT" name="dNgayPheDuyetQDDT" class="form-control" placeholder="dd/MM/yyyy" value="@Html.Raw(Model.dNgayDuyetQDDT.HasValue ? Model.dNgayDuyetQDDT.Value.ToString("dd/MM/yyyy") : string.Empty)" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtCoQuanPheDuyet">Cơ quan phê duyệt QĐĐT <span class="require">*</span></label>
                            <input type="text" id="sCoQuanPheDuyetQDDT" name="sCoQuanPheDuyetQDDT" class="form-control" value="@Model.sCoQuanPheDuyetQDDT" maxlength="300" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Người ký QĐĐT <span class="require">*</span></label>
                            <input type="text" id="sNguoiKyQDDT" name="sNguoiKyQDDT" class="form-control" value="@Model.sNguoiKyQDDT" maxlength="300" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtSoQuyetDinhTKDT">Số quyết định TKDT</label>
                            <input type="text" id="sSoQuyetDinhTKDT" name="sSoQuyetDinhTKDT" class="form-control" value="@Model.sSoTKDT" maxlength="300" />
                        </div>
                        <div class="col-sm-2">
                            <label for="dNgayPheDuyet">Ngày duyệt TKDT</label>
                            <div class='input-group date'>
                                <input type="text" id="dNgayDuyetTKDT" name="dNgayDuyetTKDT" class="form-control" placeholder="dd/MM/yyyy" value="@Html.Raw(Model.dNgayDuyetTKDT.HasValue ? Model.dNgayDuyetTKDT.Value.ToString("dd/MM/yyyy") : string.Empty)" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtCoQuanPheDuyet">Cơ quan phê duyệt TKDT</label>
                            <input type="text" id="sCoQuanPheDuyetTKDT" name="sCoQuanPheDuyetTKDT" class="form-control" value="@Model.sCoQuanPheDuyetTKDT" maxlength="300" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiKy">Người ký TKDT</label>
                            <input type="text" id="sNguoiKyTKDT" name="sNguoiKyTKDT" class="form-control" value="@Model.sNguoiKyTKDT" maxlength="300" />
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <h4 class="color-text-red">Thông tin vốn ứng ngoài chỉ tiêu:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-9 no-padding">
                            <div class="col-sm-3">
                                <label for="txtKHVonUng" class="">KH vốn ứng</label>
                                <input type="text" class="form-control clearable sotien" id="txtKHVonUng" value="@Model.fKHVonUng" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtVonUngDaCap" class="">Vốn ứng đã cấp</label>
                                <input type="text" class="form-control clearable sotien" id="txtVonUngDaCap" value="@Model.fVonUngDaCap" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtVonUngDaThuHoi" class="">Vốn ứng đã thu hồi</label>
                                <input type="text" class="form-control clearable sotien" id="txtVonUngDaThuHoi" value="@Model.fVonUngDaThuHoi" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                            </div>
                            <div class="col-sm-3">
                                <label for="txtGiaTriConPhaiUng" class="">Giá trị còn phải ứng</label>
                                <input type="text" class="form-control clearable sotien" id="txtGiaTriConPhaiUng" value="@Model.fGiaTriConPhaiUng" autocomplete="off" disabled />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="color-text-red">Thông tin chi tiết:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="drpNguonNganSach" class="">Nguồn vốn <span class="require">*</span></label>
                            @Html.DropDownList("drpNguonNganSach", ViewBag.drpNguonVon as List<SelectListItem>, new { @class = "form-control clearable" })
                        </div>
                        <div class="col-sm-3">
                            <label for="drpLoaiNganSach" class="">Loại ngân sách <span class="require">*</span></label>
                            @Html.DropDownList("drpLoaiNganSach", ViewBag.drpLoaiNganSach as List<SelectListItem>, new { @class = "form-control clearable" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="drpNganh">Mục - Tiểu mục - Tiết mục - Ngành <span class="require">*</span></label>
                            <select id="drpNganh" class="form-control clearable"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtGiaTriDauTu" class="">Giá trị đầu tư<span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtGiaTriDauTu" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtGiaTriDuToan" class="">Giá trị dự toán</label>
                            <input type="text" class="form-control clearable" id="txtGiaTriDuToan" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtKHVonBoTriHetNamTruoc" class="">KH vốn bố trí hết năm trước (qua BQP)<span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtKHVonBoTriHetNamTruoc" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtLuyKeThanhToan" class="">Lũy kế thanh toán KLHT (qua BQP)<span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtLuyKeThanhToan" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtSoDuUng" class="">Số dư ứng (qua BQP)<span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtSoDuUng" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                @*<input type="text" class="form-control">*@
                                <div class="input-group-append">
                                    <button class="btn btn-detail btn-icon" type="button" onclick="openPopupCapNhatTienLuyKe()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <span class="require text-italic">(Cập nhật tiền lũy kế thanh toán tạm ứng)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtSoChuyenChiTieuDaCap" class="">Số chuyển chỉ tiêu đã cấp</label>
                            <input type="text" class="form-control clearable" id="txtSoChuyenChiTieuDaCap" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtSoChuyenChiTieuChuaCap" class="">Số chuyển chỉ tiêu chưa cấp</label>
                            <input type="text" class="form-control clearable" id="txtSoChuyenChiTieuChuaCap" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtVonThanhToanKLHT" class="">Vốn thanh toán KLHT(qua KB)</label>
                            <input type="text" class="form-control clearable" id="txtVonThanhToanKLHT" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtTUTheoCheDoChuaThuHoi" class="">T/Ư theo chế độ chưa thu hồi(qua KB)</label>
                            <input type="text" class="form-control clearable" id="txtTUTheoCheDoChuaThuHoi" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtKeHoachVonChuaCap" class="">Kế hoạch vốn chưa cấp (qua BQP)<span class="require">*</span></label>
                            <input type="text" class="form-control clearable" id="txtKeHoachVonChuaCap" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" disabled />
                        </div>
                        <div class="col-sm-3">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group">
                                @*<input type="text" class="form-control">*@
                                <div class="input-group-append">
                                    <button class="btn btn-detail btn-icon" type="button" onclick="AddThongTinChiTiet()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-delete btn-icon" type="button" onclick="ClearThongTinChiTiet()">
                                        <span class="fa fa-refresh fa-lg" aria-hidden="true"></span>
                                    </button>
                                    <span class="require text-italic">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-area">
                    <div id="ViewTable" style="overflow:scroll; height:300px;"></div>
                </div>

                <div class="row text-center">
                    <button class="btn btn-default" onclick="Huy()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="LuuData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal tien luy ke thanh toan tam ung -->
<div class="modal fade modalLuyKeThanhToanTamUng" id="modalLuyKeThanhToanTamUng" tabindex="-1" role="dialog" aria-labelledby="modalLuyKeThanhToanTamUng" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id="">Cập nhật tiền lũy kế thanh toán tạm ứng</h3>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="txtSoChuyenChiTieuDaCap" class="">Nhà thầu</label>
                        @Html.DropDownList("iID_NhaThauID", (SelectList)(ViewBag.ListNhaThau), "--Chọn--", new { @class = "form-control required", @id = "iID_NhaThauID" })
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="txtGiaTriUng" class="">Giá trị ứng</label>
                        <input type="text" class="form-control clearable" id="txtGiaTriUng" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" autocomplete="off" />
                    </div>
                    <div class="col-sm-3">
                        <label for="btn">&nbsp;</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <button class="btn btn-detail btn-icon" type="button" onclick="ThemMoiGiaTriUng()">
                                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered" id="tblListTienLuyKe">
                        <thead>
                        <th width="5%"></th>
                        <th width="50%">Tên nhà thầu</th>
                        <th width="40%">Giá trị ứng</th>
                        <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Tổng cộng</th>
                                <th class="tong_giatriung text-right"></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row text-center">
                    <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" onclick="CapNhatTienLuyKe()" data-dismiss="modal"><i class="fa fa-download" aria-hidden="true"></i><span>Thêm</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/KhoiTao/jsVDT_Sua_KhoiTaoThongTinDuAnChuyenTiep.js"></script>
    <script src="~/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script src="~/Scripts/js/dropdowntree.js"></script>
}