@model VIETTEL.Areas.QuyetToan.Models.ChungTuListViewModel
<table class="table table-bordered">
    <thead>
    <th width="40px">#</th>
    <th width="80">Số CT</th>
    <th width="220">Đơn vị</th>
    <th width="120">LNS</th>
    <th width="120" align="center">Ngày chứng từ</th>
    <th width="60" align="center">Quý</th>
    <th>Nội dung</th>
    <th width="160" align="center">Số tiền</th>
    <th width="120">Trạng thái</th>
    </thead>
    <tbody>
        @{

            var i = 0;

            foreach (var item in Model.Items)
            {
                var color = i % 2 == 0 ? "" : "#f1f1f1";
                var url = Url.Action("edit", new { id = item.iID_MaChungTu, type = Model.Type });

                <tr style="background-color: @color">
                    <td align="center">@(i + 1)</td>
                    <td align="center"><a href="@url">@item.sSoChungTu</a></td>
                    <td>@item.sTenDonVi</td>
                    <td>@item.sDSLNS</td>
                    <td align="center">@item.dNgayChungTu.ToStringDate()</td>
                    <td align="center">@item.iThang_Quy</td>
                    <td><a href="@url">@item.sNoiDung</a></td>
                    <td align="right">1.000.000</td>
                    <td align="center">@item.sTrangThaiDuyet</td>
                </tr>

                i++;
            }


        }
    </tbody>
</table>
