@model VIETTEL.Areas.QuyetToan.Models.ChungTuViewModel
@{
    Layout = "~/Views/shared/_layout2.cshtml";

    ViewBag.IsEditor = true;
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Biểu trình ký và phụ lục dự toán bổ sung năm</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.iID_MaChungTu)
            <div class="form-group ">
                <label class="control-label col-sm-2" for="name">
                    Số chứng từ
                </label>
                <div class="col-sm-5">
                    @*<input class="form-control" id="name" name="name" type="text" />*@
                    @Html.TextBoxFor(x => x.sSoChungTu, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2">
                    Đơn vị
                </label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.iID_MaDonVi, Model.DonViList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2" for="subject">
                    Loại ngân sách
                </label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.sDSLNS, Model.LoaiNganSachList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2" for="text">
                    Qu&yacute;
                </label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.iThang_Quy, Model.QuyList, new { @class = "form-control " })
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2" for="date">
                    Ng&agrave;y chứng từ
                </label>
                <div class="col-sm-5">
                    @Html.TextBox("dNgayChungTu", Model.dNgayChungTu.ToStringDate(), new { @class = "form-control date" })
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label col-sm-2" for="textarea1">
                    Nội dung
                </label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.sNoiDung, new { @class = "form-control", cols = "40", rows = "5" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button class="btn-mvc btn-mvc-green" name="submit" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>



    </script>
}
