@{
    var returnUrl = HttpUtility.UrlEncode(Request.UrlOriginal().AbsolutePath);
}
@Html.AntiForgeryToken()
<li class="dropdown">
    <a href="#"><i class="fa fa-dot-circle-o"></i> Năm: <strong>@PhienLamViec.iNamLamViec</strong></a>
    <ul class="dropdown-menu">
        @for (int i = 0; i < 3; i++)
        {
            var year = DateTime.Now.Year + 1 - i;
            <li><a href="#" class="btn-year" data-year="@year" onclick="changeYear(@year)">@year</a></li>
        }
        <li role="separator" class="divider"></li>
        <li><a href="/config/index">Cấu hình năm làm việc</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>    @User.Identity.Name<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/account/changepassword">Đổi mật khẩu</a></li>
        <li><a href="/account/personalinfo">Thông tin tài khoản</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/account/ssologoff"><i class="fa "></i>Đăng xuất</a></li>
    </ul>
</li>
@using (Html.BeginScripts())
{
    <script>

        function changeYear(year) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("changeyear", "config")',
                data: {
                    year: year,
                    url: '@returnUrl',
                    "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val()
                },
                success: function (data) {


                    swal({
                        title: "Đã chuyển năm làm việc \n" + year + "!",
                        text: '(tự đóng trong 1s)',
                        timer: 1000,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    }).then((result) => {
                        if (
                          result.dismiss === swal.DismissReason.timer
                        ) {
                            console.log('I was closed by the timer')
                            window.location.href = data.url;
                        }


                    })



                },
            });
        }


    </script>
}
