@using Viettel.Domain.DomainModel;
@using Viettel.Models.QLNguonNganSach;
@using System.Data;
@model IEnumerable<Viettel.Domain.DomainModel.BaoCaoTongHopNguonViewModel>
@{
    IEnumerable<DotNhanBoSungTrongNamViewModel> listDotNhanBosung = ViewBag.ListDotNhanBoSung;
    int SoCotBoSung = ViewBag.SoCotBoSung;
    string textSoCotCong = ViewBag.TongsoBoSung as string;

    IEnumerable<DotNhanBoSungTrongNamViewModel> listDotDuToan = ViewBag.ListDotDuToan;
    int SoCotDuToanDaGiao = ViewBag.SoCotDaGiao;
    string textSoCotCongDaGiao = ViewBag.TongsoDuToan as string;

    TinhTongSoTienBaoCaoDotNhanViewModel objtinhTong = ViewBag.TinhTong;

    var lstChiTietDotDuToanDotBoSung = ViewBag.ListChiTietDotDuToanDotBoSung as DataTable;
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<script src="~/Scripts/jsNumber.js"></script>
<style>
    .tableFixHead table thead th {
        text-align: center;
        font-size: 14px;
        min-width: 100px;
    }

    .tableFixHead .isCha {
        font-weight: bold;
    }

    .tableFixHead .cha0 {
        font-weight: bold;
    }
</style>

<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label color-text-red">Báo cáo tổng hợp nguồn BTC cấp trong năm @PhienLamViec.iNamLamViec</label>
    </div>
</div>

<div class="tableFixHead">
    <input hidden value="@SoCotBoSung" id="soCotBoSung" />
    <input hidden value="@SoCotDuToanDaGiao" id="SoCotDuToanDaGiao" />
    <table class="table table-bordered" id="baocaoTong">
        <thead>
            <tr class="text-center" style="background-color: #06A199; color:white">
                <th rowspan="3">Mã số</th>
                <th rowspan="3">Loại</th>
                <th rowspan="3">Khoản</th>
                <th rowspan="3" style="min-width:350px">Nội dung</th>
                <th colspan="4">Dự toán năm được giao</th>
                <th colspan="4">Dự toán năm đã giao cho đơn vị</th>
                <th rowspan="3">Còn lại</th>
            </tr>
            <tr>
                <th rowspan="2">Dự toán năm @ViewBag.iNamLamViec được giao đầu năm</th>
                <th rowspan="2">Năm @(ViewBag.iNamLamViec - 1) chuyển sang</th>
                <th>Nhà nước bổ sung trong năm</th>
                <th rowspan="2">Tổng dự toán năm @ViewBag.iNamLamViec</th>
                <th rowspan="2">Dự toán năm @ViewBag.iNamLamViec được giao đầu năm</th>
                <th rowspan="2">Năm @(ViewBag.iNamLamViec - 1) chuyển sang</th>
                <th>Số dự toán đã giao</th>
                <th rowspan="2">Tổng dự toán năm @ViewBag.iNamLamViec</th>
            </tr>


            <tr class="text-center" style="background-color: #06A199; color: white">
                <th>Cộng</th>
                @*@foreach (var item in listDotNhanBosung)
                {
                    <th>@item.dNgayQuyetDinh.ToString("dd/MM/yyyy")</th>
                }*@
                <th>Cộng</th>
                @*@foreach (var item in listDotDuToan)
                {
                    <th>@item.dNgayQuyetDinh.ToString("dd/MM/yyyy")</th>
                }*@
            </tr>
            <tr class="text-center" style="background-color: #06A199;color: white">
                <th>(1)</th>
                <th>(2)</th>
                <th>(3)</th>
                <th>(4)</th>
                <th>(5)</th>
                <th>(6)</th>
                <th>(7)</th>
                @*@foreach (var item in listDotNhanBosung)
                {
                    <th><span>(</span>@(item.SoCot)<span>)</span></th>
                }*@
                <th> (8)= (5)+(6)+(7)</th>
                <th>(9)</th>
                <th>(10)</th>
                <th>(11)</th>
                @*@foreach (var item in listDotDuToan)
                {
                    <th><span>(</span>@(item.SoCot)<span>)</span></th>
                }*@
                <th>@string.Format("({0})=({1})+({2})+({3})", 12, 9, 10, 11)</th>
                <th>@string.Format("({0})=({1})-({2})", 13, 8, 12)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="isCha">
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-left">TỔNG</th>
                <th class="text-right">@objtinhTong.TongDauNam.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.TongChuyenSang.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.TongBoSung.ToString("###,###")</th>
                @*@foreach (var bs in listDotNhanBosung)
                {
                    <th class="@("tong"+bs.SoCot) text-right"></th>
                }*@
                <th class="text-right">@objtinhTong.TongDuToanAll.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongDauNam.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongChuyenSang.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.DaGiaoTongDuToan.ToString("###,###")</th>
                @*@foreach (var bs in listDotDuToan)
                {
                    <th class="@("tong"+bs.SoCot) text-right"></th>
                }*@
                <th class="text-right">@objtinhTong.DaGiaoTongDuToanAll.ToString("###,###")</th>
                <th class="text-right">@objtinhTong.ConLai.ToString("###,###")</th>
            </tr>
            @foreach (var item in Model)
            {
                
                    <tr class="@item.bLaHangCha @("cha" +item.depth)">
                        <td align="center"> @item.sMaCTMT</td>

                        <td align="center">@item.sLoai</td>

                        <td align="center">@item.sKhoan</td>
                        <td align="left">@item.sNoiDung</td>
                        <td align="right">@item.dTDauNam.ToString("###,###")</td>
                        <td align="right">@item.dtChuyenSang.ToString("###,###")</td>
                        <td align="right">@item.NhaNuocBosung.ToString("###,###")</td>

                        @*@foreach (var a in listDotNhanBosung)
                        {
                            var chitiet = lstChiTietDotDuToanDotBoSung.Select("iID_Nguon = '" + item.iID_Nguon + "'")[0];
                            string sSoTien = string.IsNullOrEmpty(chitiet["c" + a.SoCot].ToString()) ? "" : decimal.Parse(chitiet["c" + a.SoCot].ToString()).ToString("###,###");
                            <td align="right" class="@a.SoCot">@sSoTien</td>
                        }*@
                        <td align="right">@item.TongDuToan.ToString("###,###")</td>
                        <td align="right">@item.dagiaoDauNam.ToString("###,###")</td>
                        <td align="right">@item.dagiaoChuyenSang.ToString("###,###")</td>
                        <td align="right">@item.dagiaoDuToan.ToString("###,###")</td>
                        @*@foreach (var a in listDotDuToan)
                        {
                            var chitiet = lstChiTietDotDuToanDotBoSung.Select("iID_Nguon = '" + item.iID_Nguon + "'")[0];
                            string sSoTien = string.IsNullOrEmpty(chitiet["c" + a.SoCot].ToString()) ? "" : decimal.Parse(chitiet["c" + a.SoCot].ToString()).ToString("###,###");
                            <td align="right" class="@a.SoCot">@sSoTien</td>
                        }*@
                        <td align="right">@item.dagiaoTongDuToan.ToString("###,###")</td>
                        <td align="right">@item.conLai.ToString("###,###")</td>
                    </tr>
            }
        </tbody>
    </table>
</div>