﻿@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@using Viettel.Domain.DomainModel
@using System.Linq
@model RptTongHopGiaoDuToanModel

@{
    ViewBag.Title = "TỔNG HỢP DỰ TOÁN NGÂN SÁCH GIAO CHO ĐƠN VỊ THEO NỘI DUNG NGUỒN BTC CẤP";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<style>
    .menu-header, .menu-left, .footer {
        display: none;
    }

    .detail-panel > .card {
        padding: 0.5rem;
    }
</style>

@{
    Guid iID_NhiemVu = Guid.Empty;
    string sSoQuyetDinh = string.Empty;
    string sNgayQuyetDinh = string.Empty;
    foreach (var item in Model.lstDuToanChiTiet)
    {
        sSoQuyetDinh = item.sSoQuyetDinh;
        sNgayQuyetDinh = item.sNgayQuyetDinh;
        break;
    }
    <div class="card">
        <div class="card-body" style="overflow:auto" id="showData">
            <div class="tooltip-header-search">
                <div class="col-sm-8" style="display:flex;padding-left:0px;">
                    <label class="control-label">TỔNG HỢP DỰ TOÁN NGÂN SÁCH QUỐC PHÒNG GIAO CHO ĐƠN VỊ THEO QĐ</label>
                </div>
            </div>
            <div>
                <p>Số QĐ: @sSoQuyetDinh &nbsp;&nbsp;&nbsp; Ngày QĐ: @sNgayQuyetDinh</p>
            </div>
            <button class="btn btn-primary" onclick="$('#configBaocao').modal('show');"><i class="fa fa-print" aria-hidden="true"></i>In báo cáo</button>
            <table class="table table-bordered" id="contentModalChiTietQuyetDinh">
                <thead style="height:150px;">
                    <tr class="text-center" style="background-color: #06A199">
                        <th style="min-width:410px" class="">Nội dung</th>
                        <th width="200px">Số tiền đã giao cho đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    @{string sMaPhongBan = string.Empty; }
                    @foreach (var item in Model.lstDuToanChiTiet)
                    {
                        List<string> lstDvDaFill = new List<string>();

                        if (item.sMaPhongBan != sMaPhongBan)
                        {
                            lstDvDaFill = new List<string>();
                            sMaPhongBan = item.sMaPhongBan;

                            <tr class="tong-cong-phongban text-bold">
                                <td class="">&nbsp;@item.sTenPhongBan</td>
                                <td class="col-total-pb-@item.sMaPhongBan col-total tong-cong text-right"></td>
                            </tr>

                            foreach (var item2 in Model.lstDuToanChiTiet)
                            {
                                if (item2.sMaPhongBan == item.sMaPhongBan && lstDvDaFill.Find(x => x == item2.iID_MaDonVi) == null)
                                {
                                    lstDvDaFill.Add(item2.iID_MaDonVi);
                                    <tr class="row-b">
                                        <td class="">&nbsp;@item2.TenDonVi</td>
                                        <td class="col-total-pb-@item.sMaPhongBan col-total-dv-@item2.iID_MaDonVi tong-cong-nguon-chi-tiet text-right">@item2.sTongTien</td>
                                    </tr>
                                }
                            }
                        }
                    }
                    <tr class="row-III text-bold text-uppercase">
                        <th class="text-center">TỔNG CỘNG</th>
                        <th class="col-total text-right"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

<input type="hidden" id="urlExport" value="@Url.Action("ChiTietQuyetDinhBaoCao4PhanCapPartialExport")" />
<input type="hidden" id="dvt" value="@ViewBag.dvt" />
<!-- Modal in bao cao -->
<div class="modal fade configBaocao" id="configBaocao" tabindex="-1" role="dialog" aria-labelledby="configBaocao" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id=""></h3>
            </div>
            <div id="" style="overflow: hidden; padding: 0 20px 0 20px; max-height: 700px">
                @Html.Partial("PopupConfigBaoCaoPartial")
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getTongCongNguonDonVi();
        getTongCongNguonPhongBan();
        getTongCong();
    });
</script>
<script src="~/Scripts/QLNguonNganSach/QLGiaoDuToan/PopupChiTietQuyetDinhPhanCapDauNamBaoCao4.js"></script>
