@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@using Viettel.Domain.DomainModel
@using System.Linq
@model RptTongHopGiaoDuToanModel

@{
    ViewBag.Title = "TỔNG HỢP DỰ TOÁN NGÂN SÁCH QUỐC PHÒNG GIAO CHO ĐƠN VỊ THEO QĐ";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<style>
    .menu-header, .menu-left, .footer {
        display: none;
    }

    .detail-panel > .card {
        padding: 0.5rem;
    }
</style>

@{
    Guid iID_NhiemVu = Guid.Empty;
    string sSoQuyetDinh = string.Empty;
    string sNgayQuyetDinh = string.Empty;
    foreach (var item in Model.lstDuToanChiTiet)
    {
        sSoQuyetDinh = item.sSoQuyetDinh;
        sNgayQuyetDinh = item.sNgayQuyetDinh;
        break;
    }
    <div class="card" id="contentReport">
        <div class="card-body" style="overflow:auto" id="showData">
            <div class="tooltip-header-search">
                <div class="col-sm-8" style="display:flex;padding-left:0px;">
                    <label class="control-label">TỔNG HỢP DỰ TOÁN NGÂN SÁCH QUỐC PHÒNG GIAO CHO ĐƠN VỊ THEO QĐ</label>
                </div>
            </div>
            <div>
                <p>Số QĐ: @sSoQuyetDinh &nbsp;&nbsp;&nbsp; Ngày QĐ: @sNgayQuyetDinh</p>
            </div>
            <button class="btn btn-primary" onclick="ShowModalConfig();"><i class="fa fa-print" aria-hidden="true"></i>In báo cáo</button>
            <div class="tableFixHead">
                <table class="table table-bordered" id="contentModalChiTietQuyetDinh">
                    <thead style="height:150px;">
                        @if (ViewBag.iLoaiNganSach == 1)
                        {
                            <tr class="text-center" style="background-color: #06A199">
                                <th style="min-width:410px" rowspan="2" class="">Nội dung</th>
                                <th width="150px" rowspan="2">Tổng cộng nguồn</th>
                                @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                                {
                                    if (item.bLaHangCha && item.depth == "0")
                                    {
                                        <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon">@item.sTenNoiDungChi</th>
                                    }
                                    else if (item.depth == "0")
                                    {
                                        <th style="min-width:100px" width="150px" rowspan="2">@item.sTenNoiDungChi</th>
                                    }
                                }
                            </tr>
                            <tr class="text-center" style="background-color: #06A199">
                                @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                                {
                                    if (item.depth == "1")
                                    {
                                        if (!item.bLaHangCha)
                                        {
                                            <th rowspan="2">@item.sTenNoiDungChi</th>
                                        }
                                        else
                                        {
                                            <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon">@item.sTenNoiDungChi</th>
                                        }
                                    }
                                }
                            </tr>
                        }
                        else if (ViewBag.iLoaiNganSach == 0)
                        {
                            <tr class="text-center" style="background-color: #06A199">
                                <th style="min-width:410px" rowspan="3" class="">Nội dung</th>
                                <th width="150px" rowspan="3">Tổng cộng nguồn</th>
                                @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                                {
                                    if (item.depth == "0" && item.fSoCon == 0)
                                    {
                                        <th style="min-width:100px" width="150px" rowspan="3" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                    }
                                    else if (item.bLaHangCha && item.depth == "0")
                                    {
                                        <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                    }
                                    else if (item.depth == "0")
                                    {
                                        <th style="min-width:100px" width="150px" rowspan="2" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                    }
                                }
                            </tr>
                            <tr class="text-center" style="background-color: #06A199">
                                @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                                {
                                    if (item.depth == "1")
                                    {
                                        if (!item.bLaHangCha)
                                        {
                                            <th rowspan="2" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                        }
                                        else
                                        {
                                            <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                        }
                                    }
                                }
                            </tr>
                            <tr class="text-center" style="background-color: #06A199">
                                @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                                {
                                    if (item.depth == "2")
                                    {
                                        <th style="min-width:100px" width="100px" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                                    }
                                }
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @{
                            List<PhongBanNhiemVu> lstDaFill = new List<PhongBanNhiemVu>();
                        }

                        @foreach (var item in Model.lstDuToanChiTiet)
                        {
                            string sMaPhongBan = string.Empty;
                            List<string> lstDvDaFill = new List<string>();
                            if (lstDaFill.Find(x => x.iID_NhiemVu == item.iID_NhiemVu) == null)
                            {
                                lstDaFill.Add(new PhongBanNhiemVu()
                                {
                                    iID_NhiemVu = item.iID_NhiemVu
                                });
                                //iID_NhiemVu = item.iID_NhiemVu;
                                <tr class="tong-cong-nhiemvu text-bold">
                                    <td>* @item.GhiChu</td>
                                    <td class="col-total-@item.iID_NhiemVu col-total text-right"></td>
                                    @foreach (DMNoiDungChiViewModel itemTree in Model.treeNoiDungChi)
                                    {
                                        if (itemTree.fSoCon == 0)
                                        {
                                            <td class="col-@itemTree.sMaNoiDungChi-@item.iID_NhiemVu col-@itemTree.sMaNoiDungChi text-right"></td>
                                        }
                                    }
                                </tr>

                                foreach (var item1 in Model.lstDuToanChiTiet)
                                {
                                    if (item1.iID_NhiemVu == item.iID_NhiemVu)
                                    {

                                        if (item1.sMaPhongBan != sMaPhongBan)
                                        {
                                            lstDvDaFill = new List<string>();
                                            sMaPhongBan = item1.sMaPhongBan;

                                            <tr class="tong-cong-phongban text-bold">
                                                <td class="">&nbsp;@item1.sTenPhongBan</td>
                                                <td class="col-total-pb-@item.iID_NhiemVu-@item1.sMaPhongBan col-total-@item.iID_NhiemVu tong-cong-nguon-chi-tiet text-right"></td>
                                                @foreach (DMNoiDungChiViewModel itemTree in Model.treeNoiDungChi)
                                                {
                                                    if (itemTree.fSoCon == 0)
                                                    {
                                                        <td class="col-pb-@itemTree.sMaNoiDungChi-@item.iID_NhiemVu-@item1.sMaPhongBan col-@itemTree.sMaNoiDungChi-@item.iID_NhiemVu nguon-@itemTree.sMaNoiDungChi text-right"></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                        foreach (var item2 in Model.lstDuToanChiTiet)
                                        {

                                            if (item2.iID_NhiemVu == item.iID_NhiemVu && item2.sMaPhongBan == item1.sMaPhongBan && lstDvDaFill.Find(x => x == item2.iID_MaDonVi) == null)
                                            {
                                                lstDvDaFill.Add(item2.iID_MaDonVi);
                                                <tr class="row-b">
                                                    <td class="">&nbsp;@item2.TenDonVi</td>
                                                    <td class="col-total-pb-@item.iID_NhiemVu-@item1.sMaPhongBan col-total-dv-@item2.iID_MaDonVi tong-cong-nguon-chi-tiet text-right"></td>
                                                    @foreach (DMNoiDungChiViewModel itemNDC in Model.treeNoiDungChi)
                                                    {
                                                        if (itemNDC.fSoCon == 0)
                                                        {
                                                            var sTongTien = "";
                                                            foreach (var item3 in Model.lstDuToanChiTiet)
                                                            {
                                                                if (item3.iID_NhiemVu == item.iID_NhiemVu && item3.sMaPhongBan == item1.sMaPhongBan && item3.iID_MaDonVi == item2.iID_MaDonVi)
                                                                {
                                                                    if (itemNDC.sMaNoiDungChi == item3.sMaNoiDungChi)
                                                                    {
                                                                        sTongTien = item3.sTongTien;
                                                                    }
                                                                }
                                                            }

                                                            if (!string.IsNullOrEmpty(sTongTien))
                                                            {
                                                                <td class="col-pb-@itemNDC.sMaNoiDungChi-@item.iID_NhiemVu-@item1.sMaPhongBan text-right khoi-@item.iID_NhiemVu">@sTongTien</td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        <tr class="row-III text-bold text-uppercase">
                            <th class="text-center">TỔNG CỘNG</th>
                            <th class="col-total text-right"></th>
                            @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                            {
                                if (item.fSoCon == 0)
                                {
                                    <th class="col-@item.sMaNoiDungChi text-right"></th>
                                }
                            }
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
}

<input type="hidden" id="urlExport" value="@Url.Action("ChiTietQuyetDinhPartialExport")" />
<input type="hidden" id="iLoaiNganSach" value="@ViewBag.iLoaiNganSach" />
<input type="hidden" id="dvt" value="@ViewBag.dvt" />
<!-- Modal in bao cao -->
<div class="modal fade configBaocao" id="configBaocao" tabindex="-1" role="dialog" aria-labelledby="configBaocao" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id=""></h3>
            </div>
            <div id="" style="overflow: hidden; padding: 0 20px 0 20px; max-height: 700px">
                @Html.Partial("PopupConfigBaoCaoPartial")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLNguonNganSach/QLGiaoDuToan/TongHopDuToanTheoSoQuyetDinhPartial.js"></script>
<script>
    $(document).ready(function () {
        getTongCongNguonDonVi();
        getTongCongNguonPhongBan();
        getTongCongNguonNhiemVu();
        getTongCong();
    });
</script>

