@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@using Viettel.Domain.DomainModel
@using Newtonsoft.Json;
@model RptTongHopGiaoDuToanModel

@{
    int iTotalCol = ViewBag.iTotalCol;
    string sMaPhongBan = string.Empty;
    <input type="hidden" value="@(JsonConvert.SerializeObject(ViewBag.listNDC)) " id="listNDC" />
    <div class="tooltip-header-search">
        <div class="col-sm-8" style="display:flex;padding-left:0px;">
            <label class="control-label">Báo cáo tổng hợp giao dự toán cho các đơn vị trong năm @PhienLamViec.iNamLamViec</label>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-bordered">
            <thead style="height:150px;">
                <tr class="text-center" style="background-color: #06A199">
                    <th style="min-width:410px" rowspan="2" class="">Nội dung</th>
                    <th width="200px" colspan="2">Quyết định</th>
                    <th width="150px" rowspan="2">Tổng công nguồn</th>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.bLaHangCha && item.depth == "0")
                        {
                            <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                        }
                        else if (item.depth == "0")
                        {
                            <th style="min-width:100px" width="150px" rowspan="2" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                        }
                    }
                </tr>
                <tr class="text-center" style="background-color: #06A199">
                    <th style="min-width:100px" width="100px" rowspan="2">Số</th>
                    <th style="min-width:100px" width="100px" rowspan="2">Ngày</th>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.depth == "1")
                        {
                            if (!item.bLaHangCha)
                            {
                                <th rowspan="2" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                            }
                            else
                            {
                                <th width="(100*@item.fSoCon)px" colspan="@item.fSoCon" class="td-@item.rootParent">@item.sTenNoiDungChi</th>
                            }
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr class="text-uppercase text-bold text-right row-I">
                    <th class="text-left">I TỔNG NGUỒN NSQP @ViewBag.iNamLamViec</th>
                    <th></th>
                    <th></th>
                    <th class="col-total text-right">@ViewBag.iTotalMoney</th>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        int isHave = 0;
                        if (item.fSoCon == 0)
                        {
                            foreach (var item1 in Model.lstTongNNS)
                            {
                                if (item.sMaNoiDungChi == item1.sMaNoiDungChi)
                                {
                                    <th class="col-@item1.sMaNoiDungChi text-right td-@item1.rootParent">@item1.sFTongTien</th>
                                    isHave++;
                                    continue;
                                }
                            }
                            if (isHave == 0)
                            {
                                <th class="td-@item.rootParent"></th>
                            }
                        }
                    }
                </tr>
                <tr class="row-II text-uppercase text-bold text-right">
                    <th class="text-left">II GIAO CHO ĐƠN VỊ  (1+2)</th>
                    <th></th>
                    <th></th>
                    <th class="col-total text-right"></th>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <th class="col-@item.sMaNoiDungChi text-right td-@item.rootParent"></th>
                        }
                        @*<th class="col-@item.sMaNoiDungChi text-right"></th>*@
                    }
                </tr>
                <tr class="row-II-1 text-bold">
                    <td class="">1 Đã giao cho các ngành, đơn vị  (a+b)</td>
                    <td></td>
                    <td></td>
                    <td class="col-total text-right"></td>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <td class="col-@item.sMaNoiDungChi text-right td-@item.rootParent"></td>
                        }
                    }
                </tr>
                <tr class="row-a row-II-1-1 text-bold text-underline">
                    <td class="">a Phân cấp đầu năm </td>
                    <td><a style="cursor: pointer !important" href="@Url.Action("ChiTietPhanCapDauNamTheoQuyetDinhPartial", "BaoCaoNguonNS", new { sSoQuyetDinh = @ViewBag.sSoQuyetDinhTong, iLoaiNganSach = @ViewBag.iLoaiNganSach, dvt = @ViewBag.dvt })" target="_blank">@ViewBag.sSoQuyetDinhTong</a></td>
                    <td class="text-center">@ViewBag.dNgayQuyetDinhTong</td>
                    <td class="col-total text-right">@ViewBag.sTongTienDuToan</td>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        int isHave = 0;
                        if (item.fSoCon == 0)
                        {
                            foreach (var item1 in Model.lstTongTienDuToan)
                            {
                                if (item.sMaNoiDungChi == item1.sMaNoiDungChi)
                                {
                                    <td class="col-@item1.sMaNoiDungChi text-right td-@item.rootParent">@item1.sFTongTien</td>
                                    isHave++;
                                    continue;
                                }
                            }
                            if (isHave == 0)
                            {
                                <td class="td-@item.rootParent"></td>
                            }
                        }
                    }
                </tr>
                <tr class="row-ChoPhanCap text-bold">
                    <td class="">CHỜ PHÂN CẤP (I-a)</td>
                    <td></td>
                    <td></td>
                    <td class="col-total text-right"></td>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <td class="col-@item.sMaNoiDungChi text-right td-@item.rootParent"></td>
                        }
                    }
                </tr>
                <tr class="tong-cong-nguon-cha row-II-1-2 text-bold">
                    <td class="text-bold">b Phân bổ, bổ sung trong năm </td>
                    <td></td>
                    <td></td>
                    <td class="nguon-total col-total text-right"></td>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <td class="nguon-@item.sMaNoiDungChi col-@item.sMaNoiDungChi text-right td-@item.rootParent"></td>
                        }
                    }
                </tr>
                @{
                    List<PhongBanNhiemVu> lstDaFill = new List<PhongBanNhiemVu>();
                }

                @foreach (var item in Model.lstDuToanChiTiet)
                {
                    if (item.sMaPhongBan != sMaPhongBan)
                    {
                        sMaPhongBan = item.sMaPhongBan;
                        <tr class="tong-cong-nguon-con text-bold">
                            <td>* @item.sTenPhongBan</td>
                            <td></td>
                            <td></td>
                            <td class="col-total-@item.sMaPhongBan tong-cong-nguon khoi-@item.sMaPhongBan nguon-total text-right"></td>
                            @foreach (DMNoiDungChiViewModel itemTree in Model.treeNoiDungChi)
                            {
                                if (itemTree.fSoCon == 0)
                                {
                                    <td class="col-@itemTree.sMaNoiDungChi-@item.sMaPhongBan nguon-@itemTree.sMaNoiDungChi text-right td-@itemTree.rootParent"></td>
                                }
                            }
                        </tr>
                    }

                    if (lstDaFill.Find(x => x.sMaPhongBan == sMaPhongBan && x.iID_NhiemVu == item.iID_NhiemVu) == null)
                    {
                        lstDaFill.Add(new PhongBanNhiemVu()
                        {
                            sMaPhongBan = sMaPhongBan,
                            iID_NhiemVu = item.iID_NhiemVu
                        });

                        <tr class="row-b">
                            <td class="">&nbsp;@item.GhiChu</td>
                            <td><a style="cursor: pointer !important" href="@Url.Action("ChiTietQuyetDinhPartial","BaoCaoNguonNS", new { sSoQuyetDinh = @item.sSoQuyetDinh, iLoaiNganSach = @ViewBag.iLoaiNganSach, dvt = @ViewBag.dvt})" target="_blank">@item.sSoQuyetDinh</a></td>
                            <td align="center">@item.sNgayQuyetDinh</td>
                            <td class="col-total-@item.sMaPhongBan tong-cong-nguon-chi-tiet text-right"></td>
                            @foreach (DMNoiDungChiViewModel itemNDC in Model.treeNoiDungChi)
                            {
                                if (itemNDC.fSoCon == 0)
                                {
                                    var sTongTien = "";
                                    foreach (var item1 in Model.lstDuToanChiTiet)
                                    {
                                        if (item1.sMaPhongBan == sMaPhongBan && item1.iID_NhiemVu == item.iID_NhiemVu)
                                        {
                                            if (itemNDC.sMaNoiDungChi == item1.sMaNoiDungChi)
                                            {
                                                sTongTien = item1.sTongTien;
                                            }
                                        }
                                    }

                                    if (!string.IsNullOrEmpty(sTongTien))
                                    {
                                        <td class="col-@itemNDC.sMaNoiDungChi-@item.sMaPhongBan text-right khoi-@item.sMaPhongBan td-@itemNDC.rootParent">@sTongTien</td>
                                    }
                                    else
                                    {
                                        <td class="td-@itemNDC.rootParent"></td>
                                    }
                                }
                            }
                        </tr>
                    }

                }

                <tr class="text-bold row-II-2">
                    <td class="">2 Các nội dung đang trình bộ phê duyệt </td>
                    <td></td>
                    <td></td>
                    <td class="col-total-chopheduyet col-total text-right"></td>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <td class="col-@item.sMaNoiDungChi-chopheduyet col-@item.sMaNoiDungChi text-right td-@item.rootParent"></td>
                        }
                    }

                </tr>

                @{
                    List<PhongBanNhiemVu> lstChoPheDuyetDaFill = new List<PhongBanNhiemVu>();

                    foreach (var item in Model.lstDuToanChoPheDuyet)
                    {
                        if (lstChoPheDuyetDaFill.Find(x => x.iID_NhiemVu == item.iID_NhiemVu) == null)
                        {
                            lstChoPheDuyetDaFill.Add(new PhongBanNhiemVu()
                            {
                                sMaPhongBan = sMaPhongBan,
                                iID_NhiemVu = item.iID_NhiemVu
                            });

                            <tr class="row-b">
                                <td class="">&nbsp;@item.GhiChu</td>
                                <td></td>
                                <td align="center">@item.sNgayQuyetDinh</td>
                                <td class="col-total-chopheduyet tong-cong-nguon-chi-tiet text-right"></td>
                                @foreach (DMNoiDungChiViewModel itemNDC in Model.treeNoiDungChi)
                                {
                                    if (itemNDC.fSoCon == 0)
                                    {
                                        var sTongTien = "";
                                        foreach (var item1 in Model.lstDuToanChoPheDuyet)
                                        {
                                            if (item1.iID_NhiemVu == item.iID_NhiemVu)
                                            {
                                                if (itemNDC.sMaNoiDungChi == item1.sMaNoiDungChi)
                                                {
                                                    sTongTien = item1.sTongTien;
                                                }
                                            }
                                        }

                                        if (!string.IsNullOrEmpty(sTongTien))
                                        {
                                            <td class="col-@itemNDC.sMaNoiDungChi-chopheduyet text-right khoi-@item.sMaPhongBan td-@itemNDC.rootParent">@sTongTien</td>
                                        }
                                        else
                                        {
                                            <td class="td-@itemNDC.rootParent"></td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                }

                <tr class="row-III text-bold text-uppercase">
                    <th class="text-left">III CÒN LẠI TẠI BỘ (I-II)</th>
                    <th></th>
                    <th></th>
                    <th class="col-total text-right"></th>
                    @foreach (DMNoiDungChiViewModel item in Model.treeNoiDungChi)
                    {
                        if (item.fSoCon == 0)
                        {
                            <th class="col-@item.sMaNoiDungChi text-right td-@item.rootParent"></th>
                        }
                    }
                </tr>
            </tbody>

        </table>
    </div>
    <nav class="paging justify-content-end"></nav>
}
<script>
    $(document).ready(function () {
        getDataChoPhancap();

        getTongCongNguonGhiChu();
        getTongCongNguonCon();
        getTongCongNguonCha();
        getChoPheDuyet();
        getDaGiaoChoCacNganhDonVi();

        getDataGiaoChoDonVi();
        getDataConLaiTaiBo();

        chuyenTrangBaoCao();
    });
</script>