@using Viettel.Models.QLNguonNganSach
@model RptTongHopQDBSDuToanNSNamModel

@{
    <div class="tableFixHead">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">STT</th>
                    <th width="35%">Đơn vị</th>
                    <th width="20%">Tổng ngân sách bổ sung trong năm</th>
                    @foreach (var itemQD in Model.listSoQuyetDinh)
                    {
                        <th width="200px">@itemQD.sSoQuyetDinh</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var itemPB in Model.listPhongBan)
                {
                    <tr class="text-bold parent" data-iid="@itemPB.sMaPhongBan">
                        <td align="center">@index</td>
                        <td>@itemPB.sTenPhongBan</td>
                        <td align="right">@itemPB.dTongTien.ToString("###,###")</td>
                        @foreach (var itemQD in Model.listSoQuyetDinh)
                        {
                            <td align="right" class="cellQD" data-iiddutoan="@itemQD.iID_DuToan"></td>
                        }
                    </tr>

                    foreach (var itemDvPb in Model.listDonViPBan)
                    {
                        if (itemDvPb.sMaPhongBan == itemPB.sMaPhongBan)
                        {
                            <tr class="child" data-parent="@itemPB.sMaPhongBan">
                                <td align="center">-</td>
                                <td>@itemDvPb.sTenDonVi</td>
                                <td align="right">@itemDvPb.dTongTien.ToString("###,###")</td>
                                @foreach (var itemQD in Model.listSoQuyetDinh)
                                {
                                    double dTien = 0;
                                    foreach (var itemCt in Model.lstDataChiTiet)
                                    {
                                        if (itemCt.iID_DuToan == itemQD.iID_DuToan && itemCt.sMaPhongBan == itemPB.sMaPhongBan && itemCt.sTenDonVi == itemDvPb.sTenDonVi)
                                        {
                                            dTien = itemCt.iTongTien;
                                        }
                                    }
                                    <td align="right" data-iiddutoan="@itemQD.iID_DuToan">@Html.Raw(dTien == 0 ? "" : dTien.ToString("###,###"))</td>
                                }
                            </tr>
                        }
                    }
                    index++;
                }
            </tbody>
            <tfoot>
                <tr class="text-bold">
                    <th></th>
                    <th>Tổng</th>
                    <th class="text-right">@Model.dTong.ToString("###,###")</th>
                    @foreach (var itemQD in Model.listSoQuyetDinh)
                    {
                        <th class="text-right">@itemQD.dTongTien.ToString("###,###")</th>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
}


