

@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@using Viettel.Domain.DomainModel
@using System.Linq
@model RptTongHopGiaoDuToanModel


@{
        int iTotalCol = ViewBag.iTotalCol;
        string sMaKhoi = string.Empty;

    <div class="tooltip-header-search">
        <div class="col-sm-8" style="display:flex;padding-left:0px;">
            <label class="control-label">Báo cáo tổng hợp giao dự toán NSQP cho các đơn vị trong năm @PhienLamViec.iNamLamViec</label>
        </div>
    </div>
    <table class="table table-bordered">
        <thead style="height:150px;">
            <tr class="text-center" style="background-color: #06A199">
                <th style="min-width:410px" rowspan="2" class="">Nội dung</th>
                <th width="200px" colspan="2">Quyết định</th>
                <th width="150px" rowspan="2">Tổng công nguồn</th>
                @foreach (DM_NoiDungChi item in Model.lstNoiDungChi)
                {
                    <th width="150px" rowspan="2">@item.sTenNoiDungChi</th>
                }
            </tr>
            <tr class="text-center" style="background-color: #06A199">
                <th width="100px">Số</th>
                <th width="100px">Ngày</th>
            </tr>
        </thead>
        <tr class="text-uppercase text-bold text-right row-I">
            <th class="text-left">I Tổng nguồn NSQP @ViewBag.iNamLamViec</th>
            <th></th>
            <th></th>
            <th class="text-right">@ViewBag.iTotalMoney</th>
            @foreach (var item in Model.lstTongNNS)
            {
                <th class="col-@item.sMaNoiDungchi text-right">@item.sTongTien</th>
            }
        </tr>
        <tr class="row-II text-uppercase text-bold text-right">
            <th class="text-left">II GIAO CHO ĐƠN VỊ  (1+2)</th>
            <th></th>
            <th></th>
            <th></th>
            @foreach (DM_NoiDungChi item in Model.lstNoiDungChi)
            {
                <th class="col-@item.sMaNoiDungChi text-right"></th>
            }
        </tr>
        <tr class="row-II-1 text-bold">
            <td class="">1 Đã giao cho các ngành, đơn vị  (a+b)</td>
            <td></td>
            <td></td>
            <td></td>
            @foreach (DM_NoiDungChi item in Model.lstNoiDungChi)
            {
                <td class="col-@item.sMaNoiDungChi text-right"></td>
            }
        </tr>
        <tr class="row-a text-bold text-underline">
            <td class="">a Phân cấp đầu năm </td>
            <td>@ViewBag.sSoQuyetDinhTong</td>
            <td>@ViewBag.dNgayQuyetDinhTong</td>
            <td></td>
            @foreach (var item in Model.lstTongTienDuToan)
            {
                <td class="col-@item.sMaNoiDungChi text-right">@item.sTongTien</td>
            }
        </tr>
        <tr class="row-ChoPhanCap text-bold">
            <td class="">CHỜ PHÂN CẤP (I-a)</td>
            <td></td>
            <td></td>
            <td></td>
            @foreach (var item in Model.lstNoiDungChi)
            {
                <td class="col-@item.sMaNoiDungChi text-right"></td>
            }
        </tr>
        <tr>
            <td class="text-bold">b Phân bổ, bổ sung trong năm </td>
            <td></td>
            <td></td>
            <td></td>
            @for (int i = 0; i < iTotalCol; ++i)
            {
                <td></td>
            }
        </tr>
        @*@foreach (var pr in (Dictionary<string,int?>)ViewBag.lstParentDetail)
        {
            var sMaKhoi = pr.Key.Split(new[] { "\n" }, StringSplitOptions.None)[0];
            var sTenKhoi = pr.Key.Split(new[] { "\n" }, StringSplitOptions.None)[1];
            var sMaNoiDungChi = pr.Key.Split(new[] { "\n" }, StringSplitOptions.None)[2];
            var GhiChu = pr.Key.Split(new[] { "\n" }, StringSplitOptions.None)[3];
            var lineCount = pr.Value ?? 0;

            <tr class="text-bold">
                <td>* @sTenKhoi<td>
                <td></td>
                <td></td>
                <td class="tong-cong-nguon khoi-@sMaKhoi text-right"></td>
                @for (int i = 0; i < iTotalCol; ++i)
                {
                    <td></td>
                }
            </tr>

            @foreach (var line in lineCount)
            {
                <tr class="row-b">
                    <td class="">&nbsp;@item.GhiChu</td>
                    <td>@item.sSoQuyetDinh</td>
                    <td>@item.sNgayQuyetDinh</td>
                    <td class="tong-cong-nguon-chi-tiet text-right"></td>
                    @foreach (DM_NoiDungChi itemNDC in Model.lstNoiDungChi)
                    {
                        if (itemNDC.sMaNoiDungChi == item.sMaNoiDungChi)
                        {
                            <td class="col-@itemNDC.sMaNoiDungChi text-right khoi-@item.sMaKhoi">@item.sTongTien</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }

        }*@

        @foreach (var item in Model.lstDuToanChiTiet)
        {
            if (item.sMaKhoi != sMaKhoi)
            {
                sMaKhoi = item.sMaKhoi;
                <tr class="text-bold">
                    <td>* @item.sTenKhoi</td>
                    <td></td>
                    <td></td>
                    <td class="tong-cong-nguon khoi-@item.sMaKhoi text-right"></td>
                    @for (int i = 0; i < iTotalCol; ++i)
                    {
                        <td></td>
                    }
                </tr>
            }

            <tr class="row-b">
                <td class="">&nbsp;@item.GhiChu</td>
                <td>@item.sSoQuyetDinh</td>
                <td>@item.sNgayQuyetDinh</td>
                <td class="tong-cong-nguon-chi-tiet text-right"></td>
                @foreach (DM_NoiDungChi itemNDC in Model.lstNoiDungChi)
                {
                    if (itemNDC.sMaNoiDungChi == item.sMaNoiDungChi)
                    {
                        <td class="col-@itemNDC.sMaNoiDungChi text-right khoi-@item.sMaKhoi">@item.sTongTien</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }


        <tr class="text-bold row-II-2">
            <td class="">2 Các nội dung đang trình bộ phê duyệt </td>
            <td></td>
            <td></td>
            <td></td>
            @foreach (var item in Model.lstNoiDungChi)
            {
                <td class="col-@item.sMaNoiDungChi text-right"></td>
            }
        </tr>
        <tr class="text-bold">
            <td class="">Ghi chú </td>
            <td></td>
            <td></td>
            <td></td>
            @for (int i = 0; i < iTotalCol; ++i)
            {
                <td></td>
            }
        </tr>
        <tr class="row-III text-bold text-uppercase">
            <th class="text-left">III Còn lại tại bộ (I-II)</th>
            <th></th>
            <th></th>
            <th></th>
            @foreach (var item in Model.lstNoiDungChi)
            {
                <th class="col-@item.sMaNoiDungChi text-right"></th>
            }
        </tr>
    </table>
}
<script>
    $(document).ready(function () {
        getDaGiaoChoCacNganhDonVi();
        getDataChoPhancap();
        getDataGiaoChoDonVi();
        getDataConLaiTaiBo();
        getTongCongNguonCon();
        getTongCongNguonGhiChu();
    });
</script>