@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@model RptTongHopDuToanNganSachNamModel

@{
    <div class="tableFixHead">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">STT</th>
                    <th width="35%">Đơn vị</th>
                    <th width="20%">NS đã giao đầu năm</th>
                    <th width="20%">NS bổ sung trong năm</th>
                    <th width="20%">Tổng dự toán</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var item in Model.lstDataChiTiet)
                {
                    <tr>
                        <td align="center">@index</td>
                        <td align="left">@item.sTenDonVi</td>
                        <td align="right">@item.sDaGiaoDauNam</td>
                        <td align="right">@item.sBSTrongNam</td>
                        <td align="right">@item.sTongDuToan</td>
                    </tr>
                    index++;
                }
            </tbody>
            <tfoot>
                <tr class="text-bold">
                    <th></th>
                    <th>Tổng</th>
                    <th class="text-right">@Model.sTongDaGiaoDauNam</th>
                    <th class="text-right">@Model.sTongBSTrongNam</th>
                    <th class="text-right">@Model.sTongDuToan</th>
                </tr>
            </tfoot>
        </table>
    </div>
}


