@using VIETTEL.Areas.QLNguonNganSach.Models
@using Viettel.Models.QLNguonNganSach
@model RptTongHopGiaoDuToanModel

@{
    string sMaPhongBan = string.Empty;

    <div class="tooltip-header-search">
        <div class="col-sm-8" style="display:flex;padding-left:0px;">
            <label class="control-label">TỔNG HỢP DỰ TOÁN NGÂN SÁCH GIAO CHO ĐƠN VỊ THEO NỘI DUNG NGUỒN BTC CẤP</label>
        </div>
    </div>
<div class="tableFixHead">
    <table class="table table-bordered">
        <thead style="height:150px;">
            <tr class="text-center" style="background-color: #06A199">
                <th style="min-width:410px" rowspan="2" class="">Nội dung</th>
                <th width="300px" colspan="2">Quyết định</th>
                <th width="200px" rowspan="2">Số tiền đã giao cho đơn vị</th>
              
            </tr>
            <tr class="text-center" style="background-color: #06A199">
                <th style="min-width:150px" width="100px">Số</th>
                <th style="min-width:150px" width="100px">Ngày</th>
              
            </tr>
        </thead>
        <tbody>
            <tr class="text-uppercase text-bold text-right row-I">
                <th class="text-left">I TỔNG NGUỒN NSQP @ViewBag.iNamLamViec</th>
                <th></th>
                <th></th>
                <th class="col-total text-right">@ViewBag.iTotalMoney</th>
               
            </tr>
            <tr class="row-II text-uppercase text-bold text-right">
                <th class="text-left">II GIAO CHO ĐƠN VỊ  (1+2)</th>
                <th></th>
                <th></th>
                <th class="col-total text-right"></th>
                
            </tr>
            <tr class="row-II-1 text-bold">
                <td class="">1 Đã giao cho các ngành, đơn vị (a+b)</td>
                <td></td>
                <td></td>
                <td class="col-total text-right"></td>
               
            </tr>
            <tr class="row-a row-II-1-1 text-bold text-underline">
                <td class="">a Phân cấp đầu năm </td>
                <td><a style="cursor: pointer !important" href="@Url.Action("ChiTietPhanCapDauNamTheoQuyetDinhBaoCao4Partial","BaoCaoNguonNS", new { sSoQuyetDinh = @ViewBag.sSoQuyetDinhTong, dvt = @ViewBag.dvt})" target="_blank">@ViewBag.sSoQuyetDinhTong</a></td>
                <td class="text-center">@ViewBag.dNgayQuyetDinhTong</td>
                <td class="col-total text-right">@ViewBag.sTongTienDuToan</td>
                
            </tr>
            <tr class="row-ChoPhanCap text-bold">
                <td class="">CHỜ PHÂN CẤP (I-a)</td>
                <td></td>
                <td></td>
                <td class="col-total text-right"></td>
               
            </tr>
            <tr class="tong-cong-nguon-cha row-II-1-2 text-bold">
                <td class="text-bold">b Phân bổ, bổ sung trong năm </td>
                <td></td>
                <td></td>
                <td class="nguon-total col-total text-right"></td>
              
            </tr>
            @{
                List<PhongBanNhiemVu> lstDaFill = new List<PhongBanNhiemVu>();
            }

            @foreach (var item in Model.lstDuToanChiTiet)
            {
                if (item.sMaPhongBan != sMaPhongBan)
                {
                    sMaPhongBan = item.sMaPhongBan;
                    <tr class="tong-cong-nguon-con text-bold">
                        <td>* @item.sTenPhongBan</td>
                        <td></td>
                        <td></td>
                        <td class="col-total-@item.sMaPhongBan tong-cong-nguon khoi-@item.sMaPhongBan nguon-total text-right"></td>
                       
                    </tr>
                }

                if (lstDaFill.Find(x => x.sMaPhongBan == sMaPhongBan && x.iID_NhiemVu == item.iID_NhiemVu) == null)
                {
                    lstDaFill.Add(new PhongBanNhiemVu()
                    {
                        sMaPhongBan = sMaPhongBan,
                        iID_NhiemVu = item.iID_NhiemVu
                    });

                    <tr class="row-b">
                        <td class="">&nbsp;@item.GhiChu</td>
                        <td><a style="cursor: pointer !important" href="@Url.Action("ChiTietQuyetDinhBaoCao4Partial","BaoCaoNguonNS", new { sSoQuyetDinh = @item.sSoQuyetDinh, dvt = @ViewBag.dvt})" target="_blank">@item.sSoQuyetDinh</a></td>
                        <td align="center">@item.sNgayQuyetDinh</td>
                        <td class="col-total-@item.sMaPhongBan tong-cong-nguon-chi-tiet text-right">@item.sTongTien</td>
                    </tr>
                }
            }

            <tr class="text-bold row-II-2">
                <td class="">2 Các nội dung đang trình bộ phê duyệt </td>
                <td></td>
                <td></td>
                <td class="col-total-chopheduyet col-total text-right"></td>
            </tr>

            @{
                List<PhongBanNhiemVu> lstChoPheDuyetDaFill = new List<PhongBanNhiemVu>();
                foreach (var item in Model.lstDuToanChoPheDuyet)
                {
                    if (lstChoPheDuyetDaFill.Find(x => x.iID_NhiemVu == item.iID_NhiemVu) == null)
                    {
                        lstChoPheDuyetDaFill.Add(new PhongBanNhiemVu()
                        {
                            sMaPhongBan = sMaPhongBan,
                            iID_NhiemVu = item.iID_NhiemVu
                        });

                        <tr class="row-b">
                            <td class="">&nbsp;@item.GhiChu</td>
                            <td></td>
                            <td align="center">@item.sNgayQuyetDinh</td>
                            <td class="col-total-chopheduyet col-total tong-cong-nguon-chi-tiet text-right">@item.sTongTien</td>
                        </tr>
                    }
                }
            }

            <tr class="row-III text-bold text-uppercase">
                <th class="text-left">III CÒN LẠI TẠI BỘ (I-II)</th>
                <th></th>
                <th></th>
                <th class="col-total text-right"></th>
            </tr>
        </tbody>

    </table>
</div>
}
<script>
    $(document).ready(function () {
        getDataChoPhancap();

        getTongCongNguonCon();
        getTongCongNguonCha();
        getChoPheDuyet();
        getDaGiaoChoCacNganhDonVi();

        getDataGiaoChoDonVi();
        getDataConLaiTaiBo();
    });
</script>

