@model SheetViewModel
@{
    Layout = "~/Views/shared/sheet/_LayoutSheetFrame.cshtml";
}
@section Styles{
    <link rel="Stylesheet" type="text/css" href="~/Content/css/sheet.css">
}
@*<div class="container-fluid">
        <div id="sheet">
        </div>
    </div>*@
@Html.Partial("_SheetSearch", Model)
@Html.Partial("_SheetEditor", Model)
@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/jsBang_MucLucNganSach.js"></script>
    <script>

        $(document).ready(function () {

            Bang_arrDSTruongTien = '@MucLucNganSachModels.strDSTruongTien'.split(',');
            Bang_Url_getGiaTri = '@Url.Action("get_GiaTri", "Public")';
            Bang_Url_getDanhSach = '@Url.Action("get_DanhSach", "Public")';
            BangDuLieu_DuocSuaChiTiet = '@Model.Table.IsEditable';

            if (BangDuLieu_DuocSuaChiTiet)
                Bang_keys.fnSetFocus(null, null);

        });

    </script>
}
