@model rptNCSKT_PL01ViewModel
@{

    ViewBag.Title = "Thông báo số kiểm tra dự toán ngân sách năm " + (int.Parse(PhienLamViec.iNamLamViec) + 1);
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <label class="control-label">Loại báo cáo:</label>
                </div>
                <div class="col-xs-8">
                    <label class="control-label text-uppercase">Đơn vị:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    @*<div class="form-group">
                        @if (Model.PhongBanList == null || Model.PhongBanList.Count() <= 2)
                        {
                            @Html.Hidden("id_phongban", PhienLamViec.iID_MaPhongBan)
                            ;
                            <input type="text" readonly class="form-control" value="@PhienLamViec.sTenPhongBanFull" />
                        }
                        else
                        {
                            @Html.DropDownList("id_phongban", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                        }
                    </div>*@

                    <div class="form-group">                        
                        <div id="loaiBaoCao">
                            @*<div class="radio">
                                <input type="radio" id="loaiBaoCao-0" name="loaiBaoCao" checked="checked" value="0" />
                                <label for="loaiBaoCao-0">
                                    Biểu trình ký
                                </label>
                            </div>*@
                            @if (PhienLamViec.iID_MaPhongBan.IsContains("02,11"))
                            {
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-1" name="loaiBaoCao" value="1" onchange = "change()" checked />
                                    <label for="loaiBaoCao-1">
                                        Biểu phụ lục (Khối dự toán)
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-1" name="loaiBaoCao" value="2" onchange = "change()" />
                                    <label for="loaiBaoCao-1">
                                        Biểu phụ lục (Khối doanh nghiệp)
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dãn dòng:</label>
                        <div>
                            @Html.Partial("_ui_rowheight")
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="control-label">Ghi chú:</label>
                        <div>
                            <textarea id="ghiChu" class="form-control" readonly onchange="updateGhiChu($(this).val())"></textarea>
                            <span id="ghiChu_Hint" class="help"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="Id_DonVi" class="ls-box"></div>                    
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i>In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Report", new { area="SKT" , loai = "3"} )">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change() {
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        if (loaiBaoCao == "1") {
            var url = '@Url.Action("Ds_DonVi")' + "/?"
                + "id_phongban=07,08,10,17";
        } else {
            var url = '@Url.Action("Ds_DonVi")' + "/?"
                + "id_phongban=06";
        }

        fillCheckboxList("Id_DonVi", "Id_DonVi", url);
    }

    var _currentDonVi = "";

    function checkItem(group, value, checkbox) {

        var checked = $(checkbox).is(":checked");
        var text = $(checkbox).data("text");

        fillGhiChu(value, checked, text);
    }

    function fillGhiChu(donvi, checked, text) {
        _currentDonVi = donvi;

        $("#ghiChu_Hint").text('(' + text + ')');
        $("#ghiChu").empty();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();        
        if (donvi == null || donvi.length == 0 || !checked) {
            $("#ghiChu").prop("readonly", true);
        }
        else {
            $("#ghiChu").removeAttr('readonly');
            var url = '@Url.Action("ghichu")' +
                    "/?id_donvi=" + donvi +
                    "&loai=" + loaiBaoCao;

            $.getJSON(url, function (data) {
                $("#ghiChu").val(data);
            });
        }
    }

    function updateGhiChu(ghiChu) {
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ghichu_update")',
            data: {
                id_donvi: _currentDonVi,
                loai: loaiBaoCao,
                GhiChu: ghiChu
            },
            success: function (data) {
            },
        });
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();

        var id_phongban_dich = $("#id_phongban").val();

        $("input:checkbox[check-group='Id_DonVi']").each(function () {
            if (this.checked) {
                var item = this.value;

                if (loaiBaoCao == "0") {
                        var url = '@Url.Action("Print")' +
                                    "?ext=" + ext +
                                    "&r=" + $("#rowheight").val() +
                                    "&id_phongban_dich=" + id_phongban +
                                    "&Id_DonVi=" + item +
                                    "&loaiBaoCao=" + loaiBaoCao +
                                    "&TieuDe=" + $("#TieuDe").val();

                        links.push(unescape(url));

                }

                else if (loaiBaoCao == "1") {
                    var url = '@Url.Action("Print")' +
                                "?ext=" + ext +
                                "&r=" + $("#rowheight").val() +
                                "&id_phongban_dich=07,08,10,17" +
                                "&Id_DonVi=" + item +
                                "&loaiBaoCao=" + 1 +
                                "&TieuDe=" + $("#TieuDe").val();
                    url = unescape(url);
                    links.push(url);
                } else{
                    var url = '@Url.Action("Print")' +
                                    "?ext=" + ext +
                                    "&r=" + $("#rowheight").val() +
                                    "&id_phongban_dich=06" +
                                    "&Id_DonVi=" + item +
                                    "&loaiBaoCao=" + 2 +
                                    "&TieuDe=" + $("#TieuDe").val();
                    url = unescape(url);
                    links.push(url);
                }
            }
        });

        openLinks(links);
    });

</script>
