@model rptNCSKT_PL03ViewModel
@{
    ViewBag.Title = "Thông báo chi tiết số kiểm tra dự toán ngân sách năm " + PhienLamViec.iNamLamViec;
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Chọn tờ</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @if (Model.PhongBanList == null || Model.PhongBanList.Count() <= 2)
                                {
                                    <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                    <input id="id_phongban" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                }
                                else
                                {
                                    @Html.DropDownList("id_phongban", Model.PhongBanList, new { @class = "form-control", onchange = "change_phongban()" })
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngành:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("id_nganh", Model.NganhList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="control-label col-sm-4">Chọn mức chi tiết:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("loai", Model.MucList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Biểu mẫu:</label>
                            <div class="col-sm-8">
                                <div id="trinhky">
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="0" id="trinhky-1" onchange = "fillGhiChu()"/>
                                        <label for="trinhky-1">Gửi ngành</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="1" id="trinhky-0" checked onchange = "fillGhiChu()"/>
                                        <label for="trinhky-0">Phụ lục</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                <textarea id="ghiChu" class="form-control" readonly onchange="updateGhiChu($(this).val())"></textarea>
                                <span id="ghiChu_Hint" class="help"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="id_to" class="ls-box" data-check="first">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "Report")">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change_phongban() {
        var id_phongban = $("#id_phongban").val();

        var url = '@Url.Action("Ds_Nganh")' +
              "/?id_phongban=" + id_phongban;

        $("#id_nganh").empty();
        $.getJSON(url, function (data) {
            $("#id_nganh").append(data);

            change();
        });
    }

    function change() {
        var id_phongban = $("#id_phongban").val();
        var id_nganh = $("#id_nganh").val();
        var loai = $("#loai").val();

        var url = '@Url.Action("Ds_To")' +
                    "/?id_nganh=" + id_nganh +
                    "&loaiBaoCao=" + $("#trinhky input[type='radio']:checked").val() +
                    "&id_phongban=" + id_phongban +
                    "&loai=" + loai;
        fillCheckboxList("id_to", "To", url);

        fillGhiChu();
    }

    function fillGhiChu() {

        $("#ghiChu").empty();
        var id_nganh = $("#id_nganh").val();
        var trinhky = $("#trinhky input[type='radio']:checked").val();

        if (id_nganh == null || id_nganh == "-1") {
            $("#ghiChu").prop("readonly", true);
        }
        else {
            $("#ghiChu").removeAttr('readonly');
            var url = '@Url.Action("ghichu")' +
                    "/?nganh=" + id_nganh +
                    "&trinhky=" + trinhky;

            $.getJSON(url, function (data) {
                $("#ghiChu").val(data);
            });
        }
    }

    function updateGhiChu(ghiChu) {
        var id_nganh = $("#id_nganh").val();
        var trinhky = $("#trinhky input[type='radio']:checked").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ghichu_update")',
            data: {
                nganh: id_nganh,
                GhiChu: ghiChu,
                trinhky: trinhky
            },
            success: function (data) {
            },
        });
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var id_phongban = $("#id_phongban").val();
        var id_nganh = $("#id_nganh").val();
        var loaiBaoCao = $("#trinhky input[type='radio']:checked").val();
        var loai = $("#loai").val();

        $("input:checkbox[check-group='To']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "/?ext=" + ext +
                    "&r=" + $("#rowheight").val() +
                    "&id_phongban=" + id_phongban +
                    "&id_nganh=" + id_nganh +
                    "&loaiBaoCao=" + loaiBaoCao +
                    "&loai=" + loai +
                    "&to=" + item;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
