@using VIETTEL.Areas.DanhMuc.Models
@model DMKhoiDonViQLPagingModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách danh mục khối đơn vị quản lí (@Model._paging.TotalItems)</label>
    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalDanhMucKhoiDonViQL"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>

<table class="table table-bordered">
    <thead class="header-search">
    <th width="5%"></th>
    <th width="15%"><input type="text" class="form-control" id="txt_MaKhoiSearch" autocomplete="off" /></th>
    <th width="25%"><input type="text" class="form-control" id="txt_TenKhoiSearch" autocomplete="off" /></th>
    <th width="45%"></th>
    <th width="10%"><button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="5%">STT</th>
    <th width="15%">Mã khối</th>
    <th width="25%">Tên khối</th>
    <th width="45%">Ghi chú</th>
    <th width="10%">Thao tác</th>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (var item in Model.lstData)
            {

                <tr>
                    <td align="center">@(pageIndex + index)</td>

                    <td align="center">@item.sMaKhoi</td>

                    <td align="left">@item.sTenKhoi</td>

                    <td align="left">@item.sGhiChu</td>

                    <td align="center" class="col-sm-12">
                        <button type="button" class="btn-detail"><i class="fa fa-eye fa-lg" aria-hidden="true" onclick="OpenModalDetail('@item.iID_Khoi')" data-toggle="modal" data-target="#modalDanhMucKhoiDonViQL"></i></button>
                        <button class="btn-edit"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" onclick="OpenModal('@item.iID_Khoi')" data-toggle="modal" data-target="#modalDanhMucKhoiDonViQL"></i></button>
                        <button class="btn-delete"><i class="fa fa-trash-o fa-lg" aria-hidden="true" onclick="DeleteItem('@item.iID_Khoi')"></i></button>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)
