@using Viettel.Models.BaoHiemXaHoi
@model TepBenhNhanBHXHPagingViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách file bảo hiểm xã hội (@Model._paging.TotalItems)</label>
    </div>
    @*<button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalBHXHFile"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>*@
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered" id="tblListFileBHXH">
    <thead class="header-search">
    <th width="5%"></th>
    <th width="7%">
        <select class="form-control required" name="iThangSearch" id="iThangSearch">
            <option value="">--Chọn--</option>
            <option value="1">Tháng 1</option>
            <option value="2">Tháng 2</option>
            <option value="3">Tháng 3</option>
            <option value="4">Tháng 4</option>
            <option value="5">Tháng 5</option>
            <option value="6">Tháng 6</option>
            <option value="7">Tháng 7</option>
            <option value="8">Tháng 8</option>
            <option value="9">Tháng 9</option>
            <option value="10">Tháng 10</option>
            <option value="11">Tháng 11</option>
            <option value="12">Tháng 12</option>
        </select>
    </th>
    <th width="40%"><input type="text" class="form-control gr_search" id="txtTenFileSearch" autocomplete="off" /></th>
    <th width="40%"><input type="text" class="form-control gr_search" id="txtMoTaSearch" autocomplete="off" /></th>
    <th width="8%"><button class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
    </thead>
    <thead>
    <th width="5%">STT</th>
    <th width="7%">Tháng</th>
    <th width="40%">Tên file</th>
    <th width="40%">Mô tả</th>
    <th width="8%"></th>
    </thead>
    <tbody id="lstFile">
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr style="cursor: pointer">
                     <td align="center">@(pageIndex + index)</td>

                    <td align="center">@item.iThang</td>

                    <td align="left">@item.sTenFile</td>

                    <td align="left">@item.sMoTa</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        @if (!string.IsNullOrEmpty(item.sFilePath))
                        {
                            <button type="button" class="btn-edit" onclick="DownloadUpload('@item.sFilePath')"><i class="fa fa-download"></i></button>
                  
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@*<button type="button" id="btnShowConfirmModal" data-toggle="modal" data-target="#confirmModal"></button>*@

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tblListFileBHXH .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });
        /*formatMoney();*/
    });

    function DownloadUpload(sLstFile) {
        if (sLstFile == null || sLstFile == undefined || sLstFile == "") return;
        var files = sLstFile.split(",");
        $.each(files, function (index, element) {
            window.open("/BaoHiemXaHoi/QLBenhNhanBHXH/Download?sFileName=" + element, '_blank');
        });
    }
</script>

