@using Viettel.Models.BaoHiemXaHoi
@model List<QLBenhNhanBHXHViewModel>

<div class="tooltip-header-search">
    <div class="col-sm-8">
        <label class="control-label">Danh sách lỗi import bệnh nhân điều trị nội trú BHXH (@Model.Count)</label>
    </div>
     
    @using (Html.BeginForm("XuatFileExcel", "QLBenhNhanBHXH", FormMethod.Post))
    {
        <button class="btn btn-primary mr-10  pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
    }
    <button class="btn btn-warning mr-10 pull-right" onclick="location.href='@Url.Action("XuatFilePDF", "QLBenhNhanBHXH")'"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF</button>
    <button class="btn btn-back mr-10 pull-right" onclick="GoBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
</div>

<table id="tblListBenhNhanBHXHLoi" class="table table-bordered">
    <thead>
        <tr>
            <th width="3%">STT</th>
            <th width="10%">Họ Tên</th>
            <th width="5%">Ngày sinh</th>
            <th width="5%">Giới tính</th>
            <th width="5%">Cấp bậc</th>
            @*<th width="5%">Chức vụ</th>*@
            <th width="10%">Mã thẻ</th>
            <th width="5%">Ngày vào viện</th>
            <th width="5%">Ngày ra viện</th>
            <th width="5%">Số ngày điều trị</th>
            <th width="5%">Mã bệnh viện</th>
            <th width="10%">Tên bệnh viện</th>
            <th width="5%">Mã đơn vị</th>
            <th width="10%">Tên đơn vị</th>
            <th width="5%">Ghi chú</th>
        </tr>
    </thead>
    <tbody id="tBodyLoi">
    </tbody>
</table>
@*<table class="table table-bordered" id="tblListBenhNhanBHXHLoi">
    <thead class="header-search">
    <th width="3%"></th>
    <th width="10%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="5%"></th>
    <th width="10%"></th>
    <th width="6%"></th>
    <th width="6%"></th>
    <th width="5%"></th>
    <th width="10%"></th>
    <th width="10%"></th>
    <th width="7%"></th>
    </thead>
    <thead>
    <th width="3%">STT</th>
    <th width="10%">Họ Tên</th>
    <th width="5%">Ngày sinh</th>
    <th width="5%">Giới tính</th>
    <th width="5%">Cấp bậc</th>
    <th width="10%">Mã thẻ</th>
    <th width="6%">Ngày vào viện</th>
    <th width="6%">Ngày ra viện</th>
    <th width="5%">Số ngày điều trị</th>
    <th width="10%">Bệnh viện</th>
    <th width="10%">Tên đơn vị BHXH</th>
    <th width="7%">Ghi chú</th>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr style="cursor: pointer">
                    @if (item.lstValidate.ContainsKey("iSTT") && item.lstValidate["iSTT"])
                    {
                        <td align="center" class="error">@(item.sSoTTBN)</td>
                    }
                    else
                    {
                        <td align="center">@(item.sSoTTBN)</td>
                    }

                    @if (item.lstValidate.ContainsKey("sTen") && item.lstValidate["sTen"])
                    {
                        <td align="left" class="error">@item.sTen</td>
                    }
                    else
                    {
                        <td align="left">@item.sTen</td>
                    }

                    @if (item.lstValidate.ContainsKey("sNgaySinh") && item.lstValidate["sNgaySinh"])
                    {
                        <td align="center" class="error">@item.sNgaySinh</td>
                    }
                    else
                    {
                        <td align="center">@item.sNgaySinh</td>
                    }

                    @if (item.lstValidate.ContainsKey("sGioiTinh") && item.lstValidate["sGioiTinh"])
                    {
                        <td align="center" class="error">@item.sGioiTinh</td>
                    }
                    else
                    {
                        <td align="center">@item.sGioiTinh</td>
                    }

                    @if (item.lstValidate.ContainsKey("sCapBac") && item.lstValidate["sCapBac"])
                    {
                        <td align="left" class="error">@item.sCapBac</td>
                    }
                    else
                    {
                        <td align="left">@item.sCapBac</td>
                    }

                    @if (item.lstValidate.ContainsKey("sMaThe") && item.lstValidate["sMaThe"])
                    {
                        <td align="left" class="error">@item.sMaThe</td>
                    }
                    else
                    {
                        <td align="left">@item.sMaThe</td>
                    }

                    @if (item.lstValidate.ContainsKey("sNgayVaoVien") && item.lstValidate["sNgayVaoVien"])
                    {
                        <td align="center" class="error">@item.sNgayVaoVien</td>
                    }
                    else
                    {
                        <td align="center">@item.sNgayVaoVien</td>
                    }

                    @if (item.lstValidate.ContainsKey("sNgayRaVien") && item.lstValidate["sNgayRaVien"])
                    {
                        <td align="center" class="error">@item.sNgayRaVien</td>
                    }
                    else
                    {
                        <td align="center">@item.sNgayRaVien</td>
                    }

                    @if (item.lstValidate.ContainsKey("iSoNgayDieuTri") && item.lstValidate["iSoNgayDieuTri"])
                    {
                        <td align="center" class="error">@(item.sSoNgayDieuTriBN)</td>
                    }
                    else
                    {
                        <td align="center">@(item.sSoNgayDieuTriBN)</td>
                    }

                    @if (item.lstValidate.ContainsKey("sTenBenhVien") && item.lstValidate["sTenBenhVien"])
                    {
                        <td align="left" class="error">@item.sTenBenhVien</td>
                    }
                    else
                    {
                        <td align="left">@item.sTenBenhVien</td>
                    }

                    @if (item.lstValidate.ContainsKey("sTenDonVi") && item.lstValidate["sTenDonVi"])
                    {
                        <td align="left" class="error">@item.sTenDonVi</td>
                    }
                    else
                    {
                        <td align="left">@item.sTenDonVi</td>
                    }

                    <td align="left">@item.sGhiChu</td>
                </tr>
            }
        }
    </tbody>
</table>*@


@*<button type="button" id="btnShowConfirmModal" data-toggle="modal" data-target="#confirmModal"></button>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });
    });

</script>

