@model rptCapPhat_THChiTieu_SecDMNBViewModel
@{
    ViewBag.Title = "Cấp phát - Tổng hợp chỉ tiêu séc định mức nội bộ " + PhienLamViec.iNamLamViec;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Cấp phát - Tổng hợp chỉ tiêu séc định mức nội bộ @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">

        <div class="container">

            <!-- header -->
            <div class="row">
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Chọn ngành:</strong></h6>
                </div>
                <div class="col-xs-6">
                    <h6></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div id="iID_MaNganh" class="ls-box" data-check="first-only">
                        @Html.Partial("_CheckBoxList", Model.NganhList)
                    </div>
                </div>
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i>In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "CapPhat_Report" )">Hủy</a>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">

    $(".btn-print").click(function () {
        debugger
        var links = [];
        var ext = $(this).data("ext");
        var items = "";

        $("input:checkbox[check-group='Nganh']").each(function () {
            if (this.checked) {
                if (items != "") items += ",";
                    items += this.value;
            }
        });

        var url = '@Url.Action("Print", "rptCapPhat_THChiTieu_SecDMNB")' +
                                "?ext=" + ext +
                                "&Nganh=" + items +
                                "&khoangCachDong=" + $("#rowheight").val();
        url = unescape(url);

        links.push(url);

        openLinks(links);
    });

</script>
