@model rptCapPhat_ThongTri_QDTNHViewModel
@{
    ViewBag.Title = "Cấp phát - Thông tri cấp phát Quỹ DTNH";
    ViewBag.IsEditor = true;
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Cấp phát - Thông tri cấp phát</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal hide">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Mã chứng từ:</label>
                            <div class="col-sm-8">
                                <input id="iID_MaCapPhat" type="text" value="@Model.chungTu.iID_MaCapPhat.ToString()" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại thông tri:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("loaiThongTri", Model.dsLoaiThongTri, new { @class = "form-control", onchange = "fillDonVi()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                <input id="iID_MaPhongBan" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                <textarea id="ghiChu" class="form-control" readonly onchange="Value_Update($(this).val(),'1')"></textarea>
                                <span id="ghiChu_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Tỷ giá quy đổi:</label>
                            <div class="col-sm-8">
                                <textarea id="tyGia" class="form-control" readonly onchange="Value_Update($(this).val(), '2')"></textarea>
                                <span id="tyGia_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Thông báo chi NS số:</label>
                            <div class="col-sm-8">
                                <textarea id="thongBao" class="form-control" readonly onchange="Value_Update($(this).val(), '3')"></textarea>
                                <span id="thongBao_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đơn vị thụ hưởng:</label>
                            <div class="col-sm-8">
                                <textarea id="donviNhan" class="form-control" readonly onchange="Value_Update($(this).val(), '4')"></textarea>
                                <span id="donviNhan_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại cấp phát:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("loaiCapPhat", Model.dsLoaiCapPhat, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngày tháng in thông tri:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_printeddate")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" style="max-height:320px"></div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i>In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "CapPhat_Report")">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var _currentDonVi = "";

    fillDonVi();

    function checkItem(group, value, checkbox) {

        if (group == "DonVi") {
            var checked = $(checkbox).is(":checked");
            var text = $(checkbox).data("text");

            fillGhiChu(value, checked, text);
        }
    }


    function fillDonVi() {
        var url = '@Url.Action("Ds_DonVi")' + "?"
                    + "iID_MaCapPhat=" + $("#iID_MaCapPhat").val();

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
        $("#ghiChu").empty();
        $("#tyGia").empty();
        $("#thongBao").empty();
        $("#donviNhan").empty();
        $("#ghiChu").prop("readonly", true);
        $("#tyGia").prop("readonly", true);
        $("#thongBao").prop("readonly", true);
        $("#donviNhan").prop("readonly", true);
    }

    function fillGhiChu(donvi, checked, text) {
        _currentDonVi = donvi;

        $("#ghiChu_Hint").text('(' + text + ')');
        $("#ghiChu").empty();
        $("#tyGia_Hint").text('(' + text + ')');
        $("#tyGia").empty();
        $("#thongBao_Hint").text('(' + text + ')');
        $("#thongBao").empty();
        $("#donviNhan_Hint").text('(' + text + ')');
        $("#donviNhan").empty();

        if (donvi == null || donvi.length == 0 || !checked) {
            $("#ghiChu").prop("readonly", true);
            $("#tyGia").prop("readonly", true);
            $("#thongBao").prop("readonly", true);
            $("#donviNhan").prop("readonly", true);
        }
        else {
            $("#ghiChu").removeAttr('readonly');
            $("#tyGia").removeAttr('readonly');
            $("#thongBao").removeAttr('readonly');
            $("#donviNhan").removeAttr('readonly');

            var urlgc = '@Url.Action("GetValue")' +
                    "?iID_MaDonVi=" + donvi +
                    "&iID_MaCapPhat=" + $("#iID_MaCapPhat").val() +
                    "&loaiThongTri=" + $("#loaiThongTri").val() +
                    "&loai=1";

            $.getJSON(urlgc, function (data) {
                $("#ghiChu").val(data);
            });

            var urltg = '@Url.Action("GetValue")' +
                    "?iID_MaDonVi=" + donvi +
                    "&iID_MaCapPhat=" + $("#iID_MaCapPhat").val() +
                    "&loaiThongTri=" + $("#loaiThongTri").val() +
                    "&loai=2";

            $.getJSON(urltg, function (data) {
                $("#tyGia").val(data);
            });
            
            var urltb = '@Url.Action("GetValue")' +
                    "?iID_MaDonVi=" + donvi +
                    "&iID_MaCapPhat=" + $("#iID_MaCapPhat").val() +
                    "&loaiThongTri=" + $("#loaiThongTri").val() +
                    "&loai=3";

            $.getJSON(urltb, function (data) {
                $("#thongBao").val(data);
            });
            
            var urldv = '@Url.Action("GetValue")' +
                    "?iID_MaDonVi=" + donvi +
                    "&iID_MaCapPhat=" + $("#iID_MaCapPhat").val() +
                    "&loaiThongTri=" + $("#loaiThongTri").val() +
                    "&loai=4";

            $.getJSON(urldv, function (data) {
                $("#donviNhan").val(data);
            });
        }
    }

    function Value_Update(ghiChu, loai) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Value_Update")',
            data: {
                iID_MaCapPhat: $("#iID_MaCapPhat").val(),
                iID_MaDonVi: _currentDonVi,
                loaiThongTri: $("#loaiThongTri").val(),
                value: ghiChu,
                loai: loai
            },
            success: function (data) {
            },
        });
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");
        Value_Update(document.getElementById("ghiChu").value, "1");
        Value_Update(document.getElementById("tyGia").value, "2");
        Value_Update(document.getElementById("thongBao").value, "3");
        Value_Update(document.getElementById("donviNhan").value, "4");

        var items = "";
        var url = "";

        $("input:checkbox[check-group='DonVi']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = unescape('@Url.Action("Print", "rptCapPhat_ThongTri_QDTNH")' +
                                    "?ext=" + ext +
                                    "&iID_MaCapPhat=" + $("#iID_MaCapPhat").val() +
                                    "&loaiThongTri=" + $("#loaiThongTri").val() +
                                    "&loaiCapPhat=" + $("#loaiCapPhat").val() +
                                    "&iID_MaDonVi=" + item +
                                    "&date=" + $("#date").val() +
                                    "&khoangCachDong=" + $("#rowheight").val());

                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
