@model VIETTEL.Areas.DanhMuc.Models.MappingNdcMlncViewModel
@{
    var sheet = Model.Sheet;
}
<div class="tooltip-header-search">
    <input type="text" hidden value="@Model.iID_NoiDungChi" id="iID_NoiDungChi" />
    <div class="col-sm-2" style="display:flex;padding-left:0px;">
        <label class="control-label">Mã nội dung chi: <span class="text-danger">@Model.sMaNoiDungChi</span></label>
    </div>
    <div class="col-sm-3" style="display:flex;padding-left:0px;">
        <label class="control-label">Tên nội dung chi: <span class="text-danger">@Model.sTenNoiDungChi</span></label>
    </div>
    <div class="col-sm-7">
        <button class="btn btn-info pull-right" style="margin-left: 20px; " onclick="$('iframe#sheet').contents().find('#btn-search').click()">@L("Buttons.Search")</button>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Xóa tìm kiếm</p>
        <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Tìm kiếm</p>
        <label class="control-label pull-right" style="padding-left:20px;">Enter: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Chọn tất cả</p>
        <label class="control-label pull-right" style="padding-left:20px;">F2: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Bỏ chọn tất cả</p>
        <label class="control-label pull-right" style="padding-left:20px;">F3: </label>
        <p class="pull-right" style="margin-top: 10px; font-size:14px">&nbsp;&nbsp;Lưu</p>
        <label class="control-label pull-right">F10: </label>
    </div>
</div>
<iframe id="sheet" name="iframe-sheet" class="iframe-sheet"></iframe>
<div class="">
    <div id="nhapform">
        <div id="form2">
            <div class="button-bar">
                <div class="text-center">
                    <button class="btn btn-default" onclick="goBack();" style="margin-right: 10px;"><i class="fa fa-ban" aria-hidden="true"></i><span>Quay lại</span></button>
                    <button class="btn btn-primary btn-save" id="btnSave" ><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr id="hr-split" />
<div id="ajax-div">
</div>

<div id="divModalConfirm">

</div>
@using (Html.BeginScripts())
{
<script type="text/javascript">

        $(".btn-save").click(function () {
            $("#sheet")[0].contentWindow.Bang_HamTruocKhiKetThuc();
        });

        loadFrame(1);

        function goBack() {
            window.location.href = "/DanhMuc/MappingNdcMLNS/Index/";
        }

        $(".btn-option").click(function () {
            var option = $(this).data("id")
            loadFrame(option);
        });

    function loadFrame(option) {
        var id = '@Model.iID_NoiDungChi';
        var url = '@Url.Action("SheetFrame")'
            + "/?id=" + id;
        $("#sheet").attr("src", url);
    }

    function loadModal(data) {
        $("#divModalConfirm").html(data);
    }

</script>
}
