@using Viettel.Models.CPNH
@using System.Globalization
@using DomainModel
@model CPNHThucHienNganSach_ModelPaging

<div id="NhuCauChiQuy">
    <div class="tooltip-header-search">
        <div class="col-sm-4 col-md-4 col-lg-4" style="display:flex;padding-left:0px;">
            <label class="control-label">Báo cáo đối chiếu chi tiết số liệu kinh phí thực hiện cấp phát thanh toán theo đơn vị, B quản lý</label>
        </div>
    </div>
</div>
<input type="hidden" id="IDTable"/>
<table class="table table-bordered" id="tblFromTimkiemTongHopKinhPhiDuocCap">
    <thead class="header-search">
    <th width="25%">
        <div style="display: flex">
            <div class='input-group date'>
                <input type="text" id="txtTuNgay" autocomplete="off" class="form-control gr_search" placeholder="Từ ngày" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
            <span style="margin: 8px 5px 0px 5px;">-</span>
            <div class='input-group date'>
                <input type="text" id="txtDenNgay" autocomplete="off" class="form-control gr_search" placeholder="Đến ngày" />
                <span class="btn-default input-group-addon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </th>
    <th width="81%">
        <button class="btn btn-info pull-right mr-10" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
        <button class="btn btn-info pull-right mr-10 btn-print" data-ext="xls"><i class="fa fa-print" aria-hidden="true"></i>In báo cáo</button>
        <button class="btn btn-info pull-right mr-10" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
    </th>
    </thead>
</table>

@{
    <div style="overflow-x:auto">
        <table class="table table-bordered" id="tblTongHopKinhPhiDuocCap">
            <thead>
                <tr>
                    <th style="min-width: 400px" rowspan="3" class="center">Nội dung</th>
                    <th style="min-width: 300px" rowspan="2" colspan="2">Giá trị hợp đồng mua sắm hoặc dự toán được duyệt</th>
                    <th style="min-width: 900px" rowspan="1" colspan="6">Kinh phí được cấp</th>
                    <th style="min-width: 900px" rowspan="1" colspan="6">Kinh phí đã giải ngân (thanh toán, tạm ứng)</th>
                    <th style="min-width: 300px" rowspan="2" colspan="2">Kinh phí được cấp chưa chi đến quý này</th>
                </tr>
                <tr>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Tổng số</th>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Kinh phí được cấp các năm trước</th>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Kinh phí được cấp từ đầu năm đến quý này</th>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Tổng số</th>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Các năm trước</th>
                    <th style="min-width: 300px" class="m-w100" colspan="2">Từ đầu năm đến quý này</th>
                </tr>
                <tr>
                    <th style="min-width: 50px" class="m-w100" colspan="1">USD</th>
                    <th style="min-width: 50px" class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                    <th class="m-w100" colspan="1">USD</th>
                    <th class="m-w100" colspan="1">VND</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    foreach (var item in Model.Items)
                    {
                        index++;
                                <tr style="cursor: pointer">
                                    <td class="@item.isTitle" @(item.isSum == true ? "align=center" : "align=left" )>@item.depth @item.sTenNoiDungChi</td>
                                    <td align="right">
                                        @Html.Raw(item.DuAnUSD.HasValue ? CommonFunction.DinhDangSo(item.DuAnUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)
                                        @Html.Raw(item.HopDongUSD.HasValue ? CommonFunction.DinhDangSo(item.HopDongUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)
                                    </td>
                                    <td align="right">
                                        @Html.Raw(item.DuAnVND.HasValue ? CommonFunction.DinhDangSo(item.DuAnVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)
                                        @Html.Raw(item.HopDongVND.HasValue ? CommonFunction.DinhDangSo(item.HopDongVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)
                                    </td>
                                    <td align="right">
                                        @{
                                            if (item.isSum == true)
                                            {
                                                Html.Raw(item.SumTongKinhPhiUSD.HasValue ? CommonFunction.DinhDangSo(item.SumTongKinhPhiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty);
                                            }
                                            else
                                            {
                                                Html.Raw(item.TongKinhPhiUSD.HasValue ? CommonFunction.DinhDangSo(item.TongKinhPhiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty);

                                            }
                                        }
                                    </td>
                                    <td align="right">
                                        @{
                                            if (item.isSum == true)
                                            {
                                                Html.Raw(item.SumTongKinhPhiVND.HasValue ? CommonFunction.DinhDangSo(item.SumTongKinhPhiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty);
                                            }
                                            else
                                            {
                                                Html.Raw(item.TongKinhPhiVND.HasValue ? CommonFunction.DinhDangSo(item.TongKinhPhiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty);

                                            }
                                        }
                                    </td>
                                    <td align="right">@Html.Raw(item.KinhPhiUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiToYUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiToYUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiToYVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiToYVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                                    <td align="right">
                                        @{
                                            if (item.isSum == true)
                                            {
                                                Html.Raw(item.SumTongKinhPhiDaChiUSD.HasValue ? CommonFunction.DinhDangSo(item.SumTongKinhPhiDaChiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty);
                                            }
                                            else
                                            {
                                                Html.Raw(item.TongKinhPhiDaChiUSD.HasValue ? CommonFunction.DinhDangSo(item.TongKinhPhiDaChiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty);

                                            }
                                        }
                                    </td>
                                    <td align="right">
                                        @{
                                            if (item.isSum == true)
                                            {
                                                Html.Raw(item.SumTongKinhPhiDaChiVND.HasValue ? CommonFunction.DinhDangSo(item.SumTongKinhPhiDaChiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty);
                                            }
                                            else
                                            {
                                                Html.Raw(item.TongKinhPhiDaChiVND.HasValue ? CommonFunction.DinhDangSo(item.TongKinhPhiDaChiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty);

                                            }
                                        }
                                    </td>
                                    <td align="right">@Html.Raw(item.KinhPhiDaChiUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDaChiUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiDaChiVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDaChiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiDaChiToYUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDaChiToYUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                                    <td align="right">@Html.Raw(item.KinhPhiDaChiToYVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDaChiToYVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty)</td>
                                    <td align="right">
                                        @Html.Raw(item.KinhPhiDuocCapChuaChiUSD < 0 ? "-" + (item.KinhPhiDuocCapChuaChiUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDuocCapChuaChiUSD.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty) : (item.KinhPhiDuocCapChuaChiUSD.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDuocCapChuaChiUSD.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty))
                                    </td>
                                    <td align="right">
                                        @Html.Raw(item.KinhPhiDuocCapChuaChiVND < 0 ? "-" + (item.KinhPhiDuocCapChuaChiVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDuocCapChuaChiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty) : (item.KinhPhiDuocCapChuaChiVND.HasValue ? CommonFunction.DinhDangSo(item.KinhPhiDuocCapChuaChiVND.Value.ToString(CultureInfo.InvariantCulture), 0) : string.Empty))
                                    </td>
                                </tr>
                    }


                }
            </tbody>
        </table>
    </div>
    }

    <input type="hidden" id="urlExport" value="@Url.Action("ExportExcelBaoCao")" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('.date')
                .datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    language: 'vi',
                    todayHighlight: true,
                });
            $("tr").hover(function () {
                $(this).css("background-color", "#e7f8fe");
            }, function () {
                $(this).css("background-color", "");
            });

            $("#tblNhuCauChiQuy .gr_search").each(function (index, value) {
                $(this).keypress(function (e) {
                    if (e.which == 13) {//Enter key pressed
                        ChangePage();
                    }
                });
            });
            /*formatMoney();*/
        });
        $(".btn-print").click(function () {
            var links = [];
            var ext = $(this).data("ext");
            var dTuNgay = $("#txtTuNgay").val();
            var dDenNgay = $("#txtDenNgay").val();
            var iDonvi = $("#iDonvi").val();
            //var dvt = $("#dvt").val();
            var url = $("#urlExport").val() +
                "?ext=" + ext +
                "&dvt=1000&to=1&dTuNgay=" + dTuNgay + "&dDenNgay=" + dDenNgay + "&iDonvi=" + iDonvi;
            url = unescape(url);
            links.push(url);

            openLinks(links);
        });
    </script>

    <style>
        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            top: 30px;
            background-color: #f9f9f9;
            min-width: 140px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content button {
                color: black;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {
                background-color: #ff6002
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #ff6002;
        }
        .font-bold{
            font-weight:bold;
        }
        .font-bold-red {
            font-weight: bold;
            color: #e85c5c;
        }
    </style>
