@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model VDT_QT_TongHopSoLieuPagingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        @*<div class="card">
            <div class="card-search">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label for="txt_DonViQuanLySearch" class="label-item">Đơn vị quản lý <span class="require">*</span></label>
                            @Html.DropDownList("cboDonViQuanLy", (SelectList)(ViewBag.ListDonVi), "--Tất cả--", new { @class = "form-control", @id = "txt_DonViQuanLySearch" })
                        </div>
                        <div class="col-sm-4">
                            <label for="txt_NguonVonSearch" class="label-item">Nguồn vốn <span class="require">*</span></label>
                            @Html.DropDownList("cboNguonVon", (SelectList)(ViewBag.ListNguonVon), "--Tất cả--", new { @class = "form-control", @id = "txt_NguonVonSearch" })
                        </div>
                        <div class="col-sm-4">
                            <label for="txt_NamKeHoachSearch">Năm kế hoạch</label>
                            <input type="text" class="form-control" id="txt_NamKeHoachSearch" />
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button class="btn btn-info" style="width:100px" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>
<div id="divModalConfirm">

</div>


<script>
    $(document).ready(function () {

    });

    var GUID_EMPTY = '00000000-0000-0000-0000-000000000000';
    var CONFIRM = 0;
    var ERROR = 1;

    function ChangeStatus(e, type) {
        var items = $(e);

        if (items == null || items == undefined || items.length <= 0) {
            return false;
        }

        var id = items[0].dataset.id;

        $.ajax({
            type: "POST",
            url: "/QLVonDauTu/TongHopSoLieu_QT_NienDo/ChangeStatus",
            data: { id: id, typeChange: type },
            success: function (resp) {
                ChangePage();
            }
        });
    }

    function SetValueFormExportExcel(iID_DonViQuanLy, iID_NguonVon, iNamKeHoach) {
        $("#txt_DonViQuanLyExcel").val(iID_DonViQuanLy);
        $("#txt_NguonVonExcel").val(iID_NguonVon);
        $("#txt_NamKeHoachExcel").val(iNamKeHoach);
    }

         var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("GetListView", "TongHopSoLieu_QT_NienDo")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });

    function ChangePage(iCurrentPage = 1) {
        debugger
        var iID_DonViQuanLy = $("#txt_DonViQuanLySearch").val();
        var iID_NguonVon = $("#txt_NguonVonSearch").val();
        var iNamKeHoach = $("#txt_NamKeHoachSearch").val();

        GetListData(iID_DonViQuanLy, iID_NguonVon, iNamKeHoach, iCurrentPage);
    }

    function GetListData(iID_DonViQuanLy, iID_NguonVon, iNamKeHoach, iCurrentPage) {
        _paging.CurrentPage = iCurrentPage;
        $.ajax({
            type: "POST",
            dataType: "html",
            url: sUrlListView,
            data: { _paging: _paging, iID_DonViQuanLy: iID_DonViQuanLy, iID_NguonVon: iID_NguonVon, iNamKeHoach: iNamKeHoach},
            success: function (data) {
                debugger
                $("#lstDataView").html(data);
                $("#txt_DonViQuanLySearch").val(iID_DonViQuanLy);
                $("#txt_NguonVonSearch").val(iID_NguonVon);
                $("#txt_NamKeHoachSearch").val(iNamKeHoach);

                SetValueFormExportExcel(iID_DonViQuanLy, iID_NguonVon, iNamKeHoach);
            }
        });
    }

    function ResetChangePage() {
        $("#txt_DonViQuanLySearch").val("");
        $("#txt_NguonVonSearch").val("");
        $("#txt_NamKeHoachSearch").val("");

        ChangePage();
    }

    function ViewCreate() {
        window.location.href = "/QLVonDauTu/TongHopSoLieu_QT_NienDo/Create";
    }

    function ViewUpdate(id) {
        window.location.href = "/QLVonDauTu/TongHopSoLieu_QT_NienDo/Update/" + id;
    }

    function ViewDetail(id) {
        window.location.href = "/QLVonDauTu/TongHopSoLieu_QT_NienDo/Detail/" + id;
    }

    function DeleteItem(id) {
        var Title = 'Xác nhận xóa tổng hợp số liệu';
        var Messages = [];
        Messages.push('Bạn có chắc chắn muốn xóa?');
        var FunctionName = "Delete('" + id + "')";
        $.ajax({
            type: "POST",
            url: "/Modal/OpenModal",
            data: { Title: Title, Messages: Messages, Category: CONFIRM, FunctionName: FunctionName },
            success: function (data) {
                $("#divModalConfirm").html(data);
            }
        });
    }

    function Delete(id) {
        $.ajax({
            type: "POST",
            url: "/QLVonDauTu/TongHopSoLieu_QT_NienDo/Delete",
            data: { id: id },
            success: function (r) {
                if (r.status == false) {
                    var Title = 'Lỗi xóa tổng hợp số liệu';
                    var messErr = [];
                    messErr.push(r.sMessError);
                    $.ajax({
                        type: "POST",
                        url: "/Modal/OpenModal",
                        data: { Title: Title, Messages: messErr, Category: ERROR },
                        success: function (data) {
                            $("#divModalConfirm").html(data);
                        }
                    });
                }
                ChangePage();
            }
        });
    }
</script>

