@using Viettel.Models.QLNH
@using DomainModel
@using Viettel.Domain.DomainModel
@using System.Globalization;
@model NHDAThongTinDuAnViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Thông Tin Dự án (@Model._paging.TotalItems)</label>
    </div>

    <button class="btn btn-primary pull-right" style="margin-right:10px;" onclick="OpenModal(null, 'CREATE')" ><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage(1)"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
    <button class="btn btn-default pull-right mr-10" style="color: #111111 !important" onclick="Import();" data-toggle="modal" data-target="#modalThongTinDuAn"><i class="fa fa-upload" aria-hidden="true"></i>Import</button>


</div>
<table border="1" cellpadding="0" cellspacing="0" class="table table-bordered" id="tblThongTinDuAnList">
    <thead class="header-search">
        <tr>
            <th width="3%"></th>
            <th width="7%"><input type="text" class="form-control gr_search" id="txtMaDuAnFilter" placeholder="Mã dự án"/></th>
            <th width="7%"><input type="text" class="form-control gr_search" id="txtTenDuAnFilter" placeholder="Tên dự án"/></th>
            <th width="7%">
                <select id="slbBQuanLyFilter" name="slbBQuanLyFilter" class="form-control" @*onchange="ChangePage()"*@>
                    @if (ViewBag.ListPhongBan != null)
                    {
                        foreach (var donvi in (List<NS_PhongBan>)ViewBag.ListPhongBan )
                        {
                            <option value="@donvi.iID_MaPhongBan" data-madonvi="@donvi.iID_MaPhongBan">@Html.Raw(donvi.sTen)</option>
                        }
                    }
                </select>
            </th>
            <th width="6%">
                <select id="slbDonViFilter" name="slbDonViFilter" class="form-control">
                    @if (ViewBag.ListDonVi != null)
                    {
                        foreach (var donvi in (List<NS_DonVi>)ViewBag.ListDonVi)
                        {
                            <option value="@donvi.iID_MaDonVi" data-madonvi="@donvi.iID_MaDonVi">@Html.Raw(donvi.sTen)</option>
                        }
                    }
                </select>
            </th>

            <th width="6%">
                <select id="slbChuDauTuFilter" name="slbChuDauTuFilter" class="form-control">
                    @if (ViewBag.ListChuDauTu != null)
                    {
                        foreach (var donvi in (List<DM_ChuDauTu>)ViewBag.ListChuDauTu)
                        {
                            <option value="@donvi.ID" data-madonvi="@donvi.sId_CDT">@Html.Raw(donvi.sTenCDT)</option>
                        }
                    }
                </select>

            </th>
            <th width="7%">
                <select id="slbPhanCapPheDuyetFilter" name="slbPhanCapPheDuyetFilter" class="form-control">
                    @if (Model.ListDanhMucPCPD != null && Model.ListDanhMucPCPD.Count > 0)
                    {
                        foreach (var donvi in Model.ListDanhMucPCPD)
                        {
                            <option value="@donvi.ID" data-madonvi="@donvi.ID">@Html.Raw(donvi.sTen)</option>
                        }
                    }
                </select>

            </th>
            <th colspan="7" width="44%"></th>
            <th width="13%"><button style=" float : right" class="btn btn-info" onclick="ChangePage()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>

    </thead>
    <thead>
        <tr>
            <th width="3%" rowspan="2">STT</th>
            <th width="7%" rowspan="2">Mã dự án</th>
            <th width="7%" rowspan="2">Tên dự án</th>
            <th width="7%" rowspan="2">B Quản lý</th>
            <th width="6%" rowspan="2">Đơn vị</th>
            <th width="6%" rowspan="2">Chủ đầu tư</th>
            <th width="7%" rowspan="2">Phân cấp phê duyệt</th>
            <th width="6%" rowspan="2">Thời gian thực hiện</th>
            <th width="28%" colspan="4">Tổng mục đầu tư phê duyệt</th>
            <th width="5%" rowspan="2">Lần điều chỉnh</th>
            <th width="5%" rowspan="2">Điều chỉnh từ</th>
            <th width="13%" rowspan="2">Thao tác</th>
        </tr>
        <tr>
            <th width="7%">USD</th>
            <th width="7%">VND</th>
            <th width="7%">EUR</th>
            <th width="7%">Ngoại tệ khác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.Items)
            {
                index++;
                <tr>
                    <td align="center">@(pageIndex + index)</td>
                    <td align="center">@Html.Raw(item.sMaDuAn)</td>
                    <td align="center">@Html.Raw(item.sTenDuAn)</td>
                    <td align="center">@Html.Raw(item.sBQuanLy)</td>
                    <td align="center">@Html.Raw(item.sDonVi)</td>
                    <td align="center">@Html.Raw(item.sChuDauTu)</td>
                    <td align="center">@Html.Raw(item.sPhanCapPheDuyet)</td>
                    <td align="center">@Html.Raw(item.sKhoiCong) - @Html.Raw(item.sKetThuc)</td>
                    <td align="right">@Html.Raw(item.fGiaTriUSD.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriUSD.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                    <td align="right">@Html.Raw(item.fGiaTriVND.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriVND.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                    <td align="right">@Html.Raw(item.fGiaTriEUR.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriEUR.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                    <td align="right">@Html.Raw(item.fGiaTriNgoaiTeKhac.HasValue ? CommonFunction.DinhDangSo(item.fGiaTriNgoaiTeKhac.Value.ToString(CultureInfo.InvariantCulture), 2) : string.Empty)</td>
                
                    <td align="center">@Html.Raw(item.sSoLanDieuChinh)</td>
                    @if (item.iLanDieuChinh == 0)
                    {
                        <td align="center">@Html.Raw(item.sDieuChinhTu)</td>
                    }
                    else
                    {
                        <td align="center" class="text-underline text-primary" role="button" onclick="OpenModalDetail('@item.iID_ParentAdjustID')" data-toggle="modal" data-target="#modalThongTinDuAn">@Html.Raw(item.sDieuChinhTu)</td>
                    }
                    <td align="center">
                        @if (item.bIsActive)
                        {
                            <button type="button" class="btn-adjust" onclick="OpenModal('@item.ID', 'ADJUST')" ><i class="fa fa-copy fa-lg" aria-hidden="true"></i></button>
                        }
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.ID')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        @if (item.bIsActive)
                        {
                            <button type="button" class="btn-edit" onclick="OpenModal('@item.ID', 'UPDATE')" ><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                            <button type="button" class="btn-delete" onclick="Xoa('@item.ID')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">

    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
            });
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });

        $("#tbListThongTinDuAn .gr_search").each(function (index, value) {
            $(this).keypress(function (e) {
                if (e.which == 13) {//Enter key pressed
                    ChangePage();
                }
            });
        });
    });
</script>



