@using Viettel.Models.QLNH
@using Viettel.Domain.DomainModel
@using Viettel.Models.Shared
@using DomainModel
@using System.Globalization;
@model NHDAThongTinDuAnModel

<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="modal-body">
    <input type="hidden" id="hidDuAnID" value="@Model.ID" />
    @*<div class="card">
        <div class="card-body create_thdt">*@
            <div class="header-create-update">
                <span>
                    @Html.Raw("Xem chi tiết thông tin dự án")
                </span>
            </div>
            <div class="form-group">
                <h4 class="color-text-red">Thông tin căn cứ:</h4>
                <hr class='color-background-red' />
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label for="slbKHTongTheBQP">Sổ kế hoạch chi tiết BQP</label>
                        <div>@Html.Raw(Model.BQP)</div>
                    </div>
                    <div class="col-sm-3">
                        <label for="slbBQuanLy">B Quản Lý</label>
                        <div>@Html.Raw(Model.sBQuanLy)</div>
                    </div>
                    <div class="col-sm-3">
                        <label for="slbDonVi">Đơn vị</label>
                        <div>@Html.Raw(Model.sDonVi)</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="divTenDuAn">
                            <label for="slbChuongTrinh">Tên chương trình</label>
                            <div>@Html.Raw(Model.sTenNhiemVuChi)</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="color-text-red">Thông tin dự án:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtMaDuAn">Mã dự án</label>
                            <div>@Html.Raw(Model.sMaDuAn)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtTenDuAn ">Tên dự án</label>
                            <div>@Html.Raw(Model.sTenDuAn)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtSoChuTruongDauTu">Số chủ trương đầu tư</label>
                            <div>@Html.Raw(Model.sSoChuTruongDauTu)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtMaDuAn">Ngày ban hành chủ trương đầu tư</label>
                            <div>@Html.Raw(Model.dNgayChuTruongDauTu)</div>
                        </div>
                    </div>
                </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtSoQuyetDinhDauTu">Sổ quyết định đầu tư</label>
                            <div>@Html.Raw(Model.sSoQuyetDinhDauTu)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayBanHanhQuyetDinhDauTu">Ngày ban hành Quyết định đầu tư</label>
                            <div>@Html.Raw(Model.dNgayQuyetDinhDauTu)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtSoDuToanTu ">Số Dự toán</label>
                            <div>@Html.Raw(Model.sSoDuToan)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayBanHanhDuToan ">Ngày ban hành Dự toán</label>
                            <div>@Html.Raw(Model.dNgayDuToan)</div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label for="slbChuDauTu ">Chủ đầu tư</label>
                            <div>@Html.Raw(Model.sChuDauTu)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="slbPhanCapPheDuyet">Phân cấp phê duyệt</label>
                            <div>@Html.Raw(Model.sPhanCapPheDuyet)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtThoiGianThucHienTu ">Thời gian thực hiện từ</label>
                            <div>@Html.Raw(Model.sKhoiCong)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="slbPhanCapPheDuyet">Thời gian thực hiện đến</label>
                            <div>@Html.Raw(Model.sKetThuc)</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="slbTiGia">Tỉ giá</label>
                            <div>@Html.Raw(Model.sTenTiGia)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="slbMaNgoaiTeKhac">Mã ngoại tệ khác</label>
                            <div>@Html.Raw(Model.sTenMaNgoaiTeKhac)</div>
                        </div>
                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-3">&nbsp;</div>
                    </div>
                <div class="form-group">
                    <h4 class="color-text-red">Giá trị dự án:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label for="txtHopDongUSD">Tổng mức đầu tư (USD)</label>
                            <div>@Html.Raw(Model.fGiaTriUSD)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtHopDongUSD">Tổng mức đầu tư (VND)</label>
                            <div>@Html.Raw(Model.fGiaTriVND)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtHopDongUSD">Tổng mức đầu tư (EUR)</label>
                            <div>@Html.Raw(Model.fGiaTriEUR)</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtHopDongUSD">Tổng mức đầu tư (ngoại tệ khác)</label>
                            <div>@Html.Raw(Model.fGiaTriNgoaiTeKhac)</div>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                                <h4 class="color-text-red">Thông tin chi phí:</h4>
                                <hr class='color-background-red' />
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="tbListChiphi">
                                            <thead>
                                            <th width="2%" style="white-space: nowrap">STT</th>
                                            <th width="15%" style="white-space: nowrap">Tên Chi Phí</th>
                                            <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(USD)</th>
                                            <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(VND)</th>
                                            <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(EUR)</th>
                                            <th width="7%" style="white-space: nowrap">Giá trị phê duyệt(Khác)</th>
                                            </thead>
                                            <tbody id="tbListChiphi">
                                                @foreach (var item in Model.TableChiPhis)
                                                {
                                                    int index = 0;
                                                    {
                                                        index++;
                                                        <tr style="cursor: pointer">
                                                            <td align="center">@index</td>
                                                            <td align="left">@Html.Raw(item.sTenChiPhi)</td>
                                                            <td align="left">@Html.Raw(item.fGiaTriUSD)</td>
                                                            <td align="left">@Html.Raw(item.fGiaTriVND)</td>
                                                            <td align="left">@Html.Raw(item.fGiaTriEUR)</td>
                                                            <td align="left">@Html.Raw(item.fGiaTriNgoaiTeKhac)</td>
                                                        </tr>
                                                    }

                                                }
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            @*</div>
        </div>*@
 
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" onclick="Cancel()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    </div>
</div>
<script>
    Event();
</script>
