@model rptTQT_PhuLuc2ViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo số liệu kết luận quyết toán ngân sách năm @Model.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị:</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Phòng ban:</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="control-label col-sm-3">Năm ngân sách:</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("iID_MaNamNganSach", Model.NamNganSachList, new { @class = "form-control", onchange = "change()" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="control-label col-sm-3">Loại báo cáo:</label>
                            <div class="col-sm-9" id="loaiBaoCao">
                                <div class="radio">
                                    <input type="radio" id="loaiBaoCao-tonghop-ng" name="optradio" value="1" checked="checked" />
                                    <label for="loaiBaoCao-tonghop-ng">
                                        Tổng hợp đơn vị
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="optradio" id="loaiBaoCao-chitiet" value="9" />
                                    <label for="loaiBaoCao-chitiet">
                                        Chi tiết đơn vị
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Phụ lục:</label>
                            <div class="col-sm-9">
                                @Html.DropDownList("phuluc", Model.PhuLucList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngày tháng in:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_printeddate")
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" data-check="">
                        @*@Html.Partial("_CheckboxList", new ChecklistModel("iID_MaDonVi", Model.DonViList))*@
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "QuyetToan_Report")">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change() {

        var iID_MaNamNganSach = $("#iID_MaNamNganSach").val();
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();

        var url = '@Url.Action("Ds_DonVi")' +
                "/?iID_MaPhongBan=" + iID_MaPhongBan;

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    $(".btn-print").click(function () {

        var links = [];

        var ext = $(this).data("ext");
        var iID_MaPhongBan = $("#iID_MaPhongBan").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        var phuluc = $("#phuluc").val();;

        // chitiet
        if (loaiBaoCao == '9') {

            $("input:checkbox[check-group='DonVi']").each(function () {
                if (this.checked) {
                    var item = this.value;
                    var url = unescape('@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&r=" + 160 +
                        "&iID_MaPhongBan=" + iID_MaPhongBan +
                        "&date=" + $("#date").val() +
                        "&loaiBaoCao=" + loaiBaoCao +
                        "&iID_MaDonVi=" + item +
                        "&phuluc=" + phuluc
                        );

                    links.push(url);

                    console.log(url);
                }
            });

            openLinks(links);
        }
        else {

            var url = unescape('@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&r=" + 160 +
                        "&iID_MaDonVi=" + getCheckedItems("DonVi") +
                        "&iID_MaPhongBan=" + iID_MaPhongBan +
                        "&date=" + $("#date").val() +
                        "&loaiBaoCao=" + loaiBaoCao +
                        "&phuluc=" + phuluc
                        );

            openTab(url);

        }
    });

</script>
