@model rptDuToanBS_InPhuLucTHViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Phụ lục dự toán bổ sung tổng hợp theo đơn vị năm @PhienLamViec.iNamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Đơn vị</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Đợt bổ sung NS:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("iID_MaDot", Model.DotList, new { @class = "form-control", onchange = "changeDot()" })
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="control-label col-sm-4">Phòng ban:</label>
                            <div class="col-sm-8">
                                @if (Model.PhongBanList.Count() > 1)
                                {
                                    @Html.DropDownList("iID_MaPhongBan", Model.PhongBanList, new { @class = "form-control", onchange = "changeDot()" })
                                }
                                else
                                {
                                    <input type="text" readonly value="@PhienLamViec.sTenPhongBanFull" class="form-control" />
                                    <input id="iID_MaPhongBan" type="text" value="@PhienLamViec.iID_MaPhongBan" class="form-control hide" />
                                }
                            </div>
                        </div>                   
                        <div class="form-group">
                            <label class="control-label col-sm-4">Tên phụ lục:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("tenPhuLuc", Model.TieuDe, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Quyết định:</label>
                            <div class="col-sm-8">
                                @Html.TextArea("quyetDinh", Model.QuyetDinh, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-sm-4">Ghi chú:</label>
                            <div class="col-sm-8">
                                <textarea id="ghiChu" class="form-control" readonly onchange="updateGhiChu($(this).val())"></textarea>
                                <span id="ghiChu_Hint" class="help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Loại báo cáo:</label>
                            <div class="col-sm-8" id="loaiBaoCao"> 
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-1" value="1" onchange = "changeDot()" checked/>
                                    <label for="loaiBaoCao-1">
                                        Phụ lục tổng hợp theo đơn vị (dọc) - Khối dự toán
                                    </label>
                                </div> 
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-4" value="4" onchange = "changeDot()"/>
                                    <label for="loaiBaoCao-4">
                                        Phụ lục tổng hợp theo đơn vị (dọc) - Khối doanh nghiệp
                                    </label>
                                </div>  
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-2" value="2" onchange = "changeDot()"/>
                                    <label for="loaiBaoCao-2">
                                        Phụ lục tổng hợp theo đơn vị (ngang) - nsqp
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-8" value="8" onchange="changeDot()" />
                                    <label for="loaiBaoCao-8">
                                        Phụ lục tổng hợp theo đơn vị (ngang) - nsnn
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-3" value="3" />
                                    <label for="loaiBaoCao-3">
                                        Phụ lục tổng hợp giao dự toán theo đợt (dọc)
                                    </label>
                                </div>    
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-5" value="5" />
                                    <label for="loaiBaoCao-5">
                                        Phụ lục tổng hợp giao dự toán theo đợt (ngang - A3)
                                    </label>
                                </div>   
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-6" value="6" />
                                    <label for="loaiBaoCao-6">
                                        Phụ lục tổng hợp giao dự toán theo đợt (ngang - A3) nghiệp vụ 00
                                    </label>
                                </div>          
                                <div class="radio">
                                    <input type="radio" name="loaiBaoCao" id="loaiBaoCao-7" value="7" />
                                    <label for="loaiBaoCao-7">
                                        Phụ lục tổng hợp giao dự toán theo đợt (ngang - A3) nghiệp vụ
                                    </label>
                                </div>                        
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                        @Html.Partial("_ui_dvt")

                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="iID_MaDonVi" class="ls-box" style="max-height:553px" data-check="first-only"></div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToanBS_Report" )">Hủy</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function changeDot() {

        // clear
        $("#iID_DonVi").empty();

        var iID_MaDot = $("#iID_MaDot").val();
        if (iID_MaDot == "-1")
            return;

        fillDonVi(iID_MaDot);
    }

    function fillDonVi(iID_MaDot) {

        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        var phongban = $("#iID_MaPhongBan").val();

        var url = '@Url.Action("Ds_DonVi")' +
                   "/?iID_MaDot=" + iID_MaDot +
                    "&loaiBaoCao=" + loaiBaoCao +
                    "&phongban=" + phongban;

        fillCheckboxList("iID_MaDonVi", "DonVi", url);
    }

    function checkItem(group, value, self) {
        if (group == "DonVi") {

            var checked = $(self).is(":checked");
            var text = $(self).data("text");

            fillGhiChu(value, checked, text);
        }
    }

    function fillGhiChu(donvi, checked, text) {
        _currentDonVi = donvi;

        $("#ghiChu_Hint").text('(' + text + ')');
        $("#ghiChu").empty();
        var iID_MaDot = $("#iID_MaDot").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        if (donvi == null || donvi.length == 0 || !checked) {
            $("#ghiChu").prop("readonly", true);
        }
        else {
            $("#ghiChu").removeAttr('readonly');
            var url = '@Url.Action("ghichu")' +
                    "/?id_donvi=" + donvi +
                    "&iID_MaDot=" + iID_MaDot +
                    "&loaiBaoCao=" + loaiBaoCao;

            $.getJSON(url, function (data) {
                $("#ghiChu").val(data);
            });
        }
    }

    function updateGhiChu(ghiChu) {
        var iID_MaDot = $("#iID_MaDot").val();
        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ghichu_update")',
            data: {
                id_donvi: _currentDonVi,
                iID_MaDot: iID_MaDot,
                loaiBaoCao: loaiBaoCao,
                GhiChu: ghiChu
            },
            success: function (data) {
            },
        });
    }

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var loaiBaoCao = $("#loaiBaoCao input[type='radio']:checked").val();
        
        if (loaiBaoCao != 3 && loaiBaoCao != 5 && loaiBaoCao != 6 && loaiBaoCao != 7) {
            $("input:checkbox[check-group='DonVi']").each(function () {
                if (this.checked) {
                    var item = this.value;
                    var url = '@Url.Action("Print")' +
                        "?ext=" + ext +
                        "&r=" + $("#rowheight").val() +
                        "&dvt=" + $("#dvt").val() +
                        "&loaiBaoCao=" + loaiBaoCao +
                        "&iID_MaDot=" + $("#iID_MaDot").val() +
                        "&dNgay=" + $("#iID_MaDot option:selected").text().substring(0, 10) +
                        "&iID_MaDonVi=" + item +
                        "&phongban=" + $("#iID_MaPhongBan").val() +
                        "&tenPhuLuc=" + $("#tenPhuLuc").val() +
                        "&quyetDinh=" + $("#quyetDinh").val();

                    url = unescape(url);
                    links.push(url);
                }
            });

            openLinks(links);

        }
        else {
            var url = '@Url.Action("Print")' +
                    "?ext=" + ext +
                    "&r=" + $("#rowheight").val() +
                    "&dvt=" + $("#dvt").val() +
                    "&loaiBaoCao=" + loaiBaoCao +
                    "&iID_MaDot=" + $("#iID_MaDot").val() +
                    "&dNgay=" + $("#iID_MaDot option:selected").text().substring(0, 10) +
                    "&iID_MaDonVi=-1" +
                    "&tenPhuLuc=" + $("#tenPhuLuc").val() +
                    "&quyetDinh=" + $("#quyetDinh").val();

            openNewTab(url);
        }

    });

</script>
