@using Viettel.Models.QLNH
@using DomainModel
@using System.Globalization;
@model NH_DA_HopDongModel

@{
    ViewBag.Title = "Chi tiết thông tin hợp đồng";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="header-create-update">
                    <span>@Html.Raw("Chi tiết thông tin hợp đồng")</span>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin căn cứ:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Đơn vị quản lý</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenDonVi))</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Tên chương trình</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenChuongTrinh))</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Loại</label>
                            <div>@Model.sLoai</div>
                        </div>
                        <div class="col-sm-3">
                            @if (Model.iPhanLoai == 1 || Model.iPhanLoai == 3)
                            {
                                <label>Tên dự án</label>
                                <div>@Html.Raw(Html.Encode(Model.sTenDuAn))</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin hợp đồng:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Số hợp đồng</label>
                            <div>@Html.Raw(Html.Encode(Model.sSoHopDong))</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Ngày ký hợp đồng</label>
                            <div>@(Model.dNgayHopDong.HasValue ? Model.dNgayHopDong.Value.ToString("dd/MM/yyyy") : string.Empty)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Tên hợp đồng</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenHopDong))</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Loại hợp đồng</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenLoaiHopDong))</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Thời gian thực hiện từ</label>
                            <div>@(Model.dKhoiCongDuKien.HasValue ? Model.dKhoiCongDuKien.Value.ToString("dd/MM/yyyy") : string.Empty)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Thời gian thực hiện đến</label>
                            <div>@(Model.dKetThucDuKien.HasValue ? Model.dKetThucDuKien.Value.ToString("dd/MM/yyyy") : string.Empty)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Thời gian thực hiện (ngày)</label>
                            <div>@(Model.iThoiGianThucHien != null ? Model.iThoiGianThucHien : null)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Nhà thầu đại diện</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenNhaThau))</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="color-text-red">Giá trị hợp đồng:</h4>
                    <hr class="color-background-red" />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Tỉ giá</label>
                            <div>@Html.Raw(Html.Encode(Model.sTenTiGia))</div>
                        </div>
                        <div class="col-sm-3">
                            <label for="slbMaNgoaiTeKhac">Mã ngoại tệ khác</label>
                            <div>@Html.Raw(Html.Encode(Model.sMaNgoaiTeKhac))</div>
                        </div>
                        <div class="col-sm-3">&nbsp;</div>
                        <div class="col-sm-3">&nbsp;</div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label>Giá trị hợp đồng (USD)</label>
                            <div>@CommonFunction.DinhDangSo((Model.fGiaTriUSD.HasValue ? Model.fGiaTriUSD.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Giá trị hợp đồng (VND)</label>
                            <div>@CommonFunction.DinhDangSo((Model.fGiaTriVND.HasValue ? Math.Round(Model.fGiaTriVND.Value).ToString(CultureInfo.InvariantCulture) : string.Empty), 0)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Giá trị hợp đồng (EUR)</label>
                            <div>@CommonFunction.DinhDangSo((Model.fGiaTriEUR.HasValue ? Model.fGiaTriEUR.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)</div>
                        </div>
                        <div class="col-sm-3">
                            <label>Giá trị hợp đồng (<label id="iDTenNgoaiTeKhac">Ngoại tệ khác</label>)</label>
                            <div>@CommonFunction.DinhDangSo((Model.fGiaTriNgoaiTeKhac.HasValue ? Model.fGiaTriNgoaiTeKhac.Value.ToString(CultureInfo.InvariantCulture) : string.Empty), 2)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-back" onclick="Cancel()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
            </div>
        </div>
    </div>
</div>
<script>
    function Cancel() {
        window.location.href = "/QLNH/QLThongTinHopDong";
    }
</script>

