
<div class="modal-dialog" role="document" style="width:40%">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-bold text-left" id="">@ViewBag.Title</h4>
        </div>
        <hr />
        <div id="contentbaocao" class="modal-body">
            <div class="form-group row" id="ingaythang">
                <div class="col-sm-6 ">
                    <label for="drpPhong" class=""> Từ ngày <span class="require">*</span> </label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="itungay">
                        <span class="btn-default input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>

                </div>
                <div class="col-sm-6 ">
                    <label for="drpPhong" class=""> Đến ngày <span class="require">*</span> </label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="idenngay">
                        <span class="btn-default input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>

                </div>

            </div>

            <div class="form-group row" id="iphong">
                <div class="col-sm-6 ">
                    <label for="drpPhong" class=""> Phòng <span class="require">*</span> </label>
                    @Html.DropDownList("iID_MaPhongBan", (SelectList)(ViewBag.lstNSPhongBan), "--Chọn phòng ban--", new { @class = "form-control", @id = "iID_MaPhongBan" })

                </div>

            </div>
            <div class="form-group row" id="inoidung">
                <div class="col-sm-12">
                    <label for="drpNoidung" class="">Kính gửi <span class="require">*</span> </label>
                    <textarea class="form-control" id="sNoiDung" style="min-height:120px"></textarea>

                </div>

            </div>
            <div class="form-group row" id="icancu">
                <div class="col-sm-12">
                    <label for="drpCancu" class="">Căn cứ <span class="require">*</span> </label>
                    <textarea class="form-control" id="iCanCu" style="min-height:120px"></textarea>

                </div>

            </div>
            <div class="form-group row" id="iquanly">
                <div class="col-sm-6">
                    <label for="drpDonvitinh" class="">B quản lý<span class="require">*</span> </label>
                    @Html.DropDownList("iID_MaPhongBan", (SelectList)(ViewBag.lstNSPhongBan), "--Chọn phòng ban--", new { @class = "form-control", @id = "iID_QuanLy" })
                </div>

            </div>
            <div class="form-group row" id="idonvitinh">
                <div class="col-sm-6">
                    <label for="drpDonvitinh" class="">Đơn vị tính<span class="require">*</span> </label>
                    <select class="form-control" id="iDonViTinh">
                        <option value="">--Chọn đơn vị tính--</option>
                        <option value="1"> Nghìn USD</option>
                        <option value="2"> Nghìn VND</option>
                    </select>
                </div>

            </div>
            <div class="form-group row" id="ithoigian">
                <div class="col-sm-4">
                    <label for="drpThang" class="">Tháng<span class="require">*</span> </label>
                    <select class="form-control" id="ithang" onchange="onChangeBaoCaoThang()">
                        @{
                            for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">Tháng @i</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="drpQuy" class="">Quý<span class="require">*</span> </label>
                    <select class="form-control" id="iquy">
                        <option value="1"> Quý I</option>
                        <option value="2"> Quý II</option>
                        <option value="3"> Quý III</option>
                        <option value="4"> Quý IV</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="drpNam" class="">Năm<span class="require">*</span> </label>
                    <select class="form-control" id="inam">
                        @{
                            int year = DateTime.Now.Year;
                            for (int i = year; i >= year - 10; i--)
                            {
                                <option value="@i"> Năm @i</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="text-center">
                <button class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</button>
                <button class="btn-mvc btn-mvc-green btn-print" onclick="onInBaoCao('pdf')"><span>Xuất file PDF</span></button>
                <button class="btn-mvc btn-mvc-green btn-print" onclick="onInBaoCao('xlsx')"><span>Xuất file Excel</span></button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")
<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
    })
</script>