@model Viettel.Models.QLVonDauTu.VDTPheDuyetChuTruongDauTuModel

@{
    ViewBag.Title = "Nhập thông tin phê duyệt chủ trương đầu tư";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<style>

    #tblNguonVonDauTu, #tblHangMucChinh {
        display: block;
        overflow: auto;
        max-height: 350px;
    }


        #tblNguonVonDauTu thead, #tblHangMucChinh thead {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        #tblNguonVonDauTu tfoot, #tblHangMucChinh tfoot {
            position: sticky;
            bottom: 0;
            z-index: 1;
        }

        #tblNguonVonDauTu tr, #tblHangMucChinh tr {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
</style>

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="header-create-update">
                    <span>
                        @Html.Raw("Thêm mới phê duyệt chủ trương đầu tư")
                    </span>
                </div>
                @*Thông tin phê duyệt*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin phê duyệt:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="sSoQuyetDinh">Số quyết định</label>
                            @Helpers.Required()
                            <input type="text" id="sSoQuyetDinh" class="form-control requireInput" value="" name="sSoQuyetDinh" maxlength="100" autocomplete="off" />
                        </div>
                        <div class="col-sm-3">
                            <label for="dNgayQuyetDinh">Ngày phê duyệt</label>
                            @Helpers.Required()
                            <div class='input-group date'>
                                <input type='text' class="form-control requireInput" value="@ViewBag.sNgayPheDuyet" id="dNgayQuyetDinh" name="dNgayQuyetDinh" autocomplete="off" placeholder="dd/MM/yyyy" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="sMoTa">Mô tả</label>
                            <textarea class="form-control" id="sMoTa" name="sMoTa" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                @*Thông tin nội dung*@
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin nội dung:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtDonViQuanLy">Đơn vị</label>
                            @*<input type="hidden" id="iID_DonViQuanLyID" value="@Model.chuTruongDauTu.iID_DonViQuanLyID" name="iID_DonViQuanLyID" />*@
                            @Helpers.Required()
                            @Html.DropDownList("iID_DonViQuanLyID", new SelectList(ViewBag.ListDonViQuanLy, "Value", "Text"), new { @class = "form-control requireInput", @id = "iID_DonViQuanLyID" })
                        </div>

                        @*<div class="col-sm-3">
                <label for="txtDuAn">Dự án</label>*@
                        @*@Helpers.Required()
                @Html.DropDownList("iID_DuAnID", new SelectList(ViewBag.ListDuAn, "Value", "Text"), new { @class = "form-control requireInput" })*@
                        @*<select class="form-control" style="width: 100%" id="iID_DuAnID" name="iID_DuAnID">
                </select>*@
                        <!--<input type="hidden" id="sTenDuAn" name="sTenDuAn" />
                <input type="hidden" id="txt_MaDuAn" name="sMaDuAn" />
            </div>-->
                        <div class="col-sm-3">
                            <label for="iID_DuAnID">Dự án <span class="require">*</span></label>
                            @*<input type="hidden" id="iID_DuAnID" value="@Model.chuTruongDauTu.iID_DuAnID" name="iID_DuAnID" />*@
                            <input type="hidden" id="sTenDuAn" name="sTenDuAn" />
                            <input type="hidden" id="txt_MaDuAn" name="sMaDuAn" />
                            <select id="iID_DuAnID" class="form-control">
                                <option value="">--Chọn--</option>
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <label for="iID_ChuDauTuID">Chủ đầu tư <span class="require">*</span></label>
                            <input type="hidden" id="iID_MaCDT" value="@Model.chuTruongDauTu.iID_MaChuDauTuID" name="iID_MaCDT" />
                            <select id="iID_ChuDauTuID" class="form-control">
                                <option value="">--Chọn--</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNhomDuAn">Nhóm dự án</label>
                            @Helpers.Required()
                            @Html.DropDownList("iID_NhomDuAnID", (SelectList)(ViewBag.ListNhomDuAn), new { @class = "form-control requireInput", @id = "iID_NhomDuAnID" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtThoiGianThucHien">Thời gian thực hiện</label>
                            @Helpers.Required()
                            <div style="display: flex">
                                <input type='text' class="form-control col-sm-2 requireInput" value="" id="sKhoiCong" name="sKhoiCong" autocomplete="off" />
                                <span style="margin: 8px 5px 0px 5px;">-</span>
                                <input type='text' class="form-control col-sm-2 requireInput" value="" id="sHoanThanh" name="sHoanThanh" autocomplete="off" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="txtPhanCapPheDuyet">Phân cấp phê duyệt</label>
                            @Html.DropDownList("iID_CapPheDuyetID", (SelectList)(ViewBag.ListPhanCapPheDuyet), new { @class = "form-control", @id = "iID_CapPheDuyetID" })
                        </div>

                        <div class="col-sm-3">
                            <label for="fTMDTDuKienPheDuyet">TMĐT phê duyệt dự kiến</label>
                            <input type="text" id="fTMDTDuKienPheDuyet" class="form-control sotien" name="fTMDTDuKienPheDuyet" value="" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="sDiaDiemDauTu">Địa điểm đầu tư</label>
                            <textarea class="form-control" id="sDiaDiemDauTu" name="sDiaDiemDauTu" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="sMucTieuDauTu">Mục tiêu đầu tư</label>
                            <textarea class="form-control" id="sMucTieuDauTu" name="sMucTieuDauTu" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="sQuyMo">Nội dung quy mô đầu tư</label>
                            <textarea class="form-control" id="sQuyMo" name="sQuyMo" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                @*Nguồn vốn đầu tư*@
                <div class="form-group">
                    <h4 class="color-text-red">Nguồn vốn đầu tư:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <input type="hidden" class="" id="txtIdNguonVon" name="txtIdNguonVon" />
                        @*<div class="col-sm-3">
                    <label for="txtAddNvdtNguonVon">Nguồn vốn</label>
                    @Html.DropDownList("txtAddNvdtNguonVon", (SelectList)(ViewBag.ListNguonVon), new { @class = "form-control", @id = "txtAddNvdtNguonVon" })
                </div>
                <div class="col-sm-3">
                    <label for="txtAddNvdtGiaTriPheDuyet">Giá trị phê duyệt</label>
                    <input type="text" id="txtAddNvdtGiaTriPheDuyet" class="form-control" onkeyup="ValidateNumberKeyUp(this);" onkeypress="return ValidateNumberKeyPress(this, event);" value="" />
                </div>*@
                        <div class="col-sm-3 col-sm-offset-9">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group pull-right">
                                <div class="input-group-append">
                                    <span class="require text-italic mr-10">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiNguonVon()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                    @*<button class="btn btn-danger btn-icon" type="button" onclick="ResetDataFormNguonVon()">
                                <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
                            </button>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblNguonVonDauTu">
                                <thead>
                                    <tr>
                                        <th width="50px">STT</th>
                                        <th>Tên nguồn vốn</th>
                                        <th>Giá trị phê duyệt</th>
                                        <th width="150px">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th width="50px"></th>
                                        <th>Tổng cộng</th>
                                        <th class="cpdt_tong_giatripheduyet text-right"></th>
                                        <th width="150px"></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                @*Hạng mục*@
                <div class="form-group">
                    <h4 class="color-text-red">Hạng mục:</h4>
                    <hr class='color-background-red' />
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <label for="btn">&nbsp;</label>
                            <div class="input-group pull-right">
                                <div class="input-group-append">
                                    <span class="require text-italic mr-10">(Thêm dữ liệu xuống bảng chi tiết)</span>
                                    <button class="btn btn-primary btn-icon" type="button" onclick="ThemMoiHangMuc()">
                                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblHangMucChinh">
                                <thead>
                                    <tr>
                                        <th width="50px">STT</th>
                                        <th>Tên hạng mục</th>
                                        <th>Loại công trình</th>
                                        <th width="150px">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                @*<tfoot>
                            <tr>
                                <th width="50px"></th>
                                <th>Tổng cộng</th>
                                <th class="cpdt_tong_giatripheduyet text-right" id="id_tong_giatripheduyet_chiphi"></th>
                                <th width="150px"></th>
                            </tr>
                        </tfoot>*@

                            </table>
                        </div>
                    </div>
                </div>

                @*Thông tin tài liệu đính kèm*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-11">
                            <h4 class="color-text-red">Thông tin tài liệu đính kèm:</h4>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-primary btn-icon pull-right" type="button" data-toggle="modal" data-target="#exampleModal">
                                <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <hr class='color-background-red' />
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="tblThongTinTaiLieuDinhKem">
                                <thead>
                                    <tr>
                                        <th width="3%">STT</th>
                                        <th width="75%">Tài liệu</th>
                                        <th width="15%">Size</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" style="width: 100%" onclick="Huy()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                    <button class="btn btn-primary" id="btnLuu" style="width: 100%" onclick="Luu()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm tài liệu</h3>
            </div>
            <div class="modal-body">
                <div id="page-upload-1">
                    <form>
                        <label>File:</label>
                        <input type="file"></input>
                        <label>Comment:</label>
                        <input type="text" class="pageselector" placeholder="Describe your file"></input>
                    </form>
                </div>
                <div id="page-upload-2" class="hide">
                    <h4>Uploading...</h4>

                    <div class="progress progress-striped active">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div id="divModalConfirm">

</div>

<script src="~/Scripts/QLVonDauTu/ThongTinDuAn/ChuTruongDauTu/jsVDT_TaoMoiPheDuyetChuTruongDauTu.js" type="text/javascript"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
<script src="~/Scripts/js/dropdowntree.js"></script>

<style>
    /*    .table-bordered tr, td {
        border: 1px solid
    }*/
    .create_thdt h4 {
        font-size: 17px;
    }

    .r_STT {
        text-align: center;
    }

    .table-bordered tbody {
        /*display: block;*/
        /*height: 150px;*/
        overflow: auto;
    }
</style>
