@model rptDuToan_THNSNN_PhanCapViewModel
@{
    ViewBag.Title = "Báo cáo tổng hợp số ngân sách nhà nước năm" + PhienLamViec.NamLamViec;
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h6></h6>
                </div>
                <div class="col-xs-6">
                    <h6><strong class="text-uppercase">Chọn tờ</strong></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">                        
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngành:</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("id_nganh", Model.NganhList, new { @class = "form-control", onchange = "change()" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Biểu mẫu:</label>
                            <div class="col-sm-8">
                                <div id="trinhky">
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="1" id="trinhky-1" checked />
                                        <label for="trinhky-1">Gửi ngành</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="2" id="trinhky-0" />
                                        <label for="trinhky-0">Phụ lục</label>
                                    </div>

                                </div>
                            </div>
                        </div>    
                        <div class="form-group">
                            <label class="control-label col-sm-4">Dãn dòng:</label>
                            <div class="col-sm-8">
                                @Html.Partial("_ui_rowheight")
                            </div>
                        </div>
                        <hr />                        
                    </form>
                </div>
                <div class="col-xs-6">
                    <div id="id_to" class="ls-box" data-check="first">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToan_Report" , new { sLoai=1 })">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    change();

    function change() {
        var id_nganh = $("#id_nganh").val();

        var url = '@Url.Action("Ds_To")' +
                    "/?nganh=" + id_nganh;
        fillCheckboxList("id_to", "To", url);        
    }    

    $(".btn-print").click(function () {

        var links = [];
        var ext = $(this).data("ext");

        var id_nganh = $("#id_nganh").val();
        var loai = $("#trinhky input[type='radio']:checked").val();

        $("input:checkbox[check-group='To']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "/?ext=" + ext +
                    "&r=" + $("#rowheight").val() +
                    "&nganh=" + id_nganh +
                    "&loai=" + loai +
                    "&to=" + item;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);
    });

</script>
