@using Viettel.Models.QLNH;
@model NH_QT_ThongTriQuyetToanViewModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Thông tri quyết toán (@Model._paging.TotalItems)</label>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
        <button class="btn btn-primary pull-right" onclick="OpenViewCreateThongTri(null, 'CREATE');"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
        <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ResetChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
        <button class="btn btn-info pull-right" style="margin-right:10px;">In báo cáo</button>
    </div>
</div>

<table class="table table-bordered" id="tblThongTriQuyetToanList">

    <thead class="header-search">
        <tr>
            <th colspan="2" width="8%"></th>
            <th width="15%">@Html.DropDownList("iID_DonViID", (SelectList)(ViewBag.LookupDonVi), new { @class = "form-control event-filter-dropdown", @id = "iID_DonViID" })</th>
            <th width="20%">
                @Html.DropDownList("iID_KHCTBQP_ChuongTrinhID", (SelectList)ViewBag.ListChuongTrinh, new { @class = "form-control event-filter-dropdown", @id = "iID_KHCTBQP_ChuongTrinhID" })
            </th>
            <th width="10%"><input type="text" class="form-control event-filter" id="txtSoThongTri" autocomplete="off" placeholder="Số thông tri" /></th>
            <th width="10%">
                <div class='input-group date'>
                    <input type='text' class="form-control event-filter-dropdown" id="dNgayLap" autocomplete="off" placeholder="dd/MM/yyyy" />
                    <span class="btn-default input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </th>
            <th width="5%"><input type="text" class="form-control event-filter" id="txtNamThucHien" autocomplete="off" placeholder="Năm thực hiện" maxlength="4" /></th>
            <th width="12%">
                <select id="iLoaiThongTri" class="form-control event-filter-dropdown">
                    <option value="">-- Loại thông tri --</option>
                    <option value="1">Thông tri quyết toán</option>
                    <option value="2">Thông tri giảm quyết toán</option>
                </select>
            </th>
            <th width="10%">
                <select id="iLoaiNoiDungChi" class="form-control event-filter-dropdown">
                    <option value="">-- Loại nội dung chi --</option>
                    <option value="1">Chi bằng ngoại tệ</option>
                    <option value="2">Chi bằng nội tệ</option>
                </select>
            </th>
            <th width="10%"><button class="btn btn-info" onclick="GetListData()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button></th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th width="3%"><input type="checkbox" onclick="ChoiceAllCheckBox()" class="checkbox-header" /></th>
            <th width="5%">STT</th>
            <th width="15%">Đơn vị</th>
            <th width="20%">Tên chương trình</th>
            <th width="10%">Số thông tri</th>
            <th width="10%">Ngày lập</th>
            <th width="5%">Năm thực hiện</th>
            <th width="12%">Loại thông tri</th>
            <th width="10%">Loại nội dung chi</th>
            <th width="10%">Thao tác</th>
        </tr>
    </thead>

    <tbody id="tbodyListChuongTrinh">
        @{
            int index = 0;
            foreach (NH_QT_ThongTriQuyetToanModel item in Model.Items)
            {
                index++;
                <tr>
                    <td align="center"><input type="checkbox" onclick="ChoiceAllCheckBox()" value="@item.ID" class="checkbox-header" /></td>
                    <td align="center">@(pageIndex + index)</td>
                    <td align="left">@Html.Raw(item.sTenDonVi)</td>
                    <td align="left">@Html.Raw(item.sTenNhiemVuChi)</td>
                    <td align="left">@Html.Raw(item.sSoThongTri)</td>
                    <td align="center">@Html.Raw(@item.dNgayLap.HasValue ? @item.dNgayLap.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td align="center">@item.iNamThongTri</td>
                    <td align="left">@Html.Raw(item.iLoaiThongTri == 1 ? "Thông tri quyết toán" : "Thông tri giảm quyết toán")</td>
                    <td align="left">@Html.Raw(item.iLoaiNoiDungChi == 1 ? "Chi bằng ngoại tệ" : "Chi bằng nội tệ")</td>
                    <td align="center">
                        <button type="button" class="btn-detail" onclick="OpenViewCreateThongTri('@item.ID', 'DETAIL')"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenViewCreateThongTri('@item.ID', 'UPDATE')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="ConfirmDelete('@item.ID', '@item.sSoThongTri')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script src="~/Scripts/QLNH/ThongTriQuyetToan/jsNH_ThongTriQuyetToan.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
            });

        // Check enter filter
        $('.event-filter').on('keypress', function (e) {
            if (e.which === 13) {
                GetListData();
            }
        });

        $('.event-filter-dropdown').on('change', function () {
            GetListData();
        });
    });
</script>
