@using VIETTEL.Areas.DanhMuc.Models
@model DMNguonPagingModel

@{
    int pageIndex = (Model._paging.CurrentPage - 1) * Model._paging.ItemsPerPage;
}
<div class="tooltip-header-search">
    <div class="col-sm-8" style="display:flex;padding-left:0px;">
        <label class="control-label">Danh sách danh mục nguồn (@Model._paging.TotalItems)</label>

    </div>
    <button class="btn btn-primary pull-right" onclick="OpenModal()" data-toggle="modal" data-target="#modalDanhMucNguon"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-info pull-right" style="margin-right:10px;" onclick="ChangePage()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>
</div>
<table class="table table-bordered" id="tblListDMNguon">
    <thead>
    <th width="5%">STT</th>
    <th width="10%">Mã CTMT</th>
    <th width="10%">Mã nguồn</th>
    <th width="10%">Loại</th>
    <th width="10%">Khoản</th>
    <th width="35%">Nội dung</th>
    <th width="10%">Mã nguồn cha</th>
    <th width="10%"></th>
    </thead>
    <tbody>
        @{
            int index = 0;
            foreach (var item in Model.lstData)
            {
                index++;
                <tr style="cursor: pointer">
                    <td align="center">@(pageIndex + index)</td>

                    <td align="center">@item.sMaCTMT</td>

                    <td align="center">@item.sMaNguon</td>

                    <td align="center">@item.sLoai</td>

                    <td align="center">@item.sKhoan</td>

                    <td align="left">@item.sNoiDung</td>

                    <td align="center">@item.sMaNguonCha</td>

                    <td align="center" style="vertical-align: middle !important" class="col-sm-12">
                        <button type="button" class="btn-detail" onclick="OpenModalDetail('@item.iID_Nguon')" data-toggle="modal" data-target="#modalDanhMucNguon"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-edit" onclick="OpenModal('@item.iID_Nguon')" data-toggle="modal" data-target="#modalDanhMucNguon"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                        <button type="button" class="btn-delete" onclick="DeleteItem('@item.iID_Nguon')"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.BuildPagingButtons(Model._paging)

<script type="text/javascript">
    $(document).ready(function () {
        $("tr").hover(function () {
            $(this).css("background-color", "#e7f8fe");
        }, function () {
            $(this).css("background-color", "");
        });
    });

</script>
