
@model Viettel.Domain.DomainModel.DM_Nguon
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    @if (Model.iID_Nguon == new Guid())
                    {
                        @Html.Raw("Thêm mới danh mục nguồn")
                    }
                    else
                    {
                        @Html.Raw("Cập nhật thông tin " + @Model.sNoiDung)
                    }

                    <hr>
                </div>
            </div>
            <div class="card-body">
                <div>

                    <div class="col-md-6">
                        <label>Mã chương trình mục tiêu</label>
                        <input type="text" class="form-control" name="sMaCTMT" value="@Model.sMaCTMT" id="txtMaCTMT" />
                    </div>
                    <div class="col-md-6">
                        <label>Mã nguồn</label>
                        @Helpers.Required()
                        <input type="text" class="form-control" name="sMaNguon" value="@Model.sMaNguon" id="txtMaNguon" />
                    </div>
                    <div class="col-md-6">
                        <label>Loại</label>
                        <input type="text" class="form-control" name="sLoai" value="@Model.sLoai" id="txtLoai" />
                    </div>
                    <div class="col-md-6">
                        <label>Khoản</label>
                        <input type="text" class="form-control" name="sKhoan" value="@Model.sKhoan" id="txtKhoan" />
                    </div>
                    <div class="col-md-6">
                        <label>Nội dung</label>
                        @Helpers.Required()
                        <input type="text" class="form-control" name="sNoiDung" value="@Model.sNoiDung" id="txtNoiDung" />
                    </div>
                    <div class="col-md-6">
                        <label>Mã nguồn cha</label>
                        @Html.DropDownListFor(model => model.iID_NguonCha, (IEnumerable<SelectListItem>)(ViewBag.ListMaNguonCha), new { @class = "form-control" })
                    </div>
                    <input hidden type="text" name="iID_Nguon" value="@Model.iID_Nguon" id="txtIDMaNguon" />
                    <div class="form-group text-center">
                        <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                        <button class="btn btn-primary" onclick="SaveData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




@section Scripts{
    <script src="~/Scripts/DanhMuc/jsDMNguon.js"></script>
}


