@model Z_ChungTu
@{
    ViewBag.Title = "Index";
    var index = 0;
}

<div></div>
<span>Nội dung: <b>@Model.NoiDung</b></span><br />
<span>Chi tiết: <b>@Model.MoTa</b></span>
<br />
<br />
<div id="file_data" name="File_Data">

    @foreach (var file in Model.Z_File)
    {
        var check = index == 0 ? "checked" : "";
        <div class="radio">
            <input type="radio" id="@file.Id" name="File_Data" checked="@check" value="@file.Id" />
            <label for="@file.Id">
                @file.MoTa      |     @file.FileName
            </label>
        </div>

        index++;
    }
</div>



@using (Html.BeginScripts())
{
    <script>


    </script>
}
