@using Viettel.Domain.DomainModel
@model DM_LoaiDuToan
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="card">
        <div class="card-header">
            <div class="form-group">
                @if (Model.iID_LoaiDuToan == new Guid())
                {
                    @Html.Raw("Thêm mới thông tin loại dự toán")
                } 
                else 
                {
                    @Html.Raw("Cập nhật thông tin " +  @Model.sTenLoaiDuToan)
                }
                
                <hr>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="hidden" id="txt_ID_LoaiDuToan" value="@Model.iID_LoaiDuToan">
                <label for="txt_MaLoaiDuToan">Mã loại dự toán <span class="require">*</span></label>
                <input type="text" required id="txt_MaLoaiDuToan" class="form-control" value="@Model.sMaLoaiDuToan" maxlength="50" />
            </div>
            <div class="form-group">
                <label for="txt_TenLoaiDuToan">Tên loại dự toán <span class="require">*</span></label>
                <input type="text" required id="txt_TenLoaiDuToan" class="form-control" value="@Model.sTenLoaiDuToan" maxlength="500" />
            </div>
            <div class="form-group">
                <label for="txt_GhiChu">Ghi chú</label>
                <textarea id="txt_GhiChu" class="form-control">@Html.Raw(Model.sGhiChu)</textarea>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-default" onclick="CancelSaveData()"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                <button class="btn btn-primary" onclick="SaveData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/DanhMuc/jsDMLoaiDuToan.js"></script>
}