@using Viettel.Models.QLVonDauTu
@model VDT_QT_DeNghiQuyetToanViewDetailModel

<div class="modal-body">
    <div class="form-group row">
        <div class="col-md-12">
            <h3 style="font-weight:bold;font-size:17px">Thông tin báo cáo</h3>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="txtSoBaoCaoModal">Số báo cáo</label>
                <p>@Html.Raw(Model.sSoBaoCao)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtNgayNhanModal">Ngày nhận</label>
                <p>@Model.dThoiGianLapBaoCao.Value.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="txtNgayDuyetModal">Ngày duyệt</label>
                <p>@Model.dThoiGianNhanBaoCao.Value.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="col-sm-6">
                <label for="txtNguoiNhanModal">Người nhận</label>
                <p>@Html.Raw(Model.sNguoiLap)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="txtNguoiDuyetModal">Người duyệt</label>
                <p>@Html.Raw(Model.sNguoiNhan)</p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; font-size: 17px">Thông tin dự án</h3>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label for="txtDonViQuanLyModal">Đơn vị quản lý</label>
                <p>@Html.Raw(Model.TenDonViQuanLy)</p>
            </div>
            <div class="col-md-6">
                <label for="txtDuAn">Tên dự án</label>
                <p>@Html.Raw(Model.TenDuAn)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label for="txtChuDauTu">Chủ đầu tư</label>
                <p>@Html.Raw(Model.TenChuDauTu)</p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <h3 style="font-weight: bold; font-size: 17px">Giá trị đề nghị</h3>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label for="txtDeNghiQuyetToanModal">Đề nghị quyết toán</label>
                <p>@string.Format("{0:0,0}", Model.fGiaTriDeNghiQuyetToan.Value)</p>
            </div>
            <div class="col-sm-6">
                <label for="txtGhiChuModal">Ghi chú</label>
                <p>@Html.Raw(Model.sMoTa)</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    </div>
</div>
