@using Viettel.Models.QLVonDauTu
@model VDT_QT_DeNghiQuyetToanViewDetailModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body create_thdt">
                <div class="form-group">
                    <h4 class="color-text-red">Thông tin báo cáo:</h4>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtSoBaoCaoModal">Số báo cáo</label>
                            <p class="label-sua">@Html.Raw(Model.sSoBaoCao)</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayNhanModal">Ngày nhận</label>
                            <p class="label-sua">@Model.dThoiGianLapBaoCao.Value.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNgayDuyetModal">Ngày duyệt</label>
                            <p class="label-sua">@Model.dThoiGianNhanBaoCao.Value.ToString("dd/MM/yyyy")</p>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtNguoiNhanModal">Người nhận</label>
                            <p class="label-sua">@Html.Raw(Model.sNguoiLap)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtNguoiDuyetModal">Người duyệt</label>
                            <p class="label-sua">@Html.Raw(Model.sNguoiNhan)</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <h4 class="color-text-red">Thông tin dự án:</h4>
                            <hr class='color-background-red' />
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="txtDonViQuanLyModal">Đơn vị quản lý</label>
                                    <p class="label-sua">@Html.Raw(Model.TenDonViQuanLy)</p>
                                </div>
                                <div class="col-md-6">
                                    <label for="txtDuAn">Tên dự án</label>
                                    <p class="label-sua">@Html.Raw(Model.TenDuAn)</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="txtChuDauTu">Chủ đầu tư</label>
                                    <p class="label-sua">@Html.Raw(Model.TenChuDauTu)</p>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <h4 class="color-text-red">Giá trị đề nghị:</h4>
                        <hr class='color-background-red' />
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label for="txtDeNghiQuyetToanModal">Đề nghị quyết toán</label>
                                <p class="label-sua">@string.Format("{0:0,0}", Model.fGiaTriDeNghiQuyetToan.Value)</p>
                            </div>
                            <div class="col-sm-6">
                                <label for="txtGhiChuModal">Ghi chú</label>
                                <p class="label-sua">@Html.Raw(Model.sMoTa)</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-success" onclick="RejectedViewIndex()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span> Quay lại</span></button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<script>
    function RejectedViewIndex() {
        window.location.href = "/QLVonDauTu/VDT_QT_DeNghiQuyetToan";
    }
</script>

