@using VIETTEL.Areas.QLVonDauTu.Model.QuyetToan
@model VDT_QT_DeNghiQuyetToanPagingModel
@{
    ViewBag.Title = "Danh sách đề nghị quyết toán dự án hoàn thành";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/QLVonDauTu/QuyetToan/js_VDT_QT_DeNghiQuyetToan.js"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("GetListView", "VDT_QT_DeNghiQuyetToan")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVDTQTDeNghiQuyetToan" tabindex="-1" role="dialog" aria-labelledby="modalVDTQTDeNghiQuyetToanLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id="modalVDTQTDeNghiQuyetToanLabel"></h3>
            </div>
            <div id="contentModalVDTQTDeNghiQuyetToan">

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">
</div>
