@model IEnumerable<ChungTuItemViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:70px">Số CT</th>
            @*<th style="width:auto">@Html.DisplayNameFor(x => x.TieuDe)</th>*@
            <th style="width:120px">Đơn vị</th>
            <th style="width:70px">LNS</th>
            <th style="width:100px">Ngày chứng từ</th>
            <th style="width:80px">Thời gian</th>
            <th style="width:180px">Nội dung</th>
            <th style="width:100px">Số tiền</th>
            <th style="width:100px">Trạng thái</th>
            <th style="width:80px"></th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                var bg = (i % 2) == 0 ? "" : "background-color: #F8F8F8";
            <tr style="@bg">
                <td style="text-align: center">
                    <a class="link-nounderline text-danger" href="@Url.Action("Index", "ChungTuChiTiet", new { area = "QuyetToan", id = item.iID_MaChungTu})">
                        <strong>@string.Format("{0}-{1}", "QT", item.iSoChungTu)</strong>
                    </a>
                </td>
                <td>
                    @item.sTenDonVi
                </td>
                <td>
                    @item.sDSLNS
                </td>
                <td style="text-align: center">
                    @item.dNgayChungTu.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.strThoiGianQuyetToan
                </td>
                <td>
                    @item.sNoiDung
                </td>
                <td>
                    <span class="text-danger text-right">@item.iSoTien.ToString("###,###")</span>
                </td>
                <td>
                    @item.TrangThaiDuyet.sTen
                </td>
                <td class="text-center">
                    <a class="btn btn-mvc btn-mvc-small" title="@L("Button.Edit")" href="@Url.Action("Edit", "ChungTu", new { id = item.iID_MaChungTu})"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-mvc btn-mvc-small btn_delete" data-id="@item.iID_MaChungTu" title="@L("Button.Delete")"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        }


</table>
